Repository acemod/ACE3, pull requests merged in 2018-06, with the labels that each got.

#6355 Arsenal - Add magazineWell support
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_scanConfig.sqf
Labels: kind/enhancement

#6300 Hearing - Added config for CSAT, Stealth and Racing Helmets
  addons/hearing/CfgWeapons.hpp
Labels: kind/enhancement

#6226 Zeus - Add ability to unload cargo
  addons/zeus/functions/fnc_ui_attributeCargo.sqf
  addons/zeus/stringtable.xml
  addons/zeus/ui/RscAttributes.hpp
Labels: kind/feature request

#6315 Fix Mavericks and KH25ML diving into the ground.
  addons/maverick/CfgAmmo.hpp
  addons/missileguidance/functions/fnc_attackProfile_LIN.sqf
Labels: kind/bug fix

#6252 Realistic names for new assets from Tanks DLC
  addons/realisticnames/CfgVehicles.hpp
  addons/realisticnames/CfgWeapons.hpp
  addons/realisticnames/stringtable.xml
  addons/vehicles/CfgVehicles.hpp
  addons/vehicles/CfgWeapons.hpp
Labels: 1.82

#6364 Cargo - Support of object without `ace_cargo_size` defined in config or `-1` config value
  addons/cargo/functions/fnc_unloadItem.sqf
  addons/common/functions/fnc_findUnloadPosition.sqf
Labels: kind/bug fix

#6386 Fix possible issue with weapons without firemodes in ACE Arsenal
  addons/arsenal/functions/fnc_statBarStatement_accuracy.sqf
  addons/arsenal/functions/fnc_statBarStatement_rateOfFIre.sqf
  addons/arsenal/functions/fnc_statTextStatement_accuracy.sqf
  addons/arsenal/functions/fnc_statTextStatement_rateOfFire.sqf
Labels: kind/bug fix

#6390 Fix right tab listNbox not showing last item on first load in ACE Arsenal
  addons/arsenal/defines.hpp
  addons/arsenal/ui/RscAttributes.hpp
Labels: kind/bug fix

#6395 Cargo load ignore interaction distance parameter
  addons/cargo/functions/fnc_canLoadItemIn.sqf
  addons/cargo/functions/fnc_loadItem.sqf
Labels: kind/enhancement

#6394 Add ACE Flags to Common
  addons/common/CfgVehicles.hpp
  addons/common/config.cpp
  addons/common/data/ace_flag_black_ca.paa
  addons/common/data/ace_flag_black_preview.jpg
  addons/common/data/ace_flag_white_ca.paa
  addons/common/data/ace_flag_white_preview.jpg
  addons/common/stringtable.xml
Labels: kind/feature request

#6387 Fastroping - Disable ACRE features for helper objects
  addons/fastroping/CfgVehicles.hpp
Labels: area/compatibility, impact/trivial, kind/enhancement

#6399 Fix typo in realistic name for MRCO
  addons/realisticnames/stringtable.xml
Labels: area/translations, ignore changelog

#6400 Translations- Chinese: Modify grammar
  addons/advanced_fatigue/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/common/stringtable.xml
  addons/explosives/stringtable.xml
  addons/finger/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/frag/stringtable.xml
  addons/gforces/stringtable.xml
  addons/hearing/stringtable.xml
  addons/huntir/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/map/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/maverick/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_menu/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/mx2a/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/pylons/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/repair/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#6405 don't make Explosives close one display at death
  addons/explosives/functions/fnc_onIncapacitated.sqf
Labels: kind/critical bug

#6408 Traditional Chinese update
  addons/advanced_fatigue/stringtable.xml
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/explosives/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/frag/stringtable.xml
  addons/gforces/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hearing/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_menu/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/noradio/stringtable.xml
  addons/optionsmenu/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/parachute/stringtable.xml
  addons/pylons/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/repair/stringtable.xml
  addons/respawn/stringtable.xml
  addons/scopes/stringtable.xml
  addons/spectator/stringtable.xml
  addons/vehiclelock/stringtable.xml
  addons/weaponselect/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#6411 Fix typo in med and issue related to unconsciousness
  addons/medical/ACE_Medical_Actions.hpp
  addons/medical/ACE_Medical_SelfActions.hpp
  addons/medical/functions/fnc_unconsciousPFH.sqf
Labels: kind/bug fix
