Repository acemod/ACE3, pull requests merged in 2018-02, with the labels that each got.

#6124 CBA Settings Conversion - Fix movedToSQF
  addons/common/functions/fnc_cbaSettings.sqf
Labels: ignore changelog

#6102 Allow displayTextStructured to be moved via game layout settings
  addons/common/UI/ace_hint_ca.paa
  addons/common/config.cpp
  addons/common/functions/fnc_displayTextStructured.sqf
Labels: kind/bug fix

#5581 weaponSelect CBA Setting
  addons/weaponselect/ACE_Settings.hpp
  addons/weaponselect/XEH_preInit.sqf
  addons/weaponselect/initSettings.sqf
Labels: kind/feature request

#6101 Small changes to persistent laserpointer
  addons/common/functions/fnc_switchPersistentLaser.sqf
Labels: kind/bug fix

#6100 Pylons - Fix old weapons not being removed
  addons/pylons/XEH_postInit.sqf
  addons/pylons/functions/fnc_configurePylons.sqf
  addons/pylons/functions/fnc_showDialog.sqf
Labels: kind/bug fix

#6134 NightVision - Add setting for shutter effects
  addons/nightvision/ACE_Settings.hpp
  addons/nightvision/XEH_preInit.sqf
  addons/nightvision/functions/fnc_onFiredPlayer.sqf
  addons/nightvision/initSettings.sqf
  addons/nightvision/stringtable.xml
Labels: kind/enhancement

#6138 HuntIR - Register as a feature cam (block NVG border)
  addons/common/functions/fnc_isFeatureCameraActive.sqf
  addons/huntir/functions/fnc_cam.sqf
Labels: kind/bug fix

#6133 Vehicle Lock - Convert to cba settings
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/vehiclelock/ACE_Settings.hpp
  addons/vehiclelock/XEH_preInit.sqf
  addons/vehiclelock/initSettings.sqf
  addons/vehiclelock/stringtable.xml
Labels: kind/cleanup

#6139 Interaction - Fix div0 error in getVehiclePos
  addons/interaction/functions/fnc_getVehiclePos.sqf
  addons/interaction/functions/fnc_getVehiclePosComplex.sqf
Labels: kind/bug fix

#6140 Fix ACE Arsenal interaction condition
  addons/arsenal/functions/fnc_initBox.sqf
Labels: kind/bug fix

#6136 Settings strings
  addons/hearing/ACE_Settings.hpp
  addons/hearing/stringtable.xml
  addons/medical/ACE_Settings.hpp
  addons/medical/stringtable.xml
  addons/medical_ai/ACE_Settings.hpp
  addons/medical_ai/stringtable.xml
  addons/medical_menu/ACE_Settings.hpp
  addons/medical_menu/stringtable.xml
  addons/nametags/ACE_Settings.hpp
  addons/nametags/stringtable.xml
  addons/repair/ACE_Settings.hpp
  addons/repair/stringtable.xml
Labels: kind/enhancement

#6148 Add missing semicolons
  addons/arsenal/ui/RscAttributes.hpp
  addons/hearing/ACE_Arsenal_Stats.hpp
Labels: ignore changelog

#6149 Cleanup userconfig from optionals
  optionals/userconfig/ace/serverconfig.hpp
Labels: ignore changelog, kind/cleanup

#6151 Korean translations fix
  AUTHORS.txt
  addons/medical/stringtable.xml
Labels: area/translations

#6150 Arsenal - Add stat for scope magnification
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_scopeMag.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#6141 acex_fortify - add events to wiki
  docs/wiki/frameworkx/fortify-framework.md
Labels: area/documentation, ignore changelog

#6160 fix empty return value of getUnitTrait
  addons/common/XEH_postInit.sqf
Labels: kind/bug fix

#6164 Scope stats and ballistic stats improvement
  addons/ballistics/ACE_Arsenal_Stats.hpp
  addons/scopes/ACE_Arsenal_Stats.hpp
  addons/scopes/config.cpp
  addons/scopes/stringtable.xml
Labels: kind/enhancement

#6159 Arsenal - Compile stats on first use
  addons/arsenal/XEH_preStart.sqf
  addons/arsenal/functions/fnc_addStat.sqf
  addons/arsenal/functions/fnc_compileStats.sqf
  addons/arsenal/functions/fnc_handleStats.sqf
  addons/arsenal/functions/fnc_removeStat.sqf
Labels: ignore changelog, kind/enhancement

#6156 InteractionMenu - Always compile before adding main action
  addons/interact_menu/functions/fnc_addActionToObject.sqf
Labels: kind/bug fix

#6165 ace_map - BFT settings subcategory
  addons/map/initSettings.sqf
Labels: kind/enhancement

#6085 Cargo - Improve class initialization
  addons/cargo/CfgVehicles.hpp
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_initObject.sqf
  addons/cargo/functions/fnc_initVehicle.sqf
Labels: kind/enhancement

#6167 Add note in options menu doc
  docs/wiki/feature/optionsmenu.md
Labels: area/documentation, kind/documentation

#6078 Add Camping Light interaction
  addons/cargo/CfgVehicles.hpp
  addons/dragging/CfgEventHandlers.hpp
  addons/dragging/CfgVehicles.hpp
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_postInit.sqf
Labels: kind/enhancement

#6019 Interaction - Add Flip and Push actions to Quad Bike, Kart and Static Weapons
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_PREP.hpp
  addons/interaction/XEH_postInit.sqf
  addons/interaction/functions/fnc_canFlip.sqf
  addons/interaction/stringtable.xml
Labels: kind/feature request

#6170 Fix allowSwapBarrel condition
  addons/overheating/functions/fnc_canSwapBarrel.sqf
Labels: kind/bug fix
