Repository acemod/ACE3, pull requests merged in 2018-05, with the labels that each got.

#6314 optimize suicide bomber zeus module
  addons/zeus/functions/fnc_moduleSuicideBomber.sqf
Labels: kind/enhancement, kind/optimization

#6324 Zeus - Don't trigger suicide bomber if unconsicous
  addons/zeus/functions/fnc_moduleSuicideBomber.sqf
Labels: kind/bug fix

#6325 Arsenal - Fix weight stat for NVGs
  addons/arsenal/functions/fnc_statTextStatement_mass.sqf
Labels: kind/bug fix

#6327 Clean up deprecated in 3.13
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_isUnderwater.sqf
  addons/refuel/XEH_postInit.sqf
  addons/spectator/functions/fnc_updateUnits.sqf
Labels: kind/cleanup

#6329 Arsenal - Correct openBox center check
  addons/arsenal/functions/fnc_openBox.sqf
Labels: kind/bug fix

#6322 Spall - Don't throw script errors in doSpall if input is bad
  addons/frag/functions/fnc_doSpall.sqf
  addons/frag/functions/fnc_fired.sqf
  addons/frag/functions/fnc_spallHP.sqf
  addons/frag/functions/fnc_spallTrack.sqf
Labels: kind/bug fix

#6302 Interaction - Allow RHIB push
  addons/interaction/CfgVehicles.hpp
Labels: area/compatibility, kind/enhancement

#6340 Update Japanese translations
  addons/advanced_ballistics/stringtable.xml
  addons/advanced_fatigue/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/attach/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/dragging/stringtable.xml
  addons/explosives/stringtable.xml
  addons/fcs/stringtable.xml
  addons/finger/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/gestures/stringtable.xml
  addons/gforces/stringtable.xml
  addons/hearing/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/logistics_wirecutter/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/maptools/stringtable.xml
  addons/maverick/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_menu/stringtable.xml
  addons/minedetector/stringtable.xml
  addons/movement/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/overheating/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/parachute/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/rearm/stringtable.xml
  addons/refuel/stringtable.xml
  addons/repair/stringtable.xml
  addons/respawn/stringtable.xml
  addons/safemode/stringtable.xml
  addons/sandbag/stringtable.xml
  addons/scopes/stringtable.xml
  addons/spectator/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#5828 Add ability to set aiming coefficient for mission scripting.
  addons/advanced_fatigue/functions/fnc_handleEffects.sqf
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_setAimCoef.sqf
  addons/common/functions/fnc_setHearingCapability.sqf
Labels: kind/enhancement

#6346 Fix minor typo in fnc_cachedCall
  addons/common/functions/fnc_cachedCall.sqf
Labels: ignore changelog

#5773 Add sway factor option to advanced fatigue
  addons/advanced_fatigue/initSettings.sqf
  addons/advanced_fatigue/stringtable.xml
  docs/wiki/framework/advanced-fatigue-framework.md
Labels: kind/feature request

#6361 Delete Travis CI config file
  .travis.yml
Labels: area/tools, kind/cleanup

#6374 Japanese Translation Tweak
  addons/rearm/stringtable.xml
  optionals/compat_adr_97/stringtable.xml
Labels: area/translations

#6240 Fixed mortar double loading
  addons/mk6mortar/functions/fnc_canLoadMagazine.sqf
  addons/mk6mortar/functions/fnc_canUnloadMagazine.sqf
  addons/mk6mortar/functions/fnc_loadMagazineTimer.sqf
  addons/mk6mortar/functions/fnc_unloadMagazineTimer.sqf
Labels: kind/bug fix

#6372 Cleanup unused priority entry for Interaction Menu actions
  addons/atragmx/CfgVehicles.hpp
  addons/attach/CfgVehicles.hpp
  addons/captives/CfgVehicles.hpp
  addons/chemlights/CfgVehicles.hpp
  addons/concertina_wire/CfgVehicles.hpp
  addons/dagr/CfgVehicles.hpp
  addons/dogtags/CfgVehicles.hpp
  addons/explosives/CfgVehicles.hpp
  addons/fastroping/CfgVehicles.hpp
  addons/fcs/CfgVehicles.hpp
  addons/gestures/CfgVehicles.hpp
  addons/gunbag/CfgVehicles.hpp
  addons/hearing/CfgVehicles.hpp
  addons/huntir/CfgVehicles.hpp
  addons/interaction/CfgVehicles.hpp
  addons/kestrel4500/CfgVehicles.hpp
  addons/magazinerepack/CfgVehicles.hpp
  addons/map/CfgVehicles.hpp
  addons/maptools/CfgVehicles.hpp
  addons/medical/ACE_Medical_Actions.hpp
  addons/medical/ACE_Medical_SelfActions.hpp
  addons/medical/CfgVehicles.hpp
  addons/mk6mortar/CfgVehicles.hpp
  addons/overheating/CfgVehicles.hpp
  addons/parachute/CfgVehicles.hpp
  addons/rangecard/CfgVehicles.hpp
  addons/rearm/CfgVehicles.hpp
  addons/refuel/CfgVehicles.hpp
  addons/repair/CfgVehicles.hpp
  addons/respawn/CfgVehicles.hpp
  addons/sandbag/CfgVehicles.hpp
  addons/scopes/CfgVehicles.hpp
  addons/spottingscope/CfgVehicles.hpp
  addons/tacticalladder/CfgVehicles.hpp
  addons/trenches/CfgVehicles.hpp
  addons/tripod/CfgVehicles.hpp
  addons/vehiclelock/CfgVehicles.hpp
Labels: kind/cleanup

#6368 Pass functions by reference to BI event handlers
  addons/captives/functions/fnc_handleLocal.sqf
  addons/captives/functions/fnc_setHandcuffed.sqf
  addons/captives/functions/fnc_setSurrendered.sqf
  addons/pylons/XEH_postInit.sqf
  addons/refuel/XEH_postInit.sqf
Labels: kind/enhancement

#6360 Fix AF sway factor
  addons/advanced_fatigue/ACE_Settings.hpp
  addons/advanced_fatigue/XEH_preInit.sqf
  addons/advanced_fatigue/initSettings.sqf
  addons/advanced_fatigue/stringtable.xml
Labels: kind/bug fix

#6375 Japanese Translation Tweak
  addons/advanced_ballistics/stringtable.xml
  addons/advanced_fatigue/stringtable.xml
  addons/advanced_throwing/stringtable.xml
Labels: area/translations

#6365 Pylons - Separate settings for in-game and zeus
  addons/pylons/ACE_Settings.hpp
  addons/pylons/XEH_postInit.sqf
  addons/pylons/XEH_preInit.sqf
  addons/pylons/config.cpp
  addons/pylons/functions/fnc_showDialog.sqf
  addons/pylons/initSettings.sqf
  addons/pylons/stringtable.xml
Labels: kind/enhancement

#6345 Attach - Optimize creating children actions
  addons/attach/CfgVehicles.hpp
  addons/attach/XEH_PREP.hpp
  addons/attach/functions/fnc_getChildrenActions.sqf
  addons/attach/functions/fnc_getChildrenAttachActions.sqf
Labels: kind/optimization

#6290 Interaction Menu - Ability to modify icon color
  addons/interact_menu/functions/fnc_compileMenu.sqf
  addons/interact_menu/functions/fnc_compileMenuSelfAction.sqf
  addons/interact_menu/functions/fnc_compileMenuZeus.sqf
  addons/interact_menu/functions/fnc_createAction.sqf
  addons/interact_menu/functions/fnc_renderIcon.sqf
Labels: kind/enhancement

#6291 Nightvision - Fix adjustable brightness
  addons/nightvision/functions/fnc_changeNVGBrightness.sqf
  addons/nightvision/functions/fnc_pfeh.sqf
  addons/nightvision/script_component.hpp
Labels: kind/bug fix, kind/enhancement, target/Next CBA

#6299 Hellfire - Update to use 1.82 submunition
  addons/frag/CfgAmmo.hpp
  addons/hellfire/CfgAmmo.hpp
Labels: kind/enhancement

#6347 Arsenal - Various additions and fixes
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_fillLeftPanel.sqf
  addons/arsenal/functions/fnc_fillLoadoutsList.sqf
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_loadoutsChangeTab.sqf
  addons/arsenal/functions/fnc_onLoadoutsClose.sqf
  addons/arsenal/functions/fnc_onLoadoutsOpen.sqf
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
  addons/arsenal/functions/fnc_removeStat.sqf
  addons/arsenal/functions/fnc_statBarStatement_accuracy.sqf
  addons/arsenal/functions/fnc_statTextStatement_accuracy.sqf
Labels: kind/bug fix, kind/enhancement

#6318 Repair - Use icon color instead of multiple files
  addons/repair/functions/fnc_addRepairActions.sqf
  addons/repair/functions/fnc_modifyInteraction.sqf
  addons/repair/functions/fnc_modifySelectionInteraction.sqf
  addons/repair/script_component.hpp
  addons/repair/ui/damage_0_ca.paa
  addons/repair/ui/damage_1_ca.paa
  addons/repair/ui/damage_2_ca.paa
  addons/repair/ui/damage_3_ca.paa
  addons/repair/ui/damage_4_ca.paa
  addons/repair/ui/damage_5_ca.paa
  addons/repair/ui/damage_6_ca.paa
  addons/repair/ui/damage_7_ca.paa
  addons/repair/ui/damage_8_ca.paa
  addons/repair/ui/repair_0_ca.paa
  addons/repair/ui/repair_1_ca.paa
  addons/repair/ui/repair_2_ca.paa
  addons/repair/ui/repair_3_ca.paa
  addons/repair/ui/repair_4_ca.paa
  addons/repair/ui/repair_5_ca.paa
  addons/repair/ui/repair_6_ca.paa
  addons/repair/ui/repair_7_ca.paa
  addons/repair/ui/repair_8_ca.paa
Labels: kind/enhancement

#6353 Hide "Activate Mine" action
  addons/explosives/config.cpp
Labels: kind/bug fix
