Repository acemod/ACE3, pull requests merged in 2018-11, with the labels that each got.

#6652 Interaction - Improve mouse hint
  addons/explosives/functions/fnc_setupExplosive.sqf
  addons/interaction/RscTitles.hpp
  addons/interaction/functions/fnc_hideMouseHint.sqf
  addons/interaction/functions/fnc_showMouseHint.sqf
  addons/interaction/script_component.hpp
Labels: kind/enhancement

#6645 Chemlight and IR strobe improvements
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_smokeChemTTL.sqf
  addons/arsenal/stringtable.xml
  addons/attach/CfgVehicles.hpp
  addons/chemlights/CfgAmmo.hpp
  addons/chemlights/CfgLights.hpp
  addons/chemlights/CfgMagazines.hpp
  addons/chemlights/CfgVehicles.hpp
  addons/chemlights/CfgWeapons.hpp
  addons/chemlights/Effects.hpp
  addons/chemlights/UI/ace_chemlight_hiblue_x_ca.paa
  addons/chemlights/UI/ace_chemlight_higreen_x_ca.paa
  addons/chemlights/UI/ace_chemlight_ultrahiorange_x_ca.paa
  addons/chemlights/config.cpp
  addons/chemlights/stringtable.xml
Labels: kind/enhancement

#6657 Medical - optimize handle damage caching
  addons/medical/functions/fnc_handleDamage_caching.sqf
Labels: kind/enhancement

#6152 Interaction - Add Smash Windshield action
  addons/interaction/CfgVehicles.hpp
  addons/interaction/stringtable.xml
Labels: kind/feature request

#6569 Zeus - Group Side Module: preserve group id and assigned team
  addons/zeus/functions/fnc_moduleGroupSide.sqf
Labels: kind/bug fix

#6512 Add param for settings that require mission restart
  addons/advanced_fatigue/initSettings.sqf
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/common/functions/fnc_cbaSettings_loadFromConfig.sqf
  addons/common/functions/fnc_cbaSettings_settingChanged.sqf
  addons/map/initSettings.sqf
  addons/nightvision/initSettings.sqf
  addons/noradio/XEH_preInit.sqf
  addons/repair/initSettings.sqf
  addons/vehiclelock/initSettings.sqf
Labels: kind/enhancement

#6659 Hearing - add empty geometry to earplugs model
  addons/hearing/data/ace_earplugs.p3d
Labels: kind/bug fix

#6660 Goggles - Fix `Show Goggle Effects in Third Person` setting
  addons/goggles/functions/fnc_externalCamera.sqf
Labels: kind/bug fix

#6669 Reflect current maintainers on team page
  docs/team.md
Labels: area/documentation

#6203 Add possibility to create zeus during mission
  addons/zeus/XEH_postInit.sqf
  addons/zeus/XEH_preInit.sqf
  addons/zeus/initSettings.sqf
  addons/zeus/script_component.hpp
  addons/zeus/stringtable.xml
Labels: kind/enhancement

#6677 Wirecutters - Add compatibility with more fences from CUP
  addons/logistics_wirecutter/script_component.hpp
Labels: area/compatibility, kind/enhancement

#6671 Arsenal - Add Night Vision support stat for scopes
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_scopeVisionMode.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#6678 Wirecutters - Add compatibility with more fences from CUP
  addons/logistics_wirecutter/script_component.hpp
Labels: ignore changelog

#6631 Weather - Fix wind on airports
  addons/weather/functions/fnc_calculateRoughnessLength.sqf
Labels: kind/bug fix

#6641 Nametags - Adjustable colors settings
  AUTHORS.txt
  addons/nametags/ACE_Settings.hpp
  addons/nametags/XEH_preInit.sqf
  addons/nametags/functions/fnc_drawNameTagIcon.sqf
  addons/nametags/initSettings.sqf
Labels: kind/enhancement, kind/feature request

#6675 RHS Compats - Update allowSwapBarrels for some guns
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: area/compatibility

#6687 Ignore focus feature issues
  .github/stale.yml
Labels: area/tools, ignore changelog

#6688 Ignore issues listed in a project or milestone
  .github/stale.yml
Labels: area/tools

#6686 clean up gibot configuration
  .gibot.yml
Labels: ignore changelog

#6338 Support # command in SQF Validator
  tools/sqf_validator.py
Labels: area/tools

#6689 Revert "Support # command in SQF Validator "
  tools/sqf_validator.py
Labels: ignore changelog

#6691 Wiki - Update feature list for ace_aircraft (ah9 hud)
  docs/wiki/feature/aircraft.md
Labels: kind/documentation

#6692 Expand contributing docs
  .github/CONTRIBUTING.md
Labels: ignore changelog, kind/documentation

#6693 fix armake issues with latest release against ACE3
  circle.yml
Labels: area/tools, ignore changelog, kind/bug fix

#3747 Changes for Linux development and armake
  .editorconfig
  .gitignore
  Makefile
  VERSION
  addons/gestures/CfgMovesBasic.hpp
  addons/huntir/Dialog.hpp
  addons/medical/CfgActions.hpp
  addons/medical/config.cpp
  addons/mk6mortar/CfgMagazines.hpp
  addons/vehiclelock/CfgVehicles.hpp
  circle.yml
  extensions/CMakeLists.txt
  include/a3/data_f/penetration/cloth.rvmat
  include/a3/data_f/penetration/default.rvmat
  include/a3/data_f/penetration/metal.rvmat
  include/a3/data_f/penetration/metal_plate.rvmat
  include/a3/data_f/penetration/plastic.rvmat
  include/a3/data_f/penetration/tyre.rvmat
  include/a3/data_f/penetration/wood.rvmat
  include/a3/ui_f/hpp/defineCommonColors.inc
  include/a3/ui_f/hpp/defineCommonGrids.inc
  include/x/cba/addons/main/script_macros_common.hpp
  include/x/cba/addons/xeh/script_xeh.hpp
  optionals/particles/script_component.hpp
  tools/cba/addons/xeh/script_xeh.hpp
  tools/make.ps1
  tools/setup.py
Labels: area/tools, status/experimental

#6695 Replace placed modules by additional information in the issue template
  .github/ISSUE_TEMPLATE.md
Labels: area/tools, ignore changelog

#5745 Quick Mount - Add Get In and Change seat action menu
  addons/quickmount/CfgVehicles.hpp
  addons/quickmount/XEH_PREP.hpp
  addons/quickmount/functions/fnc_addFreeSeatsActions.sqf
  addons/quickmount/functions/fnc_canShowFreeSeats.sqf
  addons/quickmount/initSettings.sqf
  addons/quickmount/stringtable.xml
Labels: kind/feature request

#6694 Arsenal - Add config to force show (mortars)
  addons/arsenal/functions/fnc_addVirtualItems.sqf
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/mk6mortar/CfgMagazines.hpp
  docs/wiki/framework/arsenal-framework.md
Labels: kind/feature request

#6696 RHS Compat - Fix config
  optionals/compat_rhs_gref3/CfgWeapons.hpp
Labels: ignore changelog

#6698 add 654wak654 as maintainer
  docs/team.md
Labels: ignore changelog, kind/documentation

#6699 Arsenal - Fix script error from hide changes
  addons/arsenal/functions/fnc_addVirtualItems.sqf
Labels: ignore changelog, kind/bug fix

#6700 MicroDagr - Fix waypoint scrolling
  addons/microdagr/functions/fnc_updateDisplay.sqf
Labels: kind/bug fix

#6703 fix moved markers not synched
  addons/markers/functions/fnc_movePFH.sqf
Labels: kind/bug fix

#6705 Update Japanese translations
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/explosives/stringtable.xml
  addons/interaction/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/optionsmenu/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/rearm/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#6706 Javelin - Can disable thermal requirement via code
  addons/javelin/functions/fnc_onOpticDraw.sqf
Labels: ignore changelog

#6704 Custom Materials for tagging
  addons/tagging/functions/fnc_addCustomTag.sqf
  addons/tagging/functions/fnc_addTagActions.sqf
  addons/tagging/functions/fnc_applyCustomTag.sqf
  addons/tagging/functions/fnc_compileConfigTags.sqf
  addons/tagging/functions/fnc_createTag.sqf
  addons/tagging/functions/fnc_quickTag.sqf
  addons/tagging/functions/fnc_tag.sqf
Labels: kind/enhancement, status/review-pending
