Repository acemod/ACE3, pull requests merged in 2018-08, with the labels that each got.

#6494 Dragging - Add compatibilty for 1.84 static weapons and radars
  addons/dragging/CfgVehicles.hpp
  addons/reload/XEH_postInit.sqf
Labels: kind/bug fix

#6490 [medical-rewrite] Fix string names
  addons/medical_gui/functions/fnc_displayPatientInformation.sqf
  addons/medical_gui/functions/fnc_updateUIInfo.sqf
  addons/medical_treatment/stringtable.xml
Labels: status/review-pending

#6485 [medical] Code cleanup using SQFLint
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_getCountOfItem.sqf
  addons/medical/functions/fnc_addDamageToUnit.sqf
  addons/medical/functions/fnc_setUnconscious.sqf
  addons/medical_ai/functions/fnc_playTreatmentAnim.sqf
  addons/medical_blood/functions/fnc_spurt.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_feedback/functions/fnc_effectBleeding.sqf
  addons/medical_feedback/functions/fnc_effectBloodVolume.sqf
  addons/medical_feedback/functions/fnc_effectHeartBeat.sqf
  addons/medical_feedback/functions/fnc_effectPain.sqf
  addons/medical_feedback/functions/fnc_effectUnconscious.sqf
  addons/medical_feedback/functions/fnc_playInjuredSound.sqf
  addons/medical_gui/functions/fnc_handleUI_DisplayOptions.sqf
  addons/medical_statemachine/functions/fnc_conditionCardiacArrestTimer.sqf
  addons/medical_statemachine/functions/fnc_conditionExecutionDeath.sqf
  addons/medical_statemachine/functions/fnc_enteredStateFatalInjury.sqf
  addons/medical_statemachine/functions/fnc_handleStateDefault.sqf
  addons/medical_statemachine/functions/fnc_handleStateInjured.sqf
  addons/medical_statemachine/functions/fnc_handleStateUnconscious.sqf
  addons/medical_statemachine/functions/fnc_transitionSecondChance.sqf
  addons/medical_status/functions/fnc_addHeartRateAdjustment.sqf
  addons/medical_treatment/functions/fnc_bodyCleanupLoop.sqf
  addons/medical_treatment/functions/fnc_checkItems.sqf
  addons/medical_treatment/functions/fnc_getTriageStatus.sqf
  addons/medical_treatment/functions/fnc_isInMedicalVehicle.sqf
  addons/medical_treatment/functions/fnc_litterCleanupLoop.sqf
  addons/medical_treatment/functions/fnc_serverRemoveBody.sqf
  addons/medical_treatment/functions/fnc_treatmentFullHealLocal.sqf
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
Labels: kind/cleanup, status/WIP

#6496 Medical Menu - Check cursorObject if cursorTarget is invalid
  addons/medical_menu/XEH_postInit.sqf
Labels: kind/bug fix

#6504 Arsenal - Fix terminals not being properly added to currentItems
  addons/arsenal/functions/fnc_buttonLoadoutsLoad.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
Labels: kind/bug fix

#6493 Move medical settings into their respective components
  addons/medical/ACE_Settings.hpp
  addons/medical/CfgVehicles.hpp
  addons/medical/XEH_PREP.hpp
  addons/medical/functions/fnc_moduleMedicalSettings.sqf
  addons/medical/stringtable.xml
  addons/medical_ai/ACE_Settings.hpp
  addons/medical_ai/XEH_preInit.sqf
  addons/medical_ai/initSettings.sqf
  addons/medical_ai/stringtable.xml
  addons/medical_damage/ACE_Settings.hpp
  addons/medical_damage/config.cpp
  addons/medical_damage/functions/fnc_handleIncapacitation.sqf
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/ACE_Settings.hpp
  addons/medical_feedback/config.cpp
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/ACE_Settings.hpp
  addons/medical_gui/functions/fnc_displayPatientInformation.sqf
  addons/medical_gui/functions/fnc_updateUIInfo.sqf
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/ACE_Settings.hpp
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/config.cpp
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/ACE_settings.hpp
  addons/medical_status/CfgEventHandlers.hpp
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/XEH_postInit.sqf
  addons/medical_status/config.cpp
  addons/medical_status/functions/fnc_adjustPainLevel.sqf
  addons/medical_status/functions/fnc_getBloodVolumeChange.sqf
  addons/medical_status/stringtable.xml
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/ACE_Settings.hpp
  addons/medical_treatment/functions/fnc_isMedic.sqf
  addons/medical_treatment/functions/fnc_treatmentBandageLocal.sqf
  addons/medical_treatment/functions/fnc_treatmentMedicationLocal.sqf
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
  addons/medical_vitals/functions/fnc_updatePainSuppress.sqf
Labels: area/config, kind/cleanup, kind/refactor

#6503 Update Japanese translation
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/pylons/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#6478 Repair - Fix facility is like vehicle
  addons/repair/functions/fnc_isInRepairFacility.sqf
Labels: kind/bug fix

#6508 Bump required Arma 3 version to 1.84 and CBA to 3.8.0
  addons/main/script_mod.hpp
Labels: kind/task

#6511 Fix Japanese stringtable
  addons/realisticnames/stringtable.xml
Labels: kind/bug fix

#6497 Wiki - Add new Arsenal EHs and stat indexes to arsenal framework doc
  docs/wiki/framework/arsenal-framework.md
Labels: area/documentation, kind/documentation, status/merge on release

#6282 Wiki - ACEX fortify #124 documentation
  docs/wiki/frameworkx/fortify-framework.md
Labels: kind/documentation, status/merge on release

#6514 Minor syntax and variable reference fixes for medical rewrite
  addons/medical_ai/initSettings.sqf
  addons/medical_gui/functions/fnc_displayPatientInformation.sqf
  addons/medical_gui/functions/fnc_updateUIInfo.sqf
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/functions/fnc_conditionCardiacArrestTimer.sqf
  addons/medical_statemachine/functions/fnc_enteredStateCardiacArrest.sqf
  addons/medical_treatment/CfgEden.hpp
  addons/medical_treatment/functions/fnc_treatmentBandageLocal.sqf
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
Labels: kind/bug fix

#6495 [medical] remove collision of bandage litter
  addons/medical_treatment/data/QuikClot.p3d
  addons/medical_treatment/data/bandage.p3d
  addons/medical_treatment/data/bodybagItem.p3d
  addons/medical_treatment/data/littergeneric.p3d
  addons/medical_treatment/data/littergeneric_Quikclot.p3d
  addons/medical_treatment/data/littergeneric_adenosine.p3d
  addons/medical_treatment/data/littergeneric_atropine.p3d
  addons/medical_treatment/data/littergeneric_bandages1.p3d
  addons/medical_treatment/data/littergeneric_bandages2.p3d
  addons/medical_treatment/data/littergeneric_bandages3.p3d
  addons/medical_treatment/data/littergeneric_clean.p3d
  addons/medical_treatment/data/littergeneric_epinephrine.p3d
  addons/medical_treatment/data/littergeneric_gloves.p3d
  addons/medical_treatment/data/littergeneric_morphine.p3d
  addons/medical_treatment/data/littergeneric_packingbandage.p3d
  addons/medical_treatment/data/surgical_kit.p3d
Labels: kind/bug fix

#6518 Reset default state on respawn
  addons/medical/XEH_PREP.hpp
  addons/medical/functions/fnc_getUnitState.sqf
  addons/medical_statemachine/CfgEventHandlers.hpp
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/XEH_PREP.hpp
  addons/medical_statemachine/functions/fnc_resetStateDefault.sqf
Labels: kind/bug fix

#6524 Prevent treatment animation on dead bodies
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/ACE_Settings.hpp
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/bug fix

#6528 Remove play with six launch method
  docs/wiki/user/installation-guide.md
Labels: ignore changelog, kind/documentation

#6523 Medical rewrite bug fixes
  addons/medical_gui/functions/fnc_handleUI_DisplayOptions.sqf
  addons/medical_statemachine/functions/fnc_conditionExecutionDeath.sqf
  addons/medical_statemachine/functions/fnc_enteredStateDeath.sqf
  addons/medical_status/CfgEventHandlers.hpp
  addons/medical_status/functions/fnc_initUnit.sqf
  addons/medical_vitals/functions/fnc_updateHeartRate.sqf
Labels: kind/bug fix

#6515 Fix environmental damage sources
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: kind/bug fix, kind/optimization

#6513 Update No Uniform Restrictions for Arma 3 v1.84
  optionals/nouniformrestrictions/CfgVehicles.hpp
Labels: area/compatibility

#6522 Interaction - Fix switching non-local portable light on
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_PREP.hpp
  addons/interaction/XEH_postInit.sqf
  addons/interaction/functions/fnc_switchLamp.sqf
  addons/interaction/script_component.hpp
Labels: kind/bug fix, status/review-pending

#6548 Fix missing semicolon in CfgWeaponsReference
  extras/CfgWeaponsReference.hpp
Labels: kind/bug fix, kind/cleanup

#6538 Make state change status updates consistent
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/functions/fnc_enteredStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_enteredStateDeath.sqf
  addons/medical_statemachine/functions/fnc_leftStateCardiacArrest.sqf
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/functions/fnc_setCardiacArrest.sqf
  addons/medical_status/functions/fnc_setDead.sqf
  addons/medical_status/functions/fnc_setUnconscious.sqf
  addons/medical_status/functions/fnc_setUnconsciousStatemachine.sqf
Labels: kind/bug fix, kind/cleanup

#6552 RHS GREF Compat - MG42
  optionals/compat_rhs_gref3/CfgMagazines.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/config.cpp
Labels: area/compatibility
