Repository acemod/ACE3, pull requests merged in 2019-04, with the labels that each got.

#6885 Add keep engine of vehicles running after getting out
  addons/vehicles/XEH_preInit.sqf
  addons/vehicles/initSettings.sqf
  addons/vehicles/stringtable.xml
Labels: kind/feature request

#6912 Medical - Add self interaction when needed
  addons/medical_gui/XEH_postInit.sqf
  addons/medical_gui/functions/fnc_addTreatmentActions.sqf
Labels: kind/cleanup, kind/enhancement

#6905 No Crosshair - Fix config
  optionals/nocrosshair/CfgInGameUI.hpp
  optionals/nocrosshair/CfgWeaponCursors.hpp
  optionals/nocrosshair/config.cpp
Labels: kind/bug fix

#6915 Prevent opening the medical menu if the player is unconscious
  addons/medical_gui/functions/fnc_canOpenMenu.sqf
Labels: kind/bug fix

#6916 Medical - Add condition for surgicial kit
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/functions/fnc_canBandage.sqf
  addons/medical_treatment/functions/fnc_canStitch.sqf
Labels: kind/enhancement

#6914 Zeus/Medical - Fix modules for rewrite
  addons/medical/functions/fnc_setUnconscious.sqf
  addons/medical_treatment/functions/fnc_treatmentFullHealLocal.sqf
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
  addons/zeus/functions/fnc_moduleHeal.sqf
  addons/zeus/functions/fnc_moduleUnconscious.sqf
Labels: kind/bug fix

#6893 RHS Compat - Add 2 round hellfire to pylon options
  addons/hellfire/CfgMagazineWells.hpp
  addons/hellfire/CfgWeapons.hpp
  addons/hellfire/config.cpp
  optionals/compat_rhs_usf3/CfgMagazineWells.hpp
  optionals/compat_rhs_usf3/CfgMagazines.hpp
  optionals/compat_rhs_usf3/config.cpp
Labels: area/compatibility

#6876 Fastroping - Add user setting to confirm cutting ropes
  addons/common/stringtable.xml
  addons/fastroping/CfgVehicles.hpp
Labels: kind/enhancement

#6921 compatibility with CBA scripted 2d optics framework
  addons/arsenal/XEH_preInit.sqf
Labels: area/compatibility

#6922 Fix trivial bugs
  addons/interaction/functions/fnc_canPassMagazine.sqf
  addons/medical_engine/script_component.hpp
  addons/overheating/functions/fnc_overheat.sqf
Labels: ignore changelog

#6925 Medical activity to non local units is not logged
  AUTHORS.txt
  addons/medical_treatment/XEH_postInit.sqf
Labels: kind/bug fix

#6930 Ballistics - Remove ace mags from incompatible weapons
  addons/ballistics/CfgMagazineWells.hpp
Labels: area/compatibility, kind/bug fix

#6927 Medical Feedback - fix heart rate effect
  addons/medical_feedback/XEH_postInit.sqf
  addons/medical_feedback/functions/fnc_effectHeartBeat.sqf
Labels: ignore changelog, kind/bug fix

#6936 [ACE Arsenal] Fix NVGs not being subject to blacklisting in loadouts
  addons/arsenal/functions/fnc_verifyLoadout.sqf
Labels: kind/bug fix

#6937 Medical - add EH for setUnconscious helper func
  addons/medical/XEH_postInit.sqf
  addons/medical/functions/fnc_setUnconscious.sqf
Labels: ignore changelog, kind/bug fix

#6953 compatibility with CBA disposable framework
  addons/arsenal/XEH_preInit.sqf
Labels: area/compatibility

#6961 Map - Don't enable map light for parachutes
  addons/map/XEH_postInitClient.sqf
Labels: impact/trivial, kind/bug fix

#6957 Refuel - Drop nozzle at unit's feet if no valid pos found
  addons/refuel/functions/fnc_dropNozzle.sqf
Labels: kind/bug fix

#6951 Common - Don't add UAV AI to localUnits array
  addons/common/functions/fnc_setupLocalUnitsHandler.sqf
Labels: kind/enhancement

#6932 Fastroping - Remove FRIES on vehicle deletion / adjust Ghosthawk Fries
  addons/fastroping/CfgVehicles.hpp
  addons/fastroping/XEH_PREP.hpp
  addons/fastroping/functions/fnc_checkVehicleThread.sqf
  addons/fastroping/functions/fnc_equipFRIES.sqf
  addons/fastroping/functions/fnc_unequipFRIES.sqf
  docs/wiki/framework/fastroping-framework.md
Labels: kind/enhancement

#6966 Medical Feedback - Fix DISABLE_VANILLA_DAMAGE_EFFECTS
  addons/medical/functions/fnc_addDamageToUnit.sqf
  addons/medical_engine/XEH_postInit.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_feedback/XEH_postInit.sqf
  addons/medical_status/functions/fnc_setDead.sqf
Labels: ignore changelog

#6965 FCS - Skip adding firedEH until needed
  addons/fcs/XEH_postInit.sqf
  addons/fcs/functions/fnc_vehicleInit.sqf
Labels: impact/trivial, kind/optimization

#6910 Medical - Improve adjustment calcs / wound blood loss / medications
  addons/medical/config.cpp
  addons/medical/dev/watchVariable.sqf
  addons/medical/functions/fnc_addDamageToUnit.sqf
  addons/medical/script_component.hpp
  addons/medical_ai/script_component.hpp
  addons/medical_blood/script_component.hpp
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_damage/script_component.hpp
  addons/medical_engine/script_component.hpp
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_feedback/script_component.hpp
  addons/medical_gui/script_component.hpp
  addons/medical_statemachine/script_component.hpp
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/functions/fnc_addHeartRateAdjustment.sqf
  addons/medical_status/functions/fnc_addMedicationAdjustment.sqf
  addons/medical_status/functions/fnc_getBloodLoss.sqf
  addons/medical_status/functions/fnc_getBloodVolumeChange.sqf
  addons/medical_status/functions/fnc_getCardiacOutput.sqf
  addons/medical_status/functions/fnc_initUnit.sqf
  addons/medical_status/functions/fnc_isInStableCondition.sqf
  addons/medical_status/functions/fnc_updateWoundBloodLoss.sqf
  addons/medical_status/script_component.hpp
  addons/medical_treatment/functions/fnc_handleBandageOpening.sqf
  addons/medical_treatment/functions/fnc_onMedicationUsage.sqf
  addons/medical_treatment/functions/fnc_treatmentBandageLocal.sqf
  addons/medical_treatment/functions/fnc_treatmentFullHealLocal.sqf
  addons/medical_treatment/functions/fnc_treatmentMedicationLocal.sqf
  addons/medical_treatment/functions/fnc_treatmentSurgicalKit_onProgress.sqf
  addons/medical_treatment/functions/fnc_treatmentTourniquetLocal.sqf
  addons/medical_treatment/functions/fnc_treatmentTourniquetRemove.sqf
  addons/medical_treatment/script_component.hpp
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
  addons/medical_vitals/functions/fnc_updateHeartRate.sqf
  addons/medical_vitals/functions/fnc_updatePainSuppress.sqf
  addons/medical_vitals/functions/fnc_updatePeripheralResistance.sqf
  addons/medical_vitals/script_component.hpp
Labels: kind/bug fix
