Repository acemod/ACE3, pull requests merged in 2019-08, with the labels that each got.

#7115 Interaction Menu - fix a crash when loading savegames
  addons/interact_menu/XEH_preInit.sqf
  addons/interact_menu/functions/fnc_addActionToClass.sqf
  addons/interact_menu/functions/fnc_compileMenu.sqf
  addons/laser/functions/fnc_addLaserTarget.sqf
  addons/medical/dev/test_hitpointConfigs.sqf
Labels: kind/bug fix, kind/optimization

#7120 Update development environment requirements
  docs/wiki/development/setting-up-the-development-environment.md
Labels: area/documentation, area/tools, ignore changelog, kind/documentation

#7123 Cargo - No cargo on Contact UGV
  addons/cargo/CfgVehicles.hpp
Labels: 1.94, area/compatibility

#7122 Medical - Various debugging and fix cpr anim speed
  addons/common/functions/fnc_disableUserInput.sqf
  addons/common/functions/fnc_setDisableUserInputStatus.sqf
  addons/medical/functions/fnc_adjustPainLevel.sqf
  addons/medical/functions/fnc_setUnconscious.sqf
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_feedback/XEH_postInit.sqf
  addons/medical_statemachine/functions/fnc_handleStateUnconscious.sqf
  addons/medical_status/functions/fnc_adjustPainLevel.sqf
  addons/medical_status/functions/fnc_isInStableCondition.sqf
  addons/medical_status/functions/fnc_setCardiacArrest.sqf
  addons/medical_status/functions/fnc_setUnconscious.sqf
  addons/medical_treatment/XEH_preInit.sqf
  addons/medical_treatment/functions/fnc_fullHealLocal.sqf
  addons/medical_treatment/functions/fnc_treatment.sqf
Labels: ignore changelog

#7124 Cargo - fix tankf
  addons/cargo/CfgVehicles.hpp
Labels: ignore changelog

#6879 Advanced Throwing - Call muzzle EH and fix RHS inheritance (Compat with RHS 0.4.9)
  addons/advanced_throwing/functions/fnc_throwFiredXEH.sqf
  optionals/compat_rhs_afrf3/CfgAmmo.hpp
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgMagazines.hpp
Labels: area/compatibility, kind/bug fix

#7134 Add self stitching setting
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#7142 Fix undefined variable in View Distance
  addons/viewdistance/functions/fnc_changeViewDistance.sqf
Labels: kind/bug fix

#7138 Addition / modification of the French translation
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7135 Fix slide order in slideshow
  addons/slideshow/functions/fnc_createSlideshow.sqf
  addons/slideshow/functions/fnc_moduleInit.sqf
  addons/slideshow/stringtable.xml
Labels: kind/enhancement

#7148 Update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/todo.md
Labels: area/tools, ignore changelog

#7140 Movement - Display Inventory Weight in Stream Friendly UI Mode
  addons/movement/functions/fnc_inventoryDisplayLoad.sqf
Labels: kind/enhancement
