Repository acemod/ACE3, pull requests merged in 2019-02, with the labels that each got.

#6796 cfgSkeletons indentation formatting fixes
  addons/fastroping/anim/model.cfg
  addons/gestures/anim/model.cfg
  addons/goggles/anim/model.cfg
  addons/gunbag/data/model.cfg
  addons/tacticalladder/data/model.cfg
Labels: kind/cleanup

#6381 Pylons - Update configure pylons action
  addons/pylons/XEH_postInit.sqf
Labels: kind/enhancement

#6801 add 100Rnd mags magwell to all MX variants
  addons/ballistics/CfgWeapons.hpp
Labels: kind/enhancement

#6800 Common - checkfiles use cba's list of CfgPatches
  addons/common/functions/fnc_checkFiles.sqf
Labels: impact/trivial, kind/enhancement

#6808 Pylons - Remove ace_zeus from requiredAddons
  addons/pylons/config.cpp
  addons/pylons/functions/fnc_showDialog.sqf
Labels: impact/trivial

#6813 HuntIR - Move magwell compat to huntIR config
  addons/huntir/CfgMagazineWells.hpp
  optionals/compat_rhs_usf3/CfgMagazineWells.hpp
  optionals/compat_rhs_usf3/config.cpp
Labels: impact/trivial

#6802 Common - Use CBA addons instead of activatedAddons
  addons/common/scripts/checkVersionNumber.sqf
Labels: kind/optimization

#6815 Cleanup spacing on call COMPILE_FILE
  addons/advanced_ballistics/CfgEventHandlers.hpp
  addons/atragmx/CfgEventHandlers.hpp
  addons/attach/CfgEventHandlers.hpp
  addons/concertina_wire/CfgEventHandlers.hpp
  addons/dagr/CfgEventHandlers.hpp
  addons/flashlights/CfgEventHandlers.hpp
  addons/hearing/CfgEventHandlers.hpp
  addons/huntir/CfgEventhandlers.hpp
  addons/kestrel4500/CfgEventHandlers.hpp
  addons/maptools/CfgEventHandlers.hpp
  addons/microdagr/CfgEventHandlers.hpp
  addons/minedetector/CfgEventHandlers.hpp
  addons/overheating/CfgEventHandlers.hpp
  addons/rangecard/CfgEventHandlers.hpp
  addons/recoil/CfgEventHandlers.hpp
  addons/reload/CfgEventHandlers.hpp
  addons/switchunits/CfgEventHandlers.hpp
  addons/tacticalladder/CfgEventHandlers.hpp
  addons/tripod/CfgEventHandlers.hpp
  addons/yardage450/CfgEventHandlers.hpp
Labels: ignore changelog, kind/cleanup

#6807 Refuel - Cache refuel classes
  addons/refuel/XEH_postInit.sqf
  addons/refuel/XEH_preStart.sqf
Labels: kind/optimization

#6806 Cargo - Cache cargo vehicle classes
  addons/cargo/XEH_postInit.sqf
  addons/cargo/XEH_preStart.sqf
Labels: kind/optimization

#6804 Tagging - Cache tagging static models
  addons/tagging/XEH_postInit.sqf
  addons/tagging/XEH_preStart.sqf
Labels: kind/optimization

#6803 Inventory - Cache inventory postInit config lookups
  addons/inventory/XEH_postInit.sqf
  addons/inventory/XEH_preStart.sqf
Labels: kind/optimization

#6805 Minedetector - Cache detectableClasses
  addons/minedetector/XEH_postInit.sqf
  addons/minedetector/XEH_preStart.sqf
Labels: kind/optimization

#6820 Disable debug on ace_common_fnc_readSettingsFromParamsArray
  addons/common/functions/fnc_readSettingsFromParamsArray.sqf
Labels: ignore changelog

#6829 Update No Uniform Restrictions for Arma 3 v1.88
  optionals/nouniformrestrictions/CfgVehicles.hpp
Labels: area/compatibility

#6818 Interact Menu - Cache config actions for CAManBase
  addons/interact_menu/XEH_preInit.sqf
  addons/interact_menu/functions/fnc_compileMenu.sqf
Labels: kind/optimization

#6830 Repair - Add condition check to progressBar
  addons/repair/functions/fnc_repair.sqf
Labels: kind/bug fix

#6821 Cargo - Add condition checking during load/unload
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_addCargoVehiclesActions.sqf
  addons/cargo/functions/fnc_startLoadIn.sqf
  addons/cargo/functions/fnc_startUnload.sqf
Labels: kind/bug fix

#6793 Arsenal - Add Ability to Transfer a Loadout from Saved to Default
  addons/arsenal/functions/fnc_buttonLoadoutsSave.sqf
  addons/arsenal/functions/fnc_loadoutsChangeTab.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#6791 Move SelfActions from postInit to config
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_postInit.sqf
  addons/zeus/CfgVehicles.hpp
  addons/zeus/XEH_PREP.hpp
  addons/zeus/XEH_postInit.sqf
  addons/zeus/functions/fnc_canCreateModule.sqf
  include/x/cba/addons/main/script_macros_common.hpp
Labels: kind/cleanup

#6833 Zeus - fix script error
  addons/zeus/functions/fnc_canCreateModule.sqf
Labels: ignore changelog

#6827 Explosives - Change SLAM magnetic to detonate upon defusal
  addons/explosives/CfgAmmo.hpp
Labels: kind/bug fix

#4836 Add localUnits array and use that inside medical statemachines
  addons/common/XEH_PREP.hpp
  addons/common/XEH_preInit.sqf
  addons/common/functions/fnc_getLocalUnits.sqf
  addons/common/functions/fnc_setupLocalUnitsHandler.sqf
  addons/medical_ai/StateMachine.hpp
  addons/medical_blood/XEH_postInit.sqf
  addons/medical_blood/functions/fnc_onBleeding.sqf
Labels: MedicalRewrite-Rectify, kind/enhancement

#6837 Update Jekyll documentation packages and fix lodash vulnerability
  docs/src/package-lock.json
  docs/src/package.json
Labels: area/documentation, area/tools

#6836 Increase required Arma 3 version to 1.88
  addons/main/script_mod.hpp
Labels: kind/task

#6838 Update Japanese translation
  addons/arsenal/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hot/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/refuel/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations
