Repository acemod/ACE3, pull requests merged in 2019-03, with the labels that each got.

#6843 Captives - Use the doApplyHandcuffs function for keybind
  addons/captives/XEH_postInit.sqf
Labels: kind/bug fix

#6855 Add mharis001 to ACE3 maintainers list
  docs/team.md
Labels: ignore changelog, kind/documentation

#6854 Fix M84 lods
  addons/grenades/models/ACE_M84.p3d
  addons/grenades/models/ACE_M84_thrown.p3d
Labels: kind/bug fix

#6585 UI - Fix selective UI in cargo
  addons/ui/functions/fnc_setAdvancedElement.sqf
Labels: kind/bug fix, kind/enhancement

#6207 Repair - Fix Typhoon rear wheel change
  addons/repair/CfgVehicles.hpp
  addons/repair/functions/fnc_addRepairActions.sqf
Labels: kind/bug fix

#6858 Trivial code fixes
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/dagr/functions/fnc_menuInit.sqf
  addons/gforces/functions/fnc_pfhUpdateGForces.sqf
  addons/hearing/functions/fnc_putInEarplugs.sqf
  include/x/cba/addons/main/$PBOPREFIX$
  include/x/cba/addons/xeh/$PBOPREFIX$
Labels: ignore changelog, kind/cleanup

#6860 Translations - Portuguese
  addons/medical/stringtable.xml
Labels: kind/bug fix

#6639 Safe Mode - Fix disabled laser on safety switch
  addons/safemode/functions/fnc_lockSafety.sqf
  addons/safemode/functions/fnc_unlockSafety.sqf
Labels: kind/bug fix

#6849 Arsenal - Improvements to 3DEN attribute
  addons/arsenal/Cfg3DEN.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_attributeAddCompatible.sqf
  addons/arsenal/functions/fnc_attributeCategory.sqf
  addons/arsenal/functions/fnc_attributeImport.sqf
  addons/arsenal/functions/fnc_attributeLoad.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#6845 Add rksl pm II 5-25x56 compat
  optionals/compat_rksl_pm_ii/CfgWeapons.hpp
  optionals/compat_rksl_pm_ii/config.cpp
Labels: area/compatibility

#6658 Add magazines with different tracer colors for some vanilla weapons
  optionals/tracers/CfgAmmo.hpp
  optionals/tracers/CfgMagazineWells.hpp
  optionals/tracers/CfgMagazines.hpp
  optionals/tracers/config.cpp
  optionals/tracers/stringtable.xml
Labels: kind/enhancement

#6865 Translations - Polish
  addons/arsenal/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#6864 Zeus Actions - Fix config code breaking during build
  addons/interaction/ACE_ZeusActions.hpp
  addons/interaction/XEH_preInit.sqf
  addons/rearm/ACE_ZeusActions.hpp
  addons/rearm/XEH_preInit.sqf
Labels: kind/bug fix

#6814 Wiki - Add field rations documentation
  docs/wiki/frameworkx/field-rations-framework.md
Labels: area/documentation, kind/documentation, status/merge on release

#6797 Wiki - Add documentation for ace_interact_menu_newControllableObject
  docs/wiki/framework/events-framework.md
  docs/wiki/framework/interactionMenu-framework.md
Labels: area/documentation, status/merge on release

#6869 hideEjectAction - Polish translation
  addons/vehicles/stringtable.xml
Labels: area/translations, ignore changelog

#6872 version check handle minor versions below 10
  addons/common/scripts/checkVersionNumber.sqf
Labels: kind/bug fix

#6822 Rewrite rectify. Medical - Add vehicle hint when loading unconscious
  addons/medical_treatment/functions/fnc_actionLoadUnit.sqf
  addons/medical_treatment/stringtable.xml
Labels: MedicalRewrite-Rectify

#6823 Rewrite rectify - Skip distance check if in same vehicle
  addons/medical_gui/functions/fnc_displayPatientInformation.sqf
Labels: MedicalRewrite-Rectify

#6825 Rewrite rectify convert option
  addons/medical_treatment/ACE_Settings.hpp
  addons/medical_treatment/functions/fnc_checkItems.sqf
  addons/medical_treatment/stringtable.xml
Labels: MedicalRewrite-Rectify

#6866 Cleanup some functions headers and macro using
  addons/arsenal/Display3DEN.hpp
  addons/captives/XEH_PREP.hpp
  addons/captives/functions/fnc_canFriskPerson.sqf
  addons/captives/functions/fnc_doFriskPerson.sqf
  addons/captives/stringtable.xml
  addons/interaction/RscTitles.hpp
  addons/medical/ACE_Medical_Treatments.hpp
  addons/medical/functions/fnc_addDamageToUnit.sqf
  addons/pylons/functions/fnc_showDialog.sqf
  addons/rearm/functions/fnc_hasEnoughSupply.sqf
Labels: kind/cleanup

#6859 More trivial code cleanup
  addons/arsenal/functions/fnc_onKeyDown.sqf
  addons/captives/XEH_postInit.sqf
  addons/captives/config.cpp
  addons/common/functions/fnc_checkFiles.sqf
  addons/disarming/config.cpp
  addons/interaction/functions/fnc_getVehiclePos.sqf
  addons/interaction/functions/fnc_getVehiclePosComplex.sqf
  addons/maptools/functions/fnc_handleMouseButton.sqf
  addons/markers/functions/fnc_setMarkerJIP.sqf
  addons/nightvision/XEH_preInit.sqf
  addons/rearm/functions/fnc_rearmSuccessLocal.sqf
  addons/recoil/functions/fnc_camshake.sqf
  addons/refuel/functions/fnc_startNozzleInHandsPFH.sqf
  addons/spectator/functions/fnc_ui_handleKeyDown.sqf
  addons/spectator/functions/fnc_ui_handleKeyUp.sqf
  addons/spectator/functions/fnc_ui_updateHelp.sqf
  addons/tagging/functions/fnc_tag.sqf
  addons/zeus/functions/fnc_moduleGlobalSetSkill.sqf
  include/a3/data_f/$PBOPREFIX$
  include/a3/ui_f/$PBOPREFIX$
  include/a3/ui_f/hpp/defineDIKCodes.inc
  include/a3/ui_f/hpp/defineResincl.inc
  include/a3/ui_f/hpp/defineResinclDesign.inc
Labels: ignore changelog, kind/cleanup

#6882 Explosives - Allow setting custom timer limits
  addons/explosives/functions/fnc_openTimerUI.sqf
  docs/wiki/framework/explosives-framework.md
Labels: kind/enhancement

#6589 Fixes to unconsciousness and damageTypes systems
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_status/functions/fnc_setUnconscious.sqf
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
Labels: kind/bug fix

#6883 Quickmount - optimize generating subActions
  addons/quickmount/CfgVehicles.hpp
  addons/quickmount/functions/fnc_canShowFreeSeats.sqf
Labels: kind/optimization

#6888 Consistently make use of the dot
  docs/wiki/development/branching-and-release.md
Labels: ignore changelog, kind/documentation

#5253 Add public function documentation script
  docs/tools/document_functions.py
  tools/event_rename.py
Labels: area/documentation, area/tools

#4605 Disable collision while carrying, Fix floating on disabled simulation objects
  addons/common/XEH_postInit.sqf
  addons/dragging/CfgVehicles.hpp
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dragObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_startCarry.sqf
  addons/dragging/functions/fnc_startDrag.sqf
Labels: kind/bug fix

#6890 Handle old public funcs, fix strings
  addons/medical/XEH_PREP.hpp
  addons/medical/XEH_preInit.sqf
  addons/medical/functions/fnc_adjustPainLevel.sqf
  addons/medical/functions/fnc_setUnconscious.sqf
  addons/medical/stringtable.xml
  addons/medical_feedback/ACE_Settings.hpp
  addons/medical_gui/InteractionBodyParts.hpp
  addons/medical_gui/gui.hpp
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/cleanup

#6891 RHS Compat - Update hearing configs values for helmets
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: area/compatibility

#6903 Medical rewrite - Fix pain effects no longer appearing
  addons/medical_feedback/XEH_preInit.sqf
Labels: kind/bug fix

#6532 Prevent bandaging when not bleeding
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/functions/fnc_canBandage.sqf
Labels: kind/Focus Feature, kind/enhancement

#6907 Medical Rewrite - Remove dropDownTriageCard function
  addons/medical/functions/fnc_updateTourniquets.sqf
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/functions/fnc_dropDownTriageCard.sqf
Labels: kind/cleanup

#6894 Interaction - Pass Magazine fixes
  addons/interaction/functions/fnc_canPassMagazine.sqf
  addons/interaction/functions/fnc_passMagazine.sqf
Labels: kind/bug fix

#6809 Fix Medical HandleDamageWounds memory leak
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  extensions/medical/handleDamage.cpp
Labels: kind/cleanup

#6892 Cookoff - Reword settings and move to cba
  addons/cookoff/ACE_Settings.hpp
  addons/cookoff/CfgEden.hpp
  addons/cookoff/XEH_preInit.sqf
  addons/cookoff/initSettings.sqf
  addons/cookoff/stringtable.xml
Labels: kind/cleanup

#6889 Add tool to verify stringtable entries exist
  addons/common/ACE_Settings.hpp
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/repair/functions/fnc_getHitPointString.sqf
  circle.yml
  tools/check_strings.py
Labels: area/tools
