Repository acemod/ACE3, pull requests merged in 2019-10, with the labels that each got.

#7217 Laserpointer - Add vanilla Joint Rails
  addons/laserpointer/CfgJointRails.hpp
Labels: kind/bug fix

#7218 Remove duplicate class declaration from laserpointer
  addons/laserpointer/CfgJointRails.hpp
Labels: ignore changelog, kind/bug fix

#7220 Update RHS AFRF static weapon carry icons
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
Labels: area/compatibility, kind/bug fix

#7221 Update RHS USF static weapon carry icons
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: area/compatibility, kind/bug fix

#7223 Fix undefined variable in reload checkAmmo function
  addons/reload/functions/fnc_checkAmmo.sqf
Labels: kind/bug fix

#7211 Add missing German translation for chemlights
  addons/chemlights/stringtable.xml
Labels: area/translations

#7210 Common - Log checkPBO errors to server log
  addons/common/scripts/checkVersionNumber.sqf
Labels: kind/enhancement

#7209 Arsenal - Don't force Camera position in Arsenal Loadouts list
  addons/arsenal/functions/fnc_onLoadoutsClose.sqf
  addons/arsenal/functions/fnc_onLoadoutsOpen.sqf
Labels: kind/enhancement

#7212 Remove Atropine
  addons/medical_treatment/ACE_Medical_Treatment.hpp
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/CfgWeapons.hpp
Labels: kind/cleanup

#7200 Change medical item masses to be same as old medical
  addons/medical_treatment/CfgWeapons.hpp
Labels: kind/enhancement

#7199 Medical - Add descriptions for limping and fracture settings
  addons/medical/stringtable.xml
Labels: kind/enhancement

#7228 Medical - Fix addDamageToUnit
  addons/medical/functions/fnc_addDamageToUnit.sqf
Labels: impact/trivial, kind/bug fix

#7216 Speed up carry animation
  addons/dragging/CfgMovesMaleSdr.hpp
  addons/dragging/config.cpp
  addons/dragging/functions/fnc_startCarry.sqf
Labels: kind/Focus Feature, kind/enhancement

#7206 Add Extensions CI Workflow (Windows)
  .github/workflows/extensions.yml
Labels: area/tools, ignore changelog

#7207 Add Arma CI Workflow (validate, lint, build)
  .github/workflows/arma.yml
  circle.yml
  docs/wiki/feature/dragon.md
  tools/search_privates.py
  tools/search_undefinedFunctions.py
  tools/search_unused_privates.py
  tools/sqf_linter.py
Labels: area/tools, ignore changelog

#7208 Add Documentation CI Workflow (dependencies, translations)
  .github/workflows/documentation.yml
  circle.yml
  tools/deploy.py
Labels: area/tools, ignore changelog

#7155 Realistic names - Contact DLC rifles added
  addons/realisticnames/CfgWeapons.hpp
  addons/realisticnames/stringtable.xml
Labels: 1.94, area/compatibility

#7112 Inventory - Adjust for changes to medical
  addons/captives/functions/fnc_addLoadCaptiveActions.sqf
  addons/common/functions/fnc_disableUserInput.sqf
  addons/common/functions/fnc_watchVariable.sqf
  addons/inventory/XEH_preStart.sqf
Labels: impact/trivial, kind/bug fix

#7219 Dragon - Remove Shadow Buffer (ShadowVolume 1000+) lods
  addons/dragon/models/ace_m47_magazine.p3d
  addons/dragon/models/ace_m47_optic.p3d
  addons/dragon/models/ace_m47_static.p3d
Labels: kind/enhancement

#7232 Common - Optimize arithmeticGetResult function
  addons/common/functions/fnc_arithmeticGetResult.sqf
  addons/common/functions/fnc_arithmeticSetSource.sqf
Labels: kind/optimization

#7189 Safemode - Fixed keybind conflict
  addons/safemode/functions/fnc_lockSafety.sqf
Labels: kind/bug fix

#7092 Safemode - add public setWeaponSafety function
  addons/safemode/XEH_PREP.hpp
  addons/safemode/functions/fnc_setWeaponSafety.sqf
Labels: kind/feature request

#7063 Medical - Option for treatment to require holstering/lowering weapon.
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/functions/fnc_canTreat.sqf
  addons/medical_treatment/functions/fnc_canTreat_holsterCheck.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#7214 Medical - Increase severity of falling damage and Improve non-selectionSpecific wounds
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/XEH_preInit.sqf
  addons/medical_damage/functions/fnc_parseConfigForInjuries.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_engine/script_macros_medical.hpp
Labels: kind/bug fix

#7195 Medical - Death from sum of trauma
  addons/medical/dev/watchVariable.sqf
  addons/medical_damage/XEH_PREP.hpp
  addons/medical_damage/functions/fnc_determineIfFatal.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_damage/initSettings.sqf
  addons/medical_damage/script_component.hpp
  addons/medical_damage/stringtable.xml
  addons/medical_treatment/functions/fnc_bandageLocal.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#7233 Medical - Report non-default settings to rpt
  addons/medical/XEH_postInit.sqf
  addons/medical/dev/reportSettings.sqf
Labels: ignore changelog

#7094 Nametags - Add Nation Ranks
  addons/nametags/CfgFactionClasses.hpp
  addons/nametags/UI/icons_france/captain_gs.paa
  addons/nametags/UI/icons_france/colonel_gs.paa
  addons/nametags/UI/icons_france/corporal_gs.paa
  addons/nametags/UI/icons_france/lieutenant_gs.paa
  addons/nametags/UI/icons_france/major_gs.paa
  addons/nametags/UI/icons_france/private_gs.paa
  addons/nametags/UI/icons_france/sergeant_gs.paa
  addons/nametags/UI/icons_germany/captain_gs.paa
  addons/nametags/UI/icons_germany/colonel_gs.paa
  addons/nametags/UI/icons_germany/corporal_gs.paa
  addons/nametags/UI/icons_germany/lieutenant_gs.paa
  addons/nametags/UI/icons_germany/major_gs.paa
  addons/nametags/UI/icons_germany/private_gs.paa
  addons/nametags/UI/icons_germany/sergeant_gs.paa
  addons/nametags/UI/icons_spain/captain_gs.paa
  addons/nametags/UI/icons_spain/colonel_gs.paa
  addons/nametags/UI/icons_spain/corporal_gs.paa
  addons/nametags/UI/icons_spain/lieutenant_gs.paa
  addons/nametags/UI/icons_spain/major_gs.paa
  addons/nametags/UI/icons_spain/private_gs.paa
  addons/nametags/UI/icons_spain/sergeant_gs.paa
  addons/nametags/UI/icons_uk/captain_gs.paa
  addons/nametags/UI/icons_uk/colonel_gs.paa
  addons/nametags/UI/icons_uk/corporal_gs.paa
  addons/nametags/UI/icons_uk/lieutenant_gs.paa
  addons/nametags/UI/icons_uk/major_gs.paa
  addons/nametags/UI/icons_uk/private_gs.paa
  addons/nametags/UI/icons_uk/sergeant_gs.paa
  addons/nametags/XEH_postInit.sqf
  addons/nametags/config.cpp
  addons/nametags/functions/fnc_setFactionRankIcons.sqf
Labels: kind/enhancement

#7224 Fast medical item replacement
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_registerItemReplacement.sqf
  addons/medical_treatment/CfgReplacementItems.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/XEH_preInit.sqf
  addons/medical_treatment/functions/fnc_checkItems.sqf
Labels: kind/Focus Feature

#7215 Medical Feedback - effects overhaul
  addons/medical_feedback/CfgSounds.hpp
  addons/medical_feedback/XEH_postInit.sqf
  addons/medical_feedback/XEH_preInit.sqf
  addons/medical_feedback/functions/fnc_effectBleeding.sqf
  addons/medical_feedback/functions/fnc_effectHeartBeat.sqf
  addons/medical_feedback/functions/fnc_effectPain.sqf
  addons/medical_feedback/functions/fnc_handleEffects.sqf
  addons/medical_feedback/functions/fnc_initEffects.sqf
  addons/medical_feedback/functions/fnc_playInjuredSound.sqf
  addons/medical_feedback/initSettings.sqf
  addons/medical_feedback/script_component.hpp
  addons/medical_feedback/stringtable.xml
Labels: kind/Focus Feature, kind/enhancement

#7237 Medical - Rename private (medical_status) version of setUnconscious
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/functions/fnc_enteredStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_leftStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_localityChangedEH.sqf
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/functions/fnc_setCardiacArrestState.sqf
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: ignore changelog

#7240 Debug to clipboard - Cleanup settings dump
  addons/optionsmenu/functions/fnc_debugDumpToClipboard.sqf
Labels: ignore changelog, kind/cleanup

#7080 Explosives - Add ace_isEOD 3DEN attribute
  addons/explosives/Cfg3DEN.hpp
  addons/explosives/config.cpp
  addons/explosives/stringtable.xml
Labels: kind/enhancement

#7023 Refuel - Add events for start, stop and progress
  addons/refuel/functions/fnc_refuel.sqf
  addons/refuel/functions/fnc_turnOff.sqf
  addons/refuel/functions/fnc_turnOn.sqf
  docs/wiki/framework/events-framework.md
Labels: area/documentation, kind/enhancement

#6955 Disposable - switch NLAW to CBA disposable system and remove ace_disposable functionality
  addons/disposable/CfgEventHandlers.hpp
  addons/disposable/CfgMagazines.hpp
  addons/disposable/CfgVehicles.hpp
  addons/disposable/CfgWeapons.hpp
  addons/disposable/README.md
  addons/disposable/XEH_PREP.hpp
  addons/disposable/XEH_postInit.sqf
  addons/disposable/XEH_preInit.sqf
  addons/disposable/XEH_preStart.sqf
  addons/disposable/config.cpp
  addons/disposable/functions/fnc_replaceATWeapon.sqf
  addons/disposable/functions/fnc_takeLoadedATWeapon.sqf
  addons/disposable/functions/fnc_updateInventoryDisplay.sqf
  addons/disposable/functions/script_component.hpp
  addons/realisticweights/CfgWeapons.hpp
  addons/realisticweights/config.cpp
  docs/wiki/feature/disposable.md
  docs/wiki/framework/disposables-framework.md
Labels: area/compatibility

#7236 Medical - Make some constants variables
  addons/medical_damage/functions/fnc_determineIfFatal.sqf
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/script_macros_medical.hpp
Labels: ignore changelog

#7246 Medical - Change WoundReopening default setting
  addons/medical_treatment/initSettings.sqf
Labels: ignore changelog

#7247 Medical - Fix addDamageToUnit
  addons/medical/functions/fnc_addDamageToUnit.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
Labels: kind/bug fix

#7243 Repair - Add settings to control item requirements for different actions
  addons/repair/ACE_Repair.hpp
  addons/repair/ACE_Settings.hpp
  addons/repair/functions/fnc_canRepair.sqf
  addons/repair/functions/fnc_repair.sqf
  addons/repair/initSettings.sqf
  addons/repair/stringtable.xml
Labels: kind/enhancement

#7251 Repair - fix string
  addons/repair/CfgVehicles.hpp
Labels: ignore changelog

#7256 Arsenal - Fix script error for weapons with 3+ muzzles
  addons/arsenal/functions/fnc_fillRightPanel.sqf
Labels: kind/bug fix

#7254 Add some editor previews
  addons/ballistics/CfgVehicles.hpp
  addons/chemlights/CfgVehicles.hpp
  addons/csw/CfgVehicles.hpp
  addons/csw/data/ace_csw_kordTripod.jpg
  addons/csw/data/ace_csw_m220Tripod.jpg
  addons/csw/data/ace_csw_m3Tripod.jpg
  addons/csw/data/ace_csw_mortarBaseplate.jpg
  addons/csw/data/ace_csw_sag30Tripod.jpg
  addons/csw/data/ace_csw_spg9Tripod.jpg
  addons/dragon/CfgVehicles.hpp
  addons/dragon/data/ace_dragon_staticAssembled.jpg
  addons/fastroping/CfgVehicles.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/data/ACE_medicalSupplyCrate.jpg
Labels: kind/enhancement

#7252 Map - Fix map shake moving to upper left corner
  addons/map/functions/fnc_initMainMap.sqf
Labels: kind/bug fix

#7259 Update No Uniform Restrictions for vanilla 1.92-1.96
  optionals/nouniformrestrictions/CfgVehicles.hpp
Labels: 1.94, area/compatibility
