Repository acemod/ACE3, pull requests merged in 2019-11, with the labels that each got.

#7147 Cookoff - Allow enabling only on player crewed vehicles
  addons/cookoff/CfgEden.hpp
  addons/cookoff/XEH_postInit.sqf
  addons/cookoff/functions/fnc_handleDamage.sqf
  addons/cookoff/initSettings.sqf
Labels: kind/enhancement

#7024 Fixing playsound3d limits
  addons/explosives/functions/fnc_dialingPhone.sqf
  addons/hot/functions/fnc_attackProfile_WIRE.sqf
  addons/tagging/functions/fnc_tag.sqf
Labels: kind/bug fix, status/needs testing

#7260 Add Czech translation
  addons/advanced_ballistics/stringtable.xml
  addons/advanced_fatigue/stringtable.xml
  addons/advanced_throwing/stringtable.xml
  addons/finger/stringtable.xml
  addons/spectator/stringtable.xml
  addons/switchunits/stringtable.xml
  addons/tagging/stringtable.xml
  addons/trenches/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/weaponselect/stringtable.xml
  addons/weather/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#7191 Spectator - Restore HUD when coming out of spectator
  addons/spectator/functions/fnc_ui.sqf
Labels: kind/bug fix

#7265 Only play repetitive sounds when game is focused
  addons/advanced_fatigue/functions/fnc_handleEffects.sqf
  addons/hearing/functions/fnc_updateVolume.sqf
  addons/main/script_mod.hpp
  addons/medical_feedback/functions/fnc_effectHeartBeat.sqf
Labels: kind/bug fix

#7268 Tagging - Group spray paint items in Arsenal
  addons/tagging/stringtable.xml
Labels: kind/enhancement

#7274 Add stringtable validation tool
  .github/workflows/arma.yml
  addons/ai/stringtable.xml
  addons/common/stringtable.xml
  addons/concertina_wire/CfgVehicles.hpp
  addons/concertina_wire/functions/fnc_deploy.sqf
  addons/concertina_wire/functions/fnc_dismount.sqf
  addons/concertina_wire/stringtable.xml
  addons/dragon/stringtable.xml
  addons/finger/stringtable.xml
  addons/gforces/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/huntir/CfgVehicles.hpp
  addons/huntir/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/maverick/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/noradio/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/repair/stringtable.xml
  addons/sandbag/stringtable.xml
  addons/spottingscope/stringtable.xml
  addons/tacticalladder/stringtable.xml
  addons/trenches/stringtable.xml
  addons/tripod/stringtable.xml
  addons/yardage450/stringtable.xml
  optionals/tracers/stringtable.xml
  tools/stringtable_validator.py
Labels: area/tools, ignore changelog

#7281 Use @ace3mod for documentation updates
  .github/workflows/documentation.yml
Labels: area/tools, ignore changelog, kind/bug fix

#7279 [kestrel_4500] Update hardcoded layer id
  addons/kestrel4500/functions/fnc_createKestrelDialog.sqf
  addons/kestrel4500/functions/fnc_displayKestrel.sqf
Labels: kind/bug fix

#7262 Update Japanese translation
  addons/csw/stringtable.xml
  addons/dragon/stringtable.xml
  addons/explosives/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/rearm/stringtable.xml
  addons/repair/stringtable.xml
Labels: area/translations

#7284 fix repair strings
  addons/repair/stringtable.xml
Labels: ignore changelog

#7285 Flashsuppressors - Update muzzle configs
  addons/flashsuppressors/CfgWeapons.hpp
Labels: kind/bug fix

#7283 Trenches - Add item check to progressBar
  addons/trenches/functions/fnc_continueDiggingTrench.sqf
  addons/trenches/functions/fnc_removeTrench.sqf
Labels: kind/bug fix

#7286 Add\Update Trad Chinese Translate
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/csw/stringtable.xml
  addons/dragon/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hot/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/rearm/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#7287 Add tchinese translation,for almost every stringtable i can find
  README.zh-TW.md
  addons/ballistics/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/csw/stringtable.xml
  addons/explosives/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/flashsuppressors/stringtable.xml
  addons/interaction/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/repair/stringtable.xml
  addons/spectator/stringtable.xml
  addons/vehicles/stringtable.xml
Labels: area/translations
