Repository acemod/ACE3, pull requests merged in 2019-06, with the labels that each got.

#7029 Grenades - Don't flashbang spectators
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
Labels: impact/trivial, kind/bug fix

#7022 Move gunbag type from inheritance to config property
  addons/gunbag/CfgVehicles.hpp
  addons/gunbag/functions/fnc_calculateMass.sqf
  addons/gunbag/functions/fnc_canInteract.sqf
  addons/gunbag/functions/fnc_hasGunbag.sqf
  docs/wiki/framework/gunbag-framework.md
Labels: kind/enhancement

#7014 Missileguidance - Use checkVisibility to test LOS for missile seekers
  addons/missileguidance/functions/fnc_checkLos.sqf
Labels: kind/enhancement

#7033 Fix js-yaml vulnerability
  docs/src/package-lock.json
  docs/src/package.json
Labels: area/documentation, ignore changelog

#7041 Medical - fix canTreat
  addons/medical_treatment/functions/fnc_canTreat.sqf
Labels: ignore changelog

#6920 Translations - German
  AUTHORS.txt
  addons/advanced_fatigue/stringtable.xml
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/explosives/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/gforces/stringtable.xml
  addons/hearing/stringtable.xml
  addons/hot/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/pylons/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/repair/stringtable.xml
  addons/respawn/stringtable.xml
  addons/scopes/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/weaponselect/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#7048 Medical Treatment - Fix medication and ivBagLocal typos
  addons/medical_treatment/functions/fnc_ivBagLocal.sqf
  addons/medical_treatment/functions/fnc_medication.sqf
Labels: ignore changelog

#6988 Medical Menu - Hide categories if they don't have any actions
  addons/medical_gui/functions/fnc_onMenuOpen.sqf
Labels: kind/cleanup

#7017 Unblacklist vanilla medical items from arsenal
  addons/medical_treatment/CfgWeapons.hpp
Labels: area/config

#7010 Medical - Fix severity of wound bleeding and adjust cardiac output calculations
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_status/functions/fnc_getBloodLoss.sqf
  addons/medical_status/functions/fnc_getBloodPressure.sqf
  addons/medical_status/functions/fnc_getCardiacOutput.sqf
  addons/medical_status/functions/fnc_updateWoundBloodLoss.sqf
  addons/medical_vitals/functions/fnc_updateHeartRate.sqf
Labels: kind/Focus Feature, kind/enhancement

#7030 Medical - Fix unconsicous problems with minWaitingTime and fullHealLocal
  addons/medical_statemachine/XEH_preInit.sqf
  addons/medical_statemachine/functions/fnc_handleStateUnconscious.sqf
  addons/medical_status/functions/fnc_initUnit.sqf
  addons/medical_status/functions/fnc_setUnconscious.sqf
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/functions/fnc_fullHealLocal.sqf
  addons/medical_vitals/XEH_preInit.sqf
  addons/zeus/functions/fnc_moduleHeal.sqf
Labels: kind/bug fix

#7047 Medical Treatment - Add medical facility classes config
  addons/medical_treatment/ACE_Medical_Facilities.hpp
  addons/medical_treatment/Cfg3DEN.hpp
  addons/medical_treatment/XEH_preInit.sqf
  addons/medical_treatment/config.cpp
Labels: kind/enhancement

#7050 Cleanup german stringtables
  addons/zeus/stringtable.xml
Labels: ignore changelog

#7049 Medical Treatment - Scale bandage time based on amount of wound treated
  addons/medical_treatment/functions/fnc_getBandageTime.sqf
Labels: kind/bug fix

#7059 Medical Engine without parentheses
  addons/medical_engine/script_component.hpp
Labels: ignore changelog, kind/enhancement

#7067 Common - Let isEOD handle non bools
  addons/common/functions/fnc_isEOD.sqf
Labels: impact/trivial, kind/bug fix

#7058 Medical - Add macros for wounds variables
  addons/medical/dev/watchVariable.sqf
  addons/medical_damage/functions/fnc_handleIncapacitation.sqf
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_engine/functions/fnc_updateDamageEffects.sqf
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_gui/functions/fnc_modifyAction.sqf
  addons/medical_gui/functions/fnc_updateBodyImage.sqf
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_status/functions/fnc_initUnit.sqf
  addons/medical_status/functions/fnc_updateWoundBloodLoss.sqf
  addons/medical_treatment/functions/fnc_bandageLocal.sqf
  addons/medical_treatment/functions/fnc_canBandage.sqf
  addons/medical_treatment/functions/fnc_canStitch.sqf
  addons/medical_treatment/functions/fnc_createLitter.sqf
  addons/medical_treatment/functions/fnc_findMostEffectiveWound.sqf
  addons/medical_treatment/functions/fnc_fullHealLocal.sqf
  addons/medical_treatment/functions/fnc_getStitchTime.sqf
  addons/medical_treatment/functions/fnc_handleBandageOpening.sqf
  addons/medical_treatment/functions/fnc_surgicalKitProgress.sqf
Labels: kind/cleanup

#6918 Medical - Change animation for cpr
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
Labels: kind/enhancement

#7045 Medical - Finish splint/fracture
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_feedback/CfgSounds.hpp
  addons/medical_feedback/XEH_postInit.sqf
  addons/medical_feedback/script_component.hpp
  addons/medical_feedback/sounds/fracture_1.wav
  addons/medical_feedback/sounds/fracture_2.wav
  addons/medical_feedback/sounds/fracture_3.wav
  addons/medical_feedback/sounds/fracture_4.wav
  addons/medical_gui/ui/splint.paa
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/CfgReplacementItems.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/CfgWeapons.hpp
  addons/medical_treatment/data/littergeneric_splint.p3d
  addons/medical_treatment/data/model.cfg
  addons/medical_treatment/data/splint.p3d
  addons/medical_treatment/data/splint.rvmat
  addons/medical_treatment/data/splint_as.paa
  addons/medical_treatment/data/splint_ca.paa
  addons/medical_treatment/data/splint_nohq.paa
  addons/medical_treatment/data/splint_smdi.paa
  addons/medical_treatment/ui/splint_ca.paa
Labels: kind/enhancement

#7072 Maptools - Don't convert vanilla straight lines
  addons/maptools/functions/fnc_handleMouseButton.sqf
Labels: kind/enhancement

#7069 Medical Blood - Settings improvements and cleanup
  addons/medical_blood/CfgEventHandlers.hpp
  addons/medical_blood/README.md
  addons/medical_blood/XEH_PREP.hpp
  addons/medical_blood/XEH_postInit.sqf
  addons/medical_blood/config.cpp
  addons/medical_blood/functions/fnc_cleanupLoop.sqf
  addons/medical_blood/functions/fnc_createBlood.sqf
  addons/medical_blood/functions/fnc_handleWoundReceived.sqf
  addons/medical_blood/functions/fnc_init.sqf
  addons/medical_blood/functions/fnc_isBleeding.sqf
  addons/medical_blood/functions/fnc_onBleeding.sqf
  addons/medical_blood/functions/fnc_spurt.sqf
  addons/medical_blood/initSettings.sqf
  addons/medical_blood/script_component.hpp
  addons/medical_blood/stringtable.xml
Labels: kind/cleanup, kind/enhancement

#7074 Stop AI firing at unconscious units
  addons/medical_status/functions/fnc_setUnconscious.sqf
Labels: kind/bug fix

#7060 Medical - Rework CPR and Bleeding in cardiac arrest
  addons/medical/dev/watchVariable.sqf
  addons/medical_gui/functions/fnc_onMenuClose.sqf
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/XEH_PREP.hpp
  addons/medical_statemachine/functions/fnc_conditionCardiacArrestTimer.sqf
  addons/medical_statemachine/functions/fnc_enteredStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_handleStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_leftStateCardiacArrest.sqf
  addons/medical_status/functions/fnc_getBloodLoss.sqf
  addons/medical_status/functions/fnc_getCardiacOutput.sqf
  addons/medical_status/functions/fnc_setCardiacArrest.sqf
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/ACE_Settings.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/functions/fnc_calculateBlood.sqf
  addons/medical_treatment/functions/fnc_canCPR.sqf
  addons/medical_treatment/functions/fnc_cprFailure.sqf
  addons/medical_treatment/functions/fnc_cprLocal.sqf
  addons/medical_treatment/functions/fnc_cprProgress.sqf
  addons/medical_treatment/functions/fnc_cprStart.sqf
  addons/medical_treatment/functions/fnc_cprSuccess.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
  addons/medical_vitals/functions/fnc_updateHeartRate.sqf
Labels: kind/enhancement

#7057 Medical - Cleanup settings
  addons/common/functions/fnc_cbaSettings.sqf
  addons/medical/initSettings.sqf
  addons/medical/stringtable.xml
  addons/medical_blood/CfgEventHandlers.hpp
  addons/medical_blood/README.md
  addons/medical_blood/XEH_PREP.hpp
  addons/medical_blood/XEH_postInit.sqf
  addons/medical_blood/config.cpp
  addons/medical_blood/functions/fnc_cleanupLoop.sqf
  addons/medical_blood/functions/fnc_createBlood.sqf
  addons/medical_blood/functions/fnc_handleWoundReceived.sqf
  addons/medical_blood/functions/fnc_init.sqf
  addons/medical_blood/functions/fnc_isBleeding.sqf
  addons/medical_blood/functions/fnc_onBleeding.sqf
  addons/medical_blood/functions/fnc_spurt.sqf
  addons/medical_blood/initSettings.sqf
  addons/medical_blood/script_component.hpp
  addons/medical_blood/stringtable.xml
  addons/medical_damage/initSettings.sqf
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/ACE_Settings.hpp
  addons/medical_feedback/initSettings.sqf
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/ACE_Settings.hpp
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/config.cpp
  addons/medical_statemachine/functions/fnc_handleStateUnconscious.sqf
  addons/medical_statemachine/initSettings.sqf
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/ACE_settings.hpp
  addons/medical_status/functions/fnc_getBloodVolumeChange.sqf
  addons/medical_status/initSettings.sqf
  addons/medical_status/stringtable.xml
  addons/medical_treatment/ACE_Settings.hpp
  addons/medical_treatment/config.cpp
  addons/medical_treatment/initSettings.sqf
Labels: kind/cleanup, kind/enhancement

#7079 Update fnc_handleStateUnconscious.sqf
  addons/medical_statemachine/functions/fnc_handleStateUnconscious.sqf
Labels: ignore changelog

#7078 Movement - shorten transition 'run lowered rifle' -> 'jump with rifle'
  addons/movement/CfgMoves.hpp
Labels: kind/enhancement
