Repository acemod/ACE3, pull requests merged in 2019-07, with the labels that each got.

#7016 Cargo - Add array to disable paradrop effects
  addons/cargo/XEH_preInit.sqf
  addons/cargo/functions/fnc_paradropItem.sqf
Labels: kind/bug fix

#6902 Medical AI - Adjust healing logic for rewrite
  addons/medical/dev/debugDisplay.sqf
  addons/medical_ai/StateMachine.hpp
  addons/medical_ai/XEH_PREP.hpp
  addons/medical_ai/XEH_postInit.sqf
  addons/medical_ai/config.cpp
  addons/medical_ai/functions/fnc_canRequestMedic.sqf
  addons/medical_ai/functions/fnc_healSelf.sqf
  addons/medical_ai/functions/fnc_healUnit.sqf
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_ai/functions/fnc_isInjured.sqf
  addons/medical_ai/functions/fnc_playTreatmentAnim.sqf
  addons/medical_ai/initSettings.sqf
  addons/medical_ai/stateMachine.sqf
  addons/medical_ai/stringtable.xml
Labels: kind/enhancement

#7084 Small med stuff
  addons/advanced_fatigue/XEH_postInit.sqf
  addons/medical/script_component.hpp
  addons/medical_gui/functions/fnc_menuPFH.sqf
  addons/medical_gui/initSettings.sqf
  addons/medical_treatment/functions/fnc_tourniquet.sqf
Labels: ignore changelog

#7082 RHS CSW compatability
  addons/apl/ACE_CSW_m3_tripod.p3d
  addons/apl/ACE_CSW_mortarBaseplate.p3d
  addons/apl/ace_csw_tripod_ags30.p3d
  addons/apl/ace_csw_tripod_kord.p3d
  addons/apl/ace_csw_tripod_m122.p3d
  addons/apl/ace_csw_tripod_m220.p3d
  addons/apl/ace_csw_tripod_spg9.p3d
  addons/apl/data/csw_nsv.rvmat
  addons/apl/data/csw_nsv_co.paa
  addons/apl/data/csw_nsv_nohq.paa
  addons/apl/data/csw_nsv_smdi.paa
  addons/apl/data/csw_spg9.rvmat
  addons/apl/data/csw_spg9_co.paa
  addons/apl/data/csw_spg9_nohq.paa
  addons/apl/data/csw_spg9_smdi.paa
  addons/apl/data/csw_tow_merge.rvmat
  addons/apl/data/csw_tow_merge_co.paa
  addons/apl/data/csw_tow_merge_nohq.paa
  addons/apl/data/csw_tow_merge_smdi.paa
  addons/apl/data/csw_tripod_ags.rvmat
  addons/apl/data/csw_tripod_ags_co.paa
  addons/apl/data/csw_tripod_ags_nohq.paa
  addons/apl/data/csw_tripod_ags_smdi.paa
  addons/common/stringtable.xml
  addons/csw/CfgMagazineGroups.hpp
  addons/csw/CfgVehicles.hpp
  addons/csw/CfgWeapons.hpp
  addons/csw/data/model.cfg
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/stringtable.xml
  docs/wiki/framework/crew-served-weapons-framework.md
  optionals/compat_rhs_afrf3/CfgMagazineGroups.hpp
  optionals/compat_rhs_afrf3/CfgMagazines.hpp
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_afrf3/config.cpp
  optionals/compat_rhs_afrf3/stringtable.xml
  optionals/compat_rhs_gref3/CfgVehicles.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/config.cpp
  optionals/compat_rhs_gref3/stringtable.xml
  optionals/compat_rhs_usf3/CfgMagazineGroups.hpp
  optionals/compat_rhs_usf3/CfgMagazines.hpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/config.cpp
  optionals/compat_rhs_usf3/stringtable.xml
Labels: area/compatibility, kind/enhancement

#7090 QuickMount - Improve interact menu getIn for static weapon
  addons/quickmount/XEH_postInitClient.sqf
  addons/quickmount/functions/fnc_getInNearest.sqf
Labels: kind/bug fix

#7091 Medical - add dummy cfgVehicle entries for old modules
  addons/medical/CfgVehicles.hpp
  addons/medical_treatment/script_component.hpp
Labels: ignore changelog

#7068 CSW/Dragon cleanup and rearm compat
  addons/common/stringtable.xml
  addons/csw/Cfg3den.hpp
  addons/csw/CfgVehicles.hpp
  addons/csw/CfgWeapons.hpp
  addons/csw/XEH_PREP.hpp
  addons/csw/config.cpp
  addons/csw/cswDesign.txt
  addons/csw/functions/fnc_aceRearmGetCarryMagazines.sqf
  addons/csw/functions/fnc_ai_handleFired.sqf
  addons/csw/functions/fnc_assemble_canPickupWeapon.sqf
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_assemble_deployWeapon.sqf
  addons/csw/functions/fnc_proxyWeapon.sqf
  addons/csw/functions/fnc_reload_getLoadableMagazines.sqf
  addons/csw/functions/fnc_reload_handleAddTurretMag.sqf
  addons/csw/functions/fnc_staticWeaponInit.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
  addons/csw/script_component.hpp
  addons/csw/script_config_macros_csw.hpp
  addons/csw/stringtable.xml
  addons/dragon/CfgAmmo.hpp
  addons/dragon/CfgVehicles.hpp
  addons/dragon/CfgWeapons.hpp
  addons/dragon/XEH_postInit.sqf
  addons/dragon/config.cpp
  addons/dragon/data/m47_daysight_interaction_attach.paa
  addons/dragon/data/m47_daysight_interaction_detach.paa
  addons/dragon/functions/fnc_attackProfile_DRAGON.sqf
  addons/dragon/functions/fnc_sightAttach.sqf
  addons/dragon/functions/fnc_sightCanAttach.sqf
  addons/dragon/functions/fnc_sightCanDetach.sqf
  addons/dragon/functions/fnc_sightDetach.sqf
  addons/dragon/models/M47.p3d
  addons/dragon/models/M47_loaded.p3d
  addons/dragon/models/ace_m47_static.p3d
  addons/dragon/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/rearm/functions/fnc_addRearmActions.sqf
  addons/rearm/functions/fnc_getMagazineName.sqf
  addons/rearm/functions/fnc_getNeedRearmMagazines.sqf
  addons/rearm/functions/fnc_rearmEntireVehicleSuccessLocal.sqf
  addons/rearm/functions/fnc_takeAmmo.sqf
  addons/rearm/functions/fnc_takeSuccess.sqf
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_afrf3/config.cpp
  optionals/compat_rhs_afrf3/stringtable.xml
  optionals/compat_rhs_gref3/CfgVehicles.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/config.cpp
  optionals/compat_rhs_gref3/stringtable.xml
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/config.cpp
  optionals/compat_rhs_usf3/stringtable.xml
Labels: kind/cleanup, kind/enhancement

#7095 Medical Feedback - Fix short blackout on any pain
  addons/medical_feedback/functions/fnc_initEffects.sqf
Labels: impact/trivial

#7098 Medical - Fix hitpoints on VR units
  addons/medical/config.cpp
  addons/medical/dev/test_hitpointConfigs.sqf
  addons/medical_engine/CfgVehicles.hpp
Labels: impact/trivial

#7099 [compat_rhs_usf3] ACE Explosives functionality for RHS USAF
  optionals/compat_rhs_usf3/CfgAmmo.hpp
  optionals/compat_rhs_usf3/CfgMagazines.hpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/config.cpp
Labels: area/compatibility, kind/enhancement

#7100 [explosives] Correct class inheritance for ACE_IEDLandSmall_Range_Ammo
  addons/explosives/CfgAmmo.hpp
Labels: kind/bug fix

#7103 Medical Engine - Report any fatal head damage
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: impact/trivial, kind/bug fix

#7105 FIX French STR_ACE_Common_Anywhere
  addons/common/stringtable.xml
Labels: area/translations, kind/bug fix

#7106 Missing return line in coding guide lines for SETPVAR
  docs/wiki/development/coding-guidelines.md
Labels: area/documentation, ignore changelog, kind/bug fix

#7111 Update Japanese translation
  addons/medical/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/spectator/stringtable.xml
  addons/vehicles/stringtable.xml
Labels: area/translations

#7101 Update Load Order for 1.94 Contact DLC
  addons/main/config.cpp
  addons/main/script_mod.hpp
Labels: 1.94, kind/task

#7107 Zeus - FIX ace_zeus_fnc_moduleSetMedicalVehicle setting wrong variable
  addons/zeus/functions/fnc_moduleSetMedicalVehicle.sqf
Labels: kind/bug fix
