Repository acemod/ACE3, pull requests merged in 2020-06, with the labels that each got.

#7672 Trenches - Fix mission placed trench interactions
  addons/trenches/functions/fnc_canContinueDiggingTrench.sqf
  addons/trenches/functions/fnc_continueDiggingTrench.sqf
  addons/trenches/functions/fnc_placeConfirm.sqf
  addons/trenches/functions/fnc_removeTrench.sqf
Labels: kind/bug fix

#7711 RHS USF Compatibility - Change RHS_CH_47F class (#7708)
  AUTHORS.txt
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/config.cpp
Labels: kind/bug fix

#7720 Spectator - Add display loaded and unloaded events
  addons/spectator/functions/fnc_ui_handleLoad.sqf
  addons/spectator/functions/fnc_ui_handleUnload.sqf
  addons/spectator/ui.hpp
  docs/wiki/framework/spectator-framework.md
Labels: kind/feature request

#7676 switchUnits - Fix switching units not working (#6188)
  addons/switchunits/functions/fnc_addMapFunction.sqf
  addons/switchunits/functions/fnc_handleMapClick.sqf
  addons/switchunits/functions/fnc_initPlayer.sqf
  addons/switchunits/functions/fnc_startSwitchUnits.sqf
Labels: kind/bug fix

#7694 Arsenal - Add grenade fuse time stat
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_explosionTime.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#7751 MicroDagr - Don't show markers on compass "map" control
  addons/microdagr/gui_controls.hpp
Labels: kind/bug fix

#7750 GForces - Add forces strength coefficient setting
  addons/gforces/ACE_Settings.hpp
  addons/gforces/XEH_preInit.sqf
  addons/gforces/functions/fnc_pfhUpdateGForces.sqf
  addons/gforces/initSettings.sqf
  addons/gforces/stringtable.xml
Labels: kind/enhancement

#7699 Advanced Ballistics - Improve Performance in handleFirePFH
  addons/advanced_ballistics/XEH_postInit.sqf
  addons/advanced_ballistics/functions/fnc_handleFirePFH.sqf
  addons/advanced_ballistics/functions/fnc_handleFired.sqf
Labels: kind/optimization

#7700 Wind Deflection - Improve Performance in updateTrajectoryPFH
  addons/winddeflection/functions/fnc_updateTrajectoryPFH.sqf
Labels: kind/optimization

#7746 Dragging - Add Keybind for Carry
  addons/dragging/XEH_postInit.sqf
  addons/dragging/stringtable.xml
Labels: kind/feature request

#7747 Medical - Add Global Wound Reopen Chance Modifer
  AUTHORS.txt
  addons/medical_treatment/functions/fnc_handleBandageOpening.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/feature request

#7745 Medical - Add Patient Info to Layout Editor
  addons/medical_gui/CfgUIGrids.hpp
  addons/medical_gui/config.cpp
  addons/medical_gui/gui.hpp
  addons/medical_gui/script_component.hpp
  addons/medical_gui/stringtable.xml
  addons/medical_gui/ui/patient_info_preview_ca.paa
Labels: kind/enhancement

#7730 Reload - Fix display ammo count in vehicle
  addons/reload/CfgEventHandlers.hpp
  addons/reload/functions/fnc_displayAmmo.sqf
Labels: kind/bug fix, kind/enhancement

#7702 RHS Compat ADD Missing (undefined) Weapons
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: area/compatibility, kind/enhancement

#7744 Medical Feedback - Fix overriding hearing setting when unconscious
  addons/medical_feedback/XEH_postInit.sqf
Labels: kind/bug fix

#7734 Compat_rhs_afrf3 - Add RHS:AFRF explosives compatibility
  optionals/compat_rhs_afrf3/CfgAmmo.hpp
  optionals/compat_rhs_afrf3/CfgMagazines.hpp
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/config.cpp
Labels: area/compatibility

#7735 Compat_rhs_gref3 - Add RHS:GREF explosives compatibility
  optionals/compat_rhs_gref3/CfgAmmo.hpp
  optionals/compat_rhs_gref3/CfgMagazines.hpp
  optionals/compat_rhs_gref3/CfgVehicles.hpp
  optionals/compat_rhs_gref3/config.cpp
Labels: area/compatibility

#7736 Compat_rhs_usf3 - Improve RHS:USAF explosives compatibility
  optionals/compat_rhs_usf3/CfgAmmo.hpp
  optionals/compat_rhs_usf3/CfgMagazines.hpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
Labels: area/compatibility

#7567 Ballistics - Fix DMR_03 (SIG556) initSpeed
  addons/ballistics/CfgMagazineWells.hpp
  addons/ballistics/CfgMagazines.hpp
  addons/ballistics/CfgWeapons.hpp
Labels: kind/cleanup, kind/enhancement

#7752 Aircraft - Restore missing laser designator on Commanche
  addons/aircraft/Heli_Attack_01_base_F.hpp
  addons/hellfire/CfgVehicles.hpp
  addons/hellfire/config.cpp
Labels: kind/bug fix

#7692 Quick Mount - Fix change seat while vehicle is moving
  addons/quickmount/functions/fnc_addFreeSeatsActions.sqf
Labels: kind/bug fix

#7758 pDrive dumbies for make.py
  tools/pDummies/rhsafrf/addons/rhs_airweapons/rhs_m_pfm1_d
  tools/pDummies/rhsafrf/addons/rhs_airweapons/rhs_m_ptm1_d
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_msk40p_blue_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_msk40p_green_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_msk40p_red_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_msk40p_white_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_ozm72_a_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_ozm72_b_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_ozm72_c_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_pmn2
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_sm320_green_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_sm320_red_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_sm320_white_e
  tools/pDummies/rhsafrf/addons/rhs_weapons/mines/rhs_tm62m
  tools/pDummies/rhsafrf/addons/rhs_weapons2/explosives/rhs_ec200_e
  tools/pDummies/rhsafrf/addons/rhs_weapons2/explosives/rhs_ec200_sand_e
  tools/pDummies/rhsafrf/addons/rhs_weapons2/explosives/rhs_ec400_e
  tools/pDummies/rhsafrf/addons/rhs_weapons2/explosives/rhs_ec400_sand_e
  tools/pDummies/rhsafrf/addons/rhs_weapons2/explosives/rhs_ec75_e
  tools/pDummies/rhsafrf/addons/rhs_weapons2/explosives/rhs_ec75_sand_e
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/A200/A200_BZ_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/A200/A200_DZ35_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Glasmine43/GLMI43_BZ_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Glasmine43/GLMI43_HZ_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/M2A3B/M2A3_HELPER_TRIPWIRE
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/M2A3B/M2A3_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/M2_TETRYTOL_x2/M2TET_x2_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/M3/M3_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/M3/M6M7FUZE_HELPER_TRIPWIRE
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/M7A2/M7A2_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/MKII_BOOBYTRAP/MKII_TRAP_ITEM
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Smine35/SMI35_HELPER_TRIP
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Smine35/SMI35_ITEM_PRESS
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Smine44/SMI44_HELPER_TRIP
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Smine44/SMI44_ITEM_PRESS
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Stockmine43/STMI43_HELPER_2M
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/Stockmine43/STMI43_HELPER_4M
  tools/pDummies/rhsgref/addons/rhsgref_weapons2/mines/TM43/TM43
  tools/pDummies/rhsusf/addons/rhsusf_weapons/mines/rhsusf_m14_d
  tools/pDummies/rhsusf/addons/rhsusf_weapons/mines/rhsusf_m49a1_a_e
  tools/pDummies/rhsusf/addons/rhsusf_weapons/mines/rhsusf_m49a1_b_e
  tools/pDummies/rhsusf/addons/rhsusf_weapons/mines/rhsusf_m49a1_c_e
Labels: ignore changelog

#7756 Fastroping - Fix FRIES removal
  AUTHORS.txt
  addons/fastroping/XEH_preInit.sqf
  addons/fastroping/functions/fnc_equipFRIES.sqf
  addons/fastroping/functions/fnc_unequipFRIES.sqf
Labels: kind/bug fix

#7760 Rearm - Fix some magazine types duplicating during rearm
  addons/rearm/functions/fnc_setTurretMagazineAmmo.sqf
Labels: kind/bug fix

#7759 Medical - Fix typo in vital adjustment conditional
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
Labels: kind/bug fix

#7762 Ignore - Testing deploy bot
  tools/deploy.py
Labels: ignore changelog

#7763 Translations - Update / Fix French Translations
  addons/dragging/stringtable.xml
  addons/gforces/stringtable.xml
  addons/medical_gui/stringtable.xml
Labels: area/translations

#7764 Translations - Update / Fix Russian
  addons/arsenal/stringtable.xml
  addons/dragging/stringtable.xml
  addons/gforces/stringtable.xml
  addons/medical_gui/stringtable.xml
Labels: area/translations

#7713 Gunbag - Add weapon swapping
  addons/gunbag/CfgVehicles.hpp
  addons/gunbag/XEH_PREP.hpp
  addons/gunbag/XEH_preInit.sqf
  addons/gunbag/functions/fnc_canInteract.sqf
  addons/gunbag/functions/fnc_swapGunbag.sqf
  addons/gunbag/functions/fnc_swapGunbagCallback.sqf
  addons/gunbag/initSettings.sqf
  addons/gunbag/stringtable.xml
Labels: kind/enhancement

#7653 Map Gestures - Rewrite and Add Zeus, and Spectator support
  addons/map_gestures/ACE_Settings.hpp
  addons/map_gestures/CfgEventHandlers.hpp
  addons/map_gestures/XEH_PREP.hpp
  addons/map_gestures/XEH_postInit.sqf
  addons/map_gestures/XEH_preInit.sqf
  addons/map_gestures/functions/fnc_drawMapGestures.sqf
  addons/map_gestures/functions/fnc_endTransmit.sqf
  addons/map_gestures/functions/fnc_getProximityPlayers.sqf
  addons/map_gestures/functions/fnc_initDisplayCurator.sqf
  addons/map_gestures/functions/fnc_initDisplayDiary.sqf
  addons/map_gestures/functions/fnc_initDisplaySpectator.sqf
  addons/map_gestures/functions/fnc_initTransmit.sqf
  addons/map_gestures/functions/fnc_receiverInit.sqf
  addons/map_gestures/functions/fnc_transmit.sqf
  addons/map_gestures/functions/fnc_transmitterInit.sqf
  addons/map_gestures/initSettings.sqf
  addons/map_gestures/script_component.hpp
  addons/map_gestures/stringtable.xml
  addons/spectator/functions/fnc_ui_handleLoad.sqf
Labels: kind/enhancement

#7757 Common - Fix disableUserInput blocking already open Zeus display
  addons/common/functions/fnc_disableUserInput.sqf
Labels: kind/bug fix

#7710 Tagging - Add support for mission Tags
  addons/tagging/XEH_PREP.hpp
  addons/tagging/functions/fnc_addCustomTag.sqf
  addons/tagging/functions/fnc_applyCustomTag.sqf
  addons/tagging/functions/fnc_compileConfigTags.sqf
  addons/tagging/functions/fnc_createTag.sqf
  addons/tagging/functions/fnc_parseConfigTag.sqf
  addons/tagging/functions/fnc_quickTag.sqf
  addons/tagging/functions/fnc_tag.sqf
  docs/wiki/framework/tagging-framework.md
Labels: kind/enhancement

#7521 Medical - Improve injured sound by exiting the function earlier if no player is around
  addons/medical_feedback/functions/fnc_playInjuredSound.sqf
Labels: kind/optimization

#7766 Pylons - Fix disconnect handling
  addons/pylons/functions/fnc_handleDisconnect.sqf
Labels: kind/bug fix

#7767 Add Simplify Chinese Localization to medical stringtable.xml
  addons/medical/stringtable.xml
Labels: area/translations

#7773 Add missing Polish translations
  addons/arsenal/stringtable.xml
  addons/dragging/stringtable.xml
  addons/gunbag/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7770 Translations - Russian
  addons/gunbag/stringtable.xml
  addons/map_gestures/stringtable.xml
Labels: area/translations

#7774 Update stringtable_validator.py
  tools/stringtable_validator.py
Labels: area/tools

#7776 Translations - fix Polish punctuation
  addons/csw/stringtable.xml
  addons/gunbag/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7772 Add: Simplified Chinese Translation for medical items and GUI
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7778 Add support for ED-1D and ED-1E drones
  addons/logistics_uavbattery/CfgVehicles.hpp
  addons/refuel/CfgVehicles.hpp
Labels: kind/enhancement

#7596 Arsenal - add custom right panel misc items buttons
  AUTHORS.txt
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/config.cpp
  addons/arsenal/data/iconCustom.paa
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_addRightPanelButton.sqf
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/ui/RscAttributes.hpp
  addons/arsenal/ui/RscCustomArsenalButton.hpp
Labels: kind/enhancement

#7775 Translations - Update / Fix French Translations (gunbag and map_gestures modules)
  addons/gunbag/stringtable.xml
  addons/map_gestures/stringtable.xml
Labels: area/translations

#7781 Update release-drafter.yml
  .github/release-drafter.yml
Labels: area/tools, ignore changelog

#7768 Update fortify documentation
  docs/wiki/frameworkx/fortify-framework.md
Labels: area/documentation, ignore changelog, status/merge on release

#7780 Tools - Update search_undefinedFunctions.py
  tools/search_undefinedFunctions.py
Labels: area/tools, ignore changelog

#7786 Translations - Russian
  addons/ballistics/stringtable.xml
Labels: area/translations
