Repository acemod/ACE3, pull requests merged in 2020-09, with the labels that each got.

#7886 Quick Mount: Check vehicle simulation
  addons/quickmount/functions/fnc_canShowFreeSeats.sqf
  addons/quickmount/functions/fnc_getInNearest.sqf
Labels: kind/enhancement, status/discussion

#7918 Compat RHS USAF - Fix CH-47 ramp actions
  optionals/compat_rhs_usf3/CfgVehicles.hpp
Labels: area/compatibility

#7890 Arsenal - Remove launcher sorts
  addons/arsenal/ACE_Arsenal_Sorts.hpp
Labels: kind/enhancement
