Repository acemod/ACE3, pull requests merged in 2020-11, with the labels that each got.

#7975 Interaction - Fix door opening for buildings with 10+ doors
  addons/interaction/functions/fnc_getDoorAnimations.sqf
Labels: kind/bug fix

#7889 Arsenal - Conditional on sorts
  addons/arsenal/ACE_Arsenal_Sorts.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_addSort.sqf
  addons/arsenal/functions/fnc_compileSorts.sqf
  addons/arsenal/functions/fnc_fillSort.sqf
  addons/arsenal/functions/fnc_sortPanel.sqf
  addons/arsenal/functions/fnc_sortStatement_amount.sqf
Labels: kind/enhancement

#7981 Arsenal - Fix missing semi-colon
  addons/arsenal/functions/fnc_fillSort.sqf
Labels: ignore changelog

#7978 Repair - Fix spare wheels receiving fall damage
  addons/repair/CfgVehicles.hpp
Labels: kind/bug fix

#7985 Add Dahlgren to maintainers
  AUTHORS.txt
  docs/team.md
Labels: ignore changelog, kind/documentation

#7991 Update my GitHub link
  docs/team.md
Labels: ignore changelog, kind/documentation

#7989 Arsenal - Fix fnc_sortStatement_protection
  addons/arsenal/functions/fnc_sortStatement_protection.sqf
Labels: ignore changelog, kind/bug fix

#7988 Translations - Update / Fix French Translations (Medical Treatment)
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7987 Translations - Update French Translations (Arsenal, Markers and Medical GUI)
  addons/arsenal/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical_gui/stringtable.xml
Labels: area/translations

#7993 Translations - Update French Translations (Medical Treatment)
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7990 DAGR / Interaction Menu / Repair - Fix overwriting globals
  addons/dagr/Dialog.hpp
  addons/dagr/functions/fnc_menuInit.sqf
  addons/disarming/functions/fnc_disarmDropItems.sqf
  addons/interact_menu/functions/fnc_keyUp.sqf
  addons/interact_menu/functions/fnc_render.sqf
  addons/interact_menu/functions/fnc_userActions_getHouseActions.sqf
  addons/repair/functions/fnc_normalizeHitPoints.sqf
Labels: kind/bug fix

#7547 Medical Statemachine - Add setting to disallow bleedout in cardiac arrest
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/initSettings.sqf
  addons/medical_statemachine/stringtable.xml
Labels: kind/bug fix

#7982 Ballistics - Update the B 556x45 dual
  addons/ballistics/CfgAmmo.hpp
  addons/scopes/CfgWeapons.hpp
Labels: kind/bug fix

#7977 Medical Status - Fix unconscious AI aiming at enemies
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/bug fix

#7995 Medical AI - Fix unconscious medics not being healed by other AI medics
  addons/medical_ai/functions/fnc_canRequestMedic.sqf
Labels: kind/bug fix

#7994 Explosives - Add `clackerAdded` event
  addons/explosives/functions/fnc_addClacker.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#7997 Translations - Update French Translations (Medical Statemachine)
  addons/medical_statemachine/stringtable.xml
Labels: area/translations

#7998 Medical Statemachine - Ensure bleedout condition string is code
  addons/medical_statemachine/Statemachine.hpp
Labels: ignore changelog, kind/bug fix

#7999 Medical Statemachine - Fix players occasionally being invincible after respawning
  addons/medical_statemachine/functions/fnc_resetStateDefault.sqf
Labels: kind/bug fix

#8000 Fix cargo logic, adjust function for captives
  addons/captives/functions/fnc_addLoadCaptiveActions.sqf
  addons/captives/functions/fnc_canLoadCaptive.sqf
  addons/captives/functions/fnc_doLoadCaptive.sqf
  addons/common/functions/fnc_loadPersonLocal.sqf
  addons/common/functions/fnc_nearestVehiclesFreeSeat.sqf
  addons/common/functions/fnc_unloadPersonLocal.sqf
Labels: ignore changelog

#7980 Common / Medical - Fix loading patients into turret only seats
  addons/captives/functions/fnc_addLoadCaptiveActions.sqf
  addons/captives/functions/fnc_canLoadCaptive.sqf
  addons/captives/functions/fnc_doLoadCaptive.sqf
  addons/common/functions/fnc_loadPersonLocal.sqf
  addons/common/functions/fnc_nearestVehiclesFreeSeat.sqf
  addons/common/functions/fnc_unloadPersonLocal.sqf
Labels: kind/bug fix

#8007 Add issue template alteration warnings
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ignore changelog

#8011 Arsenal - Fix sort by load
  addons/arsenal/ACE_Arsenal_Sorts.hpp
Labels: kind/bug fix

#8013 Medical Treatment - Fix fnc_addToInventory call
  addons/medical_treatment/functions/fnc_tourniquetRemove.sqf
Labels: kind/bug fix, kind/cleanup

#8003 Medical Engine - Hide actions that have ACE interactions
  addons/medical_engine/CfgActions.hpp
Labels: kind/enhancement

#8017 Tagging - Remove useless isClass check in configClasses
  addons/tagging/XEH_preStart.sqf
Labels: kind/cleanup

#8018 Arsenal - Remove useless isClass check in configClasses
  addons/arsenal/functions/fnc_fillLeftPanel.sqf
Labels: kind/cleanup
