Repository acemod/ACE3, pull requests merged in 2020-05, with the labels that each got.

#7664 Hearing - Fix for "MrapAttenuation"
  addons/hearing/functions/fnc_updatePlayerVehAttenuation.sqf
Labels: kind/bug fix

#7683 Translations - Add missing Czech translation strings
  addons/aircraft/stringtable.xml
  addons/common/stringtable.xml
  addons/csw/stringtable.xml
  addons/dragging/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/vehicles/stringtable.xml
Labels: area/translations

#7685 Translations - Spanish
  addons/advanced_ballistics/stringtable.xml
Labels: area/translations

#7686 Translations - Spanish
  addons/overheating/stringtable.xml
Labels: area/translations

#7688 Translations - Spanish
  addons/advanced_fatigue/stringtable.xml
Labels: area/translations

#7689 Update stringtable.xml
  addons/aircraft/stringtable.xml
Labels: area/translations

#7687 Translations - Spanish
  addons/advanced_throwing/stringtable.xml
Labels: area/translations

#7675 FCS - Fix firedEH not being added in MP
  addons/fcs/XEH_postInit.sqf
  addons/fcs/functions/fnc_vehicleInit.sqf
  addons/main/script_macros.hpp
Labels: kind/bug fix

#7680 Advanced Fatigue - Fix SwayFactor setting
  AUTHORS.txt
  addons/advanced_fatigue/XEH_postInit.sqf
Labels: kind/bug fix

#7669 Nightvision - Increase max amount of IR rays to 64
  addons/nightvision/CfgIRLaserSettings.hpp
  addons/nightvision/config.cpp
Labels: kind/enhancement

#7695 Wiki - Fix arsenal framework section headings
  docs/wiki/framework/arsenal-framework.md
Labels: area/documentation, ignore changelog, kind/documentation

#7698 Realistic Names - Fix german abbreviation of Ozelot Wiesel
  addons/realisticnames/stringtable.xml
Labels: area/translations, ignore changelog

#7697 Realistic Names - Fix MG3 Manufacturer
  addons/realisticnames/CfgWeapons.hpp
Labels: area/translations, ignore changelog

#7696 Translations - Add French CSW StaticM2ShieldBag key
  addons/csw/stringtable.xml
Labels: area/translations

#7690 Turkish Language Update
  AUTHORS.txt
  addons/ai/stringtable.xml
  addons/aircraft/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/artillerytables/stringtable.xml
  addons/atragmx/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/common/stringtable.xml
  addons/concertina_wire/stringtable.xml
  addons/csw/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/finger/stringtable.xml
  addons/gestures/stringtable.xml
  addons/grenades/stringtable.xml
  addons/huntir/stringtable.xml
  addons/interaction/stringtable.xml
  addons/laser/stringtable.xml
  addons/logistics_uavbattery/stringtable.xml
  addons/logistics_wirecutter/stringtable.xml
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/missionmodules/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/nlaw/stringtable.xml
  addons/noradio/stringtable.xml
  addons/optionsmenu/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/rangecard/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/rearm/stringtable.xml
  addons/refuel/stringtable.xml
  addons/scopes/stringtable.xml
  addons/vehiclelock/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#7705 Fix inheritence issue for m14ebrri for RHS 0.5.1
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: kind/bug fix

#7724 Translations - Spanish Ballistics
  addons/ballistics/stringtable.xml
Labels: area/translations

#7729 Dogtags - Improve spanish translation
  addons/dogtags/stringtable.xml
Labels: area/translations

#7722 Translations - Spanish
  addons/arsenal/stringtable.xml
Labels: area/translations

#7723 Translations - Improve Artillery Tables
  addons/artillerytables/stringtable.xml
Labels: area/translations

#7725 Translations - Spanish Cookoff
  addons/cookoff/stringtable.xml
Labels: area/translations

#7731 Medical - Prevent packing into bodybag for bodies in vehicle
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
Labels: kind/bug fix

#7742 Add Russian translation
  AUTHORS.txt
  addons/aircraft/stringtable.xml
  addons/artillerytables/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/common/stringtable.xml
  addons/csw/stringtable.xml
  addons/dragging/stringtable.xml
  addons/dragon/stringtable.xml
  addons/explosives/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/goggles/stringtable.xml
  addons/grenades/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/rearm/stringtable.xml
  addons/reload/stringtable.xml
  addons/repair/stringtable.xml
  addons/switchunits/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/weather/stringtable.xml
Labels: area/translations
