Repository acemod/ACE3, pull requests merged in 2020-02, with the labels that each got.

#7510 Only force enable input when player is killed
  addons/medical_status/functions/fnc_handleKilled.sqf
Labels: ignore changelog, kind/bug fix

#7512 Map Gestures - Use object itself as center for nearEntities in getProximityPlayers
  addons/map_gestures/functions/fnc_getProximityPlayers.sqf
Labels: kind/bug fix

#7505 Backblast - Fix damage disabled units receiving damage from backblast
  addons/overpressure/functions/fnc_overpressureDamage.sqf
Labels: kind/bug fix

#7419 Cook Off - Adjust players only settings check
  addons/cookoff/functions/fnc_handleDamage.sqf
Labels: kind/bug fix

#7516 Common - Fix canDig returning non-bool
  addons/common/functions/fnc_canDig.sqf
Labels: kind/bug fix

#7361 Add Pull Request title standard to PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/documentation, area/tools, ignore changelog, status/discussion

#7522 Docs/Wiki - Fix formatting for BIS evh warning
  docs/wiki/development/coding-guidelines.md
Labels: area/documentation

#7519 Map - Allow enabling BFT setting after mission start
  addons/map/XEH_postInitClient.sqf
  addons/map/initSettings.sqf
Labels: kind/enhancement

#7443 add function to throw current weapon
  addons/hitreactions/XEH_PREP.hpp
  addons/hitreactions/functions/fnc_throwWeapon.sqf
Labels: kind/feature request

#7527 Medical - fix the Enoch pilot uniform not taking damage, fix hitpoints test
  addons/medical/XEH_preStart.sqf
  addons/medical/dev/test_hitpointConfigs.sqf
  addons/medical_engine/CfgVehicles.hpp
Labels: kind/bug fix

#7533 Medical - Unlock air controls when going uncon
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/enhancement

#7523 Various - Conform isNil checks across the codebase
  addons/arsenal/XEH_postInit.sqf
  addons/arsenal/functions/fnc_fillLeftPanel.sqf
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_handleStats.sqf
  addons/arsenal/functions/fnc_message.sqf
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
  addons/arsenal/functions/fnc_removeBox.sqf
  addons/cargo/functions/fnc_removeCargoItem.sqf
  addons/common/functions/fnc_parseList.sqf
  addons/common/functions/fnc_receiveRequest.sqf
  addons/common/functions/fnc_resetAllDefaults.sqf
  addons/fastroping/functions/fnc_onRopeBreak.sqf
  addons/gunbag/XEH_preInit.sqf
  addons/interact_menu/functions/fnc_compileMenu.sqf
  addons/interact_menu/functions/fnc_compileMenuSelfAction.sqf
  addons/interact_menu/functions/fnc_compileMenuZeus.sqf
  addons/laser/functions/fnc_shootRay.sqf
  addons/rearm/functions/fnc_readSupplyCounter.sqf
  addons/repair/functions/fnc_canRepair.sqf
  addons/repair/functions/fnc_repair.sqf
  addons/scopes/XEH_postInit.sqf
  addons/scopes/functions/fnc_showZeroing.sqf
  addons/spectator/functions/fnc_getCameraAttributes.sqf
  addons/spectator/functions/fnc_setCameraAttributes.sqf
  addons/spectator/functions/fnc_ui.sqf
  addons/spectator/functions/fnc_ui_handleMapDraw.sqf
  addons/spectator/functions/fnc_updateCameraModes.sqf
  addons/spectator/functions/fnc_updateVisionModes.sqf
  addons/tagging/functions/fnc_createTag.sqf
  addons/zeus/functions/fnc_moduleSuicideBomber.sqf
Labels: kind/bug fix, kind/cleanup

#7536 Fastroping - Fix deployAI not unwinding ropes
  addons/fastroping/CfgVehicles.hpp
  addons/fastroping/functions/fnc_deployAI.sqf
  addons/fastroping/functions/fnc_deployRopes.sqf
  addons/fastroping/functions/fnc_fastRopeServerPFH.sqf
  addons/fastroping/script_component.hpp
Labels: kind/bug fix

#7538 Use macros
  addons/arsenal/missions/Arsenal.VR/CfgEventHandlers.hpp
Labels: ignore changelog, kind/cleanup

#7518 Medical - Arm fracture effect not persisting with setting
  addons/medical_engine/functions/fnc_updateDamageEffects.sqf
Labels: kind/bug fix

#7541 Reload - Fix static weapon ammo check
  addons/reload/functions/fnc_displayAmmo.sqf
Labels: kind/bug fix

#7474 Ballistics - B_93x64_Ball updated
  addons/atragmx/functions/fnc_initGunList.sqf
  addons/ballistics/CfgAmmo.hpp
  addons/ballistics/CfgMagazines.hpp
  addons/ballistics/CfgWeapons.hpp
Labels: area/compatibility

#7529 Medical Feedback - Set volume and radio usage based current unit
  addons/common/functions/fnc_setVolume.sqf
  addons/medical_feedback/XEH_postInit.sqf
Labels: kind/bug fix

#7396 Medical - Add fracture chance setting
  addons/main/script_mod.hpp
  addons/medical/initSettings.sqf
  addons/medical/stringtable.xml
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
Labels: kind/enhancement

#7497 CSW - Minor fixes for CSW + RHS Compats
  addons/csw/CfgMagazineGroups.hpp
  addons/csw/CfgMagazines.hpp
  addons/csw/CfgWeapons.hpp
  addons/csw/UI/StaticMortarTube_Icon.paa
  addons/csw/config.cpp
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: kind/enhancement

#6034 Grenades - Make flashbang reaction more authentic
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
Labels: kind/enhancement

#7499 Medical - Fix being stuck in unconscious animation after ragdoll
  addons/medical_engine/XEH_postInit.sqf
Labels: kind/bug fix

#7507 Adds Icon option for Low blood volume at Medical Feedback
  addons/medical_feedback/RscInGameUI.hpp
  addons/medical_feedback/XEH_PREP.hpp
  addons/medical_feedback/config.cpp
  addons/medical_feedback/data/bloodVolume_1.paa
  addons/medical_feedback/data/bloodVolume_2.paa
  addons/medical_feedback/data/bloodVolume_3.paa
  addons/medical_feedback/data/bloodVolume_4.paa
  addons/medical_feedback/data/bloodVolume_5.paa
  addons/medical_feedback/data/bloodVolume_6.paa
  addons/medical_feedback/functions/fnc_effectBloodVolume.sqf
  addons/medical_feedback/functions/fnc_effectBloodVolumeIcon.sqf
  addons/medical_feedback/functions/fnc_handleEffects.sqf
  addons/medical_feedback/functions/fnc_initEffects.sqf
  addons/medical_feedback/initSettings.sqf
  addons/medical_feedback/script_component.hpp
  addons/medical_feedback/stringtable.xml
Labels: kind/feature request

#7436 Medical Damage - Improve description of "DamageThreshold"
  addons/medical_damage/stringtable.xml
Labels: area/translations, kind/cleanup

#7469 Update German Translations
  addons/aircraft/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/artillerytables/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/csw/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/dragon/stringtable.xml
  addons/goggles/stringtable.xml
  addons/grenades/stringtable.xml
  addons/gunbag/stringtable.xml
  addons/hellfire/stringtable.xml
  addons/hot/stringtable.xml
  addons/javelin/stringtable.xml
  addons/medical/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/repair/stringtable.xml
  addons/spectator/stringtable.xml
  addons/switchunits/stringtable.xml
  addons/tagging/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/weather/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#7542 Medical - Use percentage sliders for chance settings
  addons/medical/initSettings.sqf
  addons/medical_treatment/initSettings.sqf
Labels: kind/enhancement

#7460 Mine Detector - Updated mine detector audio from -20db to -2db
  addons/minedetector/sounds/metal_detector.wav
  addons/minedetector/sounds/metal_detector.wss
Labels: kind/enhancement

#7392 Medical - Combine advancedBandages and woundReopening settings
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_treatment/functions/fnc_bandageLocal.sqf
  addons/medical_treatment/functions/fnc_canBandage.sqf
  addons/medical_treatment/functions/fnc_getBandageTime.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#7445 Arsenal - Filter non-scope 2 mags from being auto-added
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
Labels: kind/bug fix

#7440 Update French Translations
  addons/csw/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/microdagr/stringtable.xml
Labels: area/translations

#7543 Arsenal - Optimize non-scope 2 mags filtering
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
Labels: ignore changelog, kind/optimization

#7544 Common - Add isNotUnconscious canInteractWith condition
  addons/common/XEH_postInit.sqf
Labels: kind/bug fix

#7545 Remove requirements for usable items to be in backpack
  addons/atragmx/functions/fnc_can_show.sqf
  addons/atragmx/functions/fnc_create_dialog.sqf
  addons/kestrel4500/functions/fnc_canShow.sqf
  addons/kestrel4500/functions/fnc_createKestrelDialog.sqf
  addons/kestrel4500/functions/fnc_displayKestrel.sqf
  addons/rangecard/functions/fnc_canShow.sqf
  addons/rangecard/functions/fnc_canShowCopy.sqf
Labels: kind/feature request, status/needs testing

#7524 Documentation - Add spaces between array elements coding guideline
  docs/wiki/development/coding-guidelines.md
Labels: area/documentation, kind/documentation

#7546 Interaction Menu - Fix MenuClosed event may not fire on menu type replacement
  addons/interact_menu/XEH_clientInit.sqf
  addons/interact_menu/functions/fnc_keyDown.sqf
  addons/interact_menu/functions/fnc_keyUp.sqf
Labels: kind/bug fix

#7548 NightVision - Don't apply AimDownSightsBlur on optics with integrated night vision
  addons/nightvision/XEH_postInit.sqf
  addons/nightvision/functions/fnc_onCameraViewChanged.sqf
  addons/nightvision/functions/fnc_pfeh.sqf
  addons/nightvision/script_component.hpp
Labels: kind/bug fix

#7549 Medical Treatment - Prevent extremely slow or fast animations
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/medical_treatment/script_component.hpp
Labels: kind/enhancement

#7550 French translation
  addons/medical/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7554 NightVision - Fix border missing while in FFV
  addons/nightvision/functions/fnc_refreshGoggleType.sqf
Labels: kind/bug fix

#7555 Wiki - Remove requirements for item usability
  docs/img/wiki/feature/abtools_inventory.png
  docs/wiki/feature/atragmx.md
  docs/wiki/feature/kestrel4500.md
  docs/wiki/feature/rangecard.md
Labels: area/documentation, kind/documentation

#7557 Ballistics - Remove dispersion changes
  addons/atragmx/functions/fnc_initGunList.sqf
  addons/ballistics/CfgWeapons.hpp
Labels: kind/cleanup

#7558 Ballistics - Move dispersion to optional
  optionals/realisticdispersion/$PBOPREFIX$
  optionals/realisticdispersion/CfgWeapons.hpp
  optionals/realisticdispersion/config.cpp
  optionals/realisticdispersion/script_component.hpp
Labels: kind/cleanup

#7415 Medical Engine - Apply damage to the correct hitpoint
  addons/medical_engine/XEH_PREP.hpp
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/functions/fnc_getHitpointArmor.sqf
  addons/medical_engine/functions/fnc_getItemArmor.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: kind/enhancement

#7562 Ballistics - Fix some magazine wells
  addons/ballistics/CfgMagazineWells.hpp
  addons/ballistics/CfgWeapons.hpp
Labels: kind/bug fix

#7517 Tools - Removed deprecated Mikero tools arguments from make.py
  tools/make.py
Labels: area/tools, ignore changelog

#7563 General - Fix preprocessor issues
  addons/csw/functions/fnc_reload_handleRemoveTurretMag.sqf
  addons/javelin/script_component.hpp
  addons/medical_treatment/functions/fnc_fullHealLocal.sqf
  addons/missileguidance/functions/fnc_seekerType_ARH.sqf
Labels: kind/bug fix
