Repository acemod/ACE3, pull requests merged in 2021-11, with the labels that each got.

#8653 Medical Feedback - Enable User Input on featureCam
  addons/medical_feedback/XEH_postInit.sqf
Labels: kind/enhancement

#8652 Cyrus magazine incorrectly configured as a belt
  addons/reload/CfgMagazines.hpp
Labels: kind/bug fix

#8485 Grenades - Flashbang reaction fixes
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
  addons/main/script_macros.hpp
Labels: kind/enhancement

#8666 Logistics Rope - Use generic model instead of one linked to DLC
  addons/logistics_rope/CfgWeapons.hpp
Labels: kind/bug fix

#8668 Killtracker - Remove medical from required addons
  addons/killtracker/README.md
  addons/killtracker/XEH_postInit.sqf
  addons/killtracker/config.cpp
Labels: kind/cleanup

#8624 Zeus - Add module for burning units
  addons/zeus/CfgVehicles.hpp
  addons/zeus/XEH_PREP.hpp
  addons/zeus/config.cpp
  addons/zeus/functions/fnc_moduleBurn.sqf
  addons/zeus/stringtable.xml
  addons/zeus/ui/Icon_Module_Zeus_Burn_ca.paa
Labels: kind/feature request

#8623 Medical Engine - Fix unconscious animation state checks
  addons/medical_engine/CfgExtendedAnimation.hpp
  addons/medical_engine/CfgMoves.hpp
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/functions/fnc_setUnconsciousAnim.sqf
  addons/medical_engine/script_component.hpp
Labels: kind/bug fix

#8612 Towing - Add conditions to cancel towing in exceptional scenarios
  addons/towing/functions/fnc_startTow.sqf
  addons/towing/functions/fnc_towStateMachinePFH.sqf
  addons/towing/script_component.hpp
Labels: kind/bug fix

#8628 Frag - Fix fuse-arming distance calculation
  addons/frag/functions/fnc_addPfhRound.sqf
  addons/frag/functions/fnc_pfhRound.sqf
Labels: kind/bug fix

#8525 Fortify - Add map area markers for Fortify objects
  AUTHORS.txt
  addons/fortify/XEH_PREP.hpp
  addons/fortify/XEH_postInit.sqf
  addons/fortify/functions/fnc_createObjectMarker.sqf
  addons/fortify/functions/fnc_deployConfirm.sqf
  addons/fortify/initSettings.sqf
  addons/fortify/stringtable.xml
Labels: kind/feature request

#8647 Explosives - Fix `objNull` reported as source and instigator in BI `handleDamage` event for explosive triggered by timer
  addons/explosives/ACE_Triggers.hpp
  addons/explosives/functions/fnc_dialPhone.sqf
  addons/explosives/functions/fnc_startTimer.sqf
Labels: kind/bug fix

#8665 Fire - Adding option to disable screaming for units on fire
  addons/fire/XEH_postInit.sqf
  addons/fire/initSettings.sqf
  addons/fire/stringtable.xml
Labels: kind/enhancement

#8585 Fortify - Add Progress Bar
  addons/fortify/XEH_postInit.sqf
  addons/fortify/functions/fnc_deployConfirm.sqf
  addons/fortify/initSettings.sqf
  addons/fortify/stringtable.xml
  docs/wiki/feature/fortify.md
  docs/wiki/framework/fortify-framework.md
Labels: kind/enhancement, hacktoberfest-accepted

#8599 Medical - Add option to prevent scripted injuries on invulnerable units
  addons/medical/functions/fnc_addDamageToUnit.sqf
Labels: kind/bug fix, hacktoberfest-accepted

#8617 Overheating - Fix issues from release
  addons/overheating/CfgVehicles.hpp
  addons/overheating/XEH_PREP.hpp
  addons/overheating/XEH_postInit.sqf
  addons/overheating/functions/fnc_calculateCooling.sqf
  addons/overheating/functions/fnc_canCoolWeaponWithItem.sqf
  addons/overheating/functions/fnc_cookoffWeapon.sqf
  addons/overheating/functions/fnc_coolWeaponWithItem.sqf
  addons/overheating/functions/fnc_coolWeaponWithWaterSource.sqf
  addons/overheating/functions/fnc_getAmmoTemperature.sqf
  addons/overheating/functions/fnc_getBarrelMass.sqf
  addons/overheating/functions/fnc_getWeaponData.sqf
  addons/overheating/functions/fnc_getWeaponTemperature.sqf
  addons/overheating/functions/fnc_jamWeapon.sqf
  addons/overheating/functions/fnc_overheat.sqf
  addons/overheating/functions/fnc_setAmmoTemperature.sqf
  addons/overheating/functions/fnc_setWeaponTemperature.sqf
  addons/overheating/functions/fnc_swapBarrelCallback.sqf
  addons/overheating/functions/fnc_updateAmmoTemperature.sqf
  addons/overheating/functions/fnc_updateAmmoTemperatureThread.sqf
  addons/overheating/functions/fnc_updateTemperature.sqf
  addons/overheating/initSettings.sqf
  addons/overheating/stringtable.xml
  docs/wiki/feature/overheating.md
Labels: kind/bug fix

#8672 Overheating - Use `select` instead of `params`
  addons/overheating/functions/fnc_coolWeaponWithItem.sqf
  addons/overheating/functions/fnc_coolWeaponWithWaterSource.sqf
  addons/overheating/functions/fnc_getBarrelMass.sqf
  addons/overheating/functions/fnc_swapBarrelCallback.sqf
  addons/overheating/functions/fnc_updateAmmoTemperature.sqf
  addons/overheating/functions/fnc_updateTemperature.sqf
Labels: kind/cleanup, ignore changelog

#8625 Fire - Fix animals screaming like humans
  addons/fire/functions/fnc_burn.sqf
  addons/fire/functions/fnc_burnReaction.sqf
Labels: kind/bug fix

#8670 SOG Compat - Add `isDamageAllowed` check to punji damage handler
  optionals/compat_sog/functions/fnc_handlePunjiTrapDamage.sqf
Labels: kind/bug fix

#8595 Repair - Support all modded toolkits
  addons/repair/CfgVehicles.hpp
  addons/repair/XEH_PREP.hpp
  addons/repair/XEH_preInit.sqf
  addons/repair/XEH_preStart.sqf
  addons/repair/functions/fnc_canRepair.sqf
  addons/repair/functions/fnc_getPostRepairDamage.sqf
  addons/repair/functions/fnc_getRepairItems.sqf
  addons/repair/functions/fnc_hasItems.sqf
  addons/repair/functions/fnc_repair.sqf
  addons/repair/initSettings.sqf
  addons/repair/script_component.hpp
  optionals/compat_gm/CfgVehicles.hpp
Labels: kind/enhancement

#8648 Cookoff - Limit maximum cook intensity/duration
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/cookoff/script_component.hpp
Labels: kind/enhancement

#8675 Tools - Update Mikero to public version 2021-11-06
  .github/workflows/pboproject.yml
  tools/make.py
Labels: area/tools, ignore changelog

#8662 Tools - Binarize configs in make.py
  addons/rearm/XEH_preStart.sqf
  docs/wiki/development/setting-up-the-development-environment.md
  tools/make.py
Labels: area/tools, ignore changelog

#8650 Documentation - Rework arsenal docs
  docs/wiki/framework/arsenal-framework.md
Labels: kind/documentation, ignore changelog, area/documentation

#8677 Fortify - Make Progress Bar settings Global
  addons/fortify/initSettings.sqf
Labels: ignore changelog

#8671 Medical Engine - Synchronize random unconscious anims
  addons/medical_engine/functions/fnc_applyAnimAfterRagdoll.sqf
Labels: kind/bug fix

#8680 Documentation - Use Markdown file name extension
  docs/404.md
  docs/news.md
  docs/version.md
  docs/wiki/development/index.html
  docs/wiki/development/index.md
  docs/wiki/feature/index.html
  docs/wiki/feature/index.md
  docs/wiki/framework/index.html
  docs/wiki/framework/index.md
  docs/wiki/index.md
  docs/wiki/search.md
  docs/wiki/user/index.html
  docs/wiki/user/index.md
Labels: ignore changelog, area/documentation

#8681 Interaction - Fix PlasticCase_01_base_F UBC
  addons/interaction/CfgVehicles.hpp
Labels: ignore changelog

#8678 Documentation - Add Arsenal custom sub-item categories
  addons/arsenal/functions/fnc_addRightPanelButton.sqf
  docs/wiki/feature/arsenal.md
  docs/wiki/framework/arsenal-framework.md
Labels: ignore changelog, area/documentation

#8397 Medical - Update `setDead` to use `setHitpointDamage` instigator param
  addons/common/functions/fnc_disableUserInput.sqf
  addons/medical_statemachine/functions/fnc_enteredStateDeath.sqf
  addons/medical_status/functions/fnc_handleKilled.sqf
  addons/medical_status/functions/fnc_handleKilledMission.sqf
  addons/medical_status/functions/fnc_initUnit.sqf
  addons/medical_status/functions/fnc_setDead.sqf
  addons/medical_treatment/functions/fnc_placeInBodyBag.sqf
Labels: kind/enhancement

#8682 Add Spanish translation
  addons/fire/stringtable.xml
Labels: area/translations

#8684 Overheating - prep `canCoolWeaponWithItem`
  addons/overheating/XEH_PREP.hpp
Labels: ignore changelog

#8588 Documentation - Improve documentation for Rearm & Vehicle Damage
  docs/wiki/framework/rearm-framework.md
  docs/wiki/framework/vehicledamage-framework.md
Labels: kind/documentation, area/documentation

#8697 GitHub - Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ignore changelog

#8692 Medical - Fix stuck in uncon animation after CfgExtendedAnimation change
  addons/medical_engine/XEH_postInit.sqf
Labels: kind/bug fix, ignore changelog

#8704 Misc - Cleanup unused namespace vars
  addons/cookoff/XEH_postInit.sqf
  addons/rearm/XEH_postInit.sqf
Labels: ignore changelog

#8703 Tools - Increase timeout on sqfvmChecker.py
  tools/sqfvmChecker.py
Labels: area/tools, ignore changelog

#8688 RHS Compats - Fix various UBCs
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgAmmo.hpp
Labels: kind/bug fix

#8702 Slideshow - Add support for texture selections
  addons/slideshow/CfgVehicles.hpp
  addons/slideshow/functions/fnc_addSlideActions.sqf
  addons/slideshow/functions/fnc_autoTransition.sqf
  addons/slideshow/functions/fnc_createSlideshow.sqf
  addons/slideshow/functions/fnc_moduleInit.sqf
  addons/slideshow/stringtable.xml
  docs/wiki/framework/slideshow-framework.md
Labels: kind/feature request
