Repository acemod/ACE3, pull requests merged in 2021-12, with the labels that each got.

#8729 Map Tools - Improve modded maps support
  addons/maptools/functions/fnc_canUseMapTools.sqf
Labels: kind/enhancement

#8718 Compats - Add SOG helmet hearing and dust protection
  optionals/compat_sog/CfgWeapons/helmets.hpp
Labels: area/compatibility

#8717 Compats - Fix RHSUSF water Jerry Can having refuel actions
  optionals/compat_rhs_usf3/CfgEventHandlers.hpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
Labels: area/compatibility

#8708 SOG Compat - Remove Vanilla systems left in CfgVehicles
  addons/refuel/defines.hpp
  addons/refuel/script_component.hpp
  optionals/compat_sog/CfgVehicles.hpp
  optionals/compat_sog/CfgVehicles/land.hpp
  optionals/compat_sog/CfgVehicles/vn_boxes.hpp
  optionals/compat_sog/CfgVehicles/wheeled.hpp
  optionals/compat_sog/script_component.hpp
Labels: kind/bug fix, area/compatibility

#8732 General - Utilize `isNotEqualTo` command
  addons/common/functions/fnc_assignedItemFix.sqf
  addons/cookoff/XEH_postInit.sqf
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/cookoff/functions/fnc_smoke.sqf
  addons/fire/functions/fnc_burn.sqf
  addons/fire/functions/fnc_burnReaction.sqf
  addons/fire/functions/fnc_fireManagerPFH.sqf
  addons/headless/functions/fnc_transferGroups.sqf
  addons/intelitems/functions/fnc_deleteControl.sqf
  addons/interaction/functions/fnc_renameGroupUI.sqf
  addons/markers/functions/fnc_initInsertMarker.sqf
  addons/markers/functions/fnc_placeMarker.sqf
  addons/pylons/functions/fnc_onButtonApply.sqf
  addons/tagging/functions/fnc_applyCustomTag.sqf
  addons/vehicle_damage/functions/fnc_processHit.sqf
  addons/viewrestriction/functions/fnc_canChangeCamera.sqf
  addons/viewrestriction/functions/fnc_switchPreserveView.sqf
Labels: kind/optimization
