Repository acemod/ACE3, pull requests merged in 2021-09, with the labels that each got.

#8409 Overheating - Allow LIM-85 to switch barrel
  addons/overheating/CfgWeapons.hpp
Labels: area/compatibility

#8408 Reload Launchers - Add Tanks DLC Weapons Support
  addons/reloadlaunchers/CfgWeapons.hpp
Labels: area/compatibility

#8395 Ballistics - Change 7.62x67 to .300 WM in stringtables
  addons/ballistics/stringtable.xml
Labels: kind/cleanup

#8416 Fix undefined base class in #8408
  addons/reloadlaunchers/CfgWeapons.hpp
Labels: ignore changelog

#8411 Realistic Names - Add strings for Khaki MX variants
  addons/realisticnames/CfgWeapons.hpp
  addons/realisticnames/stringtable.xml
Labels: area/compatibility

#8385 Medical - Add treatment status events
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/medical_treatment/functions/fnc_treatmentFailure.sqf
  addons/medical_treatment/functions/fnc_treatmentSuccess.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/added feature

#8360 Captives - Add caller to captiveStatusChanged event
  addons/captives/functions/fnc_doApplyHandcuffs.sqf
  addons/captives/functions/fnc_doRemoveHandcuffs.sqf
  addons/captives/functions/fnc_setHandcuffed.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#8275 Vehicles - Add Auto-Throttle to Planes
  addons/vehicles/XEH_PREP.hpp
  addons/vehicles/XEH_postInit.sqf
  addons/vehicles/functions/fnc_autoThrottle.sqf
Labels: kind/added feature

#8162 Medical Treatment - Allow diagnosing death/CA (invalidates old setting)
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/functions/fnc_canCPR.sqf
  addons/medical_treatment/functions/fnc_checkResponse.sqf
  addons/medical_treatment/functions/fnc_cprProgress.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
  docs/wiki/feature/medical-system.md
Labels: kind/enhancement

#8425 Docs - Fix medical treatment event descriptions (follow-up to #8385)
  docs/wiki/framework/events-framework.md
Labels: ignore changelog, area/documentation

#8427 Translations - Update French Translations (Medical Treatment)
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#8435 Common - Fix `getAwakeAnim` for some vehicles
  addons/common/functions/fnc_getAwakeAnim.sqf
Labels: kind/bug fix

#8443 Dragging - Fix keyhandler removing when drop
  addons/dragging/functions/fnc_dropObject.sqf
Labels: kind/bug fix

#8412 Ballistics - Add weapon data for the Contact M14
  addons/ballistics/CfgWeapons.hpp
Labels: area/compatibility

#8399 CSW - Fix AI reloading from GroundWeaponHolder
  addons/common/functions/fnc_removeSpecificMagazine.sqf
  addons/csw/functions/fnc_ai_handleFired.sqf
Labels: kind/bug fix

#8368 DAGR / Kestrel - Fix deviceKey condition
  addons/dagr/CfgVehicles.hpp
  addons/dagr/initKeybinds.sqf
  addons/kestrel4500/initKeybinds.sqf
Labels: kind/enhancement, kind/bug fix

#8437 Cargo - Fix can't load `Slingload_01_Base_F`
  addons/cargo/CfgVehicles.hpp
Labels: kind/bug fix

#8392 Common - Add TFAR 1.0 support to endRadioTransmissions
  addons/common/functions/fnc_endRadioTransmission.sqf
Labels: area/compatibility

#8388 Captives - Disallow ACRE/TFAR radio usage on surrender/handcuff
  addons/captives/functions/fnc_setHandcuffed.sqf
  addons/captives/functions/fnc_setSurrendered.sqf
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_setVolume.sqf
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/enhancement

#8421 Realisticnames - Fix ubc
  addons/realisticnames/CfgWeapons.hpp
Labels: ignore changelog
