Repository acemod/ACE3, pull requests merged in 2021-08, with the labels that each got.

#8342 Dragging - Remove never used parameter on `doAnimation` call
  addons/dragging/functions/fnc_carryObject.sqf
  addons/dragging/functions/fnc_dragObject.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_startCarry.sqf
  addons/dragging/functions/fnc_startDrag.sqf
Labels: kind/cleanup

#8344 Cargo - Fix collision when unloading a IDAP 20m long container from HEMTT
  addons/cargo/CfgVehicles.hpp
Labels: kind/bug fix

#8358 Cargo - Fix UBC on iDAB
  addons/cargo/CfgVehicles.hpp
Labels: ignore changelog

#8376 Translation - Russian
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#8374 Overheating - Add Spare Barrel Misc Item
  addons/overheating/CfgWeapons.hpp
  addons/overheating/XEH_postInit.sqf
Labels: kind/enhancement

#8367 Artillery tables - Remove duplicates from mags array
  addons/artillerytables/functions/fnc_rangeTableOpen.sqf
Labels: kind/bug fix

#8359 RHS Compat - Add TZ-8-255B1 to list of fuel trucks
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
Labels: area/compatibility

#8391 Medical - Re-enable movedToSQF for enableVehicleCrashes
  addons/medical/ACE_Settings.hpp
Labels: ignore changelog, impact/trivial

#8390 Medical - Fix #8389
  addons/medical_damage/initSettings.sqf
  addons/medical_damage/stringtable.xml
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/initSettings.sqf
  addons/medical_engine/stringtable.xml
Labels: kind/bug fix

#8398 Common - Block user input on headbug fix
  addons/common/functions/fnc_headBugFix.sqf
Labels: kind/bug fix
