Repository acemod/ACE3, pull requests merged in 2021-07, with the labels that each got.

#8302 Release Drafter - Ignore dependencies
  .github/release-drafter.yml
Labels: area/tools, ignore changelog

#8303 Translations: Capitalize huntir monitor
  addons/huntir/stringtable.xml
Labels: kind/enhancement

#8309 Translations - Fix French Translations (Explosives)
  addons/explosives/stringtable.xml
Labels: area/translations

#8307 Translations - Russian
  addons/arsenal/stringtable.xml
  addons/markers/stringtable.xml
  addons/maverick/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/vehiclelock/stringtable.xml
Labels: area/translations

#8310 Rangecard - Allow use inside vehicles via interaction menu
  addons/rangecard/CfgVehicles.hpp
Labels: impact/trivial, kind/bug fix

#8311 pboProject fixes for S.O.G. Prairie Fire Compatibility
  include/vn/characters_f_vietnam/OPFOR/vests/items/vn_mine_satchel_02.p3d
  include/vn/objects_f_vietnam/supply/a2_ammo/macv/vn_us_30cal.p3d
  include/vn/objects_f_vietnam/supply/a2_ammo/macv/vn_us_can_30.p3d
  include/vn/objects_f_vietnam/supply/a2_ammo/pavn/vn_pavn_50_can.p3d
  include/vn/objects_f_vietnam/usarmy/furniture/vn_us_fort_common_crate_01.p3d
  include/vn/objects_f_vietnam/usarmy/supply/mortar_m2/vn_prop_60mm_crate_01.p3d
  include/vn/objects_f_vietnam/usarmy/supply/mortar_m29/vn_prop_81mm_crate_02.p3d
  include/vn/static_f_vietnam/mortar_m2/vn_shell_60mm_m302_wp_ammo.p3d
  include/vn/static_f_vietnam/mortar_m2/vn_shell_60mm_m49a2_he_ammo.p3d
  include/vn/static_f_vietnam/mortar_m2/vn_shell_60mm_m83_lume_ammo.p3d
  include/vn/static_f_vietnam/mortar_m29/vn_shell_81mm_m374_he_ammo.p3d
  include/vn/static_f_vietnam/mortar_type53/vn_shell_82mm_d832_wp_ammo.p3d
  include/vn/static_f_vietnam/mortar_type53/vn_shell_82mm_o832d_he_ammo.p3d
  include/vn/static_f_vietnam/mortar_type53/vn_shell_82mm_s832s_lume_ammo.p3d
  include/vn/static_f_vietnam/tow/vn_static_tow_mag.p3d
  include/vn/weapons_f_vietnam/mines/m112/vn_mine_m112_mag.p3d
  include/vn/weapons_f_vietnam/mines/m14/vn_mine_m14_mag.p3d
  include/vn/weapons_f_vietnam/mines/m15/vn_mine_m15_mag.p3d
  include/vn/weapons_f_vietnam/mines/m16/vn_mine_m16_mag.p3d
  include/vn/weapons_f_vietnam/mines/m16/vn_mine_tripwire_m16_02.p3d
  include/vn/weapons_f_vietnam/mines/m16/vn_mine_tripwire_m16_04.p3d
  include/vn/weapons_f_vietnam/mines/m18/vn_mine_m18.p3d
  include/vn/weapons_f_vietnam/mines/m18/vn_mine_m18_x3.p3d
  include/vn/weapons_f_vietnam/mines/punji/vn_mine_punji_01_mag.p3d
  include/vn/weapons_f_vietnam/mines/punji/vn_mine_punji_02_mag.p3d
  include/vn/weapons_f_vietnam/mines/punji/vn_mine_punji_03_mag.p3d
  include/vn/weapons_f_vietnam/mines/tm57/vn_mine_tm57_mag.p3d
  include/vn/weapons_f_vietnam/mines/tripwire_arty/vn_mine_tripwire_arty.p3d
  include/vn/weapons_f_vietnam/mines/tripwire_f1/vn_mine_tripwire_f1_02.p3d
  include/vn/weapons_f_vietnam/mines/tripwire_f1/vn_mine_tripwire_f1_04.p3d
  optionals/compat_sog/CfgEventHandlers.hpp
Labels: ignore changelog

#8318 Common - Improve vehicle icon caching implementation
  addons/common/XEH_preInit.sqf
  addons/common/functions/fnc_getVehicleIcon.sqf
Labels: impact/trivial, kind/optimization

#8326 Common - Fix ACE category duplication in Russian
  addons/common/initSettings.sqf
  addons/common/stringtable.xml
Labels: kind/bug fix

#8319 Markers - Add direction/scale reset on Right Mouse Button
  AUTHORS.txt
  addons/markers/XEH_PREP.hpp
  addons/markers/functions/fnc_initInsertMarker.sqf
  addons/markers/functions/fnc_onSliderMouseButtonUpAngle.sqf
  addons/markers/functions/fnc_onSliderMouseButtonUpScale.sqf
  addons/markers/stringtable.xml
Labels: kind/enhancement

#8331 Tools - Update includes
  include/a3/ui_f/hpp/defineResincl.inc
  include/x/cba/addons/main/script_macros_common.hpp
Labels: area/tools, ignore changelog

#7944 Medical - Add functions to serialize / deserialize the medical state of a unit
  addons/medical/XEH_PREP.hpp
  addons/medical/functions/fnc_deserializeState.sqf
  addons/medical/functions/fnc_serializeState.sqf
  addons/medical_status/functions/fnc_initUnit.sqf
Labels: kind/feature request

#7983 Medical Treatment - Allow variable CPR chance based on blood volume (invalidates old setting)
  addons/medical_treatment/functions/fnc_cprLocal.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#8104 Dragging - Add more objects configs
  addons/dragging/CfgEventHandlers.hpp
  addons/dragging/CfgVehicles.hpp
  addons/dragging/functions/fnc_initObject.sqf
  addons/dragging/functions/fnc_setDraggable.sqf
  docs/wiki/framework/dragging-framework.md
Labels: kind/enhancement

#8313 DAGR - Align underlining in waypoint editing page
  addons/dagr/Dialog.hpp
Labels: kind/bug fix

#8289 Medical Engine - Disable third party medical systems
  addons/medical_engine/CfgFunctions.hpp
  addons/medical_engine/XEH_PREP.hpp
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/config.cpp
  addons/medical_engine/functions/fnc_disableThirdParty.sqf
Labels: kind/enhancement

#8329 Common - Fix `addToInventory` replacing existing weapon
  addons/common/functions/fnc_addToInventory.sqf
Labels: kind/bug fix

#8036 Interact Menu - Add settings for self interaction menu reordering
  addons/interact_menu/XEH_PREP.hpp
  addons/interact_menu/XEH_clientInit.sqf
  addons/interact_menu/functions/fnc_initMenuReorder.sqf
Labels: kind/added feature

#8324 Cargo - Prevent damage to items (created from classnames) on unloading
  addons/cargo/functions/fnc_unloadItem.sqf
Labels: kind/bug fix

#8333 Overheating - Drop jammed states on unit respawn
  addons/overheating/CfgEventHandlers.hpp
  addons/overheating/XEH_PREP.hpp
  addons/overheating/functions/fnc_handleRespawn.sqf
Labels: kind/bug fix

#8291 Common - Fix unloading person on non-local vehicles
  addons/common/functions/fnc_unloadPersonLocal.sqf
Labels: kind/bug fix

#8287 Rearm - Fix rearming turrets comprised of multiple magazines of the same type
  addons/rearm/functions/fnc_rearmSuccessLocal.sqf
Labels: kind/bug fix

#8308 RHS ARF Compat - Add ammo URAL & Kamaz, wirecutter backpacks and crew helmet
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
Labels: area/compatibility

#8334 Translations - Update / Fix French Translations (Markers, Medical Damage and Medical Treatment)
  addons/markers/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#8186 Interact Menu - Simplify fnc_renderActionPoints
  addons/interact_menu/functions/fnc_renderActionPoints.sqf
Labels: kind/enhancement, kind/optimization

#8340 Inventory - Fix default return for currentItemListBox
  addons/inventory/functions/fnc_currentItemListBox.sqf
Labels: kind/bug fix

#8327 Vehicles - Add configurable engine startup delay
  addons/vehicles/CfgVehicles.hpp
  addons/vehicles/XEH_PREP.hpp
  addons/vehicles/functions/fnc_setVehicleStartDelay.sqf
  addons/vehicles/functions/fnc_startEngine.sqf
  addons/vehicles/script_component.hpp
  docs/wiki/framework/vehicles-framework.md
Labels: kind/enhancement
