Repository acemod/ACE3, pull requests merged in 2021-01, with the labels that each got.

#8049 Disable pboproject warnings are errors in build script
  tools/make.py
Labels: area/tools, ignore changelog

#8061 Build dev (filepatching) with hemtt if installed
  tools/build.py
Labels: area/tools, ignore changelog

#8069 fix docs version of ace3, close #8068
  docs/_config.yml
Labels: area/documentation, ignore changelog

#8071 Dragging - Fix mass synchronization
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_startCarry.sqf
  addons/dragging/functions/fnc_startDrag.sqf
Labels: kind/bug fix

#8074 Quick Mount - Cleanup unused variable
  addons/quickmount/functions/fnc_addFreeSeatsActions.sqf
Labels: kind/cleanup
