Repository acemod/ACE3, pull requests merged in 2021-06, with the labels that each got.

#8283 Attach - Improve IR Strobe blinking pattern and increase lifetime
  addons/attach/CfgVehicles.hpp
Labels: kind/enhancement, target/Next Arma Patch

#8295 fix my name, add it to contributers
  AUTHORS.txt
  addons/arsenal/config.cpp
  addons/arsenal/functions/fnc_addSort.sqf
  addons/arsenal/functions/fnc_compileSorts.sqf
  addons/arsenal/functions/fnc_fillSort.sqf
  addons/arsenal/functions/fnc_sortPanel.sqf
  addons/arsenal/functions/fnc_sortStatement_accuracy.sqf
  addons/arsenal/functions/fnc_sortStatement_amount.sqf
  addons/arsenal/functions/fnc_sortStatement_magCount.sqf
  addons/arsenal/functions/fnc_sortStatement_mass.sqf
  addons/arsenal/functions/fnc_sortStatement_mod.sqf
  addons/arsenal/functions/fnc_sortStatement_rateOfFire.sqf
  addons/arsenal/functions/fnc_sortStatement_scopeMag.sqf
  addons/medical_gui/functions/fnc_modifyActionTriageLevel.sqf
  addons/medical_treatment/functions/fnc_canPlaceInBodyBag.sqf
Labels: ignore changelog

#8299 Parachute - Put both settings in same subcategory
  addons/parachute/XEH_preInit.sqf
Labels: ignore changelog, impact/trivial

#8296 Medical: fix minor cut re-opening
  addons/medical_treatment/ACE_Medical_Treatment.hpp
Labels: kind/bug fix

#8294 Arsenal - Add on loadout delete event
  addons/arsenal/functions/fnc_buttonLoadoutsDelete.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: kind/enhancement

#8288 Explosives - Fix missing action name for setup helper object
  addons/explosives/CfgVehicles.hpp
Labels: kind/bug fix

#8285 Interaction - Disable open box action when inventory is locked
  addons/interaction/CfgVehicles.hpp
Labels: kind/bug fix

#8270 Vehicle Lock - Increase vehicle key mass to 0.1
  addons/vehiclelock/CfgWeapons.hpp
Labels: kind/bug fix

#8269 Medical - Hide cursor when unconscious
  addons/common/CfgWrapperUI.hpp
  addons/common/DisableMouseDialog.hpp
  addons/common/ProgressScreen.hpp
  addons/common/config.cpp
  addons/common/data/blank_cursor_ca.paa
  addons/common/functions/fnc_disableUserInput.sqf
Labels: kind/enhancement

#8298 VSCode - Add test/build tasks
  .gitignore
  tools/.vscode/tasks.json
Labels: area/tools, ignore changelog

#8282 Common - Fix gesture anim lockout for some launchers
  addons/common/XEH_postInit.sqf
Labels: kind/bug fix

#8290 Add optionals to validation tools
  optionals/compat_rh_de/CfgAmmo.hpp
  optionals/compat_rh_m4/CfgAmmo.hpp
  optionals/compat_rh_m4/CfgWeapons.hpp
  optionals/compat_rh_pdw/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgGlasses.hpp
  optionals/tracers/CfgMagazines.hpp
  tools/check_strings.py
  tools/config_style_checker.py
  tools/sqf_validator.py
Labels: area/tools, ignore changelog, kind/enhancement
