Repository acemod/ACE3, pull requests merged in 2021-02, with the labels that each got.

#8091 Misc - Fix minor macro usage
  addons/medical_treatment/functions/fnc_isInMedicalFacility.sqf
  addons/mk6mortar/functions/fnc_csw_getProxyWeapon.sqf
Labels: ignore changelog

#8090 Tripod - Fix blocking mouse wheel input handler
  addons/tripod/functions/fnc_adjust.sqf
Labels: kind/bug fix

#8060 Interact Menu - Combine parent menu with single child
  addons/chemlights/CfgVehicles.hpp
  addons/fastroping/CfgVehicles.hpp
  addons/interact_menu/functions/fnc_collectActiveActionTree.sqf
  addons/interact_menu/initSettings.sqf
  addons/interact_menu/stringtable.xml
  addons/map/CfgVehicles.hpp
  addons/quickmount/CfgVehicles.hpp
  addons/quickmount/functions/fnc_canShowFreeSeats.sqf
Labels: kind/enhancement

#8092 Medical Damage - Add setting for unconscious chance from pain
  addons/medical_damage/functions/fnc_handleIncapacitation.sqf
  addons/medical_damage/initSettings.sqf
  addons/medical_damage/stringtable.xml
Labels: kind/enhancement

#8095 Convert all true/false in configs to 0/1
  addons/cargo/menu.hpp
  addons/common/CfgEventHandlers.hpp
  addons/common/HintConfig.hpp
  addons/common/ProgressScreen.hpp
  addons/common/define.hpp
  addons/dagr/Dialog.hpp
  addons/dagr/RscTitles.hpp
  addons/goggles/RscTitles.hpp
  addons/huntir/Dialog.hpp
  addons/huntir/RscTitles.hpp
  addons/interact_menu/CursorMenus.hpp
Labels: ignore changelog, kind/cleanup

#8088 Arsenal - Fix custom categories not working for some Misc item types
  addons/arsenal/functions/fnc_fillRightPanel.sqf
Labels: kind/bug fix

#8078 R3F Compat - Update to the R3F weapons 3.7.1
  optionals/compat_r3f/CfgAmmo.hpp
  optionals/compat_r3f/CfgMagazines.hpp
  optionals/compat_r3f/CfgWeapons.hpp
  optionals/compat_r3f/config.cpp
Labels: area/compatibility

#8112 CSW - use preferred XEH format
  addons/csw/CfgEventHandlers.hpp
Labels: ignore changelog

#8111 Goggles - Allow wiping in more states
  addons/goggles/CfgVehicles.hpp
Labels: kind/enhancement

#8093 Tools - Make.py don't Binarise ANY configs
  tools/make.py
Labels: area/tools, ignore changelog

#8099 General - Switch to CBA_fnc_addSetting
  addons/advanced_fatigue/initSettings.sqf
  addons/arsenal/XEH_preInit.sqf
  addons/artillerytables/initSettings.sqf
  addons/cargo/initSettings.sqf
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/common/functions/fnc_cbaSettings_loadFromConfig.sqf
  addons/common/initSettings.sqf
  addons/cookoff/initSettings.sqf
  addons/csw/initSettings.sqf
  addons/fastroping/initSettings.sqf
  addons/interact_menu/initSettings.sqf
  addons/markers/initSettings.sqf
  addons/medical/initSettings.sqf
  addons/medical_ai/initSettings.sqf
  addons/medical_blood/initSettings.sqf
  addons/medical_damage/initSettings.sqf
  addons/medical_gui/initSettings.sqf
  addons/medical_statemachine/initSettings.sqf
  addons/medical_status/initSettings.sqf
  addons/medical_treatment/initSettings.sqf
  addons/microdagr/initSettings.sqf
  addons/mk6mortar/initSettings.sqf
  addons/nametags/initSettings.sqf
  addons/nightvision/initSettings.sqf
  addons/noradio/XEH_preInit.sqf
  addons/parachute/XEH_preInit.sqf
  addons/pylons/initSettings.sqf
  addons/quickmount/initSettings.sqf
  addons/rearm/initSettings.sqf
  addons/refuel/initSettings.sqf
  addons/repair/initSettings.sqf
  addons/spectator/initSettings.sqf
  addons/tagging/initSettings.sqf
  addons/vehiclelock/initSettings.sqf
  addons/weaponselect/initSettings.sqf
  addons/weather/initSettings.sqf
  addons/zeus/initSettings.sqf
Labels: kind/enhancement

#8087 Common - Improve getPylonTurret by using getAllPylonsInfo
  addons/common/functions/fnc_getPylonTurret.sqf
  addons/main/script_mod.hpp
  addons/rearm/functions/fnc_getNeedRearmMagazines.sqf
Labels: kind/enhancement

#8106 Wirecutter - Replace fences with destroyed models when cut
  addons/logistics_wirecutter/CfgEventHandlers.hpp
  addons/logistics_wirecutter/CfgVehicles.hpp
  addons/logistics_wirecutter/XEH_PREP.hpp
  addons/logistics_wirecutter/XEH_clientInit.sqf
  addons/logistics_wirecutter/XEH_postInit.sqf
  addons/logistics_wirecutter/XEH_preInit.sqf
  addons/logistics_wirecutter/functions/fnc_cutDownFence.sqf
  addons/logistics_wirecutter/functions/fnc_destroyFence.sqf
  addons/logistics_wirecutter/script_component.hpp
Labels: kind/enhancement

#8122 cookOff - Fix: Disable ammunition cookoff and turret effect when skipping destruction effects
  addons/cookoff/XEH_postInit.sqf
Labels: kind/bug fix

#8125 Update AUTHORS.txt
  AUTHORS.txt
Labels: ignore changelog

#8139 Spanish Translations - Chery pick 6868fa5600841a3e929531367e6c500306a39c65
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/nlaw/stringtable.xml
  addons/noradio/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/rearm/stringtable.xml
  addons/refuel/stringtable.xml
  addons/reload/stringtable.xml
  addons/respawn/stringtable.xml
  addons/zeus/stringtable.xml
Labels: ignore changelog

#8034 Fix Multiple Issues With Timestamps
  addons/markers/XEH_PREP.hpp
  addons/markers/functions/fnc_initInsertMarker.sqf
  addons/markers/functions/fnc_onButtonClickConfirm.sqf
  addons/markers/functions/fnc_onCheckedChangedTimestamp.sqf
  addons/markers/functions/fnc_onLBSelChangedColor.sqf
  addons/markers/functions/fnc_onLBSelChangedShape.sqf
  addons/markers/functions/fnc_removeTimestamp.sqf
  addons/markers/initSettings.sqf
  addons/markers/script_component.hpp
  addons/markers/stringtable.xml
Labels: kind/bug fix, kind/enhancement

#8128 Apply needed pboProject settings in make.py via Windows Registry
  tools/make.py
Labels: area/tools, ignore changelog

#8012 Replace canAdd with CBA_fnc_canAddItem
  addons/attach/functions/fnc_detach.sqf
  addons/common/functions/fnc_addToInventory.sqf
  addons/csw/functions/fnc_reload_handleReturnAmmo.sqf
  addons/hearing/functions/fnc_removeEarplugs.sqf
  addons/interaction/functions/fnc_canPassMagazine.sqf
  addons/interaction/functions/fnc_passMagazine.sqf
  addons/magazinerepack/functions/fnc_canRepackMagazine.sqf
  addons/magazinerepack/functions/fnc_getMagazineChildren.sqf
  addons/magazinerepack/functions/fnc_startRepackingMagazine.sqf
Labels: kind/bug fix

#8126 Quickmount - Add icon for Change Seat action
  addons/quickmount/CfgVehicles.hpp
  addons/quickmount/UI/Seats_ca.paa
Labels: kind/enhancement

#8031 Advanced Throwing - Add object variable to disable pick up of attached throwables
  addons/advanced_throwing/functions/fnc_renderPickUpInteraction.sqf
  docs/wiki/framework/advanced-throwing-framework.md
Labels: kind/enhancement

#8116 Medical Treatment - Settings to limit IVs to certain locations
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#8089 Arsenal - Less magic numbers
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_fillLeftPanel.sqf
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
  addons/arsenal/functions/fnc_verifyLoadout.sqf
Labels: ignore changelog, kind/cleanup

#8066 Cook off - Fix ammo box cook off when setting is Players only
  addons/cookoff/functions/fnc_handleDamage.sqf
Labels: kind/bug fix
