Repository acemod/ACE3, pull requests merged in 2021-03, with the labels that each got.

#8083 Medical - Show "Inventory" action on unconscious units
  addons/medical_status/XEH_preInit.sqf
Labels: kind/enhancement

#8142 Common - Fix Gesture mutex for scroll-wheel reloads
  addons/common/XEH_postInit.sqf
Labels: kind/bug fix

#8143 Update XEH_preInit.sqf
  addons/medical_status/XEH_preInit.sqf
Labels: ignore changelog

#8102 Arsenal - Fix Zeus UI lockup after closing arsenal
  addons/arsenal/functions/fnc_onArsenalClose.sqf
Labels: kind/bug fix

#8146 Update Japanese translation
  addons/arsenal/stringtable.xml
  addons/explosives/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: area/translations

#7706 Add Weapon Attachments interaction
  addons/attach/functions/fnc_detach.sqf
  addons/attach/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/common/stringtable.xml
  addons/hearing/functions/fnc_removeEarplugs.sqf
  addons/hearing/stringtable.xml
  addons/interaction/ACE_Settings.hpp
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_PREP.hpp
  addons/interaction/XEH_postInit.sqf
  addons/interaction/XEH_preInit.sqf
  addons/interaction/functions/fnc_getWeaponAttachmentsActions.sqf
  addons/interaction/functions/fnc_switchWeaponAttachment.sqf
  addons/interaction/initSettings.sqf
  addons/interaction/stringtable.xml
  addons/main/script_mod.hpp
Labels: kind/feature request

#8150 Update Japanese translation
  addons/interaction/stringtable.xml
  addons/javelin/stringtable.xml
Labels: area/translations

#8152 Javelin - Reduce soft-launch motor delay
  addons/missileguidance/CfgAmmo.hpp
Labels: kind/bug fix

#8156 Medical - Enable forgotten unconscious fade in/out effects
  addons/medical_feedback/XEH_postInit.sqf
Labels: kind/bug fix

#8157 Hellfire - Improve descriptions for hellfire variants
  addons/hellfire/CfgMagazines.hpp
  addons/hellfire/stringtable.xml
Labels: kind/enhancement

#8161 Maverick - Change displayShortName to MAVL for Maverick L
  addons/maverick/stringtable.xml
Labels: kind/enhancement

#8175 Various - Add missing units/weapons to cfgPatches
  addons/artillerytables/config.cpp
  addons/dragon/config.cpp
  addons/fastroping/config.cpp
  addons/medical_treatment/config.cpp
  addons/tacticalladder/config.cpp
Labels: kind/bug fix

#8172 Documentation - Add Mikero binarization note
  docs/wiki/development/setting-up-the-development-environment.md
Labels: area/documentation, ignore changelog

#8182 Adjust "New issue" link to lead to template selection page
  docs/wiki/user/how-to-report-an-issue.md
Labels: area/documentation, ignore changelog
