Repository acemod/ACE3, pull requests merged in 2022-01, with the labels that each got.

#8765 Update setting-up-the-development-environment.md
  docs/wiki/development/setting-up-the-development-environment.md
Labels: ignore changelog, area/documentation

#8754 Medical - Capitalize 'Crushed Tissue' strings
  addons/medical_damage/stringtable.xml
Labels: kind/enhancement

#8753 Fire - Add ellipsis & decapitalize 'patting down fire' string
  addons/fire/stringtable.xml
Labels: kind/enhancement

#8771 Translations - Add german translations
  addons/common/stringtable.xml
  addons/fire/stringtable.xml
  addons/fortify/stringtable.xml
  addons/overheating/stringtable.xml
  addons/slideshow/stringtable.xml
  addons/viewdistance/stringtable.xml
Labels: area/translations

#8770 Overheating - Fix set temperature functions
  addons/overheating/functions/fnc_setAmmoTemperature.sqf
  addons/overheating/functions/fnc_setWeaponTemperature.sqf
Labels: kind/bug fix

#8780 Mk6 Mortar - Add [CSW] prefix to magazines
  addons/mk6mortar/stringtable.xml
Labels: kind/cleanup

#8745 Medical Treatment - Add ellipsis to 'Stitching' string
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#8779 Medical GUI - Improve descriptions for blood loss and damage color settings
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#8793 Compats - Fix RHS LMGs being classed as closed bolt systems
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: area/compatibility

#8798 RHS Compats - Add [CSW] prefix to magazines
  optionals/compat_rhs_afrf3/CfgMagazines.hpp
  optionals/compat_rhs_afrf3/stringtable.xml
  optionals/compat_rhs_usf3/CfgMagazines.hpp
  optionals/compat_rhs_usf3/stringtable.xml
Labels: area/compatibility

#8794 Common - Add cache to `fnc_isModLoaded`
  addons/advanced_ballistics/XEH_postInit.sqf
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_deprecateComponent.sqf
  addons/common/functions/fnc_endRadioTransmission.sqf
  addons/common/functions/fnc_isModLoaded.sqf
  addons/gforces/functions/fnc_pfhUpdateGForces.sqf
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
  addons/nametags/functions/fnc_initIsSpeaking.sqf
  addons/overheating/XEH_postInit.sqf
  addons/overheating/functions/fnc_canCoolWeaponWithItem.sqf
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
  addons/zeus/functions/fnc_handleZeusUnitAssigned.sqf
  optionals/compat_sog/functions/fnc_handlePunjiTrapDamage.sqf
Labels: kind/optimization

#8744 Vehicles - Add ability to define startup delay via config for AllVehicles
  addons/vehicles/CfgEventHandlers.hpp
Labels: kind/enhancement

#8740 Cargo - Add ability to disabled rename on object level
  addons/cargo/XEH_postInit.sqf
  docs/wiki/framework/cargo-framework.md
Labels: kind/enhancement

#8777 Cargo - Improve config and `fnc_getNameItem`
  addons/cargo/CfgVehicles.hpp
  addons/cargo/functions/fnc_getNameItem.sqf
Labels: kind/enhancement, status/discussion

#8762 Medical AI - Fix AI not performing CPR
  addons/medical_ai/functions/fnc_healingLogic.sqf
Labels: kind/bug fix
