Repository acemod/ACE3, pull requests merged in 2022-08, with the labels that each got.

#8985 Overpressure - Fix backblast originating at projectile
  addons/overpressure/CfgWeapons.hpp
  addons/overpressure/XEH_PREP.hpp
  addons/overpressure/XEH_postInit.sqf
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_firedEHOP.sqf
  addons/overpressure/functions/fnc_getOverPressureValues.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
  docs/wiki/development/ace3-config-entries.md
  docs/wiki/framework/overpressure-framework.md
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_saf3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: kind/enhancement

#8989 Fire - Fix incorrect mempoint for sound source
  addons/fire/functions/fnc_burn.sqf
Labels: kind/bug fix

#8995 CSW - Fix loading with ammo from vehicle cargo
  addons/csw/functions/fnc_ai_reload.sqf
  addons/csw/functions/fnc_reload_loadMagazine.sqf
Labels: kind/bug fix

#8970 SOG Compat - Fixed an issue preventing the M1919A6 from being disassembled
  optionals/compat_sog/CfgVehicles/turrets.hpp
Labels: kind/bug fix

#8973 Captives - Change load captives seats list order so captives are first loaded in the back
  addons/captives/functions/fnc_findEmptyNonFFVCargoSeat.sqf
Labels: kind/enhancement

#8992 Fortify - Fix funds being lost when cancelling deploy
  addons/fortify/XEH_postInit.sqf
  addons/fortify/functions/fnc_deployConfirm.sqf
Labels: kind/bug fix

#8983 Refuel - Improved fuel hose texture
  addons/refuel/CfgVehicles.hpp
  addons/refuel/data/hose.cfg
  addons/refuel/data/hose.p3d
  addons/refuel/functions/fnc_takeNozzle.sqf
Labels: kind/enhancement

#9003 CI - Use pull request branch pDummies during build
  .github/workflows/pboproject.yml
Labels: ignore changelog

#8971 Refuel - Add Progress Bar Duration Setting
  addons/refuel/CfgVehicles.hpp
  addons/refuel/defines.hpp
  addons/refuel/functions/fnc_checkFuel.sqf
  addons/refuel/functions/fnc_connectNozzleAction.sqf
  addons/refuel/functions/fnc_moduleRefuelSettings.sqf
  addons/refuel/functions/fnc_returnNozzle.sqf
  addons/refuel/functions/fnc_takeNozzle.sqf
  addons/refuel/initSettings.sqf
  addons/refuel/script_component.hpp
  addons/refuel/stringtable.xml
Labels: kind/feature request

#8998 Trenches - Add "placed" and "finished" events
  addons/trenches/functions/fnc_continueDiggingTrench.sqf
  addons/trenches/functions/fnc_placeConfirm.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#8972 RHSUSF Compat - Fix A-10A 30mm 5:1 DU:HEI mag rearm
  optionals/compat_rhs_usf3/CfgAmmo.hpp
Labels: area/compatibility

#8997 Cargo - Add setting for carry after cargo unload
  AUTHORS.txt
  addons/cargo/functions/fnc_unloadCarryItem.sqf
  addons/cargo/initSettings.sqf
  addons/cargo/stringtable.xml
Labels: kind/enhancement

#9002 Cookoff - Randomized the delay from start of cookoff and ammunition detonation
  addons/cookoff/XEH_postInit.sqf
  addons/cookoff/script_component.hpp
Labels: kind/enhancement

#9000 Cookoff - Tweaked effects cleanup to work in dedicated environment
  addons/cookoff/XEH_postInit.sqf
  addons/cookoff/functions/fnc_cookOff.sqf
Labels: kind/bug fix

#8923 Common - Add CBA extended loadout
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/XEH_postInit.sqf
  addons/arsenal/XEH_preInit.sqf
  addons/arsenal/functions/fnc_addDefaultLoadout.sqf
  addons/arsenal/functions/fnc_buttonExport.sqf
  addons/arsenal/functions/fnc_buttonImport.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsLoad.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsRename.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsSave.sqf
  addons/arsenal/functions/fnc_fillLoadoutsList.sqf
  addons/arsenal/functions/fnc_getLoadout.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_verifyLoadout.sqf
  addons/arsenal/missions/Arsenal.VR/XEH_postInit.sqf
  addons/arsenal/missions/Arsenal.VR/initPlayerLocal.sqf
  addons/arsenal/stringtable.xml
  addons/common/XEH_postInit.sqf
  addons/gunbag/XEH_preInit.sqf
  addons/headless/XEH_postInit.sqf
  addons/headless/functions/fnc_transferGroups.sqf
  addons/hearing/XEH_postInit.sqf
  addons/respawn/functions/fnc_handleKilled.sqf
  addons/respawn/functions/fnc_restoreGear.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: area/compatibility

#9001 Medical - Disable blood spurts for fire, burn and drown damage types
  addons/medical_blood/XEH_preInit.sqf
  addons/medical_blood/XEH_preStart.sqf
  addons/medical_blood/functions/fnc_handleWoundReceived.sqf
  addons/medical_damage/ACE_Medical_Injuries.hpp
  docs/wiki/framework/medical-framework.md
Labels: kind/enhancement

#9012 Translation - Improve ace_rangecard translation
  addons/rangecard/stringtable.xml
Labels: area/translations

#8963 Towing - Add rope to vehicle inventory
  addons/towing/XEH_PREP.hpp
  addons/towing/XEH_preInit.sqf
  addons/towing/functions/fnc_addRopeToVehicle.sqf
  addons/towing/initSettings.sqf
  addons/towing/stringtable.xml
Labels: kind/enhancement

#9016 Fire - Increase effectiveness of rolling for putting out fire
  addons/fire/functions/fnc_burn.sqf
  addons/fire/functions/fnc_medical_success.sqf
  addons/fire/script_component.hpp
Labels: kind/enhancement

#8879 Missile Guidance - Use `weaponsInfo` to optimize fire-mode selection
  addons/missileguidance/functions/fnc_cycleAttackProfileKeyDown.sqf
Labels: kind/optimization

#8951 Marker Flags - Add placing system & icons
  addons/marker_flags/CfgEventHandlers.hpp
  addons/marker_flags/CfgVehicles.hpp
  addons/marker_flags/CfgWeapons.hpp
  addons/marker_flags/XEH_PREP.hpp
  addons/marker_flags/XEH_missionDisplayLoad.sqf
  addons/marker_flags/XEH_postInit.sqf
  addons/marker_flags/XEH_preStart.sqf
  addons/marker_flags/config.cpp
  addons/marker_flags/functions/fnc_addActions.sqf
  addons/marker_flags/functions/fnc_handleScrollWheel.sqf
  addons/marker_flags/functions/fnc_pickUpFlag.sqf
  addons/marker_flags/functions/fnc_placeFlag.sqf
  addons/marker_flags/script_component.hpp
  addons/marker_flags/stringtable.xml
  addons/marker_flags/ui/icons/black_place_icon.paa
  addons/marker_flags/ui/icons/blue_place_icon.paa
  addons/marker_flags/ui/icons/green_place_icon.paa
  addons/marker_flags/ui/icons/orange_place_icon.paa
  addons/marker_flags/ui/icons/purple_place_icon.paa
  addons/marker_flags/ui/icons/red_place_icon.paa
  addons/marker_flags/ui/icons/white_pickup_icon.paa
  addons/marker_flags/ui/icons/white_place_icon.paa
  addons/marker_flags/ui/icons/yellow_place_icon.paa
Labels: kind/enhancement
