Repository acemod/ACE3, pull requests merged in 2022-04, with the labels that each got.

#8848 maptools - Improve behaviour upon first open (show under mouse position instead of bottom-left corner)
  addons/maptools/CfgVehicles.hpp
  addons/maptools/XEH_postInitClient.sqf
  addons/maptools/functions/fnc_updateMapToolMarkers.sqf
Labels: kind/enhancement

#8862 Laser - Fix seeker owner return value
  addons/laser/functions/fnc_seekerFindLaserSpot.sqf
Labels: kind/bug fix

#8833 Field Rations - Add sunflower seeds
  addons/field_rations/CfgVehicles.hpp
  addons/field_rations/CfgWeapons.hpp
  addons/field_rations/config.cpp
  addons/field_rations/data/sunflower_seeds.p3d
  addons/field_rations/data/sunflower_seeds_co.paa
  addons/field_rations/stringtable.xml
  addons/field_rations/ui/item_sunflowerseeds_co.paa
Labels: kind/enhancement

#8868 Remove enhancement request issue template
  .github/ISSUE_TEMPLATE/enhancement-request.md
Labels: ignore changelog

#8870 Add Missing German Translation
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/finger/stringtable.xml
  addons/noradio/stringtable.xml
  addons/overpressure/stringtable.xml
Labels: area/translations

#8871 CSW - Fix AI reloading
  addons/csw/functions/fnc_ai_reload.sqf
Labels: kind/bug fix

#8872 Common - Fix undefined variable for isModLoadedCache
  addons/common/XEH_postInit.sqf
  addons/common/XEH_preInit.sqf
Labels: kind/bug fix

#8875 replace urls
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  addons/explosives/functions/fnc_addDetonateHandler.sqf
  addons/main/stringtable.xml
  addons/optionsmenu/config.cpp
  addons/optionsmenu/init_loadMainMenuBox.sqf
  addons/spectator/README.md
  docs/README.md
  docs/README.zh-TW.md
  docs/README_DE.md
  docs/README_PL.md
  docs/_config.yml
  docs/_includes/_footer.html
  docs/_posts/2015-09-17-ace3-version331.md
  docs/_posts/2015-12-03-ace3-version340.md
  docs/_posts/2016-03-02-ace3-version350.md
  docs/_posts/2016-06-21-moving-ace3-frameworks-to-cba.md
  docs/_posts/2016-06-30-ace3-version360.md
  docs/_posts/2016-09-17-ace3-version370.md
  docs/_posts/2016-11-04-ace3-version381.md
  docs/_posts/2021-10-14-ace3-version3140.md
  docs/acebot.json
  docs/index.html
  docs/tools/combine_events.py
  tools/deploy.py
Labels: ignore changelog, area/documentation

#8877 remove google analytics
  docs/_includes/_footer.html
  docs/index.html
  docs/js/footer.dev.js
  docs/js/footer.min.js
  docs/js/footer.min.js.map
  docs/package-lock.json
  docs/src/Gruntfile.js
  docs/src/js/components/analytics.js
  docs/src/js/components/contentSearch.js
Labels: ignore changelog, area/documentation

#8878 General - Remove deprecated functions
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_isFeatureCameraActive.sqf
  addons/common/functions/fnc_numberToDigitsString.sqf
  addons/medical/XEH_preInit.sqf
Labels: kind/cleanup

#8881 Pylons - Show ammo description in pylon loadout tooltips
  addons/pylons/functions/fnc_showDialog.sqf
Labels: kind/enhancement

#8892 arsenal - fix hash getvar default type
  addons/arsenal/functions/fnc_fillRightPanel.sqf
Labels: ignore changelog
