Repository acemod/ACE3, pull requests merged in 2022-05, with the labels that each got.

#8893 Spottingscope - Fix destruction of Spotting Scope
  addons/spottingscope/XEH_preInit.sqf
Labels: kind/bug fix

#8882 Vector - Disable tilting the reticule when zoomed
  addons/vector/CfgWeapons.hpp
Labels: kind/cleanup

#8885 Laser/Laserpointer - Fix localization of laser
  addons/laser/initSettings.sqf
  addons/laser/stringtable.xml
  addons/laserpointer/stringtable.xml
Labels: area/translations

#8888 CSW - Move carry mag getting code to function
  addons/csw/XEH_PREP.hpp
  addons/csw/functions/fnc_aceRearmGetCarryMagazines.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/functions/fnc_getCarryMagazine.sqf
  addons/csw/functions/fnc_reload_actionsUnload.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
Labels: kind/cleanup

#8873 Cargo / Dragging - Fix Invisible Target Soldier being loadable and dr…
  addons/cargo/CfgVehicles.hpp
  addons/dragging/CfgVehicles.hpp
Labels: kind/bug fix

#8876 Cargo - Remove the ability to load cooked-off items
  addons/cargo/functions/fnc_canLoadItemIn.sqf
Labels: kind/enhancement

#8858 MapTools - Allow mod maps and compasses to use map tools
  addons/maptools/CfgVehicles.hpp
  addons/maptools/functions/fnc_canUseMapTools.sqf
Labels: area/compatibility

#8891 Medical Vitals - Add event to vitals loop
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#8883 User Interface - Add ability to hide Default Action Icon
  addons/ui/CfgInGameUI.hpp
  addons/ui/config.cpp
  addons/ui/initSettings.sqf
  addons/ui/stringtable.xml
Labels: kind/feature request

#8880 CSW - Fix missing magazine on assembling
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/functions/fnc_reload_getVehicleMagazine.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
Labels: kind/bug fix

#8276 Aircraft - Drone Tools
  addons/aircraft/CfgEventHandlers.hpp
  addons/aircraft/XEH_PREP.hpp
  addons/aircraft/XEH_postInit.sqf
  addons/aircraft/functions/fnc_droneAddActions.sqf
  addons/aircraft/functions/fnc_droneGetTurretTargetPos.sqf
  addons/aircraft/functions/fnc_droneModifyWaypoint.sqf
  addons/aircraft/functions/fnc_droneSetWaypoint.sqf
  addons/laser/XEH_PREP.hpp
  addons/laser/XEH_postInit.sqf
  addons/laser/functions/fnc_addMapHandler.sqf
  addons/laser/initSettings.sqf
  addons/laser/stringtable.xml
Labels: kind/feature request

#8903 Medical - Add AI Unconsciousness exception (when using zeus module)
  AUTHORS.txt
  addons/medical_statemachine/Statemachine.hpp
  addons/zeus/functions/fnc_moduleUnconscious.sqf
Labels: kind/enhancement

#8857 Casings - Add infantry bullet casings
  addons/casings/$PBOPREFIX$
  addons/casings/CfgEventHandlers.hpp
  addons/casings/README.md
  addons/casings/XEH_PREP.hpp
  addons/casings/XEH_postInit.sqf
  addons/casings/XEH_preInit.sqf
  addons/casings/XEH_preStart.sqf
  addons/casings/config.cpp
  addons/casings/functions/fnc_createCasing.sqf
  addons/casings/functions/script_component.hpp
  addons/casings/initSettings.sqf
  addons/casings/script_component.hpp
  addons/casings/stringtable.xml
Labels: kind/feature request

#8797 Cargo - Make player carry/drag item on unload
  addons/cargo/XEH_PREP.hpp
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_unloadCarryItem.sqf
  addons/cargo/functions/fnc_unloadItem.sqf
Labels: kind/enhancement

#8904 Common - Add separate blockSpeaking status for acre direct
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_setVolume.sqf
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/enhancement

#8696 Add Marker Flags
  addons/marker_flags/$PBOPREFIX$
  addons/marker_flags/CfgEventHandlers.hpp
  addons/marker_flags/CfgVehicles.hpp
  addons/marker_flags/CfgWeapons.hpp
  addons/marker_flags/XEH_PREP.hpp
  addons/marker_flags/XEH_postInit.sqf
  addons/marker_flags/XEH_preInit.sqf
  addons/marker_flags/XEH_preStart.sqf
  addons/marker_flags/config.cpp
  addons/marker_flags/data/ace_default.rvmat
  addons/marker_flags/data/ace_markerpole.p3d
  addons/marker_flags/functions/fnc_addActions.sqf
  addons/marker_flags/functions/fnc_canPlace.sqf
  addons/marker_flags/functions/fnc_getFlags.sqf
  addons/marker_flags/functions/fnc_pickUpFlag.sqf
  addons/marker_flags/functions/fnc_placeFlag.sqf
  addons/marker_flags/functions/script_component.hpp
  addons/marker_flags/initSettings.sqf
  addons/marker_flags/script_component.hpp
  addons/marker_flags/stringtable.xml
  addons/marker_flags/ui/black_ca.paa
  addons/marker_flags/ui/blue_ca.paa
  addons/marker_flags/ui/green_ca.paa
  addons/marker_flags/ui/orange_ca.paa
  addons/marker_flags/ui/purple_ca.paa
  addons/marker_flags/ui/red_ca.paa
  addons/marker_flags/ui/white_ca.paa
  addons/marker_flags/ui/yellow_ca.paa
Labels: kind/feature request

#8842 Fastroping - Improve FRIES macro and fix UBC issues in RHS Compats
  addons/fastroping/CfgVehicles.hpp
  addons/fastroping/script_component.hpp
  addons/fastroping/script_macros.hpp
  optionals/compat_rhs_gref3/CfgVehicles.hpp
  optionals/compat_rhs_gref3/script_component.hpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/script_component.hpp
  optionals/compat_sog/CfgVehicles.hpp
Labels: kind/bug fix

#8906 Overheating - Add barrel mass config value
  addons/overheating/functions/fnc_getWeaponData.sqf
  docs/wiki/framework/overheating-framework.md
Labels: kind/enhancement

#8909 Interaction - Fix handle animation name for carrier doors
  addons/interaction/functions/fnc_openDoor.sqf
Labels: kind/bug fix

#8907 Cookoff - Fix locality of `fire_removeFireSource` event
  addons/cookoff/functions/fnc_cookOffEffect.sqf
Labels: kind/bug fix

#8913 Explosives - SOG Compat - Fix punji traps handler not working
  optionals/compat_sog/XEH_postInit.sqf
Labels: kind/bug fix, ignore changelog

#8914 Explosives - SOG Compat - Fix Spiked ammo box placing wrong ammo type
  optionals/compat_sog/CfgMagazines/explosives.hpp
  optionals/compat_sog/CfgVehicles/explosives.hpp
  tools/pDummies/vn/objects_f_vietnam/supply/a2_ammo/pavn/vn_pavn_ammo.p3d
Labels: kind/bug fix

#8905 Vehicles - Add cruise control/speed limiter to boats
  addons/vehicles/XEH_postInit.sqf
  addons/vehicles/functions/fnc_speedLimiter.sqf
Labels: kind/enhancement

#8916 FieldRations - fix string
  addons/field_rations/stringtable.xml
Labels: ignore changelog

#8915 Cargo - Limit rename text length
  addons/cargo/functions/fnc_renameObject.sqf
Labels: kind/bug fix

#8861 Medical Damage - Improve falling and collision damage
  addons/medical_damage/ACE_Medical_Injuries.hpp
Labels: kind/enhancement

#8908 Tagging - Add more tags
  addons/tagging/ACE_Tags.hpp
  addons/tagging/UI/tags/black/arrow_down.paa
  addons/tagging/UI/tags/black/arrow_left.paa
  addons/tagging/UI/tags/black/arrow_right.paa
  addons/tagging/UI/tags/black/arrow_up.paa
  addons/tagging/UI/tags/black/circle.paa
  addons/tagging/UI/tags/black/cross.paa
  addons/tagging/UI/tags/black/diamond.paa
  addons/tagging/UI/tags/black/square.paa
  addons/tagging/UI/tags/black/triangle.paa
  addons/tagging/UI/tags/black/triangle_inverted.paa
  addons/tagging/UI/tags/blue/arrow_down.paa
  addons/tagging/UI/tags/blue/arrow_left.paa
  addons/tagging/UI/tags/blue/arrow_right.paa
  addons/tagging/UI/tags/blue/arrow_up.paa
  addons/tagging/UI/tags/blue/circle.paa
  addons/tagging/UI/tags/blue/cross.paa
  addons/tagging/UI/tags/blue/diamond.paa
  addons/tagging/UI/tags/blue/square.paa
  addons/tagging/UI/tags/blue/triangle.paa
  addons/tagging/UI/tags/blue/triangle_inverted.paa
  addons/tagging/UI/tags/green/arrow_down.paa
  addons/tagging/UI/tags/green/arrow_left.paa
  addons/tagging/UI/tags/green/arrow_right.paa
  addons/tagging/UI/tags/green/arrow_up.paa
  addons/tagging/UI/tags/green/circle.paa
  addons/tagging/UI/tags/green/cross.paa
  addons/tagging/UI/tags/green/diamond.paa
  addons/tagging/UI/tags/green/square.paa
  addons/tagging/UI/tags/green/triangle.paa
  addons/tagging/UI/tags/green/triangle_inverted.paa
  addons/tagging/UI/tags/red/arrow_down.paa
  addons/tagging/UI/tags/red/arrow_left.paa
  addons/tagging/UI/tags/red/arrow_right.paa
  addons/tagging/UI/tags/red/arrow_up.paa
  addons/tagging/UI/tags/red/circle.paa
  addons/tagging/UI/tags/red/cross.paa
  addons/tagging/UI/tags/red/diamond.paa
  addons/tagging/UI/tags/red/square.paa
  addons/tagging/UI/tags/red/triangle.paa
  addons/tagging/UI/tags/red/triangle_inverted.paa
  addons/tagging/XEH_PREP.hpp
  addons/tagging/XEH_preInit.sqf
  addons/tagging/functions/fnc_addTagActions.sqf
  addons/tagging/functions/fnc_applyCustomTag.sqf
  addons/tagging/functions/fnc_checkTaggable.sqf
  addons/tagging/functions/fnc_compileConfigTags.sqf
  addons/tagging/functions/fnc_compileTagAction.sqf
  addons/tagging/stringtable.xml
Labels: kind/enhancement

#8480 Viewports
  addons/viewports/$PBOPREFIX$
  addons/viewports/CfgEventHandlers.hpp
  addons/viewports/CfgVehicles.hpp
  addons/viewports/README.md
  addons/viewports/XEH_PREP.hpp
  addons/viewports/XEH_postInit.sqf
  addons/viewports/XEH_preInit.sqf
  addons/viewports/XEH_preStart.sqf
  addons/viewports/config.cpp
  addons/viewports/data/optic_window_ca.paa
  addons/viewports/dev/debugPoints.sqf
  addons/viewports/functions/fnc_eachFrame.sqf
  addons/viewports/functions/fnc_enterVehicle.sqf
  addons/viewports/functions/fnc_getSeatInfo.sqf
  addons/viewports/functions/fnc_getViewports.sqf
  addons/viewports/functions/fnc_viewCleanup.sqf
  addons/viewports/functions/fnc_viewCreate.sqf
  addons/viewports/functions/script_component.hpp
  addons/viewports/gui.hpp
  addons/viewports/initSettings.sqf
  addons/viewports/script_component.hpp
  addons/viewports/stringtable.xml
  docs/wiki/feature/viewports.md
  docs/wiki/framework/viewports-framework.md
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
Labels: kind/feature request

#8735 Common - Add keybind and function to unload unit's weapon/muzzle
  addons/common/XEH_PREP.hpp
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_unloadUnitWeapon.sqf
  addons/common/stringtable.xml
  addons/main/script_mod.hpp
  docs/wiki/framework/common-framework.md
Labels: kind/enhancement

#8917 Tools - Fix string check false positive on tagging macro
  tools/check_strings.py
Labels: area/tools, ignore changelog

#8919 Documentation - Fix Viewports versions
  docs/wiki/feature/viewports.md
  docs/wiki/framework/viewports-framework.md
Labels: kind/bug fix, ignore changelog, area/documentation

#8918 replace chat urls
  .github/CONTRIBUTING.md
  README.md
  docs/README.zh-TW.md
  docs/README_DE.md
  docs/README_PL.md
  docs/index.html
  docs/wiki/development/documentation-guidelines-and-tips.md
Labels: ignore changelog, area/documentation

#8920 Documentation - Use title instead of name
  docs/_config.yml
  docs/_config_dev.yml
Labels: kind/bug fix, ignore changelog, area/documentation

#8924 Translations - Add and Improve Missing Japanese
  addons/casings/stringtable.xml
  addons/common/stringtable.xml
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/finger/stringtable.xml
  addons/fire/stringtable.xml
  addons/fortify/stringtable.xml
  addons/laser/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/noradio/stringtable.xml
  addons/overheating/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/slideshow/stringtable.xml
  addons/tacticalladder/stringtable.xml
  addons/tagging/stringtable.xml
  addons/trenches/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/viewports/stringtable.xml
  addons/zeus/stringtable.xml
  optionals/compat_rhs_afrf3/stringtable.xml
  optionals/compat_rhs_usf3/stringtable.xml
Labels: area/translations

#8921 Translations - Add Missing Polish
  addons/casings/stringtable.xml
  addons/common/stringtable.xml
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/finger/stringtable.xml
  addons/fire/stringtable.xml
  addons/laser/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/noradio/stringtable.xml
  addons/overheating/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/slideshow/stringtable.xml
  addons/tagging/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/viewports/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#8734 Cookoff - Add setting to destroy vehicle after cooking off
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/cookoff/initSettings.sqf
  addons/cookoff/stringtable.xml
Labels: kind/enhancement
