Repository acemod/ACE3, pull requests merged in 2022-07, with the labels that each got.

#8953 Cookoff - Add ability to disable fire jet effect in configs
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/cookoff/functions/fnc_cookOffEffect.sqf
Labels: kind/enhancement

#8961 Kestrel4500 - Cleanup unused `onUnload` handler (2.10 compatiblity)
  addons/kestrel4500/RscTitles.hpp
  addons/kestrel4500/XEH_PREP.hpp
  addons/kestrel4500/functions/fnc_onCloseDisplay.sqf
Labels: kind/bug fix

#8945 Logistics Wirecutter - Add new fences models for the wirecutter
  addons/logistics_wirecutter/script_component.hpp
Labels: kind/enhancement

#8962 Rearm - Fix rearm of dead vehicles
  addons/rearm/functions/fnc_addRearmActions.sqf
Labels: kind/bug fix

#8958 Cookoff - Removed references to unused ignoreTurret parameter in code and docs
  addons/cookoff/CfgVehicles.hpp
  docs/wiki/framework/cookoff-framework.md
Labels: area/documentation, area/compatibility

#8935 Trenches - Improve by using surfaceTexture
  AUTHORS.txt
  addons/apl/ace_envelope_small.p3d
  addons/apl/ace_envelope_small4.p3d
  addons/apl/ace_envelope_small4_nogeo.p3d
  addons/apl/model.cfg
  addons/trenches/CfgVehicles.hpp
  addons/trenches/XEH_PREP.hpp
  addons/trenches/functions/fnc_camouflageTrench.sqf
  addons/trenches/functions/fnc_canCamouflageTrench.sqf
  addons/trenches/stringtable.xml
Labels: kind/enhancement

#8969 Interaction Menu - Fix black screen option not removing background properly
  addons/interact_menu/CursorMenus.hpp
Labels: kind/bug fix

#8925 Advanced Vehicle Damage - Change default setting to disabled
  addons/vehicle_damage/initSettings.sqf
Labels: area/compatibility

#8984 Translation - Add Simplified Chinese translation
  AUTHORS.txt
  addons/casings/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/finger/stringtable.xml
  addons/laser/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/repair/stringtable.xml
  addons/trenches/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/viewports/stringtable.xml
  optionals/compat_rhs_afrf3/stringtable.xml
  optionals/compat_rhs_usf3/stringtable.xml
Labels: area/translations

#8982 RHSSAF Compat - Fix vanilla use action for explosives
  optionals/compat_rhs_saf3/CfgMagazines.hpp
Labels: kind/bug fix
