Repository acemod/ACE3, pull requests merged in 2022-03, with the labels that each got.

#8811 Ballistics/Realistic Weights - Improve `LMG_Mk200_F`
  addons/ballistics/CfgWeapons.hpp
  addons/realisticweights/CfgWeapons.hpp
Labels: area/compatibility

#8742 Compats - Fix RHSUSF UH-1Y F.R.I.E.S options
  optionals/compat_rhs_usf3/CfgVehicles.hpp
Labels: area/compatibility

#8748 Compats - Add RHSGREF UH-1H F.R.I.E.S capability
  optionals/compat_rhs_gref3/CfgEventHandlers.hpp
  optionals/compat_rhs_gref3/CfgVehicles.hpp
  optionals/compat_rhs_gref3/XEH_PREP.hpp
  optionals/compat_rhs_gref3/XEH_preInit.sqf
  optionals/compat_rhs_gref3/XEH_preStart.sqf
  optionals/compat_rhs_gref3/config.cpp
  optionals/compat_rhs_gref3/functions/fnc_canCloseDoor.sqf
  optionals/compat_rhs_gref3/functions/fnc_onCut.sqf
  optionals/compat_rhs_gref3/functions/fnc_onPrepare.sqf
  optionals/compat_rhs_gref3/functions/script_component.hpp
Labels: area/compatibility

#8450 Medical GUI - Add setting to show blood loss
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_gui/initSettings.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/feature request

#8739 GM Compat - Fix explosives not being placeable
  optionals/compat_gm/CfgMagazines.hpp
Labels: area/compatibility

#8764 Nametags - Fix ACE nametag drawIcon3D parameter error when player controlled unit dies
  addons/nametags/functions/fnc_drawNameTagIcon.sqf
Labels: kind/bug fix

#8786 Arsenal - Improve magazine removal after weapon switch
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
Labels: kind/enhancement

#8788 Medical Statemachine - Improve edge case death handling
  addons/medical_statemachine/Statemachine.hpp
  addons/medical_statemachine/XEH_PREP.hpp
  addons/medical_statemachine/functions/fnc_enteredStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_enteredStateDeath.sqf
  addons/medical_statemachine/functions/fnc_enteredStateFatalInjury.sqf
  addons/medical_statemachine/functions/fnc_enteredStateUnconscious.sqf
  addons/medical_statemachine/functions/fnc_handleStateCardiacArrest.sqf
  addons/medical_statemachine/functions/fnc_handleStateDefault.sqf
  addons/medical_statemachine/functions/fnc_handleStateInjured.sqf
  addons/medical_status/functions/fnc_setDead.sqf
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/bug fix

#8796 Interact Menu - Add blocking while editing CT_EDIT
  addons/interact_menu/functions/fnc_keyDown.sqf
Labels: kind/bug fix

#8776 CSW - Add reloading from nearSupplies
  addons/common/functions/fnc_removeSpecificMagazine.sqf
  addons/csw/CfgVehicles.hpp
  addons/csw/XEH_PREP.hpp
  addons/csw/XEH_postInit.sqf
  addons/csw/functions/fnc_aceRearmGetCarryMagazines.sqf
  addons/csw/functions/fnc_ai_handleFired.sqf
  addons/csw/functions/fnc_ai_handleGetIn.sqf
  addons/csw/functions/fnc_ai_reload.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/functions/fnc_proxyWeapon.sqf
  addons/csw/functions/fnc_reload_actionsLoad.sqf
  addons/csw/functions/fnc_reload_actionsUnload.sqf
  addons/csw/functions/fnc_reload_canLoadMagazine.sqf
  addons/csw/functions/fnc_reload_getLoadableMagazines.sqf
  addons/csw/functions/fnc_reload_handleAddTurretMag.sqf
  addons/csw/functions/fnc_reload_handleRemoveTurretMag.sqf
  addons/csw/functions/fnc_reload_handleReturnAmmo.sqf
  addons/csw/functions/fnc_reload_loadMagazine.sqf
  addons/csw/functions/fnc_staticWeaponInit.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
  addons/csw/initSettings.sqf
  addons/csw/stringtable.xml
Labels: kind/enhancement

#8825 Magazine Repack - Add idle animation when a player starts repacking magazines
  addons/magazinerepack/functions/fnc_startRepackingMagazine.sqf
  addons/magazinerepack/initSettings.sqf
  addons/magazinerepack/stringtable.xml
Labels: kind/enhancement

#8676 Finger - Add scaling settings
  addons/finger/functions/fnc_incomingFinger.sqf
  addons/finger/functions/fnc_perFrameEH.sqf
  addons/finger/initSettings.sqf
  addons/finger/stringtable.xml
Labels: kind/feature request

#8750 Fire - Fix fire damage not causing burn wounds
  addons/fire/functions/fnc_burn.sqf
Labels: kind/bug fix

#8659 Common - Block radio status effect without blocking direct voice (ACRE)
  addons/common/XEH_postInit.sqf
Labels: kind/bug fix

#8838 Remove pDummies for decrypted PBOs in 2.08 patch
  tools/pDummies/A3/Weapons_F_Tank/Launchers/Vorona/Data/UI/icon_rocket_vorona_HEAT_F_ca.paa
  tools/pDummies/A3/Weapons_F_Tank/Launchers/Vorona/Vorona_missile_heat_fly
  tools/pDummies/A3/ui_f_enoch/data/objects/data/optics_APR_02_CA.paa
  tools/pDummies/A3/ui_f_enoch/data/objects/data/optics_apr_ca.paa
  tools/pDummies/A3/ui_f_enoch/data/objects/data/optics_regulator_ca.paa
Labels: area/tools, ignore changelog

#8795 General - Change object config lookups to `configOf`
  addons/artillerytables/functions/fnc_turretChanged.sqf
  addons/backpacks/functions/fnc_isBackpack.sqf
  addons/captives/CfgVehicles.hpp
  addons/captives/XEH_postInit.sqf
  addons/captives/script_component.hpp
  addons/cargo/functions/fnc_initObject.sqf
  addons/cargo/functions/fnc_initVehicle.sqf
  addons/common/functions/fnc_findUnloadPosition.sqf
  addons/common/functions/fnc_getVehicleCargo.sqf
  addons/common/functions/fnc_getVehicleCodriver.sqf
  addons/common/functions/fnc_getVehicleIcon.sqf
  addons/csw/functions/fnc_proxyWeapon.sqf
  addons/explosives/functions/fnc_setupExplosive.sqf
  addons/field_rations/functions/fnc_drinkFromSource.sqf
  addons/field_rations/functions/fnc_getActionOffset.sqf
  addons/field_rations/functions/fnc_getRemainingWater.sqf
  addons/gunbag/functions/fnc_hasGunbag.sqf
  addons/intelitems/functions/fnc_attributeFocus.sqf
  addons/intelitems/functions/fnc_canPickup.sqf
  addons/intelitems/functions/fnc_pickup.sqf
  addons/interact_menu/functions/fnc_createVehiclesActions.sqf
  addons/interact_menu/functions/fnc_userActions_addHouseActions.sqf
  addons/killtracker/XEH_postInit.sqf
  addons/logistics_wirecutter/functions/fnc_isFence.sqf
  addons/logistics_wirecutter/script_component.hpp
  addons/modules/XEH_postInit.sqf
  addons/nametags/functions/fnc_doShow.sqf
  addons/parachute/functions/fnc_handleReserve.sqf
  addons/pylons/XEH_postInit.sqf
  addons/rearm/functions/fnc_addVehicleMagazinesToSupply.sqf
  addons/rearm/functions/fnc_initSupplyVehicle.sqf
  addons/sitting/functions/fnc_sit.sqf
  addons/vehicle_damage/functions/fnc_addEventHandler.sqf
  addons/vehicle_damage/functions/fnc_handleCookoff.sqf
Labels: kind/optimization

#8800 Advanced Fatigue - Improve misc. code
  addons/advanced_fatigue/XEH_postInit.sqf
  addons/advanced_fatigue/XEH_preInit.sqf
  addons/advanced_fatigue/functions/fnc_addDutyFactor.sqf
  addons/advanced_fatigue/functions/fnc_getMetabolicCosts.sqf
  addons/advanced_fatigue/functions/fnc_handleStaminaBar.sqf
  addons/advanced_fatigue/functions/fnc_mainLoop.sqf
  addons/advanced_fatigue/functions/fnc_removeDutyFactor.sqf
Labels: kind/optimization

#8756 Grenades - Add fire source to incendiary grenades
  addons/grenades/functions/fnc_incendiary.sqf
Labels: kind/enhancement

#8840 Vehicles - Mousewheel will set speed limiter value to even multiples
  addons/vehicles/XEH_postInit.sqf
  addons/vehicles/initSettings.sqf
Labels: kind/enhancement

#8792 Vehicles - Add cruise control
  addons/vehicles/XEH_postInit.sqf
  addons/vehicles/functions/fnc_speedLimiter.sqf
  addons/vehicles/script_component.hpp
  addons/vehicles/stringtable.xml
  docs/wiki/feature/vehicles.md
Labels: kind/feature request
