Repository acemod/ACE3, pull requests merged in 2022-02, with the labels that each got.

#8808 Cookoff - Fix invalid function name in example
  addons/cookoff/functions/fnc_smoke.sqf
Labels: ignore changelog

#8809 RHS Compats - Fix Stringtables (#8798)
  optionals/compat_rhs_afrf3/stringtable.xml
  optionals/compat_rhs_usf3/stringtable.xml
Labels: area/translations

#8803 Medical Status - Add `isDamageAllowed` check to `setDead`
  addons/medical_status/functions/fnc_setDead.sqf
Labels: kind/enhancement

#8815 SOG Compat - Fix M1919 ammo not showing in arsenal
  optionals/compat_sog/CfgMagazines/csw.hpp
Labels: kind/bug fix

#8810 RHS Compat - Improve AK104/5 barrel length
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
Labels: area/compatibility

#8813 Arsenal - Improve `addWeaponItem` usage
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
  addons/arsenal/functions/fnc_onSelChangedRight.sqf
  addons/reloadlaunchers/functions/fnc_reloadLauncher.sqf
Labels: kind/enhancement

#8789 Medical Treatment - Add preferred seats for loading patients
  addons/common/functions/fnc_loadPerson.sqf
  addons/common/functions/fnc_loadPersonLocal.sqf
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/functions/fnc_loadUnit.sqf
  docs/wiki/framework/medical-treatment-framework.md
Labels: kind/enhancement

#8709 Weather - Fix `calculateRoughnessLength` detecting buildings above sea level
  addons/weather/functions/fnc_calculateRoughnessLength.sqf
Labels: kind/bug fix

#8278 Medical - Rework wound handling
  addons/medical/functions/fnc_addDamageToUnit.sqf
  addons/medical_blood/functions/fnc_handleWoundReceived.sqf
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/XEH_PREP.hpp
  addons/medical_damage/XEH_preInit.sqf
  addons/medical_damage/functions/fnc_debug_explosiveTest.sqf
  addons/medical_damage/functions/fnc_getTypeOfDamage.sqf
  addons/medical_damage/functions/fnc_interpolatePoints.sqf
  addons/medical_damage/functions/fnc_parseConfigForInjuries.sqf
  addons/medical_damage/functions/fnc_parseWoundHandlersCfg.sqf
  addons/medical_damage/functions/fnc_woundReceived.sqf
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  addons/medical_damage/functions/fnc_woundsHandlerBurning.sqf
  addons/medical_damage/functions/fnc_woundsHandlerSQF.sqf
  addons/medical_damage/functions/fnc_woundsHandlerVehiclecrash.sqf
  addons/medical_engine/CfgVehicles.hpp
  addons/medical_engine/XEH_postInit.sqf
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/functions/fnc_getItemArmor.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_engine/functions/fnc_updateDamageEffects.sqf
  addons/medical_engine/script_component.hpp
  addons/medical_engine/script_macros_config.hpp
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  docs/wiki/framework/medical-framework.md
Labels: kind/enhancement, target/Next Milestone?

#8823 Documentation - Fix Medical Framework page parsing
  docs/wiki/framework/medical-framework.md
Labels: kind/bug fix, ignore changelog, area/documentation

#8822 Realistic Names - Fix UBC
  addons/realisticnames/CfgWeapons.hpp
Labels: ignore changelog

#8824 medical_damage - cleanup woundHandler naming
  addons/medical_blood/functions/fnc_handleWoundReceived.sqf
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/XEH_PREP.hpp
  addons/medical_damage/XEH_preInit.sqf
  addons/medical_damage/functions/fnc_debug_explosiveTest.sqf
  addons/medical_damage/functions/fnc_parseConfigForInjuries.sqf
  addons/medical_damage/functions/fnc_woundsHandler.sqf
  addons/medical_damage/functions/fnc_woundsHandlerBase.sqf
  addons/medical_damage/functions/fnc_woundsHandlerBurning.sqf
  addons/medical_damage/functions/fnc_woundsHandlerVehiclecrash.sqf
  docs/wiki/framework/medical-framework.md
Labels: ignore changelog

#8828 Docs - Update package-lock.json
  docs/src/package-lock.json
  docs/src/package.json
Labels: ignore changelog
