Repository acemod/ACE3, pull requests merged in 2022-12, with the labels that each got.

#9099 Refuel - Fix warnings when building with latest pboProject
  addons/refuel/CfgVehicles.hpp
Labels: kind/cleanup, ignore changelog

#9107 Sog Compat - Cleanup class inheritance formatting
  optionals/compat_sog/CfgVehicles/boats.hpp
  optionals/compat_sog/CfgVehicles/planes.hpp
  optionals/compat_sog/CfgVehicles/tracked.hpp
Labels: ignore changelog

#9092 Documentation - Expand fortify to include config
  docs/wiki/framework/fortify-framework.md
Labels: kind/documentation, area/documentation

#9086 Safety - Add optional flag to hide hint
  addons/safemode/functions/fnc_lockSafety.sqf
  addons/safemode/functions/fnc_setWeaponSafety.sqf
  addons/safemode/functions/fnc_unlockSafety.sqf
Labels: kind/enhancement

#9108 Parachute - Fix Broken Altimeter PerFrameHandler removal
  addons/parachute/functions/fnc_showAltimeter.sqf
Labels: kind/bug fix

#9106 CSW - Fix Belt Linking for Static Weapons
  addons/csw/functions/fnc_reload_canLoadMagazine.sqf
Labels: kind/bug fix
