Repository acemod/ACE3, pull requests merged in 2023-03, with the labels that each got.

#9162 Casings - Add missing vanilla casing types
  addons/casings/functions/fnc_createCasing.sqf
Labels: kind/enhancement

#9123 Repair - Improve framework documentation
  docs/wiki/framework/repair-framework.md
Labels: kind/documentation, ignore changelog, area/documentation

#9122 Refuel - Improve framework documentation
  docs/wiki/framework/refuel-framework.md
Labels: ignore changelog, area/documentation

#9114 Rearm - Improve framework documentation
  docs/wiki/framework/rearm-framework.md
Labels: ignore changelog, area/documentation

#9020 Medical Treatment - Suture
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/CfgWeapons.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/config.cpp
  addons/medical_treatment/data/littergeneric_suture.p3d
  addons/medical_treatment/data/suture.p3d
  addons/medical_treatment/data/suture.rvmat
  addons/medical_treatment/data/suture_co.paa
  addons/medical_treatment/data/suture_nohq.paa
  addons/medical_treatment/data/suture_smdi.paa
  addons/medical_treatment/functions/fnc_canStitch.sqf
  addons/medical_treatment/functions/fnc_surgicalKitProgress.sqf
  addons/medical_treatment/functions/fnc_surgicalKitStart.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
  addons/medical_treatment/ui/suture_ca.paa
Labels: kind/feature request

#9164 Korean Translation Improved
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/common/stringtable.xml
  addons/disposable/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/flashlights/stringtable.xml
  addons/grenades/stringtable.xml
  addons/huntir/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/optics/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: area/translations

#9169 Arsenal - GM Compat - Add uniform details support
  optionals/compat_gm/XEH_preinit.sqf
Labels: kind/enhancement

#9168 Field Rations - Add water supply to well from Contact DLC
  addons/field_rations/CfgVehicles.hpp
Labels: area/compatibility

#9170 Explosives - Fix mine defuse exclusion not working before postInit is executed
  addons/explosives/XEH_postInit.sqf
  addons/explosives/XEH_preInit.sqf
Labels: kind/bug fix

#9146 Cookoff - Remove flares from cookoff
  addons/cookoff/XEH_PREP.hpp
  addons/cookoff/functions/fnc_getVehicleAmmo.sqf
  addons/cookoff/functions/fnc_isMagazineFlare.sqf
Labels: kind/enhancement

#9140 View Distance - Fix viewdistance from video settings
  addons/viewdistance/functions/fnc_changeViewDistance.sqf
Labels: kind/bug fix, 2.12

#9167 Fortify - Categories
  addons/fortify/ACEX_Fortify_Presets.hpp
  addons/fortify/functions/fnc_addActions.sqf
  addons/fortify/functions/fnc_getPlaceableSet.sqf
  addons/fortify/functions/fnc_registerObjects.sqf
  addons/fortify/stringtable.xml
  docs/wiki/framework/fortify-framework.md
Labels: kind/enhancement

#9166 Respawn - fix script error
  addons/respawn/functions/fnc_updateRallypoint.sqf
Labels: kind/bug fix
