Repository acemod/ACE3, pull requests merged in 2023-10, with the labels that each got.

#9444 Medical Treatment - Add new Grave model
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/data/ACE_grave.p3d
  addons/medical_treatment/data/Grave_as.paa
  addons/medical_treatment/data/Grave_co.paa
  addons/medical_treatment/data/Grave_nohq.paa
  addons/medical_treatment/data/Grave_smdi.paa
  addons/medical_treatment/data/grave.rvmat
  addons/medical_treatment/data/model.cfg
  addons/medical_treatment/functions/fnc_placeInGrave.sqf
Labels: kind/enhancement

#9452 Misc - Config caplitzation fixes
  addons/medical_treatment/ACE_Medical_Treatment.hpp
  addons/realisticnames/CfgWeapons.hpp
Labels: ignore changelog, impact/trivial

#9451 Medical Treatment - Change isAwake check for grave digging to only apply to CAManBase
  addons/medical_treatment/functions/fnc_canDigGrave.sqf
Labels: kind/bug fix

#9443 Tagging - Add new colors to sprays and new tag and tweak stringtables.
  addons/tagging/ACE_Tags.hpp
  addons/tagging/CfgVehicles.hpp
  addons/tagging/CfgWeapons.hpp
  addons/tagging/UI/icons/iconTaggingWhite.paa
  addons/tagging/UI/icons/iconTaggingYellow.paa
  addons/tagging/UI/items/itemSpraypaintWhite.paa
  addons/tagging/UI/items/itemSpraypaintYellow.paa
  addons/tagging/UI/tags/black/square_filled.paa
  addons/tagging/UI/tags/blue/square_filled.paa
  addons/tagging/UI/tags/green/square_filled.paa
  addons/tagging/UI/tags/red/square_filled.paa
  addons/tagging/UI/tags/white/0.paa
  addons/tagging/UI/tags/white/1.paa
  addons/tagging/UI/tags/white/2.paa
  addons/tagging/UI/tags/white/arrow_down.paa
  addons/tagging/UI/tags/white/arrow_left.paa
  addons/tagging/UI/tags/white/arrow_right.paa
  addons/tagging/UI/tags/white/arrow_up.paa
  addons/tagging/UI/tags/white/circle.paa
  addons/tagging/UI/tags/white/cross.paa
  addons/tagging/UI/tags/white/diamond.paa
  addons/tagging/UI/tags/white/square.paa
  addons/tagging/UI/tags/white/square_filled.paa
  addons/tagging/UI/tags/white/triangle.paa
  addons/tagging/UI/tags/white/triangle_inverted.paa
  addons/tagging/UI/tags/yellow/0.paa
  addons/tagging/UI/tags/yellow/1.paa
  addons/tagging/UI/tags/yellow/2.paa
  addons/tagging/UI/tags/yellow/arrow_down.paa
  addons/tagging/UI/tags/yellow/arrow_left.paa
  addons/tagging/UI/tags/yellow/arrow_right.paa
  addons/tagging/UI/tags/yellow/arrow_up.paa
  addons/tagging/UI/tags/yellow/circle.paa
  addons/tagging/UI/tags/yellow/cross.paa
  addons/tagging/UI/tags/yellow/diamond.paa
  addons/tagging/UI/tags/yellow/square.paa
  addons/tagging/UI/tags/yellow/square_filled.paa
  addons/tagging/UI/tags/yellow/triangle.paa
  addons/tagging/UI/tags/yellow/triangle_inverted.paa
  addons/tagging/data/spraycanWhite_co.paa
  addons/tagging/data/spraycanYellow_co.paa
  addons/tagging/stringtable.xml
Labels: kind/enhancement

#9450 Compat SOG - Add explosives support to 1.3 mines
  addons/compat_sog/CfgAmmo/explosives.hpp
  addons/compat_sog/CfgMagazines/explosives.hpp
  addons/compat_sog/CfgVehicles/explosives.hpp
  tools/pDummies/vn/weapons_f_vietnam_04/mines/m18/vn_mine_m18_wp
Labels: area/compatibility

#9441 Medical Treatment: Add graves event and setting for markers
  addons/medical_treatment/functions/fnc_placeInBodyBagOrGrave.sqf
  addons/medical_treatment/functions/fnc_placeInGrave.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#9442 Medical Treatement - Add Grave Digging To Body Bags
  addons/medical_gui/ui/grave.paa
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/functions/fnc_placeBodyBagInGrave.sqf
  addons/medical_treatment/functions/fnc_placeInBodyBagOrGrave.sqf
  addons/medical_treatment/functions/fnc_placeInGrave.sqf
Labels: kind/enhancement

#9456 Tagging - Fix stringtable
  addons/tagging/stringtable.xml
Labels: kind/bug fix, ignore changelog

#9455 Medical Treatment - Fix grave digging
  addons/cargo/XEH_postInit.sqf
  addons/dogtags/XEH_postInit.sqf
  addons/medical_gui/ui/cross_grave.paa
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/functions/fnc_bodyCleanupLoop.sqf
  addons/medical_treatment/functions/fnc_placeBodyBagInGrave.sqf
  addons/medical_treatment/functions/fnc_placeInBodyBagOrGrave.sqf
  addons/medical_treatment/functions/fnc_placeInGrave.sqf
  addons/medical_treatment/functions/fnc_removeBody.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/bug fix

#9459 Zeus - Fix `bis_fnc_activateaddons` error in moduleCurator
  addons/zeus/functions/fnc_bi_moduleCurator.sqf
Labels: kind/bug fix

#9425 General - `uiNamespace` cleanup
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/captives/XEH_preInit.sqf
  addons/captives/XEH_preStart.sqf
  addons/explosives/XEH_preInit.sqf
  addons/explosives/XEH_preStart.sqf
  addons/field_rations/functions/fnc_scanFieldRations.sqf
  addons/field_rations/script_component.hpp
  addons/medical_treatment/functions/fnc_scanMedicalItems.sqf
  addons/medical_treatment/script_component.hpp
Labels: ignore changelog

#9458 Medical AI - Add setting to replace gear for AI
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_ai/functions/fnc_itemCheck.sqf
  addons/medical_ai/initSettings.sqf
  addons/medical_ai/stringtable.xml
Labels: kind/enhancement, impact/trivial

#9457 Arsenal - Always show muzzle velocity even if not configured for AB
  addons/ballistics/functions/fnc_statTextStatement_magazineMuzzleVelocity.sqf
  addons/ballistics/functions/fnc_statTextStatement_weaponMuzzleVelocity.sqf
Labels: kind/bug fix

#9148 Trenches - Terrain Trenching
  addons/trenches/XEH_PREP.hpp
  addons/trenches/XEH_postInit.sqf
  addons/trenches/functions/fnc_blockTrench_place.sqf
  addons/zeus/CfgVehicles.hpp
  addons/zeus/XEH_PREP.hpp
  addons/zeus/config.cpp
  addons/zeus/functions/fnc_moduleLayTrench.sqf
  addons/zeus/stringtable.xml
Labels: kind/feature request

#9462 Zeus - Show where trench will go
  addons/trenches/functions/fnc_blockTrench_place.sqf
  addons/zeus/functions/fnc_getModuleDestination.sqf
  addons/zeus/functions/fnc_moduleLayTrench.sqf
Labels: kind/enhancement, ignore changelog

#9466 Interact Menu - Fix zeus cursor menu closing
  addons/interact_menu/functions/fnc_keyUp.sqf
Labels: kind/bug fix

#9468 Medical GUI - Reformat injury list to clarify global vs. limb-specific information
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#9464 Medical GUI - Add keybind to show player's patient information display
  addons/medical_gui/XEH_postInit.sqf
  addons/medical_gui/initSettings.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/feature request

#9467 Medical GUI - Peek Medical Info on Hit
  addons/medical_gui/XEH_postInit.sqf
  addons/medical_gui/initSettings.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/feature request

#9463 Captives - Allow disarming and blindfolding of captives in vehicles
  addons/captives/functions/fnc_canBlindfoldCaptive.sqf
  addons/captives/functions/fnc_canRemoveBlindfoldCaptive.sqf
  addons/captives/functions/fnc_doBlindfoldCaptive.sqf
  addons/disarming/functions/fnc_canBeDisarmed.sqf
  addons/disarming/functions/fnc_disarmDropItems.sqf
Labels: kind/enhancement

#9470 Arsenal - Add stats for reloadable launchers and belt linking
  addons/reload/ACE_Arsenal_Stats.hpp
  addons/reload/config.cpp
  addons/reloadlaunchers/ACE_Arsenal_Stats.hpp
  addons/reloadlaunchers/config.cpp
  addons/reloadlaunchers/stringtable.xml
Labels: kind/enhancement

#9469 Medical GUI - Display qualitative bleed rate in injury list
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#9471 Medical GUI - Add outline to selected body part in Medical Menu
  addons/medical_gui/data/body_image/arm_left_s.paa
  addons/medical_gui/data/body_image/arm_right_s.paa
  addons/medical_gui/data/body_image/head_s.paa
  addons/medical_gui/data/body_image/leg_left_s.paa
  addons/medical_gui/data/body_image/leg_right_s.paa
  addons/medical_gui/data/body_image/torso_s.paa
  addons/medical_gui/functions/fnc_displayPatientInformation.sqf
  addons/medical_gui/functions/fnc_menuPFH.sqf
  addons/medical_gui/functions/fnc_updateBodyImage.sqf
  addons/medical_gui/gui.hpp
  addons/medical_gui/initSettings.sqf
  addons/medical_gui/script_component.hpp
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#9476 Medical GUI - Change default body color to improve contrast
  addons/medical_gui/initSettings.sqf
Labels: kind/enhancement

#9320 Field Manual - Add Framework
  AUTHORS.txt
  addons/fieldmanual/$PBOPREFIX$
  addons/fieldmanual/CfgEventHandlers.hpp
  addons/fieldmanual/CfgHintCategories.hpp
  addons/fieldmanual/CfgHints.hpp
  addons/fieldmanual/XEH_PREP.hpp
  addons/fieldmanual/XEH_preStart.sqf
  addons/fieldmanual/addon.toml
  addons/fieldmanual/config.cpp
  addons/fieldmanual/functions/fnc_getItemName.sqf
  addons/fieldmanual/functions/fnc_getKeybindName.sqf
  addons/fieldmanual/script_component.hpp
  addons/fieldmanual/stringtable.xml
Labels: kind/feature request

#9480 Medical GUI - Add R and L labels on body image
  addons/medical_gui/gui.hpp
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#9481 Repair - Allow setting spare wheels/tracks count in config
  addons/repair/XEH_postInit.sqf
  docs/wiki/framework/repair-framework.md
Labels: kind/enhancement

#9479 Repair - Fix script error if vehicle is null
  addons/repair/functions/fnc_addRepairActions.sqf
Labels: kind/bug fix

#9477 Medical GUI - Add keyboard shortcuts for selecting medical menu categories and body parts
  addons/medical_gui/XEH_PREP.hpp
  addons/medical_gui/functions/fnc_onKeyDown.sqf
  addons/medical_gui/gui.hpp
Labels: kind/feature request

#9474 Medical GUI - Show number of available treatment items in medical menu
  addons/medical_gui/XEH_PREP.hpp
  addons/medical_gui/functions/fnc_collectActions.sqf
  addons/medical_gui/functions/fnc_countTreatmentItems.sqf
  addons/medical_gui/functions/fnc_formatItemCounts.sqf
  addons/medical_gui/functions/fnc_updateActions.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#9482 Field Manual - Add Medical Menu entry
  addons/fieldmanual/CfgHints.hpp
  addons/fieldmanual/stringtable.xml
Labels: kind/enhancement, ignore changelog

#9485 Medical GUI - Improve toggle button icon and tooltip
  addons/medical_gui/data/categories/toggle_self.paa
  addons/medical_gui/data/categories/toggle_to_other.paa
  addons/medical_gui/data/categories/toggle_to_self.paa
  addons/medical_gui/functions/fnc_onMenuOpen.sqf
  addons/medical_gui/gui.hpp
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#9486 Medical GUI - Fix asymmetry in the medical menu
  addons/medical_gui/functions/fnc_onMenuOpen.sqf
  addons/medical_gui/gui.hpp
Labels: kind/enhancement

#9483 Medical GUI - Move target name to middle header
  addons/medical_gui/functions/fnc_onMenuOpen.sqf
  addons/medical_gui/gui.hpp
  addons/medical_gui/script_component.hpp
Labels: kind/enhancement

#9475 Medical GUI - Show warning if tourniquet will interfere with medical menu action
  addons/medical_gui/functions/fnc_updateActions.sqf
  addons/medical_gui/initSettings.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/enhancement

#9490 Common - Increase sway update frequency
  addons/common/functions/fnc_swayLoop.sqf
Labels: kind/enhancement, ignore changelog

#9496 Medical GUI - Add divider bars for triage and toggle category buttons
  addons/medical_gui/functions/fnc_onMenuOpen.sqf
  addons/medical_gui/gui.hpp
  addons/medical_gui/script_component.hpp
Labels: kind/enhancement

#9495 Medical GUI - Use selected color when triage category selected
  addons/medical_gui/functions/fnc_updateCategories.sqf
Labels: kind/enhancement

#9497 Medical GUI - Fix action button width
  addons/medical_gui/gui.hpp
Labels: kind/bug fix, ignore changelog

#9498 Medical GUI - Remake drag/carry category icon
  addons/medical_gui/data/categories/carry.paa
Labels: kind/enhancement

#9489 Translations - Add Polish Translations
  addons/common/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9494 Field Manual - Remove all use of `+=`, cleanup magwell capitlization
  .hemtt/project.toml
  addons/compat_rhs_usf3/CfgMagazineWells.hpp
  addons/fieldmanual/CfgHints.hpp
  addons/fieldmanual/addon.toml
  addons/grenades/CfgMagazineWells.hpp
  optionals/tracers/CfgMagazineWells.hpp
  sqfc.json
Labels: area/tools, ignore changelog

#9505 SPE Compat - Add Spearhead 1944 fuel drums to refuel system
  addons/compat_spe/CfgVehicles.hpp
  addons/compat_spe/CfgVehicles/land.hpp
Labels: kind/enhancement

#9504 Docs - use draft PR over WIP
  .github/CONTRIBUTING.md
Labels: ignore changelog, area/documentation

#9507 SPE Compat - Fix Spearhead 1944 fuel drums for refuel system
  addons/compat_spe/CfgVehicles.hpp
  addons/compat_spe/CfgVehicles/land.hpp
  addons/compat_spe/CfgVehicles/spe_boxes.hpp
Labels: ignore changelog

#9503 Medical GUI - Remake body outline textures
  addons/medical_gui/data/body_image/arm_left_s.paa
  addons/medical_gui/data/body_image/arm_right_s.paa
  addons/medical_gui/data/body_image/head_s.paa
  addons/medical_gui/data/body_image/leg_left_s.paa
  addons/medical_gui/data/body_image/leg_right_s.paa
  addons/medical_gui/data/body_image/torso_s.paa
  extras/scripts/medical_dummy_outline.bat
Labels: kind/enhancement

#9339 Tools - Update publisher for compats moving to main
  tools/publish.py
Labels: area/tools, ignore changelog

#9509 Field Manual - Fix HuntIR Monitor & Fortify Tool display names
  addons/fieldmanual/CfgHints.hpp
  addons/fieldmanual/stringtable.xml
Labels: kind/bug fix

#9515 Medical GUI - Fix Medical Menu triage button position
  addons/medical_gui/gui.hpp
Labels: kind/bug fix

#9517 Translations - Update Chinessimp
  addons/medical_gui/stringtable.xml
Labels: area/translations

#9523 Arsenal - Fix saving loadouts on new profiles
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_statTextStatement_magCount.sqf
Labels: kind/bug fix

#9512 Arsenal - Add `FUNC(getVirtualItems)`
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_getVirtualItems.sqf
Labels: kind/feature request

#9525 Medical Treatment - Improve display name for arsenal tab
  addons/medical_treatment/XEH_preInit.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/cleanup

#9520 Night Vision - Add prefix to `colorPreset`
  addons/nightvision/functions/fnc_refreshGoggleType.sqf
  addons/nightvision/script_component.hpp
  docs/wiki/framework/nightvision-framework.md
Labels: kind/cleanup

#9529 CSW/Dragging - Handle null objects causing script errors
  addons/csw/functions/fnc_staticWeaponInit.sqf
  addons/dragging/functions/fnc_initPerson.sqf
Labels: kind/bug fix

#9538 Medical GUI - Change minimal value of damage threshold
  addons/medical_gui/functions/fnc_updateBodyImage.sqf
Labels: kind/bug fix

#9536 Advanced Fatigue - Add settings to change sway factor with weapon rested/deployed
  addons/advanced_fatigue/XEH_postInit.sqf
  addons/advanced_fatigue/initSettings.sqf
  addons/advanced_fatigue/stringtable.xml
Labels: kind/enhancement

#9535 Advanced Throwing - Call ammo event handlers
  addons/advanced_throwing/XEH_postInit.sqf
  addons/advanced_throwing/functions/fnc_throwFiredXEH.sqf
Labels: kind/bug fix

#9541 Interaction/Dragging - Remove actions from scripted weaponHolders
  addons/dragging/CfgEventHandlers.hpp
  addons/interaction/CfgVehicles.hpp
Labels: kind/bug fix

#9537 Medical - Move GUI and Feedback settings to separate category
  addons/medical/stringtable.xml
  addons/medical_feedback/initSettings.sqf
  addons/medical_gui/initSettings.sqf
Labels: kind/enhancement

#9544 Arsenal - Fix editor attribute search
  addons/arsenal/functions/fnc_attributeAddItems.sqf
Labels: kind/bug fix

#9545 Medical - Make dug graves respect terrain slope
  addons/medical_treatment/functions/fnc_placeInBodyBagOrGrave.sqf
Labels: kind/bug fix

#9519 Documentation - Update jquery, remove polyfills, don't use foundation js
  .github/workflows/arma.yml
  docs/_includes/_navigation.html
  docs/css/app.css
  docs/js/footer.dev.js
  docs/js/footer.min.js
  docs/js/footer.min.js.map
  docs/src/Gruntfile.js
  docs/src/js/app.js
  docs/src/js/vendor/foundation/foundation.abide.js
  docs/src/js/vendor/foundation/foundation.accordion.js
  docs/src/js/vendor/foundation/foundation.alert.js
  docs/src/js/vendor/foundation/foundation.clearing.js
  docs/src/js/vendor/foundation/foundation.dropdown.js
  docs/src/js/vendor/foundation/foundation.equalizer.js
  docs/src/js/vendor/foundation/foundation.interchange.js
  docs/src/js/vendor/foundation/foundation.joyride.js
  docs/src/js/vendor/foundation/foundation.js
  docs/src/js/vendor/foundation/foundation.magellan.js
  docs/src/js/vendor/foundation/foundation.offcanvas.js
  docs/src/js/vendor/foundation/foundation.orbit.js
  docs/src/js/vendor/foundation/foundation.reveal.js
  docs/src/js/vendor/foundation/foundation.slider.js
  docs/src/js/vendor/foundation/foundation.tab.js
  docs/src/js/vendor/foundation/foundation.tooltip.js
  docs/src/js/vendor/foundation/foundation.topbar.js
  docs/src/js/vendor/jquery/jquery-3.7.1.min.js
  docs/src/js/vendor/modernizr/modernizr.custom.18747.js
  docs/src/js/vendor/picturefill/picturefill.js
  docs/src/package.json
  docs/src/pnpm-lock.yaml
Labels: kind/documentation, ignore changelog

#9553 Medical Treatment - Add missing sutures to advanced crate
  addons/medical_treatment/CfgVehicles.hpp
Labels: kind/enhancement

#9487 Medical GUI - Add sound and conditional switching to Medical Menu keybinds
  addons/medical_gui/functions/fnc_onKeyDown.sqf
Labels: kind/enhancement, ignore changelog

#9554 Compat RHS - Add hunterkiller support to M2A3
  .hemtt/project.toml
  addons/compat_rhs_usf3/CfgVehicles.hpp
Labels: area/compatibility

#9499 Arsenal - Add stat for capabilities of pointer attachments
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_illuminators.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#9557 Translations - Add French Translations
  addons/advanced_fatigue/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/casings/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dragging/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/finger/stringtable.xml
  addons/fire/stringtable.xml
  addons/fortify/stringtable.xml
  addons/headless/stringtable.xml
  addons/intelitems/stringtable.xml
  addons/laser/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/refuel/stringtable.xml
  addons/repair/stringtable.xml
  addons/slideshow/stringtable.xml
  addons/tagging/stringtable.xml
  addons/towing/stringtable.xml
  addons/trenches/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9561 HuntIR - Use ammo event handler
  addons/huntir/CfgAmmo.hpp
  addons/huntir/XEH_postInit.sqf
  addons/huntir/functions/fnc_handleFired.sqf
Labels: kind/optimization

#9552 Common - Fix `replaceRegisteredItems` if replacing item with nothing
  addons/common/functions/fnc_replaceRegisteredItems.sqf
Labels: kind/bug fix

#9491 Dragging - Prevent carrying crewed static weapons
  addons/dragging/functions/fnc_carryObject.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dragObject.sqf
  addons/dragging/functions/fnc_dragObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
Labels: kind/bug fix

#9542 Arsenal - Add support for modifying Virtual Items while opened
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_addVirtualItems.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_openBox.sqf
  addons/arsenal/functions/fnc_refresh.sqf
  addons/arsenal/functions/fnc_removeBox.sqf
  addons/arsenal/functions/fnc_removeVirtualItems.sqf
  addons/arsenal/functions/fnc_updateVirtualItemsFlat.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#9565 Arsenal - Fix search case-sensitivy for non-ANSI characters
  addons/arsenal/functions/fnc_attributeAddItems.sqf
  addons/arsenal/functions/fnc_handleSearchbar.sqf
Labels: kind/bug fix

#9560 Common - Diagnose ace install if there are version problems
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_checkFiles.sqf
  addons/common/functions/fnc_checkFiles_diagnoseACE.sqf
  optionals/noactionmenu/config.cpp
  optionals/nocrosshair/config.cpp
  optionals/nomedical/config.cpp
  optionals/norealisticnames/config.cpp
  optionals/nouniformrestrictions/config.cpp
  optionals/particles/config.cpp
  optionals/realisticdispersion/config.cpp
  optionals/tracers/config.cpp
Labels: kind/enhancement, status/needs testing

#9568 Common - Fix mod compat string and add source of main to outdated error
  addons/common/functions/fnc_checkFiles.sqf
Labels: kind/bug fix, ignore changelog

#9570 Medical GUI - Skip body part-specific info for medical peek
  addons/medical_gui/CfgVehicles.hpp
  addons/medical_gui/XEH_postInit.sqf
  addons/medical_gui/functions/fnc_displayPatientInformation.sqf
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
Labels: kind/enhancement

#9571 Compat RHS - Fix explosives compat
  addons/compat_rhs_saf3/compat_rhs_saf3_explosives/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_explosives/CfgMagazines.hpp
  addons/explosives/dev/test_magazines.sqf
Labels: kind/bug fix

#9569 Dragging - Add setting for Max Weight Coefficient
  addons/dragging/functions/fnc_getWeight.sqf
  addons/dragging/initSettings.sqf
  addons/dragging/stringtable.xml
Labels: kind/enhancement

#9566 Documentation - Update x icon, remove font awesome, replace with svg
  docs/_includes/_footer.html
  docs/_layouts/post.html
  docs/_layouts/wiki.html
  docs/css/app.css
  docs/css/fonts/FontAwesome.otf
  docs/css/fonts/fontawesome-webfont.eot
  docs/css/fonts/fontawesome-webfont.svg
  docs/css/fonts/fontawesome-webfont.ttf
  docs/css/fonts/fontawesome-webfont.woff
  docs/css/fonts/fontawesome-webfont.woff2
  docs/img/icons/chevronleft.svg
  docs/img/icons/chevronleftwhite.svg
  docs/img/icons/chevronrightwhite.svg
  docs/img/icons/download.svg
  docs/img/icons/facebook.svg
  docs/img/icons/social/32-facebook.png
  docs/img/icons/social/32-twitter.png
  docs/img/icons/social/32-youtube.png
  docs/img/icons/twitter.svg
  docs/img/icons/youtube.svg
  docs/index.html
  docs/js/footer.dev.js
  docs/js/footer.min.js
  docs/js/footer.min.js.map
  docs/news.md
  docs/src/js/app.js
  docs/src/scss/app.scss
  docs/src/scss/ui/_buttons.scss
  docs/src/scss/ui/_icons.scss
  docs/src/scss/ui/_links.scss
  docs/src/scss/ui/_social.scss
  docs/src/scss/ui/_toc.scss
  docs/src/scss/vendor/fontawesome/_animated.scss
  docs/src/scss/vendor/fontawesome/_bordered-pulled.scss
  docs/src/scss/vendor/fontawesome/_core.scss
  docs/src/scss/vendor/fontawesome/_fixed-width.scss
  docs/src/scss/vendor/fontawesome/_icons.scss
  docs/src/scss/vendor/fontawesome/_larger.scss
  docs/src/scss/vendor/fontawesome/_list.scss
  docs/src/scss/vendor/fontawesome/_mixins.scss
  docs/src/scss/vendor/fontawesome/_path.scss
  docs/src/scss/vendor/fontawesome/_rotated-flipped.scss
  docs/src/scss/vendor/fontawesome/_stacked.scss
  docs/src/scss/vendor/fontawesome/_variables.scss
  docs/src/scss/vendor/fontawesome/font-awesome.scss
  docs/wiki/user/promotional-material.md
Labels: ignore changelog, area/documentation

#9572 Documentation - Fix column sizes on wiki page
  docs/css/app.css
  docs/src/scss/_layout.scss
  docs/wiki/index.md
Labels: ignore changelog, area/documentation

#9575 Documentation - Improve svg handling
  docs/_includes/_footer.html
  docs/_layouts/post.html
  docs/_layouts/wiki.html
  docs/dist/bundle.css
  docs/dist/bundle.css.map
  docs/dist/icons.svg
  docs/img/logo/icon-128x128.png
  docs/img/logo/icon-144x144.png
  docs/img/logo/icon-256x256.png
  docs/img/logo/icon-384x384.png
  docs/img/logo/icon-48x48.png
  docs/img/logo/icon-512x512.png
  docs/img/logo/icon-96x96.png
  docs/index.html
  docs/manifest.json
  docs/news.md
  docs/package-lock.json
  docs/src/icons/chevronleft.svg
  docs/src/icons/chevronright.svg
  docs/src/icons/download.svg
  docs/src/icons/facebook.svg
  docs/src/icons/search.svg
  docs/src/icons/twitter.svg
  docs/src/icons/youtube.svg
  docs/src/package-lock.json
  docs/src/package.json
  docs/src/rollup.config.mjs
  docs/src/scss/_footer.scss
  docs/src/scss/_layout.scss
  docs/src/scss/_settings.scss
  docs/src/scss/_utils.scss
  docs/src/scss/ui/_buttons.scss
  docs/src/scss/ui/_icons.scss
  docs/src/scss/ui/_social.scss
  docs/wiki/index.md
  docs/wiki/search.md
  package-lock.json
Labels: ignore changelog, area/documentation

#9576 Translations - Portuguese
  addons/advanced_throwing/stringtable.xml
  addons/disposable/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/gunbag/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/overheating/stringtable.xml
  addons/parachute/stringtable.xml
  addons/quickmount/stringtable.xml
  addons/rangecard/stringtable.xml
  addons/repair/stringtable.xml
  addons/respawn/stringtable.xml
  addons/sandbag/stringtable.xml
  addons/scopes/stringtable.xml
  addons/spectator/stringtable.xml
  addons/switchunits/stringtable.xml
  addons/tacticalladder/stringtable.xml
  addons/trenches/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/weaponselect/stringtable.xml
  addons/weather/stringtable.xml
  addons/winddeflection/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9524 Medical Engine - Disable uniform passthrough scaling, increase passthrough effect on vests
  addons/medical_engine/functions/fnc_getItemArmor.sqf
Labels: kind/enhancement

#9371 Medical Treatment - Use Laws of War bodybag model and add colored bodybags
  addons/dogtags/XEH_postInit.sqf
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/CfgWeapons.hpp
  addons/medical_treatment/config.cpp
  addons/medical_treatment/data/bodybagItem.p3d
  addons/medical_treatment/data/bodybagItem_blue_co.paa
  addons/medical_treatment/data/bodybagItem_white_co.paa
  addons/medical_treatment/data/model.cfg
  addons/medical_treatment/functions/fnc_placeInBodyBag.sqf
  addons/medical_treatment/functions/fnc_placeInBodyBagOrGrave.sqf
  addons/medical_treatment/ui/bodybag_blue_ca.paa
  addons/medical_treatment/ui/bodybag_white_ca.paa
Labels: kind/enhancement

#9577 Translations - Add missing french translations
  addons/ai/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/csw/stringtable.xml
  addons/dragging/stringtable.xml
  addons/hunterkiller/stringtable.xml
  addons/irlight/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/noradio/stringtable.xml
  addons/overheating/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/ui/stringtable.xml
  addons/viewports/stringtable.xml
  addons/viewrestriction/stringtable.xml
Labels: area/translations

#9581 Assets - Add workshop logo for "No Realistic Names"
  extras/assets/logo/workshop/workshop.xcf
  extras/assets/logo/workshop/workshop_ace_norealisticnames.png
Labels: ignore changelog

#9583 Arsenal - Fix left searchbar updating
  addons/arsenal/functions/fnc_handleSearchbar.sqf
Labels: kind/bug fix, impact/trivial

#9584 Translation - Korean minor fix
  addons/nightvision/stringtable.xml
Labels: area/translations

#9589 CI - Update actions/checkout to v4
  .github/workflows/arma.yml
  .github/workflows/documentation.yml
  .github/workflows/extensions.yml
  .github/workflows/pboproject.yml
Labels: area/tools, ignore changelog

#9591 Medical Treatment - Fix missing semicolon
  addons/medical_treatment/CfgWeapons.hpp
Labels: kind/bug fix

#9587 Translation - German Addition/Improvement
  addons/advanced_fatigue/stringtable.xml
  addons/compat_rhs_usf3/compat_rhs_usf3_csw/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/dragging/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9596 Documentation - Add Moderators to Team page
  AUTHORS.txt
  docs/team.md
Labels: kind/task, ignore changelog, area/documentation

#9597 Arsenal - don't lowercase displayName
  addons/arsenal/functions/fnc_attributeAddItems.sqf
Labels: kind/bug fix

#9354 Arsenal - Add option to show live search results
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_handleSearchInputChanged.sqf
  addons/arsenal/functions/fnc_handleSearchModeToggle.sqf
  addons/arsenal/functions/fnc_handleSearchbar.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/stringtable.xml
  addons/arsenal/ui/RscAttributes.hpp
Labels: kind/enhancement, 2.14

#9484 Medical GUI - Increase Medical Menu side panel height
  addons/medical_gui/gui.hpp
Labels: kind/cleanup, ignore changelog

#9592 Configs - Fix case
  addons/medical_treatment/ACE_Medical_Treatment.hpp
  addons/realisticnames/CfgWeapons.hpp
Labels: ignore changelog

#9604 Documentation - Add johnb432 to maintainers
  AUTHORS.txt
  docs/team.md
Labels: kind/documentation, ignore changelog

#9598 Medical Treatment: separate actions for each bodybag
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement
