Repository acemod/ACE3, pull requests merged in 2023-05, with the labels that each got.

#9172 Refuel - Add `Land_vn_b_prop_fueldrum_01` compat
  optionals/compat_sog/CfgVehicles/land.hpp
Labels: area/compatibility

#9178 Towing - Add CBA event for towing start and cancel
  addons/towing/functions/fnc_startTow.sqf
  addons/towing/functions/fnc_towStateMachinePFH.sqf
Labels: kind/enhancement

#9189 SOG Compat - Fix compatibility with grad trenches (`__has_include`)
  addons/common/script_component.hpp
  optionals/compat_sog/CfgVehicles/units.hpp
  optionals/compat_sog/addon.toml
Labels: area/compatibility

#9190 Explosives - Add getVar to disable setShotParents
  addons/explosives/XEH_postInit.sqf
  docs/wiki/framework/explosives-framework.md
Labels: kind/enhancement

#9096 Medical Treatment - Improve Medical Actions underwater
  addons/medical_gui/CfgVehicles.hpp
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/functions/fnc_canBandage.sqf
  addons/medical_treatment/functions/fnc_canTreat.sqf
  addons/medical_treatment/functions/fnc_treatment.sqf
Labels: kind/enhancement

#9200 Tools - Make HEMTT releases equivalent to older releases
  .hemtt/hooks/post_build/01_move_readmes.rhai
  .hemtt/hooks/post_release/01_rename_zip.rhai
  .hemtt/hooks/pre_build/01_set_version.rhai
  .hemtt/project.toml
  docs/wiki/development/setting-up-the-development-environment.md
Labels: area/tools

#9203 Spanish translation - Add
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/cargo/stringtable.xml
  addons/casings/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/finger/stringtable.xml
  addons/fortify/stringtable.xml
  addons/headless/stringtable.xml
  addons/hunterkiller/stringtable.xml
  addons/intelitems/stringtable.xml
  addons/interaction/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/laser/stringtable.xml
  addons/logistics_rope/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/noradio/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
  addons/overheating/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/parachute/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/refuel/stringtable.xml
  addons/repair/stringtable.xml
  addons/slideshow/stringtable.xml
  addons/tagging/stringtable.xml
  addons/towing/stringtable.xml
  addons/trenches/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicle_damage/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/viewports/stringtable.xml
  addons/viewrestriction/stringtable.xml
  addons/volume/stringtable.xml
  addons/zeus/stringtable.xml
  optionals/compat_rhs_usf3/stringtable.xml
  optionals/compat_sog/stringtable.xml
Labels: area/translations
