Repository acemod/ACE3, pull requests merged in 2023-12, with the labels that each got.

#9666 ci: Update 7zip function to extract game data
  .github/workflows/pboproject.yml
Labels: kind/bug fix, area/tools, ignore changelog

#9668 Arsenal - Search fixes
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_handleSearchbar.sqf
Labels: kind/bug fix

#9672 Wiki - Update cargo-framework.md
  docs/wiki/framework/cargo-framework.md
Labels: ignore changelog, area/documentation

#9671 Translations - Hotfix Japanese localization.
  addons/advanced_fatigue/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/attach/stringtable.xml
  addons/cargo/stringtable.xml
  addons/chemlights/stringtable.xml
  addons/dragon/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/hearing/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/pylons/stringtable.xml
  addons/rearm/stringtable.xml
  addons/refuel/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9677 General - Removed silent Options Menu dependencies
  addons/cargo/initSettings.inc.sqf
  addons/common/initSettings.inc.sqf
  addons/common/stringtable.xml
  addons/optionsmenu/stringtable.xml
  addons/rearm/initSettings.inc.sqf
  addons/refuel/initSettings.inc.sqf
  addons/towing/initSettings.inc.sqf
  docs/wiki/development/modularity-and-pbo-structure.md
Labels: kind/cleanup

#9662 Medical - Prevent running `FUNC(deserializeState)` in scheduled environment
  addons/medical/functions/fnc_deserializeState.sqf
Labels: kind/bug fix

#9678 Translations - Korean updated
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/magazinerepack/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/refuel/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9680 Wiki - Fix spelling in vehicle lock framework wiki page
  docs/wiki/framework/vehiclelock-framework.md
Labels: kind/documentation, area/documentation

#9681 Medical - Fix hanging when vehicle crew receive fatal damage
  addons/medical_damage/functions/fnc_woundsHandlerVehiclehit.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: kind/bug fix

#9679 Dragging - Minor optimisation
  addons/dragging/functions/fnc_canCarry.sqf
  addons/dragging/functions/fnc_canDrag.sqf
Labels: kind/optimization

#9683 Compat RHS - Fix USAF flashlights materializing PEQ-15s
  addons/compat_rhs_usf3/compat_rhs_usf3_arsenal/CfgWeapons.hpp
Labels: kind/bug fix

#9684 Release Drafter - Sort changelog by PR title
  .github/release-drafter.yml
Labels: area/tools, ignore changelog

#9685 Fix release drafter sort direction
  .github/release-drafter.yml
Labels: area/tools, ignore changelog

#9691 Tools - Remove unused property from .hemtt
  .hemtt/project.toml
Labels: ignore changelog

#9692 Arsenal - Fix displaying virtual items & weapon attachments in cargo
  addons/arsenal/functions/fnc_buttonCargo.sqf
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
Labels: kind/bug fix

#9694 Arsenal - Allow increasing quantity of left panel items in cargo
  addons/arsenal/functions/fnc_fillRightPanel.sqf
Labels: kind/enhancement

#9693 Markers - Use lbData for channel selection
  addons/markers/functions/fnc_onLBSelChangedChannel.sqf
Labels: kind/enhancement

#9699 Arsenal - Use `canAdd` to check if item can be added to container
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_updateRightPanel.sqf
Labels: kind/enhancement

#9701 Arsenal - Fix cargo backpacks not being shown in right panel
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
Labels: kind/bug fix, ignore changelog

#9700 Arsenal - Fix unique item edge cases and prevent increasing quantity of cargo weapons
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
Labels: kind/bug fix

#9702 Markers - Fix logic error when selecting channel
  addons/markers/functions/fnc_onLBSelChangedChannel.sqf
Labels: kind/bug fix, ignore changelog

#9703 Reload - Disable 'Check Ammo' self interaction when unarmed
  addons/reload/functions/fnc_canCheckAmmoSelf.sqf
Labels: kind/enhancement
