Repository acemod/ACE3, pull requests merged in 2023-08, with the labels that each got.

#9300 Medical treatment - Fix undefined variable in ace_medical_treatment_fnc_loadUnit
  addons/medical_treatment/functions/fnc_loadUnit.sqf
Labels: kind/bug fix

#9283 Medical Engine - Fix unloading dead units in vehicles and handle deleted units vehicles
  addons/common/functions/fnc_unloadPersonLocal.sqf
  addons/medical_engine/XEH_postInit.sqf
  addons/medical_engine/functions/fnc_lockUnconsciousSeat.sqf
  addons/medical_engine/functions/fnc_unlockUnconsciousSeat.sqf
Labels: kind/bug fix

#9302 Advanced Fatigue - Add cap to muscle damage
  addons/advanced_fatigue/functions/fnc_mainLoop.sqf
Labels: kind/bug fix

#8394 Medical - Add Pain Unconscious Threshold setting
  addons/medical_damage/initSettings.sqf
  addons/medical_damage/stringtable.xml
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/script_macros_medical.hpp
Labels: kind/enhancement

#9308 Arsenal - Fix unique explosives showing up in the "all magazines" tab
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
Labels: kind/bug fix, ignore changelog

#9314 Arsenal - Tweaked sorting
  addons/arsenal/functions/fnc_sortPanel.sqf
Labels: kind/cleanup, ignore changelog

#9303 Tools - document_functions.py: handle header sub indexs for arguments
  addons/arsenal/functions/fnc_addSort.sqf
  addons/arsenal/functions/fnc_addStat.sqf
  addons/arsenal/functions/fnc_handleMouse.sqf
  addons/arsenal/functions/fnc_handleScrollWheel.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_onLoadoutsOpen.sqf
  addons/arsenal/functions/fnc_onMouseButtonDown.sqf
  addons/arsenal/functions/fnc_onMouseButtonUp.sqf
  addons/arsenal/functions/fnc_removeSort.sqf
  addons/arsenal/functions/fnc_statBarStatement_accuracy.sqf
  addons/arsenal/functions/fnc_statBarStatement_default.sqf
  addons/arsenal/functions/fnc_statBarStatement_impact.sqf
  addons/arsenal/functions/fnc_statBarStatement_rateOfFIre.sqf
  addons/common/functions/fnc_unloadUnitWeapon.sqf
  addons/common/functions/fnc_watchVariable.sqf
  addons/cookoff/functions/fnc_detonateAmmunition.sqf
  addons/cookoff/functions/fnc_getVehicleAmmo.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dragObjectPFH.sqf
  addons/dragging/functions/fnc_startCarryPFH.sqf
  addons/dragging/functions/fnc_startDragPFH.sqf
  addons/explosives/functions/fnc_detonateExplosive.sqf
  addons/explosives/functions/fnc_detonateExplosiveAll.sqf
  addons/fortify/functions/fnc_modifyAction.sqf
  addons/goggles/functions/fnc_isInRotorWash.sqf
  addons/hearing/functions/fnc_updateVolume.sqf
  addons/laser/functions/fnc_findLaserSource.sqf
  addons/repair/functions/fnc_setDamage.sqf
  addons/zeus/functions/fnc_getModuleDestination.sqf
  docs/tools/document_functions.py
  docs/wiki/development/coding-guidelines.md
Labels: area/tools, ignore changelog, area/documentation

#9306 Repair - Make headlights repairable
  addons/repair/functions/fnc_getHitPointsToIgnore.sqf
Labels: kind/enhancement

#9232 CSW - Fix mag multiplication in multiplayer
  addons/csw/XEH_postInit.sqf
Labels: kind/bug fix

#9317 Various - Misc Cleanup
  addons/arsenal/functions/fnc_addStat.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_renameDefaultLoadout.sqf
  addons/arsenal/functions/fnc_replaceUniqueItemsLoadout.sqf
  addons/arsenal/functions/fnc_statTextStatement_binoMag.sqf
  addons/artillerytables/functions/fnc_interactMenuOpened.sqf
  addons/common/functions/fnc_canDig.sqf
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/medical_damage/functions/fnc_getTypeOfDamage.sqf
  addons/microdagr/functions/fnc_updateDisplay.sqf
  addons/rearm/functions/fnc_addVehicleMagazinesToSupply.sqf
Labels: kind/bug fix, ignore changelog

#9326 Interaction - Use `assignTeam` instead of deprecated CBA event
  addons/interaction/functions/fnc_joinTeam.sqf
Labels: kind/enhancement

#9321 Nightvision - Add White Phosphor NVGs
  AUTHORS.txt
  addons/nightvision/CfgWeapons.hpp
  addons/nightvision/config.cpp
  addons/nightvision/functions/fnc_pfeh.sqf
  addons/nightvision/functions/fnc_refreshGoggleType.sqf
  addons/nightvision/script_component.hpp
  addons/nightvision/stringtable.xml
Labels: kind/feature request

#9270 Fastroping - Improve AI flight height
  addons/fastroping/functions/fnc_deployAIWaypoint.sqf
Labels: kind/enhancement, 2.14

#9319 Fastroping - Add Auto add FRIES setting
  addons/fastroping/XEH_postInit.sqf
  addons/fastroping/config.cpp
  addons/fastroping/initSettings.sqf
  addons/fastroping/stringtable.xml
  docs/wiki/feature/fastroping.md
  docs/wiki/framework/fastroping-framework.md
Labels: kind/feature request

#9324 Medical GUI - Improve Selected Category colouration
  addons/medical_gui/functions/fnc_updateCategories.sqf
  addons/medical_gui/gui.hpp
Labels: kind/enhancement

#9331 Aircraft - Use `COMPILE_SCRIPT` macro
  addons/aircraft/CfgEventHandlers.hpp
Labels: kind/optimization, ignore changelog

#9318 Arsenal - Add arsenal actions addition and removal via functions
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_addAction.sqf
  addons/arsenal/functions/fnc_addSort.sqf
  addons/arsenal/functions/fnc_buttonActionsPage.sqf
  addons/arsenal/functions/fnc_compileActions.sqf
  addons/arsenal/functions/fnc_compileSorts.sqf
  addons/arsenal/functions/fnc_compileStats.sqf
  addons/arsenal/functions/fnc_handleActions.sqf
  addons/arsenal/functions/fnc_removeAction.sqf
  addons/gunbag/ACE_Arsenal_Actions.hpp
  docs/wiki/framework/arsenal-framework.md
Labels: kind/enhancement

#9255 CSW - Disable non-CSW rearm actions for CSW vehicles
  addons/csw/functions/fnc_aceRearmGetCarryMagazines.sqf
  addons/csw/functions/fnc_proxyWeapon.sqf
Labels: kind/enhancement

#9301 Medical Status - Remove status effects upon death/featureCamera
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/XEH_postInit.sqf
  addons/medical_status/functions/fnc_handleKilled.sqf
  addons/medical_status/functions/fnc_setStatusEffects.sqf
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/bug fix, fault/3rd party mod

#9299 Fastroping - Fix equipping FRIES during vehicle init
  addons/fastroping/functions/fnc_equipFRIES.sqf
Labels: kind/bug fix

#9333 Nametags - Cleanup unused crew info component
  addons/nametags/XEH_PREP.hpp
  addons/nametags/XEH_postInit.sqf
  addons/nametags/functions/common.hpp
  addons/nametags/functions/fnc_canShow.sqf
  addons/nametags/functions/fnc_doShow.sqf
  addons/nametags/functions/fnc_getVehicleData.sqf
Labels: kind/cleanup, ignore changelog

#9309 Arsenal - Fix virtual non-weapon magazines in inventory being treated as unique
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
Labels: kind/bug fix, ignore changelog

#9312 Arsenal - Fix changing stats via script
  addons/arsenal/functions/fnc_addStat.sqf
  addons/arsenal/functions/fnc_compileStats.sqf
  addons/arsenal/functions/fnc_handleStats.sqf
  addons/arsenal/functions/fnc_removeStat.sqf
Labels: kind/bug fix, ignore changelog

#9336 Arsenal - Fix magazine misc items categorization
  addons/arsenal/functions/fnc_scanConfig.sqf
Labels: kind/bug fix, ignore changelog

#9307 Arsenal - Favorites System
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_addListBoxItem.sqf
  addons/arsenal/functions/fnc_buttonFavorites.sqf
  addons/arsenal/functions/fnc_buttonImport.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsLoad.sqf
  addons/arsenal/functions/fnc_fillRightPanel.sqf
  addons/arsenal/functions/fnc_handleActions.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_onPanelDblClick.sqf
  addons/arsenal/functions/fnc_refresh.sqf
  addons/arsenal/functions/fnc_updateRightPanel.sqf
  addons/arsenal/initSettings.sqf
  addons/arsenal/stringtable.xml
  addons/arsenal/ui/RscAttributes.hpp
  docs/wiki/feature/arsenal.md
Labels: kind/feature request

#9337 Tools - Update includes tools, ignore .hemttout in str validator
  include/a3/ui_f/hpp/defineResincl.inc
  tools/stringtable_validator.py
  tools/updateIncludes.py
Labels: area/tools, ignore changelog, impact/trivial

#9340 Weather - Fix number in `fnc_calculateWindChill.sqf`
  addons/weather/functions/fnc_calculateWindChill.sqf
Labels: kind/bug fix, ignore changelog

#9338 Night Vision - Use default effects when controlling UAVs
  addons/nightvision/XEH_postInit.sqf
  addons/nightvision/functions/fnc_refreshGoggleType.sqf
Labels: kind/bug fix, impact/trivial

#9060 Cookoff - Move canHaveFireJet logic into vehicle_damage
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/vehicle_damage/functions/fnc_handleCookoff.sqf
Labels: area/compatibility

#9341 Add french translation for new painUnconsciousTreshold setting
  addons/medical_damage/stringtable.xml
Labels: area/translations

#9219 Map Tools - Fix for 2.14 aspect ratio changes
  addons/maptools/functions/fnc_updateMapToolMarkers.sqf
Labels: kind/bug fix, 2.14

#9150 Slideshow - Add support for maps as textures
  addons/slideshow/GUI.hpp
  addons/slideshow/XEH_PREP.hpp
  addons/slideshow/config.cpp
  addons/slideshow/functions/fnc_mapImage.sqf
  addons/slideshow/functions/fnc_mapImage_init.sqf
  docs/wiki/framework/slideshow-framework.md
Labels: kind/feature request, 2.12

#9344 Common - Improve weapon unloading
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_unloadUnitWeapon.sqf
Labels: kind/enhancement

#9345 Repair - Improve wheel repair interaction position
  addons/repair/functions/fnc_addRepairActions.sqf
Labels: kind/enhancement

#9343 Reload - Code cleanup and various improvements
  addons/common/initSettings.sqf
  addons/laserpointer/initSettings.sqf
  addons/reload/CfgEventHandlers.hpp
  addons/reload/CfgVehicles.hpp
  addons/reload/XEH_PREP.hpp
  addons/reload/XEH_postInit.sqf
  addons/reload/functions/fnc_canCheckAmmo.sqf
  addons/reload/functions/fnc_canCheckAmmoSelf.sqf
  addons/reload/functions/fnc_checkAmmo.sqf
  addons/reload/functions/fnc_displayAmmo.sqf
  addons/reload/functions/fnc_getAmmoToLinkBelt.sqf
  addons/reload/functions/fnc_onTake.sqf
  addons/reload/functions/fnc_startLinkingBelt.sqf
  addons/reload/initKeybinds.sqf
  addons/reload/initSettings.sqf
  addons/reload/stringtable.xml
  addons/weaponselect/initSettings.sqf
Labels: kind/enhancement

#9334 Reload Launchers - Code cleanup
  addons/reloadlaunchers/CfgEventHandlers.hpp
  addons/reloadlaunchers/CfgVehicles.hpp
  addons/reloadlaunchers/CfgWeapons.hpp
  addons/reloadlaunchers/XEH_PREP.hpp
  addons/reloadlaunchers/XEH_postInit.sqf
  addons/reloadlaunchers/config.cpp
  addons/reloadlaunchers/functions/fnc_addMissileReloadActions.sqf
  addons/reloadlaunchers/functions/fnc_canLoad.sqf
  addons/reloadlaunchers/functions/fnc_getLoadableMissiles.sqf
  addons/reloadlaunchers/functions/fnc_load.sqf
  addons/reloadlaunchers/functions/fnc_reloadLauncher.sqf
Labels: kind/enhancement

#9347 Reload/Reload Launcher - Fix headers
  addons/reload/functions/fnc_checkAmmo.sqf
  addons/reload/functions/fnc_getAmmoToLinkBelt.sqf
  addons/reload/functions/fnc_startLinkingBelt.sqf
  addons/reloadlaunchers/functions/fnc_addMissileReloadActions.sqf
  addons/reloadlaunchers/functions/fnc_canLoad.sqf
  addons/reloadlaunchers/functions/fnc_getLoadableMissiles.sqf
  addons/reloadlaunchers/functions/fnc_reloadLauncher.sqf
Labels: kind/enhancement, ignore changelog

#9349 Map - Update map lighting effect every frame
  addons/map/functions/fnc_updateMapEffects.sqf
Labels: kind/enhancement

#8434 Arsenal - Add stat to show how AI will use ammo
  addons/ballistics/ACE_Arsenal_Stats.hpp
  addons/ballistics/XEH_PREP.hpp
  addons/ballistics/functions/fnc_statTextStatement_magazineAiUsage.sqf
  addons/ballistics/stringtable.xml
Labels: kind/enhancement

#9351 Tools - make.py print tail of packing log on error
  tools/make.py
Labels: area/tools, ignore changelog

#9352 Hellfire - Add support for MELB hardpoint (1x)
  addons/hellfire/CfgMagazines.hpp
Labels: impact/trivial, area/compatibility

#9350 Captives - Add modded cable tie support
  addons/captives/CfgWeapons.hpp
  addons/captives/XEH_preInit.sqf
  addons/captives/XEH_preStart.sqf
  addons/captives/functions/fnc_canApplyHandcuffs.sqf
  addons/captives/functions/fnc_doApplyHandcuffs.sqf
Labels: kind/enhancement

#9355 Common - Add `FUNC(escapeRegex)`
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_escapeRegex.sqf
Labels: kind/feature request

#9348 Arsenal - Use regex for searchbar
  addons/arsenal/functions/fnc_attributeAddItems.sqf
  addons/arsenal/functions/fnc_handleSearchbar.sqf
Labels: kind/enhancement

#9356 Tools - make.py will try running pboProject once if it's not in registry
  tools/make.py
Labels: area/tools, ignore changelog

#9357 Translations - Improve and Add Japanese
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/dragging/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/headless/stringtable.xml
  addons/hot/stringtable.xml
  addons/hunterkiller/stringtable.xml
  addons/interaction/stringtable.xml
  addons/laser/stringtable.xml
  addons/map/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/maptools/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_feedback/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/nametags/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
  addons/pylons/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/rearm/stringtable.xml
  addons/refuel/stringtable.xml
  addons/reload/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/repair/stringtable.xml
  addons/slideshow/stringtable.xml
  addons/spectator/stringtable.xml
  addons/tagging/stringtable.xml
  addons/towing/stringtable.xml
  addons/trenches/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations
