Repository acemod/ACE3, pull requests merged in 2023-09, with the labels that each got.

#9353 Explosives - Add modded defusal kit support
  addons/explosives/CfgWeapons.hpp
  addons/explosives/XEH_preInit.sqf
  addons/explosives/XEH_preStart.sqf
  addons/explosives/functions/fnc_canDefuse.sqf
  addons/explosives/functions/fnc_interactEH.sqf
Labels: area/compatibility

#9358 Gunbag - Add check for weapon in virtual items on loadout set
  addons/gunbag/XEH_preInit.sqf
Labels: kind/bug fix

#9226 Common/Adv. Fatigue/Medical - Add unified sway calculation
  addons/advanced_fatigue/XEH_postInit.sqf
  addons/advanced_fatigue/functions/fnc_handleEffects.sqf
  addons/common/XEH_PREP.hpp
  addons/common/XEH_postInit.sqf
  addons/common/XEH_preInit.sqf
  addons/common/functions/fnc_addSwayFactor.sqf
  addons/common/functions/fnc_swayLoop.sqf
  addons/medical/XEH_postInit.sqf
Labels: kind/feature request

#8839 Add compatibility mod for CSLA CDLC
  addons/compat_csla/$PBOPREFIX$
  addons/compat_csla/CfgMagazines.hpp
  addons/compat_csla/CfgWeapons.hpp
  addons/compat_csla/addon.toml
  addons/compat_csla/compat_csla_explosives/CfgMagazines.hpp
  addons/compat_csla/compat_csla_explosives/CfgVehicles.hpp
  addons/compat_csla/compat_csla_explosives/config.cpp
  addons/compat_csla/compat_csla_explosives/script_component.hpp
  addons/compat_csla/config.cpp
  addons/compat_csla/script_component.hpp
Labels: area/compatibility

#9239 Medical - Add 'Open (Backpack)' action to dead units
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/XEH_postInit.sqf
  addons/medical_status/XEH_preInit.sqf
  addons/medical_status/functions/fnc_addInventoryActions.sqf
Labels: kind/enhancement

#8187 Optionals - Add No Medical and No Realistic Names components
  addons/fire/addon.toml
  addons/fire/config.cpp
  addons/medical/addon.toml
  addons/medical/config.cpp
  addons/medical_ai/addon.toml
  addons/medical_ai/config.cpp
  addons/medical_blood/addon.toml
  addons/medical_blood/config.cpp
  addons/medical_damage/addon.toml
  addons/medical_damage/config.cpp
  addons/medical_engine/addon.toml
  addons/medical_engine/config.cpp
  addons/medical_feedback/addon.toml
  addons/medical_feedback/config.cpp
  addons/medical_gui/addon.toml
  addons/medical_gui/config.cpp
  addons/medical_statemachine/addon.toml
  addons/medical_statemachine/config.cpp
  addons/medical_status/addon.toml
  addons/medical_status/config.cpp
  addons/medical_treatment/addon.toml
  addons/medical_treatment/config.cpp
  addons/medical_vitals/addon.toml
  addons/medical_vitals/config.cpp
  addons/realisticnames/addon.toml
  addons/realisticnames/config.cpp
  optionals/nomedical/$PBOPREFIX$
  optionals/nomedical/config.cpp
  optionals/nomedical/script_component.hpp
  optionals/norealisticnames/$PBOPREFIX$
  optionals/norealisticnames/config.cpp
  optionals/norealisticnames/script_component.hpp
Labels: kind/feature request

#9305 Arsenal - Remove redundant fix for hand guns and binoculars with secondary muzzles
  addons/arsenal/functions/fnc_onSelChangedRight.sqf
Labels: kind/cleanup, 2.14

#9329 Fastroping - Remove 2.12 compatibility
  addons/fastroping/functions/fnc_deployAIWaypoint.sqf
Labels: kind/cleanup, ignore changelog, 2.14

#9342 Maptools - Cleanup pre-2.14 compatibility code
  addons/main/script_mod.hpp
  addons/maptools/functions/fnc_updateMapToolMarkers.sqf
Labels: kind/cleanup, ignore changelog, impact/trivial, 2.14

#9227 Common - Improve `FUNC(removeSpecificMagazine)` with 2.14 changes
  addons/common/functions/fnc_removeSpecificMagazine.sqf
Labels: kind/enhancement, 2.14

#9205 Compat WS - Make compat auto load if DLC is present
  addons/compat_ws/addon.toml
  addons/compat_ws/config.cpp
Labels: kind/enhancement, 2.14

#9313 AI - Add automatic NVG equip/unequip
  addons/ai/XEH_PREP.hpp
  addons/ai/XEH_postInit.sqf
  addons/ai/XEH_preInit.sqf
  addons/ai/functions/fnc_assignNVG.sqf
  addons/ai/functions/fnc_assignNVGpfh.sqf
  addons/ai/initSettings.sqf
  addons/ai/stringtable.xml
Labels: kind/feature request

#9286 Medical - Add treating with items from vehicle inventory
  addons/medical_treatment/functions/fnc_hasItem.sqf
  addons/medical_treatment/functions/fnc_useItem.sqf
Labels: kind/enhancement, 2.14

#9363 Compats - Use 2.14 `skipWhenMissingDependencies`
  addons/compat_csla/addon.toml
  addons/compat_csla/compat_csla_explosives/CfgMagazines.hpp
  addons/compat_csla/compat_csla_explosives/config.cpp
  addons/compat_csla/config.cpp
  addons/compat_rhs_afrf3/addon.toml
  addons/compat_rhs_afrf3/compat_rhs_afrf3_csw/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_explosives/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_fastroping/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_nightvision/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_refuel/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_scopes/config.cpp
  addons/compat_rhs_afrf3/config.cpp
  addons/compat_rhs_gref3/addon.toml
  addons/compat_rhs_gref3/compat_rhs_gref3_csw/config.cpp
  addons/compat_rhs_gref3/compat_rhs_gref3_explosives/config.cpp
  addons/compat_rhs_gref3/compat_rhs_gref3_fastroping/config.cpp
  addons/compat_rhs_gref3/config.cpp
  addons/compat_rhs_saf3/addon.toml
  addons/compat_rhs_saf3/compat_rhs_saf3_explosives/config.cpp
  addons/compat_rhs_saf3/config.cpp
  addons/compat_rhs_usf3/addon.toml
  addons/compat_rhs_usf3/compat_rhs_usf3_csw/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_explosives/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_fastroping/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_javelin/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_nightvision/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_refuel/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_scopes/config.cpp
  addons/compat_rhs_usf3/config.cpp
  addons/compat_sog/addon.toml
  addons/compat_sog/compat_sog_trenches/config.cpp
  addons/compat_sog/compat_sog_trenches_grad/config.cpp
  addons/compat_sog/config.cpp
Labels: ignore changelog, 2.14

#9364 Compat GM - Make compat autoload when mod is present
  addons/compat_gm/$PBOPREFIX$
  addons/compat_gm/CfgEventHandlers.hpp
  addons/compat_gm/CfgMagazines.hpp
  addons/compat_gm/CfgVehicles.hpp
  addons/compat_gm/CfgWeapons.hpp
  addons/compat_gm/XEH_PREP.hpp
  addons/compat_gm/XEH_preStart.sqf
  addons/compat_gm/XEH_preinit.sqf
  addons/compat_gm/compat_gm_explosives/CfgAmmo.hpp
  addons/compat_gm/compat_gm_explosives/CfgMagazines.hpp
  addons/compat_gm/compat_gm_explosives/CfgVehicles.hpp
  addons/compat_gm/compat_gm_explosives/config.cpp
  addons/compat_gm/compat_gm_explosives/script_component.hpp
  addons/compat_gm/compat_gm_refuel/CfgEventHandlers.hpp
  addons/compat_gm/compat_gm_refuel/CfgVehicles.hpp
  addons/compat_gm/compat_gm_refuel/config.cpp
  addons/compat_gm/compat_gm_refuel/script_component.hpp
  addons/compat_gm/config.cpp
  addons/compat_gm/functions/fnc_onCut.sqf
  addons/compat_gm/functions/fnc_onCutRopes.sqf
  addons/compat_gm/functions/fnc_onDeployRopes.sqf
  addons/compat_gm/functions/fnc_onPrepare.sqf
  addons/compat_gm/functions/script_component.hpp
  addons/compat_gm/script_component.hpp
Labels: kind/enhancement, area/compatibility

#9365 Compat WS - Add No Uniform Restrictions subconfig
  addons/compat_ws/compat_ws_nouniformrestrictions/CfgVehicles.hpp
  addons/compat_ws/compat_ws_nouniformrestrictions/config.cpp
  addons/compat_ws/compat_ws_nouniformrestrictions/script_component.hpp
Labels: area/compatibility

#9362 Medical AI - Add setting to require items for treatment
  addons/medical_ai/XEH_PREP.hpp
  addons/medical_ai/XEH_postInit.sqf
  addons/medical_ai/XEH_preInit.sqf
  addons/medical_ai/XEH_preStart.sqf
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_ai/functions/fnc_itemCheck.sqf
  addons/medical_ai/initSettings.sqf
  addons/medical_ai/stringtable.xml
Labels: kind/enhancement

#9369 Night Vision - Change Apex and Wide NVGs to Gen 4
  addons/nightvision/CfgWeapons.hpp
Labels: area/compatibility

#9370 Update include\script_xeh.hpp
  include/x/cba/addons/xeh/script_xeh.hpp
Labels: ignore changelog

#9368 Advanced Fatigue - Fix metabolic cost mass multiplier for walking
  addons/advanced_fatigue/functions/fnc_getMetabolicCosts.sqf
Labels: kind/bug fix

#9346 Laserpointer - Block laser attachments if setting disabled (CBA 3.16.0)
  addons/laserpointer/XEH_postInit.sqf
Labels: kind/cleanup

#9374 Medical - Change more constants to variables
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_status/functions/fnc_hasStableVitals.sqf
Labels: kind/enhancement

#9373 Docs - Add note in documentation regarding medical internal variables
  docs/wiki/framework/medical-framework.md
Labels: ignore changelog, area/documentation

#8433 Medical - Add dropping weapons on unconsciousness
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_throwWeapon.sqf
  addons/fire/functions/fnc_burnReaction.sqf
  addons/hitreactions/XEH_PREP.hpp
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
  addons/medical_status/initSettings.sqf
  addons/medical_status/stringtable.xml
Labels: kind/feature request

#9376 Fire - Fix macro
  addons/fire/functions/fnc_burnReaction.sqf
Labels: ignore changelog, impact/trivial

#9381 Markers - Don't try to move poly-line markers
  addons/markers/functions/fnc_canMove.sqf
Labels: kind/bug fix

#9377 Misc - Add more workshop logos, Update README.md
  README.md
  extras/assets/logo/workshop/workshop_ace.jpg
  extras/assets/logo/workshop/workshop_ace_compatibility.png
  extras/assets/logo/workshop/workshop_ace_nomedical.png
Labels: kind/enhancement, ignore changelog, area/documentation

#8426 Medical Treatment - Add setting to rollover bandage effectiveness
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/functions/fnc_bandageLocal.sqf
  addons/medical_treatment/functions/fnc_findMostEffectiveWounds.sqf
  addons/medical_treatment/functions/fnc_getBandageTime.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#9390 Translation - Add German Translation
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/cargo/stringtable.xml
  addons/casings/stringtable.xml
  addons/common/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dragging/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/hunterkiller/stringtable.xml
  addons/laser/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
  addons/refuel/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/repair/stringtable.xml
  addons/tagging/stringtable.xml
  addons/towing/stringtable.xml
  addons/trenches/stringtable.xml
  addons/ui/stringtable.xml
  addons/viewports/stringtable.xml
Labels: area/translations

#9392 XM157 - Fix spin drift offset when using advanced ballistics
  addons/xm157/functions/fnc_ballistics_calculator.sqf
  addons/xm157/functions/fnc_weaponInfo_drawMenu.sqf
Labels: kind/bug fix, ignore changelog

#9391 Translations - Add Polish Translations
  AUTHORS.txt
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/cargo/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dragging/stringtable.xml
  addons/hunterkiller/stringtable.xml
  addons/laser/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/refuel/stringtable.xml
  addons/reload/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/repair/stringtable.xml
  addons/tagging/stringtable.xml
Labels: area/translations

#9388 Zeus - Fix Group Side module
  addons/zeus/functions/fnc_moduleGroupSide.sqf
Labels: kind/bug fix

#9394 Advanced Ballistics - Fix `_mapSize` sometimes 0 by using engine command
  addons/advanced_ballistics/functions/fnc_initializeTerrainExtension.sqf
Labels: kind/bug fix

#9393 Tools - Fix make.py failing when pboProject\Settings folder missing
  tools/make.py
Labels: area/tools, ignore changelog

#9375 General - Use subcomponent macro (CBA 3.16.0)
  addons/compat_csla/compat_csla_explosives/config.cpp
  addons/compat_csla/compat_csla_explosives/script_component.hpp
  addons/compat_gm/compat_gm_explosives/config.cpp
  addons/compat_gm/compat_gm_explosives/script_component.hpp
  addons/compat_gm/compat_gm_refuel/config.cpp
  addons/compat_gm/compat_gm_refuel/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_csw/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_csw/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_explosives/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_explosives/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_fastroping/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_fastroping/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_nightvision/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_nightvision/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_refuel/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_refuel/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_scopes/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_scopes/script_component.hpp
  addons/compat_rhs_gref3/compat_rhs_gref3_csw/config.cpp
  addons/compat_rhs_gref3/compat_rhs_gref3_csw/script_component.hpp
  addons/compat_rhs_gref3/compat_rhs_gref3_explosives/config.cpp
  addons/compat_rhs_gref3/compat_rhs_gref3_explosives/script_component.hpp
  addons/compat_rhs_gref3/compat_rhs_gref3_fastroping/config.cpp
  addons/compat_rhs_gref3/compat_rhs_gref3_fastroping/script_component.hpp
  addons/compat_rhs_saf3/compat_rhs_saf3_explosives/config.cpp
  addons/compat_rhs_saf3/compat_rhs_saf3_explosives/script_component.hpp
  addons/compat_rhs_saf3/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_csw/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_csw/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_explosives/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_explosives/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_fastroping/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_fastroping/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_javelin/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_javelin/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_nightvision/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_nightvision/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_refuel/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_refuel/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_scopes/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_scopes/script_component.hpp
  addons/compat_rhs_usf3/config.cpp
  addons/compat_sog/compat_sog_trenches/config.cpp
  addons/compat_sog/compat_sog_trenches/script_component.hpp
  addons/compat_sog/compat_sog_trenches_grad/config.cpp
  addons/compat_sog/compat_sog_trenches_grad/script_component.hpp
  addons/compat_ws/compat_ws_nouniformrestrictions/config.cpp
  addons/compat_ws/compat_ws_nouniformrestrictions/script_component.hpp
  addons/huntir/subConfig/config.cpp
  addons/main/script_mod.hpp
  include/x/cba/addons/main/script_macros_common.hpp
Labels: kind/enhancement

#9231 Tools - Update setup.py for `hemmt dev` filepatching
  tools/setup.py
Labels: ignore changelog

#9396 Dragging - Add config support for weight ignoring
  addons/dragging/functions/fnc_initObject.sqf
  docs/wiki/framework/dragging-framework.md
Labels: kind/enhancement

#9383 Markers - Fix issues with custom channels
  addons/markers/functions/fnc_getEnabledChannels.sqf
  addons/markers/functions/fnc_initInsertMarker.sqf
  addons/markers/functions/fnc_onLBSelChangedChannel.sqf
Labels: kind/bug fix

#9399 Cargo - Fix/Improve FUNC(paradropItem)
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_paradropItem.sqf
Labels: kind/enhancement

#6563 Add IR Flashlights
  addons/irlight/$PBOPREFIX$
  addons/irlight/CfgEventHandlers.hpp
  addons/irlight/CfgJointRails.hpp
  addons/irlight/CfgWeapons.hpp
  addons/irlight/README.md
  addons/irlight/XEH_PREP.hpp
  addons/irlight/XEH_postInit.sqf
  addons/irlight/XEH_preInit.sqf
  addons/irlight/XEH_preStart.sqf
  addons/irlight/config.cpp
  addons/irlight/data/irglow.p3d
  addons/irlight/data/irglow.rvmat
  addons/irlight/data/model.cfg
  addons/irlight/dev/createTestLight.sqf
  addons/irlight/functions/fnc_getGlowOffset.sqf
  addons/irlight/functions/fnc_initItemContextMenu.sqf
  addons/irlight/functions/fnc_onLightToggled.sqf
  addons/irlight/script_component.hpp
  addons/irlight/stringtable.xml
  addons/laserpointer/XEH_postInit.sqf
  addons/map/functions/fnc_isFlashlight.sqf
  docs/wiki/class-names.md
  docs/wiki/feature/irlight.md
Labels: kind/feature request

#9403 Docs - Fix missing sitting property in docs
  docs/wiki/framework/sitting-framework.md
Labels: ignore changelog, area/documentation

#9404 Docs - Fix IR Lights docs
  docs/wiki/feature/irlight.md
Labels: kind/documentation, ignore changelog

#9379 Dragging - Enabled dragging whilst limping
  addons/dragging/CfgMovesBasic.hpp
  addons/dragging/CfgMovesMaleSdr.hpp
  addons/dragging/script_component.hpp
Labels: kind/enhancement

#9405 Misc - Add workshop images source files
  README.md
  extras/assets/logo/workshop/workshop-layers/1 - Compatibility.png
  extras/assets/logo/workshop/workshop-layers/2 - No Medical.png
  extras/assets/logo/workshop/workshop-layers/3 - Logo with subtext.png
  extras/assets/logo/workshop/workshop-layers/4 - Logo.png
  extras/assets/logo/workshop/workshop-layers/5 - Background.png
  extras/assets/logo/workshop/workshop.xcf
  extras/assets/logo/workshop/workshop_ace.jpg
  extras/assets/logo/workshop/workshop_ace_compatibility.png
  extras/assets/logo/workshop/workshop_ace_nomedical.png
Labels: kind/enhancement, ignore changelog, area/documentation

#9411 Laser Pointer - Use engine method for visible lasers
  addons/laserpointer/ACE_Settings.hpp
  addons/laserpointer/CfgEventHandlers.hpp
  addons/laserpointer/CfgJointRails.hpp
  addons/laserpointer/CfgWeapons.hpp
  addons/laserpointer/XEH_PREP.hpp
  addons/laserpointer/XEH_postInit.sqf
  addons/laserpointer/XEH_preInit.sqf
  addons/laserpointer/XEH_preStart.sqf
  addons/laserpointer/config.cpp
  addons/laserpointer/functions/fnc_drawLaserpoint.sqf
  addons/laserpointer/functions/fnc_getNearUnits.sqf
  addons/laserpointer/functions/fnc_onDraw.sqf
  addons/laserpointer/initSettings.sqf
  addons/laserpointer/script_component.hpp
Labels: kind/enhancement, impact/large

#9414 IR Lights - Fix visible pointers for DBAL
  addons/irlight/CfgWeapons.hpp
  addons/irlight/config.cpp
  addons/laserpointer/CfgWeapons.hpp
  addons/laserpointer/script_component.hpp
  addons/laserpointer/script_macros_config.hpp
Labels: kind/bug fix, ignore changelog

#9412 RHS Compat - Readd basic 5.56 suppressor to 5.56 muzzle slot
  addons/compat_rhs_usf3/CfgJointRails.hpp
  addons/compat_rhs_usf3/config.cpp
Labels: area/compatibility

#9389 Dragging - Improve `featureCamera` handling
  addons/dragging/XEH_PREP.hpp
  addons/dragging/XEH_postInit.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_pauseCarry.sqf
  addons/dragging/functions/fnc_pauseDrag.sqf
  addons/dragging/functions/fnc_resumeCarry.sqf
  addons/dragging/functions/fnc_resumeDrag.sqf
Labels: kind/enhancement

#9402 Common - Add lockInventory status effect
  addons/common/XEH_postInit.sqf
Labels: kind/enhancement

#9417 Casings - Add Western Sahara Casings
  addons/casings/functions/fnc_createCasing.sqf
Labels: kind/enhancement

#9415 Grenades - Improve flashbang sound
  addons/grenades/functions/fnc_flashbangThrownFuze.sqf
Labels: kind/enhancement

#9416 Laserpointer - Block switching to unsupported visible lasers
  addons/common/functions/fnc_lightIntensityFromObject.sqf
  addons/laserpointer/CfgEventHandlers.hpp
  addons/laserpointer/XEH_preInit.sqf
  addons/laserpointer/XEH_preStart.sqf
  docs/wiki/development/ace3-config-entries.md
Labels: area/compatibility

#9410 Optics - Add items to new vanilla rails
  addons/optics/CfgJointRails.hpp
  addons/optics/CfgWeapons.hpp
Labels: area/compatibility

#9422 Docs - Update npm packages
  docs/src/package-lock.json
  docs/src/package.json
Labels: ignore changelog

#9423 Tools - Fix configs for hemtt1.9.0
  addons/arsenal/ui/RscAttributes.hpp
  addons/artillerytables/RscRangeTable.hpp
  addons/artillerytables/config.cpp
  addons/chemlights/CfgMagazines.hpp
  addons/compat_rhs_usf3/CfgVehicles.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_fastroping/CfgVehicles.hpp
  addons/interaction/RscTitles.hpp
  addons/irlight/CfgWeapons.hpp
  addons/map/CfgWeapons.hpp
  addons/microdagr/gui_controls.hpp
  addons/mk6mortar/config.cpp
  addons/rearm/CfgAmmo.hpp
  addons/vehicles/CfgVehicles.hpp
  addons/zeus/ui/RscAttributes.hpp
  include/a3/ui_f/hpp/defineResincl.inc
  include/x/cba/addons/main/script_macros_common.hpp
Labels: ignore changelog

#9420 Medical Treatment - Fix clearing trauma after stitch with multiple wounds
  addons/medical_treatment/functions/fnc_surgicalKitProgress.sqf
Labels: kind/bug fix

#9216 Medical Engine - Improve damage calculation for explosive-resistant armor
  addons/medical_engine/functions/fnc_getHitpointArmor.sqf
  addons/medical_engine/functions/fnc_getItemArmor.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_engine/initSettings.sqf
  addons/medical_engine/stringtable.xml
Labels: kind/enhancement

#9419 Compat WS - Realistic Names
  .hemtt/project.toml
  addons/compat_ws/compat_ws_realisticnames/CfgWeapons.hpp
  addons/compat_ws/compat_ws_realisticnames/config.cpp
  addons/compat_ws/compat_ws_realisticnames/script_component.hpp
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  include/x/cba/addons/main/script_macros_common.hpp
  tools/stringtable_validator.py
Labels: area/compatibility

#9418 Cargo - Improve cargo space values
  addons/cargo/CfgVehicles.hpp
Labels: kind/enhancement

#9424 compat rhs - fix `SUBCSTRING` and check_strings.py
  addons/compat_rhs_afrf3/compat_rhs_afrf3_csw/CfgMagazines.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_csw/CfgMagazines.hpp
  tools/check_strings.py
Labels: ignore changelog

#9421 Nightvision - Fix detecting if vehicle's turret has NVGs
  addons/nightvision/functions/fnc_refreshGoggleType.sqf
Labels: kind/bug fix

#9409 Backpacks - Code cleanup
  addons/backpacks/XEH_postInit.sqf
  addons/backpacks/functions/fnc_isBackpack.sqf
Labels: kind/enhancement

#9428 Backpacks - Add extra condition for backpack checking
  addons/backpacks/functions/fnc_isBackpack.sqf
Labels: ignore changelog

#9429 Compat WS RealisticNames - XMS
  addons/compat_ws/compat_ws_realisticnames/CfgWeapons.hpp
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
Labels: ignore changelog

#9276 Medical Treatment - Add Grave Digging for Corpse Disposal
  addons/medical_gui/ui/cross_grave.paa
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/functions/fnc_canDigGrave.sqf
  addons/medical_treatment/functions/fnc_placeInBodyBag.sqf
  addons/medical_treatment/functions/fnc_placeInBodyBagOrGrave.sqf
  addons/medical_treatment/functions/fnc_placeInGrave.sqf
  addons/medical_treatment/initSettings.sqf
  addons/medical_treatment/stringtable.xml
  docs/wiki/framework/medical-treatment-framework.md
Labels: kind/feature request

#9246 Medical - Add damage handling for explosive damage while inside vehicles
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/XEH_PREP.hpp
  addons/medical_damage/functions/fnc_woundsHandlerVehiclehit.sqf
  addons/medical_engine/XEH_postInit.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/vehicle_damage/XEH_PREP.hpp
  addons/vehicle_damage/functions/fnc_injureOccupants.sqf
  addons/vehicle_damage/functions/fnc_processHit.sqf
Labels: kind/enhancement, status/needs testing

#9361 Captives - Blindfold captive units
  addons/captives/CfgGlasses.hpp
  addons/captives/CfgVehicles.hpp
  addons/captives/XEH_PREP.hpp
  addons/captives/XEH_preInit.sqf
  addons/captives/XEH_preStart.sqf
  addons/captives/config.cpp
  addons/captives/functions/fnc_canBlindfoldCaptive.sqf
  addons/captives/functions/fnc_canEscortCaptive.sqf
  addons/captives/functions/fnc_canRemoveBlindfoldCaptive.sqf
  addons/captives/functions/fnc_doBlindfoldCaptive.sqf
  addons/captives/stringtable.xml
Labels: kind/feature request

#9386 Arsenal/Compat RHS - Improve support for RHS attachments
  addons/arsenal/XEH_postInit.sqf
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_onSelChangedRight.sqf
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/compat_rhs_afrf3/compat_rhs_afrf3_arsenal/CfgWeapons.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_arsenal/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_arsenal/script_component.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_arsenal/CfgWeapons.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_arsenal/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_arsenal/script_component.hpp
  docs/wiki/framework/arsenal-framework.md
Labels: kind/enhancement

#9430 Repair - Fix adding actions for hitpoints with the same name
  addons/repair/XEH_PREP.hpp
  addons/repair/functions/fnc_addRepairActions.sqf
  addons/repair/functions/fnc_fullRepairProgress.sqf
  addons/repair/functions/fnc_getFullRepairTime.sqf
  addons/repair/functions/fnc_getSelectionsToIgnore.sqf
Labels: kind/bug fix

#9435 Medical GUI - Fix `cross_grave.paa` building with pboProject
  addons/medical_gui/ui/cross_grave.paa
Labels: kind/bug fix, ignore changelog

#9436 Korean translation Updated
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/concertina_wire/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dragging/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/irlight/stringtable.xml
  addons/laser/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/reload/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/repair/stringtable.xml
  addons/tagging/stringtable.xml
Labels: area/translations

#9437 Translations - Add Polish Translations
  addons/captives/stringtable.xml
  addons/irlight/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/pylons/stringtable.xml
  addons/spectator/stringtable.xml
Labels: area/translations

#9438 Medical - Increase pain from bullet-inflicted bruises
  addons/medical_damage/ACE_Medical_Injuries.hpp
Labels: kind/enhancement

#9439 Compat SOG - Add barrel swap for MGs and belt linking for drum magazines
  addons/compat_sog/CfgMagazines/belts.hpp
  addons/compat_sog/CfgWeapons/weapons.hpp
Labels: kind/enhancement

#9446 Fixed wrong strings
  addons/irlight/stringtable.xml
Labels: ignore changelog

#9447 Tools - Modify HEMTT ASC exclude to match
  .hemtt/project.toml
Labels: ignore changelog

#9448 Medical Treatement - Don't allow conscious patients to be buried
  addons/medical_treatment/functions/fnc_canDigGrave.sqf
Labels: kind/bug fix
