Repository acemod/ACE3, pull requests merged in 2023-04, with the labels that each got.

#9174 Map Tools - Use polyline marker for straight lines
  addons/maptools/functions/fnc_handleMouseButton.sqf
Labels: kind/feature request

#9183 Medical GUI - Fix portuguese translation of "head"
  addons/medical_gui/stringtable.xml
Labels: area/translations

#9180 Common - switch getTurretConfigPath to use cba func
  addons/common/functions/fnc_getTurretConfigPath.sqf
Labels: kind/cleanup

#9188 xm157 - Fix latitude calc for maps not in `getMapData`
  addons/xm157/XEH_postInit.sqf
Labels: kind/bug fix

#9184 Add HEMTT setup script for Windows and document HEMTT use
  .github/workflows/arma.yml
  .github/workflows/extensions.yml
  .hemtt/project.toml
  docs/wiki/development/setting-up-the-development-environment.md
  tools/setup.bat
Labels: area/tools

#9116 Optionals - Load dynamically based on presence of mod (`__has_include`)
  .github/workflows/pboproject.yml
  addons/common/XEH_preStart.sqf
  addons/compat_ws/$PBOPREFIX$
  addons/compat_ws/CfgWeapons.hpp
  addons/compat_ws/addon.toml
  addons/compat_ws/config.cpp
  addons/compat_ws/script_component.hpp
  addons/main/script_macros.hpp
  tools/.vscode/settings.json
  tools/.vscode/tasks.json
  tools/make.py
  tools/sqfvmChecker.py
Labels: kind/cleanup, area/tools

#9156 Common - Fix script error in fnc_getVehicleCargo
  addons/common/functions/fnc_getVehicleCargo.sqf
Labels: kind/bug fix, impact/trivial

#9154 Interaction - Fix opening locked doors for GM buildings
  addons/interaction/functions/fnc_openDoor.sqf
Labels: kind/bug fix

#9152 Scopes - Add tool to diagnose scope height
  addons/scopes/CfgWeapons.hpp
  addons/scopes/dev/checkScopes.sqf
  addons/xm157/CfgWeapons.hpp
Labels: kind/enhancement, area/tools

#9171 Explosives - Fix incorrect shotParents
  addons/explosives/XEH_postInit.sqf
Labels: kind/bug fix
