Repository acemod/ACE3, pull requests merged in 2023-07, with the labels that each got.

#9236 Repair - Move to separate settings menu
  addons/repair/initSettings.sqf
Labels: kind/cleanup

#9242 Repair - Change Repair Threshold setting descriptions
  addons/repair/initSettings.sqf
  addons/repair/stringtable.xml
Labels: kind/cleanup

#9240 Medical - Change Epinephrine Wake Up Boost setting description
  addons/medical/stringtable.xml
Labels: kind/cleanup

#8417 Repair - Make Full Repair Time dependent on vehicle damage
  addons/repair/ACE_Repair.hpp
  addons/repair/XEH_PREP.hpp
  addons/repair/functions/fnc_addRepairActions.sqf
  addons/repair/functions/fnc_doRepair.sqf
  addons/repair/functions/fnc_fullRepairProgress.sqf
  addons/repair/functions/fnc_getFullRepairTime.sqf
  addons/repair/functions/fnc_getHitPointsToIgnore.sqf
  addons/repair/functions/fnc_getPostRepairDamage.sqf
  addons/repair/functions/fnc_isInRepairFacility.sqf
  addons/repair/functions/fnc_isNearRepairVehicle.sqf
  addons/repair/functions/fnc_repair.sqf
  addons/repair/functions/fnc_repair_failure.sqf
  addons/repair/functions/fnc_repair_success.sqf
  addons/repair/initSettings.sqf
  addons/repair/script_component.hpp
  addons/repair/stringtable.xml
Labels: kind/enhancement

#9221 Field Rations - Add arsenal category
  addons/field_rations/CfgWeapons.hpp
  addons/field_rations/XEH_PREP.hpp
  addons/field_rations/XEH_preInit.sqf
  addons/field_rations/XEH_preStart.sqf
  addons/field_rations/functions/fnc_scanFieldRations.sqf
  addons/field_rations/script_component.hpp
  docs/wiki/framework/field-rations-framework.md
Labels: kind/feature request

#9220 Medical - Add arsenal category
  addons/medical_treatment/CfgWeapons.hpp
  addons/medical_treatment/XEH_PREP.hpp
  addons/medical_treatment/XEH_preInit.sqf
  addons/medical_treatment/XEH_preStart.sqf
  addons/medical_treatment/functions/fnc_scanMedicalItems.sqf
  addons/medical_treatment/script_component.hpp
  docs/wiki/framework/medical-treatment-framework.md
Labels: kind/feature request

#9243 Medical Treatment - Remove early exit when stitching with sutures
  addons/medical_treatment/functions/fnc_surgicalKitProgress.sqf
Labels: kind/bug fix, ignore changelog

#9245 Medical - Fix wound hashmaps deserialized as CBA_namespaces
  addons/medical/functions/fnc_deserializeState.sqf
Labels: kind/bug fix, ignore changelog

#9235 Logistics Wirecutter - Add modded class support
  addons/logistics_wirecutter/CfgWeapons.hpp
  addons/logistics_wirecutter/XEH_postInit.sqf
  addons/logistics_wirecutter/XEH_preStart.sqf
  addons/logistics_wirecutter/script_component.hpp
Labels: kind/enhancement

#9248 Logistics Wirecutter - Add documentation
  docs/wiki/framework/wirecutter-framework.md
Labels: area/documentation

#9249 Common - Improve fnc_codeToString
  addons/common/functions/fnc_codeToString.sqf
Labels: kind/enhancement

#9250 Gunbag - Fix arsenal caching conflicting with CBA_fnc_setLoadout
  addons/gunbag/XEH_preInit.sqf
Labels: kind/bug fix

#6029 Add interaction to inventory holders
  addons/dragging/CfgEventHandlers.hpp
  addons/dragging/CfgVehicles.hpp
  addons/dragging/functions/fnc_canCarry.sqf
  addons/dragging/functions/fnc_canDrag.sqf
  addons/dragging/script_component.hpp
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_postInit.sqf
Labels: kind/feature request

#9252 Common - Add `FUNC(hasZeusAccess)`
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_hasZeusAccess.sqf
Labels: kind/feature request

#9251 Dragging - Add limping check to carrier and improve limping check for target unit
  addons/dragging/functions/fnc_canCarry.sqf
  addons/dragging/functions/fnc_canDrag.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
Labels: kind/enhancement

#9258 Mk6 Mortar - Fix AI firing and doArtilleryFire
  addons/mk6mortar/CfgWeapons.hpp
Labels: kind/bug fix

#9256 Overpressure - Fix invulnerable units taking backblast damage when firing launchers
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
Labels: kind/bug fix

#9263 Vehicles - Document Resume/Set speed control functionality
  docs/wiki/feature/vehicles.md
Labels: ignore changelog, area/documentation

#9264 Sitting - Fix setting and keys in documentation
  docs/wiki/feature/sitting.md
Labels: ignore changelog, area/documentation

#9262 RHS Compat - Improve macro usage
  optionals/compat_rhs_afrf3/CfgWeapons.hpp
  optionals/compat_rhs_gref3/CfgWeapons.hpp
  optionals/compat_rhs_saf3/CfgWeapons.hpp
  optionals/compat_rhs_usf3/CfgWeapons.hpp
Labels: kind/cleanup, ignore changelog

#9254 Arsenal - Improve NVG Supported stat detection
  addons/arsenal/functions/fnc_statTextStatement_scopeVisionMode.sqf
Labels: kind/bug fix

#9274 workflow/tools - trivial cleanup
  .github/workflows/pboproject.yml
  tools/.vscode/tasks.json
Labels: ignore changelog

#9275 Tools - HEMTT preprocess is now an object
  addons/compat_ws/addon.toml
  optionals/compat_sog/addon.toml
  tools/make.py
  tools/sqfvmChecker.py
Labels: area/tools

#9247 Arsenal - Add Tools category and `moveOnOverwrite` parameter to `FUNC(addCustomRightPanelButton)`
  addons/arsenal/CfgWeapons.hpp
  addons/arsenal/XEH_preInit.sqf
  addons/arsenal/config.cpp
  addons/arsenal/functions/fnc_addRightPanelButton.sqf
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/arsenal/initSettings.sqf
  addons/arsenal/stringtable.xml
  addons/artillerytables/CfgWeapons.hpp
  addons/atragmx/CfgWeapons.hpp
  addons/chemlights/CfgWeapons.hpp
  addons/dagr/CfgWeapons.hpp
  addons/explosives/CfgWeapons.hpp
  addons/field_rations/XEH_preInit.sqf
  addons/field_rations/functions/fnc_scanFieldRations.sqf
  addons/flashlights/CfgWeapons.hpp
  addons/fortify/CfgWeapons.hpp
  addons/huntir/CfgWeapons.hpp
  addons/intelitems/CfgMagazines.hpp
  addons/kestrel4500/CfgWeapons.hpp
  addons/logistics_wirecutter/CfgWeapons.hpp
  addons/maptools/CfgWeapons.hpp
  addons/medical_treatment/XEH_preInit.sqf
  addons/medical_treatment/functions/fnc_scanMedicalItems.sqf
  addons/microdagr/CfgWeapons.hpp
  addons/mk6mortar/CfgWeapons.hpp
  addons/overheating/CfgWeapons.hpp
  addons/rangecard/CfgWeapons.hpp
  addons/spottingscope/CfgWeapons.hpp
  addons/trenches/CfgWeapons.hpp
  addons/tripod/CfgWeapons.hpp
  docs/wiki/framework/arsenal-framework.md
Labels: kind/enhancement

#9277 Tools - fix toml file read
  tools/make.py
  tools/sqfvmChecker.py
Labels: ignore changelog

#9225 Dragging - Add additional weight checks on inventory modification
  addons/common/XEH_postInit.sqf
  addons/dragging/XEH_PREP.hpp
  addons/dragging/XEH_postInit.sqf
  addons/dragging/functions/fnc_canRun_carry.sqf
  addons/dragging/functions/fnc_dragObject.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_getWeight.sqf
  addons/dragging/functions/fnc_setCarryable.sqf
  addons/dragging/functions/fnc_setDraggable.sqf
  addons/dragging/functions/fnc_startCarry.sqf
  addons/dragging/functions/fnc_startDrag.sqf
  addons/dragging/initSettings.sqf
  addons/dragging/stringtable.xml
Labels: kind/enhancement

#9265 Common - Add variable to block item replacement temporarily
  addons/arsenal/XEH_preInit.sqf
  addons/common/CfgWeapons.hpp
  addons/common/XEH_PREP.hpp
  addons/common/XEH_preInit.sqf
  addons/common/functions/fnc_registerItemReplacement.sqf
  addons/common/functions/fnc_replaceRegisteredItems.sqf
Labels: kind/enhancement

#9279 Arsenal - Fix adding inventory item with empty name to dummies
  addons/arsenal/missions/Arsenal.VR/XEH_postInit.sqf
  addons/arsenal/missions/Arsenal.VR/fnc_createTarget.sqf
Labels: ignore changelog, impact/trivial

#9272 Dragging - Fix unintended Cargo dependency and improve ragdoll/disconnection handling
  addons/common/stringtable.xml
  addons/dragging/XEH_postInit.sqf
  addons/dragging/functions/fnc_canCarry.sqf
  addons/dragging/functions/fnc_canDrag.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
Labels: kind/enhancement

#9281 Common/Medical - Change `vehicle` checks to `objectParent`
  addons/common/XEH_postInit.sqf
  addons/medical_gui/CfgVehicles.hpp
  addons/medical_treatment/functions/fnc_unloadUnit.sqf
Labels: kind/enhancement

#9280 Common - Fix loading units into FFV cargo seats
  addons/common/functions/fnc_loadPersonLocal.sqf
Labels: kind/bug fix

#7959 Medical Engine - Prevent automatic unloading of dead or unconscious units
  addons/interaction/functions/fnc_canPullOutBody.sqf
  addons/medical_engine/XEH_PREP.hpp
  addons/medical_engine/XEH_postInit.sqf
  addons/medical_engine/functions/fnc_lockUnconsciousSeat.sqf
  addons/medical_engine/functions/fnc_unlockUnconsciousSeat.sqf
Labels: kind/bug fix

#9282 Interact Menu - Ignore text controls from invisible map
  addons/interact_menu/functions/fnc_keyDown.sqf
Labels: kind/bug fix

#9284 Dragging - Add handling of captivity when dragging/carrying
  addons/dragging/XEH_postInit.sqf
Labels: kind/enhancement

#9271 Dragging - Code cleanup
  addons/dragging/CfgEventHandlers.hpp
  addons/dragging/CfgVehicles.hpp
  addons/dragging/XEH_PREP.hpp
  addons/dragging/XEH_postInit.sqf
  addons/dragging/functions/fnc_canCarry.sqf
  addons/dragging/functions/fnc_canDrag.sqf
  addons/dragging/functions/fnc_canDrop.sqf
  addons/dragging/functions/fnc_canDrop_carry.sqf
  addons/dragging/functions/fnc_carryObject.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dragObject.sqf
  addons/dragging/functions/fnc_dragObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_getWeight.sqf
  addons/dragging/functions/fnc_handleAnimChanged.sqf
  addons/dragging/functions/fnc_handleKilled.sqf
  addons/dragging/functions/fnc_handlePlayerChanged.sqf
  addons/dragging/functions/fnc_handlePlayerWeaponChanged.sqf
  addons/dragging/functions/fnc_handleScrollWheel.sqf
  addons/dragging/functions/fnc_handleUnconscious.sqf
  addons/dragging/functions/fnc_initObject.sqf
  addons/dragging/functions/fnc_initPerson.sqf
  addons/dragging/functions/fnc_isObjectOnObject.sqf
  addons/dragging/functions/fnc_setCarryable.sqf
  addons/dragging/functions/fnc_setDraggable.sqf
  addons/dragging/functions/fnc_startCarry.sqf
  addons/dragging/functions/fnc_startCarryPFH.sqf
  addons/dragging/functions/fnc_startDrag.sqf
  addons/dragging/functions/fnc_startDragPFH.sqf
  addons/dragging/initKeybinds.sqf
  addons/dragging/initSettings.sqf
Labels: kind/enhancement

#9285 No Vehicle Logo - Skip removing clan tag if spray painted
  addons/novehicleclanlogo/functions/fnc_removeClanLogo.sqf
  addons/tagging/functions/fnc_createTag.sqf
Labels: area/compatibility

#9149 Tagging - Add custom stencil text tags
  addons/fonts/CfgFontFamilies.hpp
  addons/fonts/SairaStencilOne/ace_stencil64-01.paa
  addons/fonts/SairaStencilOne/ace_stencil64.fxy
  addons/main/script_mod.hpp
  addons/tagging/CfgEden.hpp
  addons/tagging/CfgWeapons.hpp
  addons/tagging/XEH_PREP.hpp
  addons/tagging/XEH_preStart.sqf
  addons/tagging/config.cpp
  addons/tagging/functions/fnc_addCustomTag.sqf
  addons/tagging/functions/fnc_addStencilTag.sqf
  addons/tagging/functions/fnc_generateStencilTexture.sqf
  addons/tagging/functions/fnc_stencilVehicle.sqf
  addons/tagging/stringtable.xml
Labels: kind/feature request, 2.12

#9069 Arsenal - Action Buttons
  addons/arsenal/ACE_Arsenal_Actions.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/XEH_preInit.sqf
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_buttonActionsPage.sqf
  addons/arsenal/functions/fnc_buttonHide.sqf
  addons/arsenal/functions/fnc_buttonStats.sqf
  addons/arsenal/functions/fnc_compileActions.sqf
  addons/arsenal/functions/fnc_handleActions.sqf
  addons/arsenal/functions/fnc_handleStats.sqf
  addons/arsenal/functions/fnc_itemInfo.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_refresh.sqf
  addons/arsenal/script_component.hpp
  addons/arsenal/ui/RscAttributes.hpp
  addons/gunbag/ACE_Arsenal_Actions.hpp
  addons/gunbag/XEH_PREP.hpp
  addons/gunbag/XEH_preInit.sqf
  addons/gunbag/config.cpp
  addons/gunbag/functions/fnc_weaponName.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: kind/feature request

#9287 Arsenal - Improve support for unique equipment
  addons/arsenal/functions/fnc_buttonImport.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsLoad.sqf
  addons/arsenal/functions/fnc_compileActions.sqf
  addons/arsenal/functions/fnc_itemInfo.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_refresh.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
  addons/gunbag/ACE_Arsenal_Actions.hpp
  docs/wiki/framework/arsenal-framework.md
Labels: kind/enhancement

#8674 Map Tools - Add Vernier Scale and Improve resolution
  addons/maptools/data/mapToolFixed.paa
  addons/maptools/data/mapToolRotatingNormal.paa
  addons/maptools/data/mapToolRotatingNormalOriginal.paa
  addons/maptools/data/mapToolRotatingSmall.paa
  addons/maptools/data/mapToolRotatingSmallOriginal.paa
Labels: kind/feature request

#9261 Repair - Fix bug in detection for ignoring hitpoints
  addons/main/script_macros.hpp
  addons/repair/CfgVehicles.hpp
  addons/repair/functions/fnc_getHitPointsToIgnore.sqf
Labels: kind/bug fix

#8453 Laser - Adds Aircraft Point Locking; Laser Spot Tracker
  addons/laser/XEH_PREP.hpp
  addons/laser/XEH_postInit.sqf
  addons/laser/functions/fnc_keyLaserCodeChange.sqf
  addons/laser/functions/fnc_laserPointTrack.sqf
  addons/laser/functions/fnc_seekerFindLaserSpot.sqf
  addons/laser/functions/fnc_toggleLST.sqf
  addons/laser/stringtable.xml
Labels: kind/feature request

#9293 Arsenal - Fix #9040 bugs/regressions
  addons/arsenal/functions/fnc_onSelChangedRight.sqf
  addons/arsenal/functions/fnc_replaceUniqueItemsLoadout.sqf
Labels: kind/bug fix, ignore changelog

#9278 Arsenal - Make Zeuses able to save, delete, and edit Default Loadouts
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/XEH_postInit.sqf
  addons/arsenal/functions/fnc_addDefaultLoadout.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsDelete.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsRename.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsSave.sqf
  addons/arsenal/functions/fnc_canEditDefaultLoadout.sqf
  addons/arsenal/functions/fnc_loadoutsChangeTab.sqf
  addons/arsenal/functions/fnc_onSelChangedLoadouts.sqf
  addons/arsenal/functions/fnc_removeDefaultLoadout.sqf
  addons/arsenal/functions/fnc_renameDefaultLoadout.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: kind/feature request

#9291 Arsenal - Add and Improve stats
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_binoMag.sqf
  addons/arsenal/functions/fnc_statTextStatement_binoVisionMode.sqf
  addons/arsenal/functions/fnc_statTextStatement_magCount.sqf
  addons/arsenal/functions/fnc_statTextStatement_scopeMag.sqf
  addons/arsenal/stringtable.xml
  addons/ballistics/ACE_Arsenal_Stats.hpp
  addons/nightvision/ACE_Arsenal_Stats.hpp
  addons/nightvision/XEH_PREP.hpp
  addons/nightvision/config.cpp
  addons/nightvision/functions/fnc_statTextStatement_NVGeneration.sqf
  addons/nightvision/stringtable.xml
Labels: kind/enhancement

#8067 Rearm - Add enable setting
  addons/rearm/Cfg3DEN.hpp
  addons/rearm/CfgVehicles.hpp
  addons/rearm/XEH_postInit.sqf
  addons/rearm/dev/test_debugConfigs.sqf
  addons/rearm/functions/fnc_initSupplyVehicle.sqf
  addons/rearm/functions/fnc_isSource.sqf
  addons/rearm/functions/fnc_makeSource.sqf
  addons/rearm/initSettings.sqf
  optionals/compat_gm/CfgVehicles.hpp
  optionals/compat_gm/config.cpp
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/config.cpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/config.cpp
  optionals/compat_sog/CfgVehicles/wheeled.hpp
Labels: kind/enhancement

#9014 Extensions - Fix gtest branch change
  extensions/CMakeLists.txt
Labels: ignore changelog

#9288 UI - Fix UAVs not being considered vehicles for HUD elements
  addons/reload/ACE_UI.hpp
  addons/ui/functions/fnc_setAdvancedElement.sqf
Labels: kind/bug fix

#9290 Arsenal - Improve stats display
  addons/arsenal/functions/fnc_buttonStatsPage.sqf
  addons/arsenal/functions/fnc_compileStats.sqf
  addons/arsenal/functions/fnc_handleStats.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
Labels: kind/enhancement

#9296 Logistics wirecutter - Add wirecutter stats to ACE arsenal
  addons/logistics_wirecutter/ACE_Arsenal_Stats.hpp
  addons/logistics_wirecutter/config.cpp
  addons/trenches/ACE_Arsenal_Stats.hpp
Labels: kind/enhancement

#9297 Arsenal - Fix for #9040 and #9293
  addons/arsenal/functions/fnc_replaceUniqueItemsLoadout.sqf
Labels: kind/bug fix, ignore changelog

#8070 Repair - Add enable setting
  addons/repair/CfgActions.hpp
  addons/repair/CfgEden.hpp
  addons/repair/CfgVehicles.hpp
  addons/repair/XEH_postInit.sqf
  addons/repair/XEH_preInit.sqf
  addons/repair/config.cpp
  addons/repair/functions/fnc_addRepairActions.sqf
  addons/repair/functions/fnc_isInRepairFacility.sqf
  addons/repair/functions/fnc_isRepairVehicle.sqf
  addons/repair/initSettings.sqf
  optionals/compat_gm/CfgVehicles.hpp
  optionals/compat_gm/config.cpp
  optionals/compat_rhs_afrf3/CfgVehicles.hpp
  optionals/compat_rhs_afrf3/config.cpp
  optionals/compat_rhs_usf3/CfgVehicles.hpp
  optionals/compat_rhs_usf3/config.cpp
  optionals/compat_sog/CfgVehicles/wheeled.hpp
Labels: kind/enhancement

#9289 Laser - Cleanup laser designator config and code
  addons/laser/RscInGameUI.hpp
  addons/laser/config.cpp
  addons/laser/functions/fnc_onLaserDesignatorDraw.sqf
  addons/laser/script_component.hpp
Labels: kind/cleanup
