Repository acemod/ACE3, pull requests merged in 2023-02, with the labels that each got.

#9142 Translations: Korean
  addons/fortify/stringtable.xml
Labels: area/translations

#9144 Weapon Select - Remove vehicle smoke selection key
  addons/weaponselect/XEH_postInit.sqf
Labels: kind/bug fix

#9139 Common - Fixed CBA keybinds not working with progress bar
  addons/common/functions/fnc_progressBar.sqf
Labels: kind/bug fix

#9052 Dragging - Improve weapon reselect behaviour
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_getFiremodeIndex.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_startCarry.sqf
Labels: kind/enhancement

#8981 Refuel - Added ability to refuel fuel sources
  AUTHORS.txt
  addons/cargo/functions/fnc_canLoadItemIn.sqf
  addons/refuel/CfgVehicles.hpp
  addons/refuel/XEH_PREP.hpp
  addons/refuel/XEH_postInit.sqf
  addons/refuel/config.cpp
  addons/refuel/functions/fnc_canCheckFuel.sqf
  addons/refuel/functions/fnc_canConnectNozzle.sqf
  addons/refuel/functions/fnc_canTakeNozzle.sqf
  addons/refuel/functions/fnc_canTurnOn.sqf
  addons/refuel/functions/fnc_connectNozzleAction.sqf
  addons/refuel/functions/fnc_disconnect.sqf
  addons/refuel/functions/fnc_dropNozzle.sqf
  addons/refuel/functions/fnc_getCapacity.sqf
  addons/refuel/functions/fnc_getFuel.sqf
  addons/refuel/functions/fnc_makeJerryCan.sqf
  addons/refuel/functions/fnc_makeSource.sqf
  addons/refuel/functions/fnc_onMouseButtonDown.sqf
  addons/refuel/functions/fnc_readFuelCounter.sqf
  addons/refuel/functions/fnc_refuel.sqf
  addons/refuel/functions/fnc_returnNozzle.sqf
  addons/refuel/functions/fnc_setFuel.sqf
  addons/refuel/functions/fnc_startNozzleInHandsPFH.sqf
  addons/refuel/functions/fnc_takeNozzle.sqf
  addons/refuel/functions/fnc_turnOn.sqf
  addons/refuel/initSettings.sqf
  addons/refuel/stringtable.xml
Labels: kind/enhancement

#9133 Refuel - Add events for fuel source and jerry can creation
  addons/refuel/functions/fnc_makeJerryCan.sqf
  addons/refuel/functions/fnc_makeSource.sqf
  docs/wiki/framework/refuel-framework.md
Labels: kind/enhancement

#9134 Rearm - Add event for rearm source creation
  addons/rearm/functions/fnc_makeSource.sqf
  docs/wiki/framework/rearm-framework.md
Labels: kind/enhancement

#9145 Medical - Fix respawn when letting AI take over playable units
  addons/medical_status/functions/fnc_initUnit.sqf
Labels: kind/bug fix

#9160 Added Korean Translation
  addons/refuel/stringtable.xml
Labels: area/translations
