Repository acemod/ACE3, pull requests merged in 2024-01, with the labels that each got.

#9704 Common - Make `FUNC(isModLoaded)` case-insensitive
  addons/advanced_fatigue/XEH_postInit.sqf
  addons/common/functions/fnc_isModLoaded.sqf
  addons/compat_sog/functions/fnc_handlePunjiTrapTrigger.sqf
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_staticWeaponInit.sqf
  addons/dogtags/XEH_postInit.sqf
  addons/gforces/functions/fnc_pfhUpdateGForces.sqf
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
  addons/killtracker/XEH_postInit.sqf
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
  addons/zeus/functions/fnc_bi_moduleArsenal.sqf
  addons/zeus/functions/fnc_moduleSetMedic.sqf
  addons/zeus/functions/fnc_moduleSetMedicalFacility.sqf
  addons/zeus/functions/fnc_moduleSetMedicalVehicle.sqf
Labels: kind/bug fix

#9696 Inventory - Fix filtering for items without file extension in picture property
  addons/inventory/XEH_preStart.sqf
  addons/inventory/functions/fnc_forceItemListUpdate.sqf
  addons/inventory/functions/fnc_inventoryDisplayLoad.sqf
  addons/logistics_rope/CfgWeapons.hpp
Labels: kind/bug fix

#9705 Arsenal - Fix animations not playing properly
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/functions/fnc_showItem.sqf
  addons/arsenal/missions/Arsenal.VR/XEH_postInit.sqf
  addons/common/CfgGesturesMale.hpp
  addons/common/CfgMoves.hpp
  addons/common/XEH_PREP.hpp
  addons/common/config.cpp
  addons/common/functions/fnc_stopGesture.sqf
Labels: kind/bug fix

#9707 Arsenal - Fix wrong animation upon opening the arsenal in VR while empty-handed
  addons/arsenal/missions/Arsenal.VR/XEH_postInit.sqf
Labels: kind/bug fix, ignore changelog

#9708 Medical - Disable AI twitching when unconscious
  addons/common/CfgMoves.hpp
  addons/medical_engine/CfgMoves.hpp
  addons/medical_status/functions/fnc_setUnconsciousState.sqf
Labels: kind/bug fix

#9709 Captives - Added listenable escorting EH
  addons/captives/functions/fnc_doEscortCaptive.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#9712 Field Manual - Fix Fortify Tool & Body Bag entries
  addons/fieldmanual/CfgHints.hpp
  addons/fieldmanual/stringtable.xml
Labels: kind/bug fix

#9706 Inventory - Improve multiple aspects
  addons/inventory/CfgEventHandlers.hpp
  addons/inventory/RscDisplayInventory.hpp
  addons/inventory/XEH_PREP.hpp
  addons/inventory/XEH_postInit.sqf
  addons/inventory/XEH_preStart.sqf
  addons/inventory/functions/fnc_addCustomFilter.sqf
  addons/inventory/functions/fnc_currentItemListBox.sqf
  addons/inventory/functions/fnc_displayNameWeight.sqf
  addons/inventory/functions/fnc_filterBackpacks.sqf
  addons/inventory/functions/fnc_filterGrenades.sqf
  addons/inventory/functions/fnc_filterHeadgear.sqf
  addons/inventory/functions/fnc_filterItems.sqf
  addons/inventory/functions/fnc_filterMagazines.sqf
  addons/inventory/functions/fnc_filterMedical.sqf
  addons/inventory/functions/fnc_filterUniforms.sqf
  addons/inventory/functions/fnc_filterVests.sqf
  addons/inventory/functions/fnc_filterWeapons.sqf
  addons/inventory/functions/fnc_forceItemListUpdate.sqf
  addons/inventory/functions/fnc_inventoryDisplayLoad.sqf
  addons/inventory/functions/fnc_onLBSelChanged.sqf
  addons/medical_treatment/XEH_preStart.sqf
  addons/movement/CfgEventHandlers.hpp
  addons/movement/XEH_PREP.hpp
Labels: kind/enhancement

#9715 Arsenal - Add JIP support to Default Loadouts added mid-mission
  addons/arsenal/functions/fnc_addDefaultLoadout.sqf
  addons/arsenal/functions/fnc_buttonLoadoutsRename.sqf
  addons/arsenal/functions/fnc_loadoutsChangeTab.sqf
  addons/arsenal/functions/fnc_removeDefaultLoadout.sqf
Labels: kind/bug fix

#9659 Common - Add keycombo support for `FUNC(disableUserInput)`
  addons/common/functions/fnc_disableUserInput.sqf
Labels: kind/enhancement

#9653 Map Tools - Add Plotting Board
  addons/main/script_macros.hpp
  addons/maptools/CfgVehicles.hpp
  addons/maptools/CfgWeapons.hpp
  addons/maptools/README.md
  addons/maptools/UI/plottingboard_item.paa
  addons/maptools/XEH_PREP.hpp
  addons/maptools/XEH_postInitClient.sqf
  addons/maptools/data/plottingBoardAcrylic.paa
  addons/maptools/data/plottingBoardBack.paa
  addons/maptools/data/plottingBoardRuler.paa
  addons/maptools/functions/fnc_canUsePlottingBoard.sqf
  addons/maptools/functions/fnc_handleMouseButton.sqf
  addons/maptools/functions/fnc_handleMouseMove.sqf
  addons/maptools/functions/fnc_handlePlottingBoardMarkers.sqf
  addons/maptools/functions/fnc_isInsidePlottingBoard.sqf
  addons/maptools/functions/fnc_updateMapToolMarkers.sqf
  addons/maptools/functions/fnc_wipeMarkers.sqf
  addons/maptools/initSettings.inc.sqf
  addons/maptools/script_component.hpp
  addons/maptools/stringtable.xml
  docs/wiki/feature/maptools.md
Labels: kind/feature request

#9121 Markers - Add the option for UTC/System time timestamps
  addons/markers/functions/fnc_onButtonClickConfirm.sqf
  addons/markers/initSettings.inc.sqf
  addons/markers/stringtable.xml
Labels: kind/feature request

#9690 Markers - Add true milliseconds as a timestamp option
  addons/markers/functions/fnc_onButtonClickConfirm.sqf
  addons/markers/initSettings.inc.sqf
  addons/markers/stringtable.xml
Labels: kind/feature request

#9719 Overheating - Add stats to arsenal
  addons/overheating/ACE_Arsenal_Stats.hpp
  addons/overheating/XEH_PREP.hpp
  addons/overheating/config.cpp
  addons/overheating/functions/fnc_statTextStatement_allowSwapBarrel.sqf
  addons/overheating/functions/fnc_statTextStatement_boltType.sqf
  addons/overheating/stringtable.xml
Labels: kind/enhancement

#9682 Ballistics - Respect Advanced Ballistics settings for displaying muzzle velocities
  addons/ballistics/functions/fnc_statTextStatement_magazineMuzzleVelocity.sqf
  addons/ballistics/functions/fnc_statTextStatement_weaponMuzzleVelocity.sqf
  addons/kestrel4500/functions/fnc_collectData.sqf
  addons/rangecard/functions/fnc_calculateRangeCard.sqf
  addons/rangecard/functions/fnc_updateRangeCard.sqf
  addons/xm157/functions/fnc_ballistics_getData.sqf
Labels: kind/enhancement

#9723 Map Tools - Fix wrong Plotting Board strings targets
  addons/maptools/CfgVehicles.hpp
  addons/maptools/CfgWeapons.hpp
Labels: kind/bug fix

#9721 Translations - Improve/Add Japanese localization.
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/fcs/stringtable.xml
  addons/map/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/maptools/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/markers/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/overheating/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/tagging/stringtable.xml
  addons/zeus/stringtable.xml
Labels: area/translations

#9726 Korean translation updated
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/nlaw/stringtable.xml
  addons/overheating/stringtable.xml
  addons/repair/stringtable.xml
Labels: area/translations

#9727 Translations - Fix Japanese NVG localization just one typo.
  addons/nightvision/stringtable.xml
Labels: area/translations

#9724 Add documentation for Medical Vehicles & Facilities
  docs/wiki/framework/medical-treatment-framework.md
Labels: ignore changelog, area/documentation

#9730 Dragging - Prevent multiple units carrying the same object
  addons/common/functions/fnc_claimSafeServer.sqf
  addons/dragging/XEH_PREP.hpp
  addons/dragging/XEH_postInit.sqf
  addons/dragging/functions/fnc_pauseCarry.sqf
  addons/dragging/functions/fnc_setCarryable.sqf
  addons/dragging/functions/fnc_setDraggable.sqf
  addons/dragging/functions/fnc_startCarry.sqf
  addons/dragging/functions/fnc_startCarryLocal.sqf
  addons/dragging/functions/fnc_startDrag.sqf
  addons/dragging/functions/fnc_startDragLocal.sqf
  addons/dragging/initKeybinds.inc.sqf
  addons/medical_gui/functions/fnc_collectActions.sqf
Labels: kind/bug fix

#9731 Marker Flags - Reduce mass
  addons/marker_flags/CfgWeapons.hpp
Labels: ignore changelog, kind/change

#9733 Medical Engine - Exit early if incoming damage is 0
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: kind/optimization

#9734 View Restriction - Handle thirdPersonView difficulty setting correctly
  addons/viewrestriction/XEH_clientInit.sqf
Labels: kind/bug fix

#8751 Cookoff - Minor improvement to Fire integration
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/cookoff/functions/fnc_cookOffEffect.sqf
Labels: kind/enhancement

#9735 General - Change UAV unit config lookups to `unitIsUAV`
  addons/common/functions/fnc_getVehicleUAVCrew.sqf
  addons/dragging/functions/fnc_canCarry.sqf
  addons/dragging/functions/fnc_canDrag.sqf
  addons/gforces/XEH_postInit.sqf
  addons/medical_engine/XEH_postInit.sqf
  addons/medical_status/XEH_preInit.sqf
Labels: kind/optimization

#9736 Arsenal - Add thermal vision support to scopes vision mode stat
  addons/arsenal/functions/fnc_statTextStatement_scopeVisionMode.sqf
  addons/arsenal/stringtable.xml
Labels: kind/enhancement

#9738 Medical Engine - Don't skip hdbracket ever
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: ignore changelog

#9739 Dragging - Add logging for claimSafe failure
  addons/dragging/functions/fnc_startCarryLocal.sqf
  addons/dragging/functions/fnc_startDragLocal.sqf
Labels: ignore changelog

#9737 Arsenal - Fixed stats & actions appearing when they shouldn't be
  addons/arsenal/XEH_preInit.sqf
  addons/arsenal/functions/fnc_buttonActionsPage.sqf
  addons/arsenal/functions/fnc_buttonHide.sqf
  addons/arsenal/functions/fnc_buttonStatsPage.sqf
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
Labels: kind/bug fix

#9740 Common - Add JIP support to status effects
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_statusEffect_addType.sqf
  addons/common/functions/fnc_statusEffect_sendEffects.sqf
Labels: kind/enhancement

#9741 Common - Fixed status effects
  addons/common/XEH_preInit.sqf
Labels: ignore changelog

#9649 Add CUP Units Compatibility
  addons/compat_cup_units/$PBOPREFIX$
  addons/compat_cup_units/CfgWeapons.hpp
  addons/compat_cup_units/compat_cup_nouniformrestrictions/CfgVehicles.hpp
  addons/compat_cup_units/compat_cup_nouniformrestrictions/config.cpp
  addons/compat_cup_units/compat_cup_nouniformrestrictions/script_component.hpp
  addons/compat_cup_units/config.cpp
  addons/compat_cup_units/script_component.hpp
Labels: kind/feature request, area/compatibility

#9752 Tools - Fix header arg types
  addons/ai/functions/fnc_garrison.sqf
  addons/arsenal/functions/fnc_handleActions.sqf
  addons/common/functions/fnc_getWeight.sqf
  addons/medical_status/functions/fnc_addMedicationAdjustment.sqf
  docs/tools/document_functions.py
Labels: ignore changelog

#9747 Cargo - Show item and vehicle in progress bar text
  addons/cargo/functions/fnc_startLoadIn.sqf
  addons/cargo/functions/fnc_startUnload.sqf
  addons/cargo/stringtable.xml
Labels: kind/enhancement

#9756 Medical - Fix getting no pulse on a dead patient receiving CPR
  addons/medical_treatment/functions/fnc_checkPulseLocal.sqf
Labels: kind/bug fix

#9749 Map Tools - Fix tools showing after item is dropped out of inventory
  addons/maptools/functions/fnc_updateMapToolMarkers.sqf
Labels: kind/bug fix
