Repository acemod/ACE3, pull requests merged in 2024-11, with the labels that each got.

#10474 Medical - Fix limb damage in medical menu
  addons/medical_gui/functions/fnc_updateBodyImage.sqf
Labels: kind/bug-fix, ignore-changelog

#10477 Tagging - Lowercase texture paths
  addons/tagging/ACE_Tags.hpp
Labels: ignore-changelog

#10494 Weapon Select - Fix selecting next grenade
  addons/weaponselect/functions/fnc_selectNextGrenade.sqf
Labels: kind/bug-fix

#10504 Docs - Remove outdated Arsenal keybind warning
  docs/wiki/feature/arsenal.md
Labels: kind/documentation, ignore-changelog

#10501 Translations - Improve Russian
  addons/cargo/stringtable.xml
  addons/hearing/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#10505 Tools - HEMTT launch profile for RF
  .hemtt/launch.toml
Labels: area/tools, ignore-changelog

#10508 Overheating - Improve `getWeaponData` by saving weapon config to variable
  addons/overheating/functions/fnc_getWeaponData.sqf
Labels: kind/optimization

#10509 Translations - Improve Japanese
  addons/cargo/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#10510 Common - Add lint suppress to checkFiles
  addons/common/functions/fnc_checkFiles.sqf
Labels: ignore-changelog

#10487 Ballistics - Improve B_127x54_Ball values
  addons/atragmx/functions/fnc_initGunList.sqf
  addons/ballistics/CfgAmmo.hpp
  addons/ballistics/CfgMagazines.hpp
  addons/ballistics/CfgWeapons.hpp
Labels: kind/enhancement

#10463 Interaction - Add "pass grenade" interaction
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_PREP.hpp
  addons/interaction/functions/fnc_canPassThrowable.sqf
  addons/interaction/functions/fnc_passThrowable.sqf
  addons/interaction/initSettings.inc.sqf
  addons/interaction/stringtable.xml
  docs/wiki/feature/interaction.md
Labels: kind/feature

#10473 Common - Allow custom event name for status effects
  addons/common/XEH_preInit.sqf
  addons/common/functions/fnc_statusEffect_addType.sqf
  addons/common/functions/fnc_statusEffect_resetVariables.sqf
  addons/common/functions/fnc_statusEffect_sendEffects.sqf
Labels: kind/enhancement

#10513 Cookoff - Remove animals from EH
  addons/cookoff/XEH_postInit.sqf
Labels: kind/optimization

#10498 Medical - Add API for fully healing a unit
  addons/medical/XEH_PREP.hpp
  addons/medical/functions/fnc_fullHeal.sqf
  addons/medical_treatment/functions/fnc_fullHeal.sqf
Labels: kind/enhancement

#10511 Translations - Improve Japanese (Before EF release)
  addons/explosives/stringtable.xml
  addons/goggles/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/overheating/stringtable.xml
  addons/reload/stringtable.xml
  addons/tagging/stringtable.xml
  addons/vehicles/stringtable.xml
Labels: kind/translation

#10517 Tools - Update stringtable sorting
  addons/goggles/stringtable.xml
Labels: ignore-changelog

#10492 Advanced Throwing - Fix multiple round grenades
  addons/advanced_throwing/functions/fnc_drawThrowable.sqf
  addons/advanced_throwing/functions/fnc_exitThrowMode.sqf
  addons/advanced_throwing/functions/fnc_prepare.sqf
  addons/advanced_throwing/functions/fnc_prime.sqf
Labels: kind/bug-fix

#10495 Advanced Throwing - Cleanup
  addons/advanced_throwing/XEH_PREP.hpp
  addons/advanced_throwing/XEH_postInit.sqf
  addons/advanced_throwing/functions/fnc_canThrow.sqf
  addons/advanced_throwing/functions/fnc_drawThrowable.sqf
  addons/advanced_throwing/functions/fnc_exitThrowMode.sqf
  addons/advanced_throwing/functions/fnc_getMuzzle.sqf
  addons/advanced_throwing/functions/fnc_prime.sqf
  addons/advanced_throwing/functions/fnc_throw.sqf
  addons/advanced_throwing/functions/fnc_throwFiredXEH.sqf
  addons/advanced_throwing/functions/fnc_updateControlsHint.sqf
  addons/advanced_throwing/initSettings.inc.sqf
Labels: kind/cleanup

#10485 Markers - Improve Timestamps check for GPS/UAV Terminals
  addons/markers/functions/fnc_canTimestamp.sqf
  addons/markers/stringtable.xml
Labels: kind/enhancement

#10519 Translations - Improve Japanese (ZEUS Field Ration and Timestamp)
  addons/field_rations/stringtable.xml
  addons/markers/stringtable.xml
Labels: kind/translation

#10520 Goggles - Fix string name
  addons/goggles/initSettings.inc.sqf
Labels: ignore-changelog

#10521 Frag - de-quote number
  addons/compat_rhs_afrf3/CfgAmmo.hpp
  addons/compat_rhs_usf3/CfgAmmo.hpp
  addons/compat_spe/CfgAmmo/bombs.hpp
  addons/compat_spe/CfgAmmo/explosives.hpp
  addons/compat_spe/CfgAmmo/grenades.hpp
  addons/frag/CfgAmmoFragParameters.hpp
  addons/hot/CfgAmmo.hpp
Labels: ignore-changelog

#10502 SPE Compat - Add Tank cannon overpressure and shell fragmentation
  addons/compat_spe/CfgAmmo.hpp
  addons/compat_spe/CfgAmmo/bullets.hpp
  addons/compat_spe/CfgAmmo/shells.hpp
  addons/compat_spe/CfgWeapons/cannons.hpp
Labels: kind/feature, area/compatibility

#10306 missile_hud - Move HUD feature from `laser` to new component
  addons/laser/XEH_PREP.hpp
  addons/laser/XEH_postInit.sqf
  addons/laser/functions/fnc_showVehicleHud.sqf
  addons/missile_hud/$PBOPREFIX$
  addons/missile_hud/ACE_GuidanceConfig.hpp
  addons/missile_hud/CfgEventHandlers.hpp
  addons/missile_hud/README.md
  addons/missile_hud/RscTitles.hpp
  addons/missile_hud/XEH_PREP.hpp
  addons/missile_hud/XEH_postInit.sqf
  addons/missile_hud/XEH_preInit.sqf
  addons/missile_hud/XEH_preStart.sqf
  addons/missile_hud/config.cpp
  addons/missile_hud/functions/fnc_createCtrlFromElement.sqf
  addons/missile_hud/functions/fnc_getCurrentWeapon.sqf
  addons/missile_hud/functions/fnc_info_salh.sqf
  addons/missile_hud/functions/fnc_isElementValid.sqf
  addons/missile_hud/functions/fnc_registerDefaultHud.sqf
  addons/missile_hud/functions/fnc_registerElement.sqf
  addons/missile_hud/functions/fnc_shouldAdjustHud.sqf
  addons/missile_hud/functions/fnc_showVehicleHud.sqf
  addons/missile_hud/script_component.hpp
Labels: kind/enhancement
