Repository acemod/ACE3, pull requests merged in 2024-07, with the labels that each got.

#10099 Dogtags - Make "Dog Tag" consistent
  addons/dogtags/stringtable.xml
Labels: kind/translation

#10094 Dogtags - Drop dogtag on ground if unit doesn't have inventory space
  addons/dogtags/functions/fnc_addDogtagItem.sqf
  addons/dogtags/functions/fnc_canTakeDogtag.sqf
Labels: kind/bug-fix

#9889 Aircraft - Drone "Follow Unit" Waypoint Action
  addons/aircraft/functions/fnc_droneAddActions.sqf
  addons/aircraft/functions/fnc_droneSetWaypoint.sqf
  addons/aircraft/stringtable.xml
  addons/logistics_uavbattery/functions/fnc_canRefuelUAV.sqf
Labels: kind/enhancement

#10104 Korean translation updated
  addons/aircraft/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/concertina_wire/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation

#10103 Dogtags - Stop throwing error when trying to take dog tags
  addons/dogtags/functions/fnc_canTakeDogtag.sqf
Labels: ignore-changelog

#10098 General - Use `ace_common_fnc_isAwake` where possible
  addons/captives/functions/fnc_canEscortCaptive.sqf
  addons/captives/functions/fnc_canLoadCaptive.sqf
  addons/captives/functions/fnc_doEscortCaptive.sqf
  addons/captives/functions/fnc_handleAnimChangedHandcuffed.sqf
  addons/captives/functions/fnc_handleAnimChangedSurrendered.sqf
  addons/captives/functions/fnc_setHandcuffed.sqf
  addons/captives/functions/fnc_setSurrendered.sqf
  addons/common/functions/fnc_disableAI.sqf
  addons/common/functions/fnc_nearestVehiclesFreeSeat.sqf
  addons/dogtags/functions/fnc_canCheckDogtag.sqf
  addons/dogtags/functions/fnc_canTakeDogtag.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/gforces/functions/fnc_pfhUpdateGForces.sqf
  addons/goggles/functions/fnc_canWipeGlasses.sqf
  addons/interaction/functions/fnc_canJoinGroup.sqf
  addons/interaction/functions/fnc_canJoinTeam.sqf
  addons/interaction/functions/fnc_canTapShoulder.sqf
  addons/towing/functions/fnc_towStateMachinePFH.sqf
Labels: kind/cleanup

#10106 Nametags - Only display talking waves when unit is alive and conscious
  addons/nametags/functions/fnc_initIsSpeaking.sqf
Labels: kind/bug-fix

#10107 Common - Fix `ace_common_fnc_uniqueItems`
  addons/common/functions/fnc_uniqueItems.sqf
Labels: kind/bug-fix

#10108 Common - Clean up `ace_common_fnc_hasItem` & `ace_common_fnc_hasMagazine` functions
  addons/common/functions/fnc_hasItem.sqf
  addons/common/functions/fnc_hasMagazine.sqf
Labels: kind/optimization

#10096 Dogtags - Improve displaying dogtags from bodies with no name
  addons/dogtags/XEH_postInit.sqf
  addons/dogtags/functions/fnc_addDogtagItem.sqf
  addons/dogtags/functions/fnc_showDogtag.sqf
Labels: kind/enhancement

#10095 Dogtags - Fix arsenal not showing dogtag info in multiplayer
  addons/dogtags/XEH_PREP.hpp
  addons/dogtags/XEH_postInit.sqf
  addons/dogtags/XEH_preInit.sqf
  addons/dogtags/functions/fnc_addDogtagActions.sqf
  addons/dogtags/functions/fnc_checkDogtagItem.sqf
  addons/dogtags/functions/fnc_getDogtagItem.sqf
  addons/dogtags/functions/fnc_sendDogtagData.sqf
Labels: kind/bug-fix

#10101 Dogtags - Add context menu action to check dog tag
  addons/dogtags/XEH_postInit.sqf
  addons/dogtags/functions/fnc_getDogtagItem.sqf
Labels: kind/enhancement

#10112 Translations - Improve Japanese
  addons/advanced_throwing/stringtable.xml
  addons/aircraft/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/fortify/stringtable.xml
  addons/gestures/stringtable.xml
  addons/goggles/stringtable.xml
  addons/interact_menu/stringtable.xml
  addons/interaction/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/optionsmenu/stringtable.xml
  addons/overheating/stringtable.xml
  addons/rangecard/stringtable.xml
  addons/reload/stringtable.xml
  addons/respawn/stringtable.xml
  addons/scopes/stringtable.xml
  addons/switchunits/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehiclelock/stringtable.xml
  addons/weather/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10115 Translation - Small update Russian
  addons/common/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/repair/stringtable.xml
Labels: kind/translation

#10114 Spectator - Remove spectator lights when exiting spectator
  addons/spectator/functions/fnc_cam.sqf
Labels: kind/bug-fix

#10120 Sitting - Add config overwrite for random animation pool
  addons/sitting/functions/fnc_getRandomAnimation.sqf
  addons/sitting/functions/fnc_sit.sqf
  docs/wiki/framework/sitting-framework.md
Labels: kind/feature

#10125 Documentation - Add `ACE_suture` entry to list of classnames
  docs/wiki/class-names.md
Labels: kind/documentation, ignore-changelog

#10127 Interaction - Hide push interaction if target is in ViV cargo
  addons/interaction/functions/fnc_canPush.sqf
Labels: kind/bug-fix

#10117 Dragging - Remove weight calculation workaround
  addons/dragging/functions/fnc_getWeight.sqf
Labels: kind/optimization

#10113 General - Remove "SwitchWeapon" spam
  addons/common/functions/fnc_getWeaponModes.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_startCarryLocal.sqf
  addons/dragging/functions/fnc_startDragLocal.sqf
  addons/mk6mortar/functions/fnc_handlePlayerVehicleChanged.sqf
  addons/rearm/script_component.hpp
  addons/repair/functions/fnc_repair.sqf
  addons/repair/functions/fnc_repair_failure.sqf
  addons/repair/functions/fnc_repair_success.sqf
  addons/respawn/functions/fnc_handleKilled.sqf
  addons/respawn/functions/fnc_restoreGear.sqf
  addons/weaponselect/functions/fnc_playChangeFiremodeSound.sqf
  addons/weaponselect/functions/fnc_selectWeaponMode.sqf
  addons/weaponselect/functions/fnc_selectWeaponMuzzle.sqf
Labels: kind/enhancement

#10126 Quickmount - Fix quickmount for vehicle interactions
  addons/quickmount/XEH_postInitClient.sqf
  addons/quickmount/functions/fnc_getInNearest.sqf
Labels: kind/bug-fix

#10128 Dragging - Fix dragging/carrying failing for items in ViV
  addons/dragging/functions/fnc_carryObject.sqf
  addons/dragging/functions/fnc_dragObject.sqf
Labels: kind/bug-fix

#10097 Dogtags - Code cleanup
  addons/dogtags/CfgEventHandlers.hpp
  addons/dogtags/CfgVehicles.hpp
  addons/dogtags/CfgWeapons.hpp
  addons/dogtags/XEH_PREP.hpp
  addons/dogtags/XEH_postInit.sqf
  addons/dogtags/functions/fnc_addDogtagActions.sqf
  addons/dogtags/functions/fnc_addDogtagItem.sqf
  addons/dogtags/functions/fnc_bloodType.sqf
  addons/dogtags/functions/fnc_canCheckDogtag.sqf
  addons/dogtags/functions/fnc_canTakeDogtag.sqf
  addons/dogtags/functions/fnc_checkDogtag.sqf
  addons/dogtags/functions/fnc_disableFactionDogtags.sqf
  addons/dogtags/functions/fnc_getDogtagData.sqf
  addons/dogtags/functions/fnc_getDogtagItem.sqf
  addons/dogtags/functions/fnc_showDogtag.sqf
  addons/dogtags/functions/fnc_ssn.sqf
  addons/dogtags/functions/fnc_takeDogtag.sqf
Labels: kind/cleanup

#10132 Dogtags - Add missing `private`
  addons/dogtags/functions/fnc_getDogtagItem.sqf
Labels: ignore-changelog

#10133 RHS Compats - Add `common` to loadorder
  addons/compat_rhs_afrf3/config.cpp
  addons/compat_rhs_gref3/config.cpp
  addons/compat_rhs_saf3/config.cpp
  addons/compat_rhs_usf3/config.cpp
Labels: ignore-changelog

#10134 RHS Compats - Remove silent `ace_hearing` dependency from RHS compats
  addons/compat_rhs_afrf3/CfgWeapons.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_hearing/CfgWeapons.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_hearing/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_hearing/script_component.hpp
  addons/compat_rhs_afrf3/config.cpp
  addons/compat_rhs_usf3/CfgWeapons.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_hearing/CfgWeapons.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_hearing/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_hearing/script_component.hpp
  addons/compat_rhs_usf3/config.cpp
Labels: kind/bug-fix

#10123 Medical Engine - Allow disabling seat locking on vehicle types
  addons/medical_engine/functions/fnc_lockUnconsciousSeat.sqf
  docs/wiki/framework/medical-framework.md
Labels: kind/enhancement

#10100 Cargo & Dragging - Disable UAV AI when being dragged, carried or cargo
  addons/cargo/functions/fnc_loadItem.sqf
  addons/cargo/functions/fnc_unloadItem.sqf
  addons/common/XEH_PREP.hpp
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_disableAiUAV.sqf
  addons/dragging/functions/fnc_carryObject.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dragObject.sqf
  addons/dragging/functions/fnc_dragObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
Labels: kind/enhancement

#10137 Cargo - Reenable UAV AI when on ground when paradropped
  addons/cargo/functions/fnc_paradropItem.sqf
Labels: kind/bug-fix, ignore-changelog

#10139 Laser - Remove unnecessary EGVAR
  addons/laser/functions/fnc_addLaserTarget.sqf
  addons/laser/functions/fnc_laserTargetPFH.sqf
  addons/laser/functions/fnc_showVehicleHud.sqf
  addons/laser/functions/fnc_toggleLST.sqf
Labels: kind/cleanup, ignore-changelog

#10141 Medical AI - Fix splints not being applied in special circumstance & setting adding multiple EH
  addons/medical_ai/XEH_postInit.sqf
  addons/medical_ai/functions/fnc_healUnit.sqf
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_ai/initSettings.inc.sqf
Labels: kind/bug-fix

#10142 Medical AI - Make AI take tourniquets into account when medicing
  addons/medical_ai/functions/fnc_healingLogic.sqf
Labels: kind/enhancement

#10146 Explosives - Only add "detonate all" action for dead man switch when necessary
  addons/explosives/functions/fnc_addDetonateActions.sqf
Labels: kind/bug-fix

#10150 Recoil - Code cleanup
  addons/recoil/$PBOPREFIX$
  addons/recoil/CfgEventHandlers.hpp
  addons/recoil/CfgMoves.hpp
  addons/recoil/CfgRecoils.hpp
  addons/recoil/XEH_PREP.hpp
  addons/recoil/XEH_preInit.sqf
  addons/recoil/functions/fnc_camshake.sqf
Labels: kind/cleanup

#10135 Common - Add `ace_common_fnc_switchAttachmentMode`
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_switchAttachmentMode.sqf
Labels: kind/feature

#10148 CSW - Fix belt linking
  addons/csw/functions/fnc_reload_handleAddTurretMag.sqf
  addons/csw/functions/fnc_reload_handleReturnAmmo.sqf
  addons/csw/functions/fnc_reload_loadMagazine.sqf
Labels: kind/bug-fix

#10147 Fire - Fix medical macros in compiled sqfc
  addons/fire/addon.toml
  addons/fire/functions/fnc_burnSimulation.sqf
  addons/fire/script_component.hpp
Labels: kind/bug-fix, ignore-changelog

#8154 Interaction - Show all possible modes for an attachment
  addons/interaction/functions/fnc_getWeaponAttachmentsActions.sqf
  addons/interaction/stringtable.xml
Labels: kind/enhancement

#10149 CSW - Improve function headers & comments
  addons/csw/dev/checkStaticWeapons.sqf
  addons/csw/functions/fnc_aceRearmGetCarryMagazines.sqf
  addons/csw/functions/fnc_ai_handleFired.sqf
  addons/csw/functions/fnc_ai_handleGetIn.sqf
  addons/csw/functions/fnc_ai_reload.sqf
  addons/csw/functions/fnc_assemble_canDeployWeapon.sqf
  addons/csw/functions/fnc_assemble_canPickupWeapon.sqf
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_assemble_deployWeapon.sqf
  addons/csw/functions/fnc_assemble_deployWeaponModifier.sqf
  addons/csw/functions/fnc_assemble_pickupTripod.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/functions/fnc_canDeployTripod.sqf
  addons/csw/functions/fnc_canGetIn.sqf
  addons/csw/functions/fnc_canPickupTripod.sqf
  addons/csw/functions/fnc_getCarryMagazine.sqf
  addons/csw/functions/fnc_getLoadActions.sqf
  addons/csw/functions/fnc_initVehicle.sqf
  addons/csw/functions/fnc_proxyWeapon.sqf
  addons/csw/functions/fnc_reload_canLoadMagazine.sqf
  addons/csw/functions/fnc_reload_canUnloadMagazine.sqf
  addons/csw/functions/fnc_reload_getLoadableMagazines.sqf
  addons/csw/functions/fnc_reload_getVehicleMagazine.sqf
  addons/csw/functions/fnc_reload_handleAddTurretMag.sqf
  addons/csw/functions/fnc_reload_handleRemoveTurretMag.sqf
  addons/csw/functions/fnc_reload_handleReturnAmmo.sqf
  addons/csw/functions/fnc_reload_loadMagazine.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
Labels: kind/cleanup, ignore-changelog

#10130 Dogtags - Rename inventory items via CBA
  addons/dogtags/XEH_postInit.sqf
Labels: kind/enhancement

#10156 Medical - Gracefully handle bad configs in testHitpoints
  addons/medical/dev/test_hitpointConfigs.sqf
Labels: ignore-changelog

#10154 Medical AI - Give blood in Cardiac Arrest before doing CPR
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_ai/functions/fnc_playTreatmentAnim.sqf
  addons/medical_ai/functions/fnc_requestMedic.sqf
  addons/medical_ai/stateMachine.inc.sqf
Labels: kind/enhancement

#10155 Translations - Add and Improve Portuguese
  addons/captives/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/hearing/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/noradio/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
  addons/overheating/stringtable.xml
  addons/parachute/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/reload/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/smallarms/stringtable.xml
  addons/towing/stringtable.xml
  addons/trenches/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicle_damage/stringtable.xml
  addons/vehiclelock/stringtable.xml
  addons/vehicles/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/viewports/stringtable.xml
  addons/viewrestriction/stringtable.xml
  addons/volume/stringtable.xml
Labels: kind/translation
