Repository acemod/ACE3, pull requests merged in 2024-03, with the labels that each got.

#9812 Translations - Improve Japanese localization
  addons/cargo/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/explosives/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
Labels: area/translations

#9810 CUP Weapons Compat - Add WP NVGs
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/CfgWeapons.hpp
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/config.cpp
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
Labels: kind/enhancement, area/compatibility

#9799 Arsenal - Native baseWeapon support for CBA items
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_baseAttachment.sqf
  addons/arsenal/functions/fnc_baseOptic.sqf
  addons/arsenal/functions/fnc_baseWeapon.sqf
  addons/arsenal/functions/fnc_replaceUniqueItemsLoadout.sqf
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/arsenal/functions/fnc_updateCurrentItemsList.sqf
  addons/arsenal/functions/fnc_updateUniqueItemsList.sqf
  addons/arsenal/functions/fnc_verifyLoadout.sqf
  addons/gunbag/XEH_preInit.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: kind/enhancement, area/compatibility

#9818 Artillery - Add Rangetable Keybind, Fix remembering last charge
  addons/artillerytables/functions/fnc_rangeTableUpdate.sqf
  addons/mk6mortar/CfgMagazines.hpp
  addons/mk6mortar/XEH_preInit.sqf
  addons/mk6mortar/initKeybinds.inc.sqf
Labels: kind/enhancement, kind/bug fix

#9817 Medical GUI - Display IV Type
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#9815 Medical GUI - Show Bleeding Rate
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_gui/initSettings.inc.sqf
  addons/medical_gui/stringtable.xml
Labels: kind/setting

#9822 Improve version badge
  README.md
Labels: kind/documentation, ignore changelog

#9813 General - Events for Mods
  addons/medical_engine/XEH_preInit.sqf
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_gui/functions/fnc_updateBodyImage.sqf
  addons/medical_gui/functions/fnc_updateCategories.sqf
  addons/medical_gui/functions/fnc_updateInjuryList.sqf
  addons/medical_gui/functions/fnc_updateLogList.sqf
  addons/medical_status/functions/fnc_getBloodLoss.sqf
  addons/medical_treatment/functions/fnc_fullHealLocal.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement, area/compatibility

#9824 CUP Compats - Don't load if cup's compats present (temporary)
  addons/compat_cup_terrains/addon.toml
  addons/compat_cup_terrains/config.cpp
  addons/compat_cup_vehicles/addon.toml
  addons/compat_cup_vehicles/config.cpp
  addons/compat_cup_weapons/addon.toml
  addons/compat_cup_weapons/config.cpp
Labels: ignore changelog

#9823 Common - Fix addToInventory for magazines
  addons/common/functions/fnc_addToInventory.sqf
Labels: kind/bug fix

#9825 Fortify - Fix invalid object filtering
  addons/fortify/functions/fnc_registerObjects.sqf
Labels: kind/bug fix

#9829 Translations - Improve Japanese localization 2
  addons/medical_gui/stringtable.xml
Labels: area/translations

#9827 Overheating - Increase cooling for open bolt guns and spare barrels
  addons/overheating/functions/fnc_calculateCooling.sqf
  addons/overheating/functions/fnc_coolWeaponWithItem.sqf
  addons/overheating/functions/fnc_coolWeaponWithWaterSource.sqf
  addons/overheating/functions/fnc_updateSpareBarrelsTemperaturesThread.sqf
  addons/overheating/functions/fnc_updateTemperature.sqf
  addons/overheating/script_component.hpp
Labels: kind/enhancement

#9835 Documentation - Add Kex to maintainers
  docs/team.md
Labels: kind/documentation, ignore changelog

#9836 Documentation - Add MiszczuZPolski to Team page
  AUTHORS.txt
  docs/team.md
Labels: kind/documentation, ignore changelog

#9837 Documentation - Update management team
  AUTHORS.txt
  docs/team.md
Labels: ignore changelog, area/documentation

#9843 Rearm - Fix actions not being added immeditately
  addons/rearm/functions/fnc_initSupplyVehicle.sqf
Labels: kind/bug fix

#9814 Medical Treatment - Add hook to modify bandaging treatment
  addons/medical_treatment/functions/fnc_bandage.sqf
  addons/medical_treatment/functions/fnc_bandageLocal.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement, area/compatibility

#9841 Translations - Russian - Fix
  addons/advanced_fatigue/stringtable.xml
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
  addons/frag/stringtable.xml
  addons/goggles/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/main/stringtable.xml
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
Labels: area/translations

#9833 Arsenal - Show load stat's actual value
  addons/arsenal/ACE_Arsenal_Stats.hpp
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_statTextStatement_load.sqf
Labels: kind/enhancement

#9844 Translations - Complete Italian
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/overheating/stringtable.xml
Labels: area/translations

#9834 Parachute - Add Seconds Indicator to Altimeter Watch
  addons/parachute/RscTitles.hpp
  addons/parachute/functions/fnc_showAltimeter.sqf
Labels: kind/enhancement

#9845 Cup Weapon Compat - Fix NVG classnames
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/CfgWeapons.hpp
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/config.cpp
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
Labels: ignore changelog

#9842 General - Don't add keybinds to headless client/dedicated server
  addons/advanced_ballistics/XEH_postInit.sqf
  addons/atragmx/XEH_postInit.sqf
  addons/explosives/XEH_postInit.sqf
  addons/explosives/XEH_preInit.sqf
  addons/mk6mortar/XEH_postInit.sqf
  addons/mk6mortar/XEH_preInit.sqf
  addons/rangecard/XEH_postInit.sqf
  addons/yardage450/XEH_postInit.sqf
Labels: kind/change

#9851 Repair - Wheel Patching - Tooltip rephrasing
  addons/repair/stringtable.xml
Labels: kind/cleanup

#9855 Grenades - Fix Flashbang in epilepsy mode
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
Labels: kind/enhancement

#9846 Common - Fix players sliding when holstering weapons
  addons/common/CfgMoves.hpp
Labels: kind/bug fix

#9858 Dragging - Release ownership when target is too heavy to drag/carry
  addons/dragging/functions/fnc_startCarryLocal.sqf
  addons/dragging/functions/fnc_startDragLocal.sqf
Labels: kind/bug fix

#9860 Dragging - Fix dropping incorrect object when carrying fails
  addons/dragging/functions/fnc_startCarryPFH.sqf
Labels: kind/bug fix

#9864 Translations - Improve Japanese localization 3
  addons/csw/stringtable.xml
  addons/dogtags/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/repair/stringtable.xml
Labels: area/translations

#9865 Medical Treatment - Fix bandage effectiveness
  addons/medical_treatment/functions/fnc_bandage.sqf
Labels: kind/bug fix, ignore changelog

#9861 Fortify - Skip placement animation for no cost fortifications
  addons/fortify/functions/fnc_deployConfirm.sqf
  docs/wiki/framework/fortify-framework.md
Labels: kind/bug fix, area/documentation

#9866 Rearm - Show distance to target on actions
  addons/rearm/functions/fnc_addRearmActions.sqf
Labels: kind/enhancement

#9863 Fire - Add ability to disable screams for individual units
  addons/fire/XEH_postInit.sqf
  docs/wiki/framework/fire-framework.md
Labels: kind/feature request

#9867 Advanced Fatigue - Disable sway when Advanced Fatigue is off
  addons/advanced_fatigue/XEH_postInit.sqf
Labels: kind/bug fix

#9853 Hearing - Removed `remoteExec` & added microoptimisations
  addons/hearing/XEH_postInit.sqf
  addons/hearing/XEH_preInit.sqf
  addons/hearing/functions/fnc_addEarPlugs.sqf
Labels: ignore changelog

#9816 Medical - Support Magazine Treatment Items
  addons/arsenal/functions/fnc_addRightPanelButton.sqf
  addons/arsenal/functions/fnc_scanConfig.sqf
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_adjustMagazineAmmo.sqf
  addons/common/functions/fnc_getCountOfItem.sqf
  addons/common/functions/fnc_uniqueItems.sqf
  addons/medical_gui/functions/fnc_countTreatmentItems.sqf
  addons/medical_treatment/CfgMagazines.hpp
  addons/medical_treatment/CfgVehicles.hpp
  addons/medical_treatment/CfgWeapons.hpp
  addons/medical_treatment/config.cpp
  addons/medical_treatment/functions/fnc_hasItem.sqf
  addons/medical_treatment/functions/fnc_medication.sqf
  addons/medical_treatment/functions/fnc_treatmentFailure.sqf
  addons/medical_treatment/functions/fnc_useItem.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: kind/feature request

#9868 Maverick - Cleanup config
  addons/maverick/config.cpp
Labels: ignore changelog

#9870 Compat CUP Weapons - Fix Metis UBC
  addons/compat_cup_weapons/compat_cup_weapons_csw/CfgVehicles.hpp
Labels: kind/bug fix, ignore changelog

#9871 Arsenal - Revert unicode support for sorting
  addons/arsenal/functions/fnc_sortPanel.sqf
Labels: ignore changelog

#9869 AB/Scopes - Fix script errors on profiling branch
  addons/advanced_ballistics/functions/fnc_readAmmoDataFromConfig.sqf
  addons/scopes/functions/fnc_calculateZeroAngleCorrection.sqf
Labels: kind/bug fix

#9872 Advanced Fatigue - Move sway to common and add enable sway setting
  addons/advanced_fatigue/XEH_postInit.sqf
  addons/advanced_fatigue/initSettings.inc.sqf
  addons/advanced_fatigue/stringtable.xml
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_swayLoop.sqf
  addons/common/initSettings.inc.sqf
  addons/common/stringtable.xml
Labels: kind/enhancement

#9875 Interaction - Make magazine passing animation optional
  addons/interaction/functions/fnc_passMagazine.sqf
Labels: kind/enhancement

#9859 Dragging - Minor code cleanup
  addons/dragging/functions/fnc_carryObject.sqf
  addons/dragging/functions/fnc_carryObjectPFH.sqf
  addons/dragging/functions/fnc_dragObject.sqf
  addons/dragging/functions/fnc_dragObjectPFH.sqf
  addons/dragging/functions/fnc_dropObject.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/dragging/functions/fnc_handleScrollWheel.sqf
  addons/dragging/functions/fnc_resumeCarry.sqf
  addons/dragging/functions/fnc_startCarryLocal.sqf
  addons/dragging/functions/fnc_startCarryPFH.sqf
  addons/dragging/functions/fnc_startDragLocal.sqf
  addons/dragging/functions/fnc_startDragPFH.sqf
  addons/dragging/initSettings.inc.sqf
Labels: ignore changelog

#9801 General - Convert vehicle to objectParent
  addons/advanced_throwing/functions/fnc_canThrow.sqf
  addons/advanced_throwing/functions/fnc_throw.sqf
  addons/captives/functions/fnc_handleOnUnconscious.sqf
  addons/common/functions/fnc_fixLoweredRifleAnimation.sqf
  addons/common/functions/fnc_getDeathAnim.sqf
  addons/common/functions/fnc_goKneeling.sqf
  addons/dragging/functions/fnc_dropObject_carry.sqf
  addons/explosives/functions/fnc_canDefuse.sqf
  addons/fastroping/functions/fnc_fastRopeLocalPFH.sqf
  addons/fastroping/functions/fnc_fastRopeServerPFH.sqf
  addons/goggles/functions/fnc_applyRainEffect.sqf
  addons/goggles/functions/fnc_applyRotorWashEffect.sqf
  addons/medical_ai/functions/fnc_playTreatmentAnim.sqf
  addons/medical_blood/functions/fnc_handleWoundReceived.sqf
  addons/medical_blood/functions/fnc_onBleeding.sqf
  addons/medical_engine/functions/fnc_setUnconsciousAnim.sqf
  addons/medical_feedback/XEH_postInit.sqf
  addons/nightvision/functions/fnc_onCameraViewChanged.sqf
  addons/nightvision/functions/fnc_onVisionModeChanged.sqf
  addons/scopes/functions/fnc_adjustZero.sqf
  addons/scopes/functions/fnc_canAdjustZero.sqf
  addons/scopes/functions/fnc_canResetZero.sqf
  addons/scopes/functions/fnc_resetZero.sqf
  addons/switchunits/functions/fnc_isValidAi.sqf
  addons/volume/XEH_postInitClient.sqf
  addons/zeus/functions/fnc_bi_moduleArsenal.sqf
Labels: kind/enhancement, status/discussion

#9820 Weather - More permissive wind info indicator + auto-enabling when throwing grenades
  addons/advanced_throwing/XEH_postInit.sqf
  addons/advanced_throwing/functions/fnc_exitThrowMode.sqf
  addons/advanced_throwing/functions/fnc_prepare.sqf
  addons/advanced_throwing/initSettings.inc.sqf
  addons/advanced_throwing/stringtable.xml
  addons/weather/XEH_postInit.sqf
  addons/weather/functions/fnc_displayWindInfo.sqf
Labels: kind/enhancement, kind/change

#9877 Translations - Improve Japanese localization part 4 (sway factor)
  addons/advanced_throwing/stringtable.xml
  addons/common/stringtable.xml
Labels: area/translations

#9881 Missile Guidance - Rename preInit and postInit files
  addons/missileguidance/CfgEventhandlers.hpp
  addons/missileguidance/XEH_postInit.sqf
  addons/missileguidance/XEH_preInit.sqf
Labels: ignore changelog

#9880 Mk6mortar - Remove return values from `FUNC(handleFired)`
  addons/mk6mortar/functions/fnc_handleFired.sqf
Labels: ignore changelog

#9838 Documentation - Add Info about Plotting Board
  docs/wiki/feature/maptools.md
Labels: ignore changelog, area/documentation

#9879 Repair/UI - Minor code cleanup
  addons/repair/XEH_postInit.sqf
  addons/ui/XEH_clientInit.sqf
Labels: kind/cleanup, ignore changelog

#9884 Improve GitHub labels and Release Drafter
  .github/release-drafter.yml
Labels: kind/task, area/tools

#9883 Korean translation updated
  addons/advanced_throwing/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
  addons/explosives/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/respawn/stringtable.xml
Labels: kind/translation

#9886 Options Menu - Fix main-menu news setting not working
  addons/optionsmenu/initSettings.inc.sqf
Labels: kind/bug-fix

#9887 Common - Add word `weapon` to sway setting
  addons/common/stringtable.xml
Labels: kind/enhancement, ignore-changelog

#9832 CUP Compats - Cleanup temp `__has_include`
  addons/compat_cup_terrains/addon.toml
  addons/compat_cup_terrains/config.cpp
  addons/compat_cup_vehicles/addon.toml
  addons/compat_cup_vehicles/config.cpp
  addons/compat_cup_weapons/addon.toml
  addons/compat_cup_weapons/config.cpp
Labels: kind/cleanup, ignore-changelog
