Repository acemod/ACE3, pull requests merged in 2024-04, with the labels that each got.

#9888 Casings - Add CUP Casings
  addons/casings/functions/fnc_createCasing.sqf
Labels: kind/enhancement, area/compatibility

#9892 Yardage - Fix broken display in 2.16
  addons/yardage450/functions/fnc_turnOn.sqf
Labels: kind/bug-fix

#9783 Interaction - Check `canInteractWith` before taking dropped weapons
  addons/interaction/XEH_postInit.sqf
Labels: kind/bug-fix

#9897 Common - Cleanup strange texture
  addons/common/XEH_postInit.sqf
  addons/common/icon.paa
Labels: ignore-changelog

#9894 Yardage - Make macros uppercase
  addons/yardage450/functions/fnc_turnOn.sqf
Labels: kind/enhancement, ignore-changelog

#9898 CSW - Remove unused 3den attributes
  addons/compat_rhs_afrf3/compat_rhs_afrf3_csw/CfgVehicles.hpp
  addons/compat_rhs_gref3/compat_rhs_gref3_csw/CfgVehicles.hpp
  addons/csw/Cfg3den.hpp
  addons/csw/CfgVehicles.hpp
  addons/csw/config.cpp
  addons/csw/script_config_macros_csw.hpp
Labels: ignore-changelog

#9902 CSW - Minor code cleanup
  addons/csw/functions/fnc_ai_reload.sqf
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_assemble_deployWeapon.sqf
  addons/csw/functions/fnc_assemble_pickupTripod.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/functions/fnc_getLoadActions.sqf
  addons/csw/functions/fnc_getUnloadActions.sqf
  addons/csw/functions/fnc_initVehicle.sqf
  addons/csw/functions/fnc_reload_getLoadableMagazines.sqf
  addons/csw/functions/fnc_reload_loadMagazine.sqf
Labels: ignore-changelog

#9907 CSW - Fix CUP CSW
  addons/compat_cup_weapons/compat_cup_weapons_csw/CfgWeapons.hpp
Labels: kind/bug-fix

#9909 Cargo - Fix undefined variable
  addons/cargo/functions/fnc_initVehicle.sqf
Labels: kind/bug-fix

#9895 Common - Use existing weapon holders for `FUNC(addToInventory)`
  addons/common/functions/fnc_addToInventory.sqf
Labels: kind/optimization

#9908 Translate - French
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_sog/stringtable.xml
  addons/explosives/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/overheating/stringtable.xml
  addons/refuel/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#9916 Arsenal - Fix `FUNC(baseAttachment)` returning non-CBA item modes
  addons/arsenal/functions/fnc_baseAttachment.sqf
Labels: kind/bug-fix

#9921 General - Change `count` to `isEqualTo` where appropriate
  addons/ai/functions/fnc_garrison.sqf
  addons/common/functions/fnc_switchToGroupSide.sqf
  addons/interact_menu/functions/fnc_collectActiveActionTree.sqf
  addons/interaction/functions/fnc_getDown.sqf
  addons/interaction/functions/fnc_sendAway.sqf
  addons/laser/functions/fnc_seekerFindLaserSpot.sqf
  addons/medical_damage/functions/fnc_interpolatePoints.sqf
  addons/missileguidance/functions/fnc_seekerType_ARH.sqf
  addons/missionmodules/functions/fnc_moduleAmbianceSound.sqf
  addons/overheating/functions/fnc_loadCoolestSpareBarrel.sqf
  addons/overheating/functions/fnc_sendSpareBarrelsTemperaturesHint.sqf
  addons/rangecard/functions/fnc_updateRangeCard.sqf
  addons/repair/functions/fnc_canRepair.sqf
  addons/repair/functions/fnc_getHitPointString.sqf
  addons/repair/functions/fnc_repair.sqf
  addons/spottingscope/CfgVehicles.hpp
  addons/switchunits/functions/fnc_switchUnit.sqf
  addons/vehicle_damage/functions/fnc_processHit.sqf
  addons/vehiclelock/functions/fnc_addKeyForVehicle.sqf
  addons/weaponselect/functions/fnc_fireSmokeLauncher.sqf
  addons/zeus/functions/fnc_moduleSuppressiveFire.sqf
Labels: kind/optimization

#9944 Scopes - Notify restart req. for enable & pressure settings
  addons/scopes/XEH_postInit.sqf
  addons/scopes/functions/fnc_adjustScope.sqf
  addons/scopes/initKeybinds.inc.sqf
  addons/scopes/initSettings.inc.sqf
Labels: kind/bug-fix

#9947 Language Russian - Update translation
  addons/advanced_throwing/stringtable.xml
  addons/common/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/hearing/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#9949 Update translate Hearing french
  addons/hearing/stringtable.xml
Labels: kind/translation

#9950 Medical Treatment - Enforce bandage effectiveness variable type
  addons/medical_treatment/functions/fnc_bandageLocal.sqf
Labels: kind/enhancement, ignore-changelog

#9967 Documentation - minor fix
  docs/wiki/development/arma-3-scheduler-and-our-practices.md
Labels: kind/documentation, ignore-changelog

#9969 Wiki - Fix search being broken by the attach-framework page
  docs/wiki/framework/attach-framework.md
Labels: kind/bug-fix, kind/documentation, ignore-changelog

#9965 Cargo - Fix undefined variable and config entries
  addons/cargo/CfgVehicles.hpp
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_initVehicle.sqf
Labels: kind/bug-fix

#9973 Common - Fix animations not playing
  addons/common/CfgMoves.hpp
Labels: kind/bug-fix

#9946 Interact menu - Fix condition in consolidated menu
  addons/interact_menu/functions/fnc_collectActiveActionTree.sqf
Labels: kind/bug-fix

#9977 Translations - Improve Japanese localization (3.17.1)
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/dragging/stringtable.xml
  addons/explosives/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/finger/stringtable.xml
  addons/fortify/stringtable.xml
  addons/frag/stringtable.xml
  addons/headless/stringtable.xml
  addons/hearing/stringtable.xml
  addons/map/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/medical/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_blood/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_statemachine/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/pylons/stringtable.xml
  addons/rearm/stringtable.xml
  addons/refuel/stringtable.xml
  addons/repair/stringtable.xml
  addons/spectator/stringtable.xml
  addons/trenches/stringtable.xml
  addons/vehiclelock/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/volume/stringtable.xml
  addons/weather/stringtable.xml
Labels: kind/translation

#9974 Tools - Add missing includes for p3ds
  .hemtt/project.toml
  include/a3/data_f/penetration/hard_ground.rvmat
  include/a3/ui_f/hpp/defineResincl.inc
  include/a3/weapons_f/acc/data/optics.rvmat
  include/a3/weapons_f/acc/data/scope_view3_ca.paa
  include/a3/weapons_f/acc/data/scope_view_ca.paa
  include/a3/weapons_f/data/nightvisiontl.paa
  include/a3/weapons_f/reticle/data/optics_bg_dirt_ca.paa
  include/vn/characters_f_vietnam/OPFOR/vests/items/vn_mine_satchel_02.p3d
  include/vn/objects_f_vietnam/supply/a2_ammo/macv/vn_us_30cal.p3d
  include/vn/objects_f_vietnam/supply/a2_ammo/macv/vn_us_can_30.p3d
  include/vn/objects_f_vietnam/supply/a2_ammo/pavn/vn_pavn_50_can.p3d
  include/vn/objects_f_vietnam/usarmy/furniture/vn_us_fort_common_crate_01.p3d
  include/vn/objects_f_vietnam/usarmy/supply/mortar_m2/vn_prop_60mm_crate_01.p3d
  include/vn/objects_f_vietnam/usarmy/supply/mortar_m29/vn_prop_81mm_crate_02.p3d
  include/vn/static_f_vietnam/mortar_m2/vn_shell_60mm_m302_wp_ammo.p3d
  include/vn/static_f_vietnam/mortar_m2/vn_shell_60mm_m49a2_he_ammo.p3d
  include/vn/static_f_vietnam/mortar_m2/vn_shell_60mm_m83_lume_ammo.p3d
  include/vn/static_f_vietnam/mortar_m29/vn_shell_81mm_m374_he_ammo.p3d
  include/vn/static_f_vietnam/mortar_type53/vn_shell_82mm_d832_wp_ammo.p3d
  include/vn/static_f_vietnam/mortar_type53/vn_shell_82mm_o832d_he_ammo.p3d
  include/vn/static_f_vietnam/mortar_type53/vn_shell_82mm_s832s_lume_ammo.p3d
  include/vn/static_f_vietnam/tow/vn_static_tow_mag.p3d
  include/vn/weapons_f_vietnam/mines/m112/vn_mine_m112_mag.p3d
  include/vn/weapons_f_vietnam/mines/m14/vn_mine_m14_mag.p3d
  include/vn/weapons_f_vietnam/mines/m15/vn_mine_m15_mag.p3d
  include/vn/weapons_f_vietnam/mines/m16/vn_mine_m16_mag.p3d
  include/vn/weapons_f_vietnam/mines/m16/vn_mine_tripwire_m16_02.p3d
  include/vn/weapons_f_vietnam/mines/m16/vn_mine_tripwire_m16_04.p3d
  include/vn/weapons_f_vietnam/mines/m18/vn_mine_m18.p3d
  include/vn/weapons_f_vietnam/mines/m18/vn_mine_m18_x3.p3d
  include/vn/weapons_f_vietnam/mines/punji/vn_mine_punji_01_mag.p3d
  include/vn/weapons_f_vietnam/mines/punji/vn_mine_punji_02_mag.p3d
  include/vn/weapons_f_vietnam/mines/punji/vn_mine_punji_03_mag.p3d
  include/vn/weapons_f_vietnam/mines/tm57/vn_mine_tm57_mag.p3d
  include/vn/weapons_f_vietnam/mines/tripwire_arty/vn_mine_tripwire_arty.p3d
  include/vn/weapons_f_vietnam/mines/tripwire_f1/vn_mine_tripwire_f1_02.p3d
  include/vn/weapons_f_vietnam/mines/tripwire_f1/vn_mine_tripwire_f1_04.p3d
  tools/.vscode/settings.json
  tools/.vscode/tasks.json
Labels: area/tools, ignore-changelog

#9959 Medical - Add `_createLitter` to medical events
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/medical_treatment/functions/fnc_treatmentFailure.sqf
  addons/medical_treatment/functions/fnc_treatmentSuccess.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#9986 Hearing - Use class EH instead of extended EH
  addons/hearing/CfgEventHandlers.hpp
  addons/hearing/XEH_postInit.sqf
Labels: kind/optimization, ignore-changelog

#9987 Hearing - Add earplugs only if not present
  addons/hearing/functions/fnc_addEarPlugs.sqf
Labels: kind/bug-fix

#9981 Grenades - Fix flashbangs causing pain for invulnerable units
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
Labels: kind/bug-fix

#9978 Grenades - Fix unconscious AI being affected by flashbangs
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
Labels: kind/bug-fix

#9984 Grenades - Add missing documentation on flares and incendiaries
  docs/wiki/framework/grenades-framework.md
Labels: kind/documentation

#9980 Common - Fix adding unusable throwables
  addons/common/functions/fnc_addToInventory.sqf
Labels: kind/bug-fix

#9976 CUP Compat - Fix NVG Black/Green translations
  addons/chemlights/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
  addons/gunbag/stringtable.xml
  addons/irlight/stringtable.xml
  addons/laserpointer/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/smallarms/stringtable.xml
  optionals/tracers/stringtable.xml
Labels: kind/translation, kind/bug-fix, ignore-changelog
