Repository acemod/ACE3, pull requests merged in 2024-10, with the labels that each got.

#10036 missile_vikhr - Add Vikhr ATGM
  addons/missile_vikhr/$PBOPREFIX$
  addons/missile_vikhr/CfgAmmo.hpp
  addons/missile_vikhr/CfgMagazines.hpp
  addons/missile_vikhr/CfgWeapons.hpp
  addons/missile_vikhr/README.md
  addons/missile_vikhr/config.cpp
  addons/missile_vikhr/script_component.hpp
  addons/missile_vikhr/stringtable.xml
Labels: kind/feature

#10026 missile_GBU - add
  addons/missile_gbu/$PBOPREFIX$
  addons/missile_gbu/CfgAmmo.hpp
  addons/missile_gbu/CfgMagazines.hpp
  addons/missile_gbu/CfgWeapons.hpp
  addons/missile_gbu/README.md
  addons/missile_gbu/config.cpp
  addons/missile_gbu/script_component.hpp
  addons/missile_gbu/stringtable.xml
  addons/missileguidance/CfgMissileTypesNato.hpp
  addons/missileguidance/CfgMissileTypesWarsaw.hpp
Labels: kind/feature

#10352 Missile Guidance - Allow attackProfiles to return [0,0,0]
  addons/missileguidance/functions/fnc_doAttackProfile.sqf
  addons/missileguidance/functions/fnc_guidancePFH.sqf
Labels: ignore-changelog

#10359 Interaction - Fix unlocalized string in ACE_TeamManagement
  addons/interaction/CfgVehicles.hpp
Labels: kind/bug-fix, status/added-to-RC

#10365 Translations - Italian
  addons/frag/stringtable.xml
  addons/interaction/stringtable.xml
  addons/maverick/stringtable.xml
  addons/missile_gbu/stringtable.xml
  addons/missile_vikhr/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/ui/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10373 Translations - Improve Japanese 3.18 (part 2)
  addons/missile_gbu/stringtable.xml
  addons/missile_vikhr/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10367 Cargo - Add an action to check size of cargo object
  addons/cargo/XEH_postInit.sqf
  addons/cargo/stringtable.xml
Labels: kind/enhancement, status/added-to-RC

#10378 Translations - Korean
  addons/cargo/stringtable.xml
  addons/missile_gbu/stringtable.xml
  addons/missile_vikhr/stringtable.xml
Labels: kind/translation

#10374 Translations - Spanish
  AUTHORS.txt
  addons/aircraft/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_spe/compat_spe_csw/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/frag/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/interaction/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/maverick/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_gbu/stringtable.xml
  addons/missile_vikhr/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/scopes/stringtable.xml
  addons/ui/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10379 Mine Detector - Change detectable hash so it can be editable by mission scripts
  addons/minedetector/XEH_preInit.sqf
  addons/minedetector/functions/fnc_getDetectedObject.sqf
Labels: kind/change

#10376 Medical - Fix zeus end keybind not killing units
  addons/medical_engine/functions/fnc_handleDamage.sqf
Labels: kind/bug-fix

#10385 Medical Treatment - Fix script error on diagnosing dead patient in basic
  addons/medical_treatment/functions/fnc_diagnose.sqf
Labels: kind/bug-fix

#10386 Goggles/Fire - Fix adding a `RscPicture` to `RscTitles`
  addons/fire/RscTitles.hpp
  addons/goggles/RscTitles.hpp
  addons/goggles/define.hpp
Labels: kind/bug-fix

#10380 Arsenal - Fix duplicate defines
  addons/arsenal/defines.hpp
  addons/arsenal/functions/fnc_itemInfo.sqf
  addons/arsenal/functions/fnc_onPanelDblClick.sqf
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
Labels: kind/cleanup, ignore-changelog

#10391 Translations - Improve Russian
  addons/cargo/stringtable.xml
  addons/missile_gbu/stringtable.xml
  addons/missile_vikhr/stringtable.xml
Labels: kind/translation

#10390 Translations - Improve Japanese (After 3.18)
  addons/cargo/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10389 Maptools - Fix undefined macro for plotting board
  addons/dragon/functions/fnc_onFired.sqf
  addons/maptools/functions/fnc_isInsidePlottingBoard.sqf
Labels: kind/bug-fix

#10396 Vehicle Damage - Fix zeus end keybind not killing units
  addons/vehicle_damage/functions/fnc_handleDamage.sqf
Labels: kind/bug-fix

#10383 CI - Update to latest Mikero Tools
  .github/workflows/pboproject.yml
Labels: area/tools, ignore-changelog

#10372 Add some lint annotations
  addons/artillerytables/functions/fnc_interactMenuOpened.sqf
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_initVehicle.sqf
  addons/cargo/functions/fnc_onMenuOpen.sqf
  addons/common/functions/fnc__handleRequestAllSyncedEvents.sqf
  addons/common/functions/fnc_showHud.sqf
  addons/csw/dev/checkStaticWeapons.sqf
  addons/csw/functions/fnc_getUnloadActions.sqf
  addons/csw/functions/fnc_initVehicle.sqf
  addons/csw/functions/fnc_reload_getLoadableMagazines.sqf
  addons/dagr/functions/fnc_menuInit.sqf
  addons/dogtags/XEH_postInit.sqf
  addons/dogtags/functions/fnc_addDogtagActions.sqf
  addons/dragging/functions/fnc_setCarryable.sqf
  addons/dragging/functions/fnc_setDraggable.sqf
  addons/explosives/functions/fnc_addDetonateActions.sqf
  addons/explosives/functions/fnc_getPlacedExplosives.sqf
  addons/explosives/functions/fnc_hasPlacedExplosives.sqf
  addons/field_rations/XEH_postInit.sqf
  addons/field_rations/functions/fnc_getConsumableChildren.sqf
  addons/finger/functions/fnc_perFrameEH.sqf
  addons/fortify/XEH_postInit.sqf
  addons/interact_menu/functions/fnc_createAction.sqf
  addons/interact_menu/functions/fnc_isSubPath.sqf
  addons/interaction/XEH_postInit.sqf
  addons/interaction/functions/fnc_addPassengersActions.sqf
  addons/interaction/functions/fnc_addSquadChildren.sqf
  addons/laser/XEH_postInit.sqf
  addons/laser/functions/fnc_dev_drawVisibleLaserTargets.sqf
  addons/laser/functions/fnc_seekerFindLaserSpot.sqf
  addons/magazinerepack/functions/fnc_simulateRepackEvents.sqf
  addons/marker_flags/XEH_postInit.sqf
  addons/medical_ai/functions/fnc_addHealingCommandActions.sqf
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/functions/fnc_isInMedicalFacility.sqf
  addons/nametags/functions/fnc_onDraw3d.sqf
  addons/overheating/XEH_postInit.sqf
  addons/overheating/functions/fnc_getConsumableChildren.sqf
  addons/pylons/XEH_postInit.sqf
  addons/quickmount/functions/fnc_addFreeSeatsActions.sqf
  addons/refuel/XEH_postInit.sqf
  addons/refuel/functions/fnc_makeJerryCan.sqf
  addons/repair/functions/fnc_isInRepairFacility.sqf
  addons/repair/functions/fnc_isNearRepairVehicle.sqf
  addons/tagging/functions/fnc_addTagActions.sqf
  addons/tagging/functions/fnc_checkTaggable.sqf
  addons/tagging/functions/fnc_compileTagAction.sqf
  addons/vector/functions/fnc_nextMode.sqf
  addons/viewdistance/functions/fnc_setFovBasedOvdPFH.sqf
  addons/zeus/functions/fnc_bi_moduleArsenal.sqf
  addons/zeus/functions/fnc_bi_moduleCurator.sqf
  addons/zeus/functions/fnc_bi_moduleMine.sqf
  addons/zeus/functions/fnc_bi_moduleProjectile.sqf
  addons/zeus/functions/fnc_bi_moduleRemoteControl.sqf
  addons/zeus/functions/fnc_getModuleDestination.sqf
Labels: ignore-changelog

#10415 github workflow - skip pboProject lint for now
  .github/workflows/pboproject.yml
Labels: area/tools, ignore-changelog

#10409 Hearing - Tone down strength of explosion hearing damage
  addons/hearing/functions/fnc_explosion.sqf
Labels: kind/change

#10414 Markers - Optimise map marker timestamp filtering
  addons/markers/functions/fnc_removeTimestamp.sqf
Labels: kind/optimization

#10419 Zeus - Cleanup unneeded frag compat
  addons/interaction/RscTitles.hpp
  addons/zeus/functions/fnc_bi_moduleProjectile.sqf
Labels: kind/cleanup, ignore-changelog

#9782 Night Vision - Use slotItemChanged event
  addons/nightvision/XEH_PREP.hpp
  addons/nightvision/XEH_postInit.sqf
  addons/nightvision/functions/fnc_onLoadoutChanged.sqf
  addons/nightvision/functions/fnc_onSlotItemChanged.sqf
Labels: kind/enhancement

#9961 Map - Use `SlotItemChanged` event
  addons/map/XEH_postInitClient.sqf
Labels: kind/optimization

#10040 Hearing - Use `SlotItemChanged` event
  addons/hearing/XEH_postInit.sqf
  addons/hearing/functions/fnc_putInEarplugs.sqf
  addons/hearing/functions/fnc_removeEarplugs.sqf
  addons/hearing/functions/fnc_updateHearingProtection.sqf
  addons/hearing/script_component.hpp
  addons/main/script_mod.hpp
Labels: kind/optimization

#10398 Goggles - Notify restart req. for effects setting
  addons/goggles/initSettings.inc.sqf
Labels: kind/bug-fix

#10131 Dogtags - Remove workaround for broken CBA function
  addons/dogtags/functions/fnc_canTakeDogtag.sqf
Labels: kind/cleanup, ignore-changelog

#9821 General - Optimize tracer status with `getShotInfo`
  addons/advanced_ballistics/functions/fnc_handleFired.sqf
  addons/nightvision/functions/fnc_onFiredPlayer.sqf
  addons/winddeflection/functions/fnc_handleFired.sqf
Labels: kind/optimization

#10404 General - Update miscellaneous to use 2.18 commands
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_adjustMagazineAmmo.sqf
  addons/csw/functions/fnc_reload_loadMagazine.sqf
  addons/grenades/functions/fnc_incendiary.sqf
  addons/interact_menu/functions/fnc_splitPath.sqf
Labels: kind/optimization

#9912 CSW - Use `setMagazineTurretAmmo`
  addons/csw/functions/fnc_reload_handleAddTurretMag.sqf
  addons/csw/functions/fnc_reload_handleRemoveTurretMag.sqf
Labels: kind/optimization

#10018 Common - Revert #9980 (`addToInventory`/throwables)
  addons/common/functions/fnc_addToInventory.sqf
Labels: ignore-changelog

#10407 Medical Treatment - Return IV bags when applicable
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_treatment/functions/fnc_ivBag.sqf
  addons/medical_treatment/functions/fnc_ivBagLocal.sqf
Labels: kind/change

#9488 Weapon Select - Use `selectThrowable` command
  addons/weaponselect/functions/fnc_selectNextGrenade.sqf
Labels: kind/enhancement

#10422 Translations - Japanese
  addons/hearing/stringtable.xml
  addons/hitreactions/stringtable.xml
Labels: kind/translation

#10397 General - Use objectParent for vehicle detection
  .hemtt/lints.toml
  addons/advanced_ballistics/functions/fnc_displayProtractor.sqf
  addons/advanced_throwing/XEH_postInit.sqf
  addons/advanced_throwing/functions/fnc_drawThrowable.sqf
  addons/advanced_throwing/functions/fnc_onMouseButtonDown.sqf
  addons/advanced_throwing/functions/fnc_onMouseScroll.sqf
  addons/attach/functions/fnc_canDetach.sqf
  addons/captives/functions/fnc_canEscortCaptive.sqf
  addons/captives/functions/fnc_canLoadCaptive.sqf
  addons/captives/functions/fnc_canRemoveHandcuffs.sqf
  addons/captives/functions/fnc_doLoadCaptive.sqf
  addons/captives/functions/fnc_handleAnimChangedHandcuffed.sqf
  addons/captives/functions/fnc_setHandcuffed.sqf
  addons/captives/functions/fnc_setSurrendered.sqf
  addons/common/functions/fnc_doAnimation.sqf
  addons/common/functions/fnc_headBugFix.sqf
  addons/dagr/functions/fnc_menuInit.sqf
  addons/dagr/functions/fnc_outputWP.sqf
  addons/explosives/functions/fnc_interactEH.sqf
  addons/fastroping/XEH_postInit.sqf
  addons/field_rations/functions/fnc_addWaterSourceInteractions.sqf
  addons/field_rations/functions/fnc_consumeItem.sqf
  addons/field_rations/functions/fnc_drinkFromSource.sqf
  addons/field_rations/functions/fnc_update.sqf
  addons/finger/functions/fnc_keyPress.sqf
  addons/finger/functions/fnc_perFrameEH.sqf
  addons/interact_menu/functions/fnc_keyDown.sqf
  addons/interact_menu/functions/fnc_renderActionPoints.sqf
  addons/interact_menu/functions/fnc_renderBaseMenu.sqf
  addons/interact_menu/functions/fnc_userActions_addHouseActions.sqf
  addons/interaction/functions/fnc_canPassMagazine.sqf
  addons/javelin/functions/fnc_showFireMode.sqf
  addons/logistics_wirecutter/functions/fnc_interactEH.sqf
  addons/map/functions/fnc_updateMapEffects.sqf
  addons/medical_ai/functions/fnc_canRequestMedic.sqf
  addons/medical_feedback/XEH_postInit.sqf
  addons/medical_gui/functions/fnc_canOpenMenu.sqf
  addons/medical_treatment/functions/fnc_canTreat_holsterCheck.sqf
  addons/medical_treatment/functions/fnc_createLitter.sqf
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/microdagr/functions/fnc_canShow.sqf
  addons/missileguidance/functions/fnc_cycleAttackProfileKeyDown.sqf
  addons/missileguidance/functions/fnc_wire_onFired.sqf
  addons/movement/XEH_postInit.sqf
  addons/nametags/functions/fnc_onDraw3d.sqf
  addons/nightvision/functions/fnc_refreshGoggleType.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
  addons/refuel/functions/fnc_startNozzleInHandsPFH.sqf
  addons/repair/functions/fnc_repair.sqf
  addons/repair/functions/fnc_repair_failure.sqf
  addons/repair/functions/fnc_repair_success.sqf
  addons/spectator/functions/fnc_cam_tick.sqf
  addons/spectator/functions/fnc_getGroupIcon.sqf
  addons/spectator/functions/fnc_ui_updateWidget.sqf
  addons/switchunits/functions/fnc_initPlayer.sqf
  addons/vehiclelock/functions/fnc_onOpenInventory.sqf
  addons/weaponselect/XEH_postInit.sqf
  addons/zeus/functions/fnc_moduleGarrison.sqf
Labels: kind/optimization

#10426 Translations - Korean
  addons/hearing/stringtable.xml
  addons/hitreactions/stringtable.xml
Labels: kind/translation

#10427 General - Optimize 3 nots
  addons/fcs/functions/fnc_calculateSolution.sqf
  addons/rearm/functions/fnc_addRearmActions.sqf
  addons/rearm/functions/fnc_createDummy.sqf
Labels: ignore-changelog

#10420 Goggles - Add individual files for config classes
  addons/compat_spe/CfgGlasses.hpp
  addons/goggles/CfgCloudlets.hpp
  addons/goggles/CfgGesturesMale.hpp
  addons/goggles/CfgGlasses.hpp
  addons/goggles/CfgMovesBasic.hpp
  addons/goggles/CfgWeapons.hpp
  addons/goggles/ComplexEffects.hpp
  addons/goggles/RscTitles.hpp
  addons/goggles/config.cpp
  addons/goggles/functions/fnc_applyDirtEffect.sqf
  addons/goggles/functions/fnc_applyDustEffect.sqf
  addons/goggles/functions/fnc_applyGlassesEffect.sqf
  addons/goggles/functions/fnc_handleExplosion.sqf
  addons/goggles/functions/fnc_removeDirtEffect.sqf
  addons/goggles/functions/fnc_removeDustEffect.sqf
  addons/goggles/script_component.hpp
  addons/goggles/script_macros.hpp
Labels: kind/cleanup

#10303 Tools - Add script to sort all stringtables
  tools/stringtable_sort.py
Labels: area/tools, ignore-changelog

#10439 Hearing - Fix typo
  addons/hearing/XEH_preInit.sqf
  addons/hearing/functions/fnc_handleRespawn.sqf
  addons/hearing/functions/fnc_hasEarPlugsIn.sqf
Labels: kind/cleanup, ignore-changelog

#10430 Tools - Use HEMTT documentation for installs
  addons/vehicles/functions/fnc_setVehicleStartDelay.sqf
  docs/wiki/development/setting-up-the-development-environment.md
  tools/.vscode/tasks.json
  tools/build.py
  tools/setup.bat
  tools/setup.py
Labels: area/tools, ignore-changelog

#10445 Cargo - Fix check size interaction
  addons/cargo/XEH_postInit.sqf
Labels: kind/bug-fix, ignore-changelog

#10442 Advanced Fatigue - Minor cleanup
  addons/advanced_fatigue/functions/fnc_getMetabolicCosts.sqf
  addons/advanced_fatigue/functions/fnc_mainLoop.sqf
Labels: kind/optimization, ignore-changelog

#10437 Common - Improve MarkerLocal
  addons/arsenal/missions/Arsenal.VR/initPlayerLocal.sqf
  addons/zeus/functions/fnc_ui_searchArea.sqf
Labels: kind/optimization

#10434 Cookoff - Fix zeus end keybind not killing ammo containers
  addons/cookoff/functions/fnc_handleDamageBox.sqf
Labels: kind/bug-fix

#10447 General - Cleanup some unused/missing vars
  .hemtt/lints.toml
  addons/advanced_fatigue/functions/fnc_getMetabolicCosts.sqf
  addons/ai/functions/fnc_garrisonMove.sqf
  addons/arsenal/functions/fnc_sortPanel.sqf
  addons/arsenal/functions/fnc_updateRightPanel.sqf
  addons/frag/functions/fnc_findReflections.sqf
  addons/missileguidance/functions/fnc_seekerType_MWR.sqf
  addons/refuel/functions/fnc_connectNozzleAction.sqf
Labels: kind/cleanup, ignore-changelog

#10446 Frag - Fix rapid explosion holdoff
  addons/frag/XEH_postInit.sqf
Labels: kind/bug-fix

#10443 Field Rations - Add small grace period between consciousness losses
  addons/field_rations/functions/fnc_handleEffects.sqf
Labels: kind/enhancement

#10411 Overpressure - Add editor range attribute for vehicles
  AUTHORS.txt
  addons/overpressure/CfgEden.hpp
  addons/overpressure/config.cpp
  addons/overpressure/functions/fnc_firedEHOP.sqf
Labels: kind/enhancement

#10377 Common - Fix retrieving the version of an addon when searching for mismatches
  addons/common/functions/fnc_checkVersionNumber.sqf
Labels: kind/bug-fix

#10313 Frag - Implement Arma v2.18 changes from #10157
  addons/frag/functions/fnc_fired.sqf
  addons/frag/functions/fnc_frago.sqf
Labels: kind/optimization

#10454 Translate French
  addons/cargo/stringtable.xml
  addons/frag/stringtable.xml
  addons/missile_gbu/stringtable.xml
  addons/missile_vikhr/stringtable.xml
  addons/scopes/stringtable.xml
Labels: kind/translation

#10459 Microdagr - Fix microdagr cursor disappearing when deleting last waypoint
  addons/microdagr/functions/fnc_updateDisplay.sqf
Labels: kind/bug-fix
