Repository acemod/ACE3, pull requests merged in 2024-12, with the labels that each got.

#10535 Dragging - Fix clone showing
  addons/dragging/CfgVehicles.hpp
Labels: kind/bug-fix

#10534 Frag - Improve document clarity on "Gurney shape factor"
  docs/wiki/framework/frag-framework.md
Labels: kind/documentation, ignore-changelog

#10530 Nightvision - Fix when in 3den multiplayer
  addons/nightvision/XEH_postInit.sqf
Labels: kind/bug-fix, ignore-changelog

#10536 Refuel - Fix editor fuel sources
  addons/refuel/XEH_postInit.sqf
Labels: kind/bug-fix

#10529 Cookoff - Fix endless loop on dead vehicles
  addons/cookoff/XEH_postInit.sqf
  addons/cookoff/functions/fnc_detonateAmmunitionServer.sqf
  addons/cookoff/functions/fnc_detonateAmmunitionServerLoop.sqf
  addons/cookoff/functions/fnc_isMagazineFlare.sqf
Labels: kind/bug-fix, ignore-changelog

#10538 Fastrope/IntelItems - Fix destType
  addons/fastroping/CfgVehicles.hpp
  addons/intelitems/CfgVehicles.hpp
Labels: kind/bug-fix, ignore-changelog

#10537 Medical AI - Add missing blood as an injury condition
  addons/medical_ai/functions/fnc_isInjured.sqf
Labels: kind/bug-fix

#10455 Tools - Update make.py for change to pboProject, remove dummy rtms
  addons/dragging/anim/zDummy.rtm
  addons/field_rations/anim/zDummy.rtm
  addons/gestures/anim/zDummy.rtm
  addons/goggles/anim/zDummy.rtm
  tools/make.py
  tools/pDummies/rhsusf/addons/rhsusf_airweapons/proxyammo/rhsusf_m_AGM114K.p3d
  tools/pDummies/rhsusf/addons/rhsusf_airweapons/proxyammo/rhsusf_m_AGM114K_fly.p3d
Labels: ignore-changelog

#10021 missile_AIM120 - Add, create Doppler seeker
  addons/missile_aim120/$PBOPREFIX$
  addons/missile_aim120/CfgAmmo.hpp
  addons/missile_aim120/CfgMagazines.hpp
  addons/missile_aim120/CfgWeapons.hpp
  addons/missile_aim120/README.md
  addons/missile_aim120/config.cpp
  addons/missile_aim120/script_component.hpp
  addons/missile_aim120/stringtable.xml
  addons/missileguidance/ACE_GuidanceConfig.hpp
  addons/missileguidance/XEH_PREP.hpp
  addons/missileguidance/functions/fnc_doppler_onFired.sqf
  addons/missileguidance/functions/fnc_seekerType_Doppler.sqf
  addons/missileguidance/functions/fnc_shouldFilterRadarHit.sqf
Labels: kind/feature

#10035 missile_sam - Add Patriot and S400
  addons/missile_sam/$PBOPREFIX$
  addons/missile_sam/CfgAmmo.hpp
  addons/missile_sam/CfgMagazines.hpp
  addons/missile_sam/CfgVehicles.hpp
  addons/missile_sam/CfgWeapons.hpp
  addons/missile_sam/README.md
  addons/missile_sam/config.cpp
  addons/missile_sam/script_component.hpp
  addons/missile_sam/stringtable.xml
Labels: kind/feature

#9761 Common - Add setting for compass magnetic declination
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_getMagneticBearing.sqf
  addons/common/functions/fnc_getMagneticBearingOffset.sqf
  addons/common/initSettings.inc.sqf
  addons/common/stringtable.xml
  addons/maptools/functions/fnc_openMapGpsUpdate.sqf
Labels: kind/feature

#10550 French Translate
  addons/common/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/hearing/stringtable.xml
  addons/interaction/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_aim120/stringtable.xml
  addons/missile_sam/stringtable.xml
Labels: kind/translation

#10565 Compat RF - Fix/Update realistic names
  addons/compat_rf/compat_rf_realisticnames/CfgVehicles.hpp
  addons/compat_rf/compat_rf_realisticnames/CfgWeapons.hpp
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
Labels: kind/change

#10564 Medical Treatment - Add missing bools for creating litter
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/medical_treatment/functions/fnc_useItem.sqf
Labels: kind/bug-fix

#10587 General - Misc code cleanup
  addons/artillerytables/dev/showShotInfo.inc.sqf
  addons/cookoff/functions/fnc_detonateAmmunitionServerLoop.sqf
  addons/missile_hud/functions/fnc_getCurrentWeapon.sqf
  addons/missileguidance/functions/fnc_seekerType_Doppler.sqf
  addons/missileguidance/functions/fnc_seekerType_IR.sqf
  addons/missileguidance/functions/fnc_shouldFilterRadarHit.sqf
  addons/zeus/functions/fnc_moduleSuicideBomber.sqf
Labels: ignore-changelog

#10591 Translations - Improve Japanese (Medical, WS Kamaz Flatbed)
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation

#10600 Fixed wrong translations
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
Labels: kind/translation

#10602 RF Compat - Remove fuel sources from fire trucks
  addons/compat_rf/CfgVehicles.hpp
Labels: kind/bug-fix

#10604 RF Compat - Extinguish vehicle cook-offs and burning units
  addons/compat_rf/CfgEventHandlers.hpp
  addons/compat_rf/XEH_postInit.sqf
  addons/compat_rf/config.cpp
  addons/cookoff/functions/fnc_detonateAmmunitionServerLoop.sqf
Labels: kind/enhancement

#10596 Translations - Add Simplified Chinese
  addons/advanced_throwing/stringtable.xml
  addons/ai/stringtable.xml
  addons/aircraft/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/frag/stringtable.xml
  addons/hearing/stringtable.xml
  addons/hunterkiller/stringtable.xml
  addons/interaction/stringtable.xml
  addons/irlight/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/laser/stringtable.xml
  addons/maptools/stringtable.xml
  addons/marker_flags/stringtable.xml
  addons/markers/stringtable.xml
  addons/maverick/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/novehicleclanlogo/stringtable.xml
  addons/overheating/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/refuel/stringtable.xml
  addons/reload/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/repair/stringtable.xml
  addons/scopes/stringtable.xml
  addons/tagging/stringtable.xml
  addons/towing/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicle_damage/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10351 Marking Laser - Use `laserTarget`
  addons/markinglaser/XEH_PREP.hpp
  addons/markinglaser/XEH_postInit.sqf
  addons/markinglaser/XEH_preInit.sqf
  addons/markinglaser/functions/fnc_findTurret.sqf
  addons/markinglaser/functions/fnc_getPilotCamVector.sqf
  addons/markinglaser/functions/fnc_getTurretVector.sqf
  addons/markinglaser/functions/fnc_onAircraftInit.sqf
  addons/markinglaser/functions/fnc_onLaserOff.sqf
  addons/markinglaser/functions/fnc_onLaserOn.sqf
  addons/markinglaser/functions/fnc_renderPFH.sqf
  addons/markinglaser/functions/fnc_updatePFH.sqf
  addons/markinglaser/initSettings.inc.sqf
  addons/markinglaser/script_component.hpp
Labels: kind/feature
