Repository acemod/ACE3, pull requests merged in 2024-06, with the labels that each got.

#10051 Common - Improve `addWeapon`
  addons/common/functions/fnc_addWeapon.sqf
Labels: kind/enhancement

#9990 Vehicle Damage - Add API to prevent AI from dismounting from immobile vehicles
  addons/vehicle_damage/functions/fnc_abandon.sqf
  docs/wiki/framework/vehicledamage-framework.md
Labels: kind/feature

#10049 Refuel - Fix for SOG/SPE
  addons/compat_sog/CfgEventHandlers.hpp
  addons/compat_sog/CfgVehicles/land.hpp
  addons/compat_sog/config.cpp
  addons/compat_spe/compat_spe_refuel/CfgVehicles.hpp
  addons/refuel/ACE_Refuel_Positions.hpp
  addons/refuel/dev/exportTerrainRefuelPositions.sqf
Labels: ignore-changelog

#10014 Compat WS - Update realistic names
  addons/compat_ws/CfgWeapons.hpp
  addons/compat_ws/compat_ws_realisticnames/Attachments.hpp
  addons/compat_ws/compat_ws_realisticnames/CfgVehicles.hpp
  addons/compat_ws/compat_ws_realisticnames/CfgWeapons.hpp
  addons/compat_ws/compat_ws_realisticnames/config.cpp
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
Labels: kind/enhancement

#10052 Rearm - Optimise getting magazine names
  addons/csw/stringtable.xml
  addons/rearm/XEH_postInit.sqf
  addons/rearm/functions/fnc_getMagazineName.sqf
Labels: kind/optimization

#9991 Cookoff - Change cook-off fire damage
  addons/cookoff/functions/fnc_cookOffEffect.sqf
Labels: kind/change

#10053 Gunbag - Optimise weapon taking/storing code
  addons/gunbag/functions/fnc_offGunbagCallback.sqf
  addons/gunbag/functions/fnc_swapGunbagCallback.sqf
  addons/gunbag/functions/fnc_toGunbagCallback.sqf
Labels: kind/optimization

#10055 Nametags - Add documentation
  docs/wiki/framework/nametags-framework.md
Labels: kind/documentation

#9758 Cookoff - Mini-Rewrite
  addons/common/XEH_postInit.sqf
  addons/cookoff/ACE_Settings.hpp
  addons/cookoff/CfgCloudlets.hpp
  addons/cookoff/CfgEden.hpp
  addons/cookoff/CfgEventHandlers.hpp
  addons/cookoff/CfgSFX.hpp
  addons/cookoff/CfgVehicles.hpp
  addons/cookoff/XEH_PREP.hpp
  addons/cookoff/XEH_postInit.sqf
  addons/cookoff/functions/fnc_cookOff.sqf
  addons/cookoff/functions/fnc_cookOffBox.sqf
  addons/cookoff/functions/fnc_cookOffBoxLocal.sqf
  addons/cookoff/functions/fnc_cookOffBoxServer.sqf
  addons/cookoff/functions/fnc_cookOffEffect.sqf
  addons/cookoff/functions/fnc_cookOffLocal.sqf
  addons/cookoff/functions/fnc_cookOffServer.sqf
  addons/cookoff/functions/fnc_detonateAmmunition.sqf
  addons/cookoff/functions/fnc_detonateAmmunitionServer.sqf
  addons/cookoff/functions/fnc_detonateAmmunitionServerLoop.sqf
  addons/cookoff/functions/fnc_engineFire.sqf
  addons/cookoff/functions/fnc_engineFireLocal.sqf
  addons/cookoff/functions/fnc_engineFireServer.sqf
  addons/cookoff/functions/fnc_getVehicleAmmo.sqf
  addons/cookoff/functions/fnc_handleDamageBox.sqf
  addons/cookoff/functions/fnc_isMagazineFlare.sqf
  addons/cookoff/functions/fnc_smoke.sqf
  addons/cookoff/initSettings.inc.sqf
  addons/cookoff/script_component.hpp
  addons/cookoff/stringtable.xml
  addons/grenades/functions/fnc_incendiary.sqf
  addons/vehicle_damage/functions/fnc_addDamage.sqf
  addons/vehicle_damage/functions/fnc_detonate.sqf
  addons/vehicle_damage/functions/fnc_handleCookoff.sqf
  addons/vehicle_damage/functions/fnc_handleDetonation.sqf
  addons/vehicle_damage/functions/fnc_processHit.sqf
  addons/vehicle_damage/initSettings.inc.sqf
  addons/vehicle_damage/stringtable.xml
  docs/wiki/framework/cookoff-framework.md
  docs/wiki/framework/events-framework.md
  docs/wiki/framework/vehicledamage-framework.md
Labels: kind/enhancement

#9539 Hit Reactions - Add weapon dropping on arm hit
  addons/hitreactions/ACE_Settings.hpp
  addons/hitreactions/CfgEventHandlers.hpp
  addons/hitreactions/XEH_PREP.hpp
  addons/hitreactions/XEH_postInit.sqf
  addons/hitreactions/XEH_preInit.sqf
  addons/hitreactions/functions/fnc_checkWeaponDrop.sqf
  addons/hitreactions/initSettings.inc.sqf
  addons/hitreactions/script_component.hpp
  addons/hitreactions/stringtable.xml
  docs/wiki/feature/hitreactions.md
  docs/wiki/framework/hitreactions-framework.md
Labels: kind/feature

#10016 Reaction Forces Compatibility
  addons/compat_rf/$PBOPREFIX$
  addons/compat_rf/CfgWeapons.hpp
  addons/compat_rf/compat_rf_nouniformrestrictions/CfgVehicles.hpp
  addons/compat_rf/compat_rf_nouniformrestrictions/config.cpp
  addons/compat_rf/compat_rf_nouniformrestrictions/script_component.hpp
  addons/compat_rf/compat_rf_realisticnames/Attachments.hpp
  addons/compat_rf/compat_rf_realisticnames/CfgMagazines.hpp
  addons/compat_rf/compat_rf_realisticnames/CfgVehicles.hpp
  addons/compat_rf/compat_rf_realisticnames/CfgWeapons.hpp
  addons/compat_rf/compat_rf_realisticnames/config.cpp
  addons/compat_rf/compat_rf_realisticnames/script_component.hpp
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_rf/config.cpp
  addons/compat_rf/script_component.hpp
Labels: kind/feature

#10057 Hit Reactions - Prevent AI's hitpart EH running on all clients
  addons/hitreactions/XEH_postInit.sqf
  addons/hitreactions/XEH_preInit.sqf
  addons/hitreactions/initSettings.inc.sqf
Labels: ignore-changelog

#10056 Common - Add `addPlayerEH` for adding EHs to ace_player
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_addPlayerEH.sqf
  addons/ui/XEH_PREP.hpp
  addons/ui/XEH_clientInit.sqf
  addons/ui/functions/fnc_handlePlayerChanged.sqf
Labels: kind/optimization

#10058 Translations and Compat - Improve Japanese and CDLC WS/RF localization
  addons/compat_rf/compat_rf_realisticnames/Attachments.hpp
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#9975 Translation - Add Missing German
  addons/arsenal/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/maptools/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/overheating/stringtable.xml
Labels: kind/translation

#10060 Translation - Update Russian for new features
  addons/cookoff/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10061 Translations - Improve Japanese (Mortar and some)
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/mk6mortar/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#9983 Grenades - Fix how incendiary grenades do damage to vehicles
  addons/grenades/XEH_PREP.hpp
  addons/grenades/XEH_postInit.sqf
  addons/grenades/functions/fnc_damageEngineAndWheels.sqf
  addons/grenades/functions/fnc_incendiary.sqf
  addons/grenades/script_component.hpp
Labels: kind/bug-fix

#10062 General - Cleanup event capitalization
  addons/arsenal/functions/fnc_onArsenalClose.sqf
  addons/arsenal/functions/fnc_onArsenalOpen.sqf
  addons/arsenal/missions/Arsenal.VR/fnc_createTarget.sqf
  addons/common/functions/fnc_errorMessage.sqf
  addons/slideshow/functions/fnc_mapImage_init.sqf
  addons/vehicle_damage/functions/fnc_handleVehicleDamage.sqf
  addons/weather/init3DEN.sqf
  addons/zeus/functions/fnc_getModuleDestination.sqf
  addons/zeus/functions/fnc_ui_globalSetSkill.sqf
  addons/zeus/functions/fnc_ui_groupSide.sqf
  addons/zeus/functions/fnc_ui_setEngineer.sqf
  addons/zeus/functions/fnc_ui_teleportPlayers.sqf
Labels: ignore-changelog

#10065 Compat CUP Units - Goggles Compatibility
  addons/compat_cup_units/CfgGlasses.hpp
  addons/compat_cup_units/config.cpp
Labels: kind/enhancement, area/compatibility

#10068 Grenades - Fix incendiary grenades damaging invulnerable objects
  addons/grenades/functions/fnc_incendiary.sqf
Labels: kind/bug-fix

#9878 Headless - Add warning about duplicate loadout validation
  addons/headless/XEH_postInit.sqf
Labels: kind/enhancement

#10072 Documentation - Remove Hashes from Coding guidelines
  docs/wiki/development/coding-guidelines.md
Labels: kind/documentation, ignore-changelog

#10074 Cookoff - Fix engine fire not starting
  addons/cookoff/XEH_postInit.sqf
Labels: ignore-changelog

#10069 Kill Tracker - Add setting to show kills from vehicle to crew
  addons/killtracker/XEH_postInit.sqf
  addons/killtracker/initSettings.inc.sqf
  addons/killtracker/stringtable.xml
  addons/medical_statemachine/functions/fnc_enteredStateDeath.sqf
Labels: kind/enhancement

#10075 Common - Add wheel hitpoint function
  addons/common/XEH_PREP.hpp
  addons/common/XEH_preInit.sqf
  addons/common/functions/fnc_getWheelHitPointsWithSelections.sqf
  addons/grenades/functions/fnc_damageEngineAndWheels.sqf
  addons/repair/XEH_PREP.hpp
  addons/repair/dev/draw_showRepairInfo.sqf
  addons/repair/functions/fnc_addRepairActions.sqf
  addons/repair/functions/fnc_getSelectionsToIgnore.sqf
  addons/repair/functions/fnc_getWheelHitPointsWithSelections.sqf
Labels: kind/enhancement

#9979 Grenades - Code cleanup
  addons/grenades/CfgAmmo.hpp
  addons/grenades/CfgEventHandlers.hpp
  addons/grenades/CfgMagazines.hpp
  addons/grenades/CfgVehicles.hpp
  addons/grenades/CfgWeapons.hpp
  addons/grenades/Effects.hpp
  addons/grenades/XEH_PREP.hpp
  addons/grenades/XEH_postInit.sqf
  addons/grenades/functions/fnc_addChangeFuseItemContextMenuOptions.sqf
  addons/grenades/functions/fnc_flare.sqf
  addons/grenades/functions/fnc_flashbangExplosionEH.sqf
  addons/grenades/functions/fnc_flashbangThrownFuze.sqf
  addons/grenades/functions/fnc_incendiary.sqf
  addons/grenades/functions/fnc_nextMode.sqf
  addons/grenades/functions/fnc_throwGrenade.sqf
  addons/grenades/initSettings.inc.sqf
  addons/grenades/script_component.hpp
Labels: kind/enhancement

#10071 Compat RF - Improve/Change RF Realistic Name
  addons/compat_rf/compat_rf_realisticnames/CfgVehicles.hpp
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
Labels: kind/translation

#10081 Medical - Refactor target blood pressure
  addons/medical_vitals/functions/fnc_updateHeartRate.sqf
Labels: kind/optimization

#10070 Overpressure - Separate backblast and overpressure range coefficient
  addons/overpressure/ACE_Settings.hpp
  addons/overpressure/XEH_postInit.sqf
  addons/overpressure/config.cpp
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_firedEHOP.sqf
  addons/overpressure/functions/fnc_getOverPressureValues.sqf
  addons/overpressure/initSettings.inc.sqf
  addons/overpressure/stringtable.xml
Labels: kind/setting

#9266 Common - Improve PBO checking
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_checkFiles.sqf
  addons/common/functions/fnc_checkFiles_diagnoseACE.sqf
  addons/common/functions/fnc_checkPBOs.sqf
  addons/common/functions/fnc_checkVersionNumber.sqf
  addons/common/functions/fnc_errorMessage.sqf
  addons/common/scripts/checkVersionNumber.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/enhancement

#9915 CSW - Improve tripod and weapon disassembly
  addons/csw/functions/fnc_assemble_canDeployWeapon.sqf
  addons/csw/functions/fnc_assemble_canPickupWeapon.sqf
  addons/csw/functions/fnc_assemble_deployWeapon.sqf
  addons/csw/functions/fnc_assemble_pickupTripod.sqf
  addons/csw/functions/fnc_assemble_pickupWeapon.sqf
  addons/csw/functions/fnc_canPickupTripod.sqf
Labels: kind/enhancement

#10077 Korean translation updated
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hearing/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10085 Translation - Update Russian for small features
  addons/killtracker/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/overpressure/stringtable.xml
Labels: kind/translation

#10059 Artillery Tables - Support for ammo that has native `airFriction`
  addons/artillerytables/functions/fnc_firedEH.sqf
  addons/artillerytables/functions/fnc_rangeTableOpen.sqf
  docs/wiki/framework/artillery-tables-framework.md
Labels: kind/enhancement, area/compatibility

#10086 Common - Update header for addPlayerEH
  addons/common/functions/fnc_addPlayerEH.sqf
  addons/ui/XEH_clientInit.sqf
Labels: ignore-changelog

#10087 Translations - Italian and German
  addons/cargo/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/csw/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10088 Translations - Improve Japanese (killtracker/overpressure)
  addons/killtracker/stringtable.xml
  addons/overpressure/stringtable.xml
Labels: kind/translation

#10091 Interaction - Disable magazine passing to dead and unconscious units
  addons/interaction/functions/fnc_canPassMagazine.sqf
Labels: kind/enhancement

#10093 Vehicle damage - Add missing documentation
  docs/wiki/framework/vehicledamage-framework.md
Labels: kind/documentation
