Repository acemod/ACE3, pull requests merged in 2024-08, with the labels that each got.

#10111 Safemode - Refactor
  addons/common/functions/fnc_getWeaponMuzzles.sqf
  addons/overheating/functions/fnc_jamWeapon.sqf
  addons/safemode/CfgEventHandlers.hpp
  addons/safemode/XEH_PREP.hpp
  addons/safemode/XEH_postInit.sqf
  addons/safemode/functions/fnc_getWeaponSafety.sqf
  addons/safemode/functions/fnc_lockSafety.sqf
  addons/safemode/functions/fnc_playChangeFiremodeSound.sqf
  addons/safemode/functions/fnc_setSafeModeVisual.sqf
  addons/safemode/functions/fnc_setWeaponSafety.sqf
  addons/safemode/functions/fnc_unlockSafety.sqf
  addons/weaponselect/functions/fnc_selectWeaponMode.sqf
  docs/wiki/framework/safemode-framework.md
Labels: kind/bug-fix

#10161 Advanced Ballistics/Field Rations - Notify restart requirement
  addons/advanced_ballistics/initSettings.inc.sqf
  addons/field_rations/initSettings.inc.sqf
Labels: kind/bug-fix

#9528 Recoil - Tweak launcher recoil to be more realistic
  addons/recoil/CfgRecoils.hpp
  addons/recoil/functions/fnc_camshake.sqf
Labels: kind/change

#8396 Interact Menu - Add inheritance support to removeActionFromClass
  addons/interact_menu/XEH_preInit.sqf
  addons/interact_menu/functions/fnc_addActionToClass.sqf
  addons/interact_menu/functions/fnc_removeActionFromClass.sqf
  docs/wiki/framework/interactionMenu-framework.md
Labels: kind/enhancement

#10160 Docs - Add missing info to Interaction Menu Framework
  docs/wiki/framework/interactionMenu-framework.md
Labels: kind/documentation, ignore-changelog

#10165 Fix overlapping CSW interaction position for SPG-9, improve positions for Mk19 and DSHKM
  addons/compat_cup_weapons/compat_cup_weapons_csw/CfgVehicles.hpp
Labels: kind/enhancement

#10162 Common - Move missing compats warning to pre start
  addons/advanced_ballistics/XEH_postInit.sqf
  addons/common/XEH_preStart.sqf
Labels: kind/cleanup

#10168 Vehicle damage - Fix ERA/SLAT not being detected
  addons/vehicle_damage/functions/fnc_addEventHandler.sqf
Labels: kind/bug-fix

#10172 Vehicles - Remove unneeded magazines
  addons/vehicles/CfgWeapons.hpp
Labels: kind/cleanup

#10118 Common - Improve persistent lights/lasers
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_setWeaponLightLaserState.sqf
  addons/common/functions/fnc_switchPersistentLaser.sqf
Labels: kind/enhancement

#10176 change interact_SWA to use common_SAM
  addons/common/functions/fnc_switchAttachmentMode.sqf
  addons/interaction/functions/fnc_getWeaponAttachmentsActions.sqf
  addons/interaction/functions/fnc_switchWeaponAttachment.sqf
Labels: ignore-changelog

#10175 Medical Feedback - Add parameters to fnc_playInjuredSound
  addons/medical_feedback/functions/fnc_playInjuredSound.sqf
Labels: kind/enhancement

#10180 CSW - Fix round count in GMG belt description
  addons/csw/CfgMagazines.hpp
  addons/csw/stringtable.xml
Labels: kind/bug-fix

#10181 Explosives - Remove `delayTime` for explosives, as it no longer serves any purpose
  addons/compat_gm/compat_gm_explosives/CfgMagazines.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_explosives/CfgMagazines.hpp
  addons/compat_rhs_saf3/compat_rhs_saf3_explosives/CfgMagazines.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_explosives/CfgMagazines.hpp
  addons/compat_spe/compat_spe_explosives/CfgMagazines.hpp
  addons/explosives/CfgMagazines.hpp
  docs/wiki/development/ace3-config-entries.md
  docs/wiki/framework/explosives-framework.md
Labels: kind/cleanup

#10179 Medical AI - Fix specific treatment items not being removed
  addons/medical_ai/functions/fnc_healingLogic.sqf
Labels: kind/bug-fix, ignore-changelog

#10177 RHS Compats - Remove nametags related functions being called if nametags isn't loaded
  addons/compat_rhs_afrf3/XEH_postInit.sqf
Labels: kind/optimization

#10184 QuickMount - Fix keybind
  addons/quickmount/XEH_postInitClient.sqf
Labels: kind/bug-fix, ignore-changelog

#10151 Arsenal - Add `ace_arsenal_fnc_saveLoadout` as API to save loadouts
  addons/arsenal/XEH_PREP.hpp
  addons/arsenal/functions/fnc_saveLoadout.sqf
  docs/wiki/framework/arsenal-framework.md
Labels: kind/feature

#10178 Medical AI - Improve tourniquet removal (for #10166)
  addons/medical_ai/functions/fnc_healingLogic.sqf
Labels: ignore-changelog

#10166 Medical AI - AI will remove tourniquets
  addons/medical_ai/functions/fnc_healingLogic.sqf
  addons/medical_ai/functions/fnc_isInjured.sqf
Labels: ignore-changelog

#10167 Medical AI - Prevent medics from being blocked on treatments they can't complete
  addons/medical_ai/functions/fnc_healUnit.sqf
  addons/medical_ai/functions/fnc_healingLogic.sqf
Labels: kind/bug-fix

#10119 IR Light - Fix bad item replacements and switching to primary weapons
  addons/common/functions/fnc_switchPersistentLaser.sqf
  addons/irlight/XEH_PREP.hpp
  addons/irlight/XEH_postInit.sqf
  addons/irlight/functions/fnc_getGlowOffset.sqf
  addons/irlight/functions/fnc_initItemContextMenu.sqf
  addons/irlight/functions/fnc_onLightToggled.sqf
Labels: kind/bug-fix

#10173 Aegis Compat - Overwrite some Aegis changes
  addons/compat_aegis/$PBOPREFIX$
  addons/compat_aegis/CfgVehicles.hpp
  addons/compat_aegis/config.cpp
  addons/compat_aegis/script_component.hpp
Labels: kind/feature

#10190 Medical GUI - Make separate file for keybinds
  addons/medical_gui/XEH_postInit.sqf
  addons/medical_gui/initKeybinds.inc.sqf
Labels: ignore-changelog

#10195 General - Use `QUOTE(ADDON)` for status effects
  addons/attach/functions/fnc_attach.sqf
  addons/captives/functions/fnc_handleRespawn.sqf
  addons/captives/functions/fnc_setHandcuffed.sqf
  addons/captives/functions/fnc_setSurrendered.sqf
  addons/common/XEH_postInit.sqf
  addons/explosives/functions/fnc_setupExplosive.sqf
  addons/rearm/functions/fnc_dropAmmo.sqf
  addons/rearm/functions/fnc_grabAmmo.sqf
  addons/rearm/functions/fnc_takeSuccess.sqf
  addons/refuel/functions/fnc_handleDisconnect.sqf
  addons/refuel/functions/fnc_returnNozzle.sqf
  addons/refuel/functions/fnc_startNozzleInHandsPFH.sqf
  addons/refuel/functions/fnc_takeNozzle.sqf
  addons/sandbag/functions/fnc_deploy.sqf
  addons/sandbag/functions/fnc_deployCancel.sqf
  addons/sandbag/functions/fnc_deployConfirm.sqf
  addons/switchunits/functions/fnc_initPlayer.sqf
  addons/tacticalladder/functions/fnc_cancelTLdeploy.sqf
  addons/tacticalladder/functions/fnc_confirmTLdeploy.sqf
  addons/tacticalladder/functions/fnc_positionTL.sqf
  addons/trenches/functions/fnc_placeCancel.sqf
  addons/trenches/functions/fnc_placeConfirm.sqf
  addons/trenches/functions/fnc_placeTrench.sqf
Labels: kind/cleanup

#10193 CUP Compat - Improve explosives compat
  addons/compat_cup_weapons/compat_cup_weapons_explosives/CfgVehicles.hpp
Labels: kind/enhancement

#10182 Explosives - Use `triggerAmmo` instead of `setDamage`
  addons/common/XEH_postInit.sqf
  addons/explosives/CfgAmmo.hpp
  addons/explosives/XEH_postInit.sqf
  docs/wiki/framework/explosives-framework.md
Labels: kind/enhancement

#10002 Hearing - Fix explosions not affecting hearing
  addons/hearing/XEH_PREP.hpp
  addons/hearing/XEH_postInit.sqf
  addons/hearing/functions/fnc_explosion.sqf
  addons/hearing/functions/fnc_explosionNear.sqf
Labels: kind/bug-fix

#10197 Medical Treatment - Notify restart requirement
  addons/medical_treatment/initSettings.inc.sqf
Labels: kind/bug-fix

#10198 No Uniform Restrictions - Update `FUNC(exportConfig)`
  optionals/nouniformrestrictions/functions/fnc_exportConfig.sqf
Labels: kind/cleanup, ignore-changelog

#10194 Compats - Use `EGVAR` where possible
  addons/compat_cup_weapons/compat_cup_weapons_explosives/CfgAmmo.hpp
  addons/compat_cup_weapons/compat_cup_weapons_explosives/CfgMagazines.hpp
  addons/compat_rhs_gref3/compat_rhs_gref3_explosives/CfgAmmo.hpp
  addons/compat_rhs_gref3/compat_rhs_gref3_explosives/CfgMagazines.hpp
  addons/compat_sog/ACE_CSW_Groups.hpp
Labels: kind/cleanup, ignore-changelog

#10199 Docs - Update CfgVehicles ACE config entries
  docs/wiki/development/ace3-config-entries.md
Labels: kind/documentation, ignore-changelog

#10188 Interact Menu - Fix self actions when handcuffed
  addons/interact_menu/functions/fnc_compileMenuSelfAction.sqf
  addons/interact_menu/functions/fnc_keyDown.sqf
Labels: kind/bug-fix

#10200 Explosives/Realistic Names - Improve CfgVehicles explosives naming
  addons/explosives/CfgVehicles.hpp
  addons/realisticnames/CfgMagazines.hpp
  addons/realisticnames/compat_explosives/CfgMagazines.hpp
  addons/realisticnames/compat_explosives/CfgVehicles.hpp
  addons/realisticnames/compat_explosives/config.cpp
  addons/realisticnames/compat_explosives/script_component.hpp
Labels: kind/enhancement

#10202 Realistic Names - Complete & cleanup
  addons/realisticnames/CfgVehicles.hpp
  addons/realisticnames/CfgVehiclesAttachments.hpp
  addons/realisticnames/CfgWeapons.hpp
  addons/realisticnames/CfgWeaponsAttachments.hpp
Labels: kind/enhancement

#10205 Explosives - Trivial cleanup
  addons/compat_csla/compat_csla_explosives/CfgMagazines.hpp
  addons/compat_gm/compat_gm_explosives/CfgMagazines.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_explosives/CfgMagazines.hpp
  addons/compat_rhs_saf3/compat_rhs_saf3_explosives/CfgMagazines.hpp
  addons/compat_sog/CfgMagazines/explosives.hpp
  addons/compat_spe/compat_spe_explosives/CfgMagazines.hpp
  addons/explosives/ACE_Arsenal_Stats.hpp
  addons/explosives/ACE_Triggers.hpp
  addons/explosives/CfgAmmo.hpp
  addons/explosives/CfgEventHandlers.hpp
  addons/explosives/CfgMagazines.hpp
  addons/explosives/CfgVehicles.hpp
  addons/explosives/CfgWeapons.hpp
  addons/explosives/config.cpp
  addons/explosives/dev/test_magazines.sqf
  addons/explosives/initSettings.inc.sqf
Labels: kind/cleanup

#10204 Hearing - Fix explosions from AI fire
  addons/hearing/XEH_postInit.sqf
Labels: kind/bug-fix, ignore-changelog

#10203 Headless - Fix unable to transfer groups
  addons/headless/functions/fnc_transferGroups.sqf
Labels: kind/bug-fix, ignore-changelog

#10206 Explosives - Remove replacement explosives
  addons/compat_sog/CfgAmmo/explosives.hpp
  addons/explosives/functions/fnc_detonateExplosive.sqf
Labels: kind/cleanup

#7273 Optics - Convert Optics to use CBA Optics
  addons/optics/CfgEventHandlers.hpp
  addons/optics/CfgOpticsEffect.hpp
  addons/optics/CfgPreloadTextures.hpp
  addons/optics/CfgRscTitles.hpp
  addons/optics/CfgVehicles.hpp
  addons/optics/CfgWeapons.hpp
  addons/optics/XEH_PREP.hpp
  addons/optics/XEH_postInit.sqf
  addons/optics/XEH_preInit.sqf
  addons/optics/XEH_preStart.sqf
  addons/optics/config.cpp
  addons/optics/functions/fnc_handleFired.sqf
  addons/optics/functions/fnc_onDrawScope.sqf
  addons/optics/functions/fnc_onDrawScope2D.sqf
  addons/optics/models/ace_optics_empty.p3d
  addons/optics/models/ace_optics_pip.p3d
  addons/optics/models/ace_optics_reticle100.p3d
  addons/optics/models/ace_optics_reticle70.p3d
  addons/optics/models/ace_optics_reticle80.p3d
  addons/optics/models/ace_optics_reticle90.p3d
  addons/optics/models/ace_shortdot_optics.p3d
  addons/optics/reticles/ace_shortdot_reticle_1.paa
  addons/optics/reticles/ace_shortdot_reticle_2.paa
  addons/optics/reticles/black.rvmat
  addons/optics/reticles/em.rvmat
  addons/optics/reticles/scopeblack-100_ca.paa
  addons/optics/reticles/scopeblack-70_ca.paa
  addons/optics/reticles/scopeblack-80_ca.paa
  addons/optics/reticles/scopeblack-90_ca.paa
  addons/optics/script_component.hpp
  addons/optics/stringtable.xml
Labels: kind/enhancement

#10213 Arsenal - Fix `modParams` printing messages in RPT
  addons/arsenal/functions/fnc_sortStatement_mod.sqf
Labels: kind/enhancement

#10212 Doc - Try to fix framework-attach event list
  docs/wiki/framework/attach-framework.md
  docs/wiki/framework/events-framework.md
Labels: kind/documentation, ignore-changelog

#10211 General - Add missing pretty names to components
  addons/fortify/config.cpp
  addons/quickmount/config.cpp
  addons/realisticweights/config.cpp
  addons/realisticweights/script_component.hpp
Labels: kind/enhancement

#10208 Docs - Force functions to be alphabetically sorted on wiki
  docs/tools/document_functions.py
Labels: kind/documentation, ignore-changelog

#10192 Explosives - Use full magazine name in interaction menu
  addons/explosives/functions/fnc_addDetonateActions.sqf
  addons/explosives/functions/fnc_addExplosiveActions.sqf
Labels: kind/change

#10221 Extension - Change clipboard crate
  Cargo.lock
  ace.dll
  ace_x64.dll
  extension/Cargo.toml
  extension/src/ballistics/mod.rs
  extension/src/clipboard.rs
  extension/src/lib.rs
Labels: ignore-changelog

#10219 workflow - fix hemtt lint, drop sqflint, fix ext clippy warnings
  .github/workflows/arma.yml
  .github/workflows/hemtt.yml
  extension/build.rs
  extension/src/ballistics/map/model.rs
  extension/src/common/types/temperature.rs
Labels: ignore-changelog

#10207 Docs - Update Arma 3 Issues
  docs/wiki/development/arma-3-issues.md
Labels: kind/documentation, ignore-changelog, 2.18

#10225 Realistic Names - Fix bad inheritance from #10202
  addons/realisticnames/CfgVehicles.hpp
Labels: kind/bug-fix, ignore-changelog

#10159 Translation - Improve Portuguese
  addons/dogtags/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#10231 HEMTT - Use extends for launch presets
  .hemtt/project.toml
Labels: area/tools, ignore-changelog

#10230 Interaction - Improve interaction anims locations for bags
  addons/interaction/CfgVehicles.hpp
Labels: kind/enhancement, ignore-changelog

#10224 Repair - Improve some locations for interaction anims
  addons/repair/CfgVehicles.hpp
Labels: kind/enhancement, ignore-changelog

#10232 Magazine Repack - Add ability to disable repacking via class
  addons/magazinerepack/functions/fnc_canRepackMagazine.sqf
  addons/magazinerepack/functions/fnc_getMagazineChildren.sqf
  docs/wiki/framework/magazine-repack-framework.md
Labels: kind/feature

#10236 Translation French
  addons/aircraft/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/grenades/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/interaction/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/overpressure/stringtable.xml
  addons/realisticnames/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10216 General - Add replacement items for editor inventory management
  addons/intelitems/CfgWeapons.hpp
  addons/intelitems/XEH_postInit.sqf
  addons/intelitems/config.cpp
  addons/medical_treatment/CfgWeapons.hpp
  addons/medical_treatment/XEH_postInit.sqf
  addons/medical_treatment/config.cpp
  addons/overheating/CfgWeapons.hpp
Labels: kind/bug-fix

#10226 SPE Compat - Add interaction anims to SPE vehicles
  addons/compat_spe/CfgVehicles/wheeled.hpp
  addons/compat_spe/compat_spe_refuel/CfgVehicles.hpp
  addons/compat_spe/compat_spe_repair/CfgVehicles.hpp
  addons/compat_spe/compat_spe_repair/config.cpp
  addons/compat_spe/compat_spe_repair/script_component.hpp
  addons/compat_spe/compat_spe_trenches/CfgVehicles.hpp
  addons/compat_spe/compat_spe_trenches/config.cpp
  addons/compat_spe/compat_spe_trenches/script_component.hpp
Labels: kind/enhancement

#10239 General - Improve backpack interaction anim names
  addons/compat_spe/CfgVehicles/wheeled.hpp
  addons/interaction/CfgVehicles.hpp
Labels: ignore-changelog, kind/change

#10240 WS Compat - Rename WS weapon holders when realistic names is loaded
  addons/compat_ws/compat_ws_realisticnames/CfgVehicles.hpp
  addons/compat_ws/compat_ws_realisticnames/CfgVehiclesAttachments.hpp
  addons/compat_ws/compat_ws_realisticnames/CfgWeapons.hpp
  addons/compat_ws/compat_ws_realisticnames/CfgWeaponsAttachments.hpp
  addons/compat_ws/compat_ws_realisticnames/config.cpp
Labels: kind/enhancement

#10242 RHS Compat - Add interaction anims for ammo boxes
  addons/compat_rhs_afrf3/CfgVehicles.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_refuel/CfgVehicles.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_trenches/CfgVehicles.hpp
Labels: kind/enhancement

#10244 Interaction - Give some feedback if action is disabled
  addons/interaction/functions/fnc_initAnimActions.sqf
Labels: ignore-changelog

#10024 Missileguidance - Update DAGR
  addons/missileguidance/CfgAmmo.hpp
  addons/missileguidance/CfgMagazines.hpp
  addons/missileguidance/CfgWeapons.hpp
  addons/missileguidance/stringtable.xml
Labels: kind/cleanup

#10028 Hellfire - Update to new framework
  addons/hellfire/CfgAmmo.hpp
  addons/hellfire/XEH_PREP.hpp
  addons/hellfire/functions/fnc_attackProfile.sqf
  addons/hellfire/functions/fnc_getAttackProfileSettings.sqf
  addons/hellfire/functions/fnc_midCourseTransition.sqf
Labels: kind/cleanup

#10033 Metis - Update to use missile guidance framework
  addons/metis/CfgAmmo.hpp
Labels: kind/cleanup

#10030 Missileguidance - Update Javelin
  addons/missileguidance/CfgAmmo.hpp
  addons/missileguidance/XEH_PREP.hpp
  addons/missileguidance/functions/fnc_attackProfile_JAV_DIR.sqf
  addons/missileguidance/functions/fnc_attackProfile_JAV_TOP.sqf
  addons/missileguidance/functions/fnc_javelin_midCourseTransition.sqf
Labels: kind/cleanup

#10245 Translations - Improve Japanese
  addons/advanced_ballistics/stringtable.xml
  addons/advanced_fatigue/stringtable.xml
  addons/advanced_throwing/stringtable.xml
  addons/common/stringtable.xml
  addons/dagr/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/finger/stringtable.xml
  addons/interaction/stringtable.xml
  addons/map_gestures/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/microdagr/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/nametags/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicle_damage/stringtable.xml
Labels: kind/translation

#10246 Missile Guidance - Cleanup merge
  addons/missileguidance/functions/fnc_changeMissileDirection.sqf
  addons/missileguidance/functions/fnc_checkLos.sqf
  addons/missileguidance/functions/fnc_doAttackProfile.sqf
  addons/missileguidance/functions/fnc_guidancePFH.sqf
  addons/missileguidance/script_component.hpp
Labels: ignore-changelog

#10254 aegis_compat - more names
  addons/compat_aegis/compat_aegis_realisticnames/stringtable.xml
Labels: ignore-changelog

#10249 Interaction - Use `animateSource` instead of `animate` for interaction anims
  addons/interaction/functions/fnc_initAnimActions.sqf
Labels: kind/enhancement, ignore-changelog

#10259 SPE Compat - Improve SPE CfgVehicles explosives naming
  addons/compat_spe/compat_spe_explosives/CfgVehicles.hpp
Labels: kind/enhancement

#10257 Common - Make `FUNC(getVehicleIcon)` check for strings without the .paa extension
  addons/common/functions/fnc_getVehicleIcon.sqf
Labels: kind/enhancement

#10260 Safemode - Fix safemode being broken after respawning
  addons/safemode/XEH_postInit.sqf
Labels: kind/bug-fix

#10263 Cargo - Fix missing cargo box sizes & cleanup
  addons/cargo/CfgVehicles.hpp
Labels: kind/bug-fix

#10264 Dragging - Add parameters check for `FUNC(setDraggable)` & `FUNC(setCarryable)`
  addons/dragging/functions/fnc_setCarryable.sqf
  addons/dragging/functions/fnc_setDraggable.sqf
Labels: kind/enhancement

#10274 Update French
  addons/fieldmanual/stringtable.xml
  addons/interaction/stringtable.xml
  addons/maverick/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/ui/stringtable.xml
Labels: kind/translation

#10278 Mk6 Mortar - Improve and correct string table entries
  addons/mk6mortar/stringtable.xml
Labels: kind/translation

#10272 CSW - Handle turret locality safer
  addons/common/XEH_postInit.sqf
  addons/csw/functions/fnc_proxyWeapon.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
Labels: kind/enhancement

#10277 Mk6 Mortar - Remove unnecessary restart notifications
  addons/mk6mortar/initSettings.inc.sqf
Labels: kind/bug-fix

#10273 CSW - Improve "disableWeaponAssembly" status effect usage
  addons/csw/functions/fnc_assemble_deployTripod.sqf
  addons/csw/functions/fnc_assemble_deployWeapon.sqf
  addons/csw/functions/fnc_initVehicle.sqf
  addons/csw/functions/fnc_staticWeaponInit_unloadExtraMags.sqf
Labels: kind/enhancement

#10279 Overpressure - Minor cleanup
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_firedEHOP.sqf
Labels: kind/cleanup

#10281 Translate - Improve Russian [31.08]
  addons/aircraft/stringtable.xml
  addons/interaction/stringtable.xml
  addons/maverick/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/ui/stringtable.xml
  addons/vehicle_damage/stringtable.xml
Labels: kind/translation
