Repository acemod/ACE3, pull requests merged in 2024-05, with the labels that each got.

#10004 Translations - Updated Italian with recent additions
  addons/common/stringtable.xml
  addons/hearing/stringtable.xml
Labels: kind/translation

#10003 Medical Treatment - Fix low SpO2 making units go into cardiac arrest again
  addons/medical_treatment/functions/fnc_cprLocal.sqf
  docs/wiki/framework/medical-treatment-framework.md
Labels: kind/bug-fix

#10001 Translation - Add Missing Spanish
  addons/advanced_throwing/stringtable.xml
  addons/ai/stringtable.xml
  addons/arsenal/stringtable.xml
  addons/ballistics/stringtable.xml
  addons/captives/stringtable.xml
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_csw/stringtable.xml
  addons/compat_cup_weapons/compat_cup_weapons_nightvision/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/dragging/stringtable.xml
  addons/explosives/stringtable.xml
  addons/fastroping/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/hearing/stringtable.xml
  addons/irlight/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/laser/stringtable.xml
  addons/maptools/stringtable.xml
  addons/markers/stringtable.xml
  addons/medical_ai/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_engine/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_status/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/medical_vitals/stringtable.xml
  addons/nightvision/stringtable.xml
  addons/overheating/stringtable.xml
  addons/refuel/stringtable.xml
  addons/reload/stringtable.xml
  addons/reloadlaunchers/stringtable.xml
  addons/repair/stringtable.xml
  addons/tagging/stringtable.xml
  addons/zeus/stringtable.xml
Labels: kind/translation

#10007 Maptools - Fix gps detection
  addons/maptools/functions/fnc_canUseMapGPS.sqf
Labels: kind/bug-fix

#9994 Cargo - Add documentation on adding cargo via config
  addons/cargo/CfgVehicles.hpp
  docs/wiki/framework/cargo-framework.md
Labels: kind/documentation, ignore-changelog

#9920 Interact Menu - Use hashmaps for interactions
  addons/interact_menu/XEH_clientInit.sqf
  addons/interact_menu/XEH_preInit.sqf
  addons/interact_menu/functions/fnc_addActionToClass.sqf
  addons/interact_menu/functions/fnc_addMainAction.sqf
  addons/interact_menu/functions/fnc_compileMenu.sqf
  addons/interact_menu/functions/fnc_compileMenuSelfAction.sqf
  addons/interact_menu/functions/fnc_initMenuReorder.sqf
  addons/interact_menu/functions/fnc_removeActionFromClass.sqf
  addons/interact_menu/functions/fnc_renderActionPoints.sqf
  addons/interact_menu/functions/fnc_splitPath.sqf
  addons/interact_menu/functions/fnc_userActions_getHouseActions.sqf
  addons/interaction/functions/fnc_addPassengerActions.sqf
Labels: kind/optimization

#9998 Arsenal - Changes for CBA Disposable hashs
  addons/arsenal/functions/fnc_onSelChangedRight.sqf
Labels: kind/change

#9982 Grenades - Add 3 more sounds to flashbang detonations
  addons/grenades/functions/fnc_flashbangThrownFuze.sqf
Labels: kind/enhancement

#9999 Cargo - Add checks for adding cargo via config
  addons/cargo/functions/fnc_addCargoItem.sqf
  addons/cargo/functions/fnc_initVehicle.sqf
Labels: kind/enhancement

#9992 Grenades - Change damage from M14 incendiary grenade
  addons/grenades/CfgAmmo.hpp
Labels: kind/change

#9993 Fire - Remove unused plant integration
  addons/fire/XEH_PREP.hpp
  addons/fire/XEH_preInit.sqf
  addons/fire/functions/fnc_isBurning.sqf
  addons/fire/functions/fnc_isPlant.sqf
Labels: kind/cleanup

#9985 Grenades - Make flashbang detonation sound configurable via config
  addons/grenades/functions/fnc_flashbangThrownFuze.sqf
  docs/wiki/framework/grenades-framework.md
Labels: kind/enhancement

#10008 AdvThrowing - Fix showing wind info when no grenades in inventory
  addons/advanced_throwing/functions/fnc_prepare.sqf
Labels: kind/bug-fix

#7613 Refuel - Add enable setting
  addons/refuel/ACE_Refuel_Positions.hpp
  addons/refuel/Cfg3DEN.hpp
  addons/refuel/CfgVehicles.hpp
  addons/refuel/XEH_PREP.hpp
  addons/refuel/XEH_postInit.sqf
  addons/refuel/XEH_preStart.sqf
  addons/refuel/config.cpp
  addons/refuel/dev/exportTerrainRefuelPositions.sqf
  addons/refuel/dev/test_debugConfigs.sqf
  addons/refuel/functions/fnc_getFuelCargo.sqf
  addons/refuel/functions/fnc_makeJerryCan.sqf
  addons/refuel/functions/fnc_makeSource.sqf
  addons/refuel/initSettings.inc.sqf
  docs/wiki/framework/refuel-framework.md
Labels: kind/enhancement

#9995 Refuel - Fix fuel source disabling
  addons/refuel/functions/fnc_makeSource.sqf
Labels: kind/bug-fix

#9903 CSW - Force `QGVAR(handleExtraMagazinesType)` to be respected
  addons/csw/functions/fnc_reload_handleReturnAmmo.sqf
Labels: kind/change

#9997 Medical Treatment - Allow diagnosing cardiac arrest with clear language
  addons/medical_treatment/functions/fnc_checkResponse.sqf
  addons/medical_treatment/initSettings.inc.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#10011 Refuel - Cleanup compats
  addons/compat_cup_terrains/CfgVehicles.hpp
  addons/compat_cup_vehicles/compat_cup_vehicles_refuel/CfgVehicles.hpp
  addons/compat_gm/compat_gm_refuel/CfgVehicles.hpp
  addons/compat_gm/compat_gm_refuel/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_refuel/CfgVehicles.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_refuel/config.cpp
  addons/compat_rhs_usf3/compat_rhs_usf3_refuel/CfgVehicles.hpp
  addons/compat_rhs_usf3/compat_rhs_usf3_refuel/config.cpp
  addons/compat_sog/CfgVehicles/wheeled.hpp
Labels: kind/cleanup

#10015 Grenades - Rolling only add PFEH when needed
  addons/grenades/XEH_postInit.sqf
  addons/grenades/XEH_preInit.sqf
  addons/grenades/functions/fnc_nextMode.sqf
Labels: ignore-changelog

#10005 Grenades - Add grenade rolling
  addons/compat_rhs_afrf3/CfgAmmo.hpp
  addons/compat_sog/CfgAmmo/grenades.hpp
  addons/grenades/XEH_postInit.sqf
  addons/grenades/XEH_preInit.sqf
  addons/grenades/functions/fnc_nextMode.sqf
  addons/grenades/functions/fnc_throwGrenade.sqf
  addons/grenades/script_component.hpp
  addons/grenades/stringtable.xml
  docs/wiki/feature/grenades.md
  docs/wiki/framework/grenades-framework.md
Labels: kind/feature

#10044 Hearing - Fix volume being force updated when loadouts are set on AI
  addons/hearing/XEH_preInit.sqf
Labels: kind/optimization

#10041 Hearing - Code cleanup
  addons/hearing/CfgEventHandlers.hpp
  addons/hearing/CfgVehicles.hpp
  addons/hearing/CfgWeapons.hpp
  addons/hearing/XEH_PREP.hpp
  addons/hearing/XEH_postInit.sqf
  addons/hearing/XEH_preInit.sqf
  addons/hearing/functions/fnc_earRinging.sqf
  addons/hearing/functions/fnc_explosionNear.sqf
  addons/hearing/functions/fnc_firedNear.sqf
  addons/hearing/functions/fnc_handleRespawn.sqf
  addons/hearing/functions/fnc_hasEarPlugsIn.sqf
  addons/hearing/functions/fnc_moduleHearing.sqf
  addons/hearing/functions/fnc_putInEarplugs.sqf
  addons/hearing/functions/fnc_removeEarplugs.sqf
  addons/hearing/functions/fnc_updateHearingProtection.sqf
  addons/hearing/functions/fnc_updatePlayerVehAttenuation.sqf
  addons/hearing/functions/fnc_updateVolume.sqf
  addons/hearing/initKeybinds.inc.sqf
  addons/hearing/initSettings.inc.sqf
Labels: kind/cleanup

#10046 Arsenal - Fix insignia not reapplying after switching vests & backpacks
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
Labels: kind/bug-fix

#10048 Hearing - prevent audio from stacking when tabbed out
  addons/hearing/functions/fnc_updateVolume.sqf
Labels: ignore-changelog

#10047 Zeus - Add a translation
  addons/zeus/stringtable.xml
Labels: ignore-changelog

#10045 Common - Add `setDead` API
  addons/common/XEH_PREP.hpp
  addons/common/functions/fnc_disableUserInput.sqf
  addons/common/functions/fnc_setDead.sqf
  addons/field_rations/functions/fnc_handleEffects.sqf
  addons/medical_status/functions/fnc_setDead.sqf
Labels: kind/feature

#9988 Vehicle Damage - Fix applying medical damage to non-local and invulnerable units
  addons/vehicle_damage/XEH_PREP.hpp
  addons/vehicle_damage/XEH_postInit.sqf
  addons/vehicle_damage/functions/fnc_detonate.sqf
  addons/vehicle_damage/functions/fnc_medicalDamage.sqf
  addons/vehicle_damage/functions/fnc_processHit.sqf
Labels: kind/bug-fix

#10050 General - Cleaned up `cbaSettings_settingChanged`
  addons/artillerytables/initSettings.inc.sqf
  addons/cargo/initSettings.inc.sqf
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_cbaSettings_settingChanged.sqf
  addons/cookoff/initSettings.inc.sqf
  addons/csw/initSettings.inc.sqf
  addons/fastroping/initSettings.inc.sqf
  addons/headless/initSettings.inc.sqf
  addons/interact_menu/initSettings.inc.sqf
  addons/interaction/initSettings.inc.sqf
  addons/map/initSettings.inc.sqf
  addons/microdagr/initSettings.inc.sqf
  addons/parachute/initSettings.inc.sqf
  addons/rearm/initSettings.inc.sqf
  addons/refuel/initSettings.inc.sqf
  addons/repair/initSettings.inc.sqf
  addons/sitting/initSettings.inc.sqf
  addons/tagging/initSettings.inc.sqf
  addons/vehicle_damage/initSettings.inc.sqf
  addons/vehiclelock/initSettings.inc.sqf
  addons/viewrestriction/initSettings.inc.sqf
  addons/volume/initSettings.inc.sqf
  addons/weaponselect/initSettings.inc.sqf
  addons/weather/initSettings.inc.sqf
Labels: kind/cleanup
