Repository acemod/ACE3, pull requests merged in 2025-02, with the labels that each got.

#10699 Translations - Russian
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
Labels: kind/translation

#10702 Translations - Japanese (UAV Battery)
  addons/logistics_uavbattery/stringtable.xml
Labels: kind/translation

#10700 CSLA Compat - Update for CSLA 1.2
  addons/compat_csla/CfgWeapons.hpp
Labels: kind/change

#10706 Stringtables - sort
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_spe/compat_spe_csw/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/explosives/stringtable.xml
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
  addons/markinglaser/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: ignore-changelog

#10696 Add Separate Treatment Times for Exceeding Required Skill level
  addons/medical_treatment/ACE_Medical_Treatment_Actions.hpp
  addons/medical_treatment/functions/fnc_treatment.sqf
  addons/medical_treatment/initSettings.inc.sqf
  addons/medical_treatment/stringtable.xml
Labels: kind/enhancement

#10714 Compat WS - EHP
  addons/compat_ws/CfgWeapons.hpp
Labels: kind/bug-fix

#10695 Fastroping - End descent with weapon holstered
  addons/fastroping/functions/fnc_fastRopeLocalPFH.sqf
Labels: kind/enhancement

#10725 Update hemtt lints.toml for stringtables
  .hemtt/lints.toml
  addons/advanced_ballistics/functions/fnc_diagnoseWeapons.sqf
  addons/common/functions/fnc_cbaSettings_convertHelper.sqf
  addons/common/functions/fnc_readSettingFromModule.sqf
  addons/common/functions/fnc_setSetting.sqf
  addons/csw/dev/checkStaticWeapons.sqf
Labels: ignore-changelog

#10718 Translations - Korean
  addons/field_rations/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#10710 Rangecard - fix CTD on weapons with invalid configs
  addons/advanced_ballistics/functions/fnc_diagnoseWeapons.sqf
  addons/rangecard/functions/fnc_updateRangeCard.sqf
  addons/xm157/functions/fnc_ballistics_getData.sqf
  extension/src/ballistics/zero.rs
Labels: kind/bug-fix

#10723 Translations - French
  addons/field_rations/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#10713 Compat Aegis - Remove EHP from Beanies
  addons/compat_aegis/compat_aegis_hearing/CfgWeapons.hpp
  addons/compat_aegis/compat_aegis_hearing/config.cpp
  addons/compat_aegis/compat_aegis_hearing/script_component.hpp
  addons/hearing/script_macros_hearingProtection.hpp
Labels: kind/bug-fix

#10729 Compat Aegis - Add full hearing compat
  addons/compat_aegis/compat_aegis_hearing/CfgWeapons.hpp
Labels: kind/enhancement

#10730 Nighvision - Fix overlay not applying to newly switched unit
  addons/nightvision/XEH_postInit.sqf
Labels: kind/bug-fix

#10270 Overpressure - Add to vehicle/static Missile Launchers and Recoilless Guns
  addons/common/XEH_PREP.hpp
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_updatePlayerVehAttenuation.sqf
  addons/compat_rhs_afrf3/CfgVehicles.hpp
  addons/compat_rhs_afrf3/CfgWeapons.hpp
  addons/compat_rhs_gref3/CfgVehicles.hpp
  addons/compat_rhs_usf3/CfgWeapons.hpp
  addons/dragon/CfgWeapons.hpp
  addons/hearing/XEH_PREP.hpp
  addons/hearing/XEH_postInit.sqf
  addons/hearing/functions/fnc_firedNear.sqf
  addons/hearing/functions/fnc_handleVehicleKilled.sqf
  addons/javelin/CfgWeapons.hpp
  addons/overpressure/CfgVehicles.hpp
  addons/overpressure/CfgWeapons.hpp
  addons/overpressure/XEH_postInit.sqf
  addons/overpressure/config.cpp
  addons/overpressure/functions/fnc_firedEHBB.sqf
  addons/overpressure/functions/fnc_firedEHOP.sqf
  addons/overpressure/functions/fnc_getDistance.sqf
  addons/overpressure/functions/fnc_overpressureDamage.sqf
  docs/wiki/feature/overpressure.md
  docs/wiki/framework/overpressure-framework.md
Labels: kind/enhancement

#10728 Docs - Add documentation for adding custom placeable and carryable flags
  docs/wiki/framework/flags-framework.md
Labels: kind/documentation, ignore-changelog

#10566 Medical Vitals - Extract update logic to separate functions
  addons/medical_engine/script_macros_medical.hpp
  addons/medical_status/XEH_PREP.hpp
  addons/medical_status/functions/fnc_getBloodVolumeChange.sqf
  addons/medical_status/functions/fnc_updateWoundBloodLoss.sqf
  addons/medical_vitals/XEH_PREP.hpp
  addons/medical_vitals/functions/fnc_consumeIVs.sqf
  addons/medical_vitals/functions/fnc_consumeMedications.sqf
  addons/medical_vitals/functions/fnc_handleUnitVitals.sqf
  addons/medical_vitals/functions/fnc_updateBloodPressure.sqf
  addons/medical_vitals/functions/fnc_updateBloodVolume.sqf
  addons/medical_vitals/functions/fnc_updateHeartRate.sqf
  addons/medical_vitals/functions/fnc_updatePain.sqf
  addons/medical_vitals/functions/fnc_updateState.sqf
Labels: kind/cleanup

#10732 Common - Improve addon mismatch fix message for server admins
  addons/common/functions/fnc_checkFiles.sqf
Labels: kind/enhancement, ignore-changelog

#10573 Medical Damage - Pass ammo to wound handlers
  addons/medical_damage/functions/fnc_getTypeOfDamage.sqf
  addons/medical_damage/functions/fnc_parseWoundHandlersCfg.sqf
  addons/medical_damage/functions/fnc_woundReceived.sqf
  docs/wiki/framework/medical-framework.md
Labels: impact/large, kind/change

#10733 Common/Hearing - Small cleanup / sort
  addons/common/XEH_postInit.sqf
  addons/common/functions/fnc_updatePlayerVehAttenuation.sqf
  addons/field_rations/stringtable.xml
  addons/medical_status/functions/fnc_updateWoundBloodLoss.sqf
  addons/medical_treatment/stringtable.xml
  addons/overpressure/XEH_postInit.sqf
Labels: ignore-changelog

#10676 Field Rations - Improve Vehicle Watersource Actions
  addons/field_rations/XEH_postInit.sqf
  addons/field_rations/functions/fnc_addWaterSourceInteractions.sqf
  addons/field_rations/functions/fnc_checkWater.sqf
  addons/field_rations/functions/fnc_drinkFromSource.sqf
  addons/field_rations/functions/fnc_refillItem.sqf
Labels: kind/enhancement

#10734 Medical - Fix out of scope var
  addons/medical_damage/functions/fnc_getTypeOfDamage.sqf
Labels: kind/bug-fix, ignore-changelog

#10735 main - remove a "Unnecessary `_this` in `call`" in `LINKFUNC`
  addons/main/script_debug.hpp
Labels: ignore-changelog

#10737 Medical Damage - Throw no errors for the last damage handler
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/functions/fnc_woundReceived.sqf
Labels: kind/bug-fix, ignore-changelog

#10738 Explosives - Fix "toe-popper" mine not showing in zeus
  addons/explosives/config.cpp
Labels: kind/bug-fix, impact/trivial

#10739 CSW - Add tripods stat
  addons/csw/ACE_Arsenal_Stats.hpp
  addons/csw/XEH_PREP.hpp
  addons/csw/config.cpp
  addons/csw/functions/fnc_statTextCondition_tripods.sqf
  addons/csw/functions/fnc_statTextStatement_tripods.sqf
  addons/csw/stringtable.xml
Labels: kind/enhancement

#10743 Translations - Korean
  addons/csw/stringtable.xml
Labels: kind/translation

#10742 Laser - Add a module to create constant laser source for testing
  addons/laser/CfgVehicles.hpp
  addons/laser/XEH_PREP.hpp
  addons/laser/XEH_postInit.sqf
  addons/laser/functions/fnc_laserModule.sqf
Labels: ignore-changelog

#10744 Translations - Russian
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/medical_treatment/stringtable.xml
Labels: kind/translation

#10741 Various - Fix position types
  addons/advanced_fatigue/functions/fnc_renderDebugLines.sqf
  addons/ai/functions/fnc_drawCuratorGarrisonPathing.sqf
  addons/common/functions/fnc_checkPBOs.sqf
  addons/common/functions/fnc_getMGRSdata.sqf
  addons/common/functions/fnc_getTargetAzimuthAndInclination.sqf
  addons/common/functions/fnc_getTargetObject.sqf
  addons/common/functions/fnc_showHud.sqf
  addons/huntir/functions/fnc_cam.sqf
  addons/map/functions/fnc_initMainMap.sqf
  addons/medical/functions/fnc_deserializeState.sqf
  addons/missileguidance/functions/fnc_dev_ProjectileCamera.sqf
  addons/movement/functions/fnc_canClimb.sqf
  addons/spectator/functions/fnc_cam.sqf
  addons/spectator/functions/fnc_ui_draw3D.sqf
  addons/spectator/functions/fnc_ui_handleKeyDown.sqf
  addons/vector/functions/fnc_getDirection.sqf
  addons/zeus/functions/fnc_bi_moduleRemoteControl.sqf
Labels: kind/bug-fix

#10701 MCLOS - Add support for AI
  addons/common/CfgSounds.hpp
  addons/missileguidance/CfgAmmo.hpp
  addons/missileguidance/CfgMagazines.hpp
  addons/missileguidance/CfgWeapons.hpp
  addons/missileguidance/config.cpp
  addons/missileguidance/dev/mock_ammo.hpp
  addons/missileguidance/dev/mock_magazines.hpp
  addons/missileguidance/dev/mock_vehicles.hpp
  addons/missileguidance/dev/mock_weapons.hpp
  addons/missileguidance/functions/fnc_MCLOS_buttonPressed.sqf
  addons/missileguidance/functions/fnc_MCLOS_onFired.sqf
  addons/missileguidance/functions/fnc_seekerType_MCLOS.sqf
  addons/missileguidance/script_component.hpp
Labels: kind/enhancement

#10747 Docs - Minor cleanup
  addons/interact_menu/functions/fnc_createAction.sqf
  docs/wiki/framework/arsenal-framework.md
  docs/wiki/framework/dragging-framework.md
  docs/wiki/framework/events-framework.md
  docs/wiki/framework/explosives-framework.md
  docs/wiki/framework/fastroping-framework.md
  docs/wiki/framework/fire-framework.md
  docs/wiki/framework/interactionMenu-framework.md
  docs/wiki/framework/laser-framework.md
  docs/wiki/framework/medical-framework.md
  docs/wiki/framework/rearm-framework.md
  docs/wiki/framework/refuel-framework.md
  docs/wiki/framework/slideshow-framework.md
  docs/wiki/framework/tagging-framework.md
  docs/wiki/framework/ui-framework.md
  docs/wiki/framework/vehiclelock-framework.md
  docs/wiki/framework/vehicles-framework.md
Labels: kind/documentation, ignore-changelog

#10746 Translations - French (for future PRs 3.19.1)
  addons/csw/stringtable.xml
  addons/missileguidance/stringtable.xml
Labels: kind/translation

#10444 Tools - Cleanup
  .github/workflows/arma.yml
  .vscode/tasks.json
  docs/wiki/development/setting-up-the-development-environment.md
  tools/build.py
  tools/config_style_checker.py
  tools/config_validator.py
  tools/github_privates_bot.py
  tools/search_privates.py
  tools/search_undefinedFunctions.py
  tools/search_unused_privates.py
  tools/sqf_linter.py
  tools/sqf_validator.py
  tools/stringtable_sort.py
Labels: area/tools, ignore-changelog

#10749 missile_hud - Add hud for GPS seeker
  addons/missile_hud/ACE_GuidanceConfig.hpp
  addons/missile_hud/XEH_PREP.hpp
  addons/missile_hud/functions/fnc_info_gps.sqf
  addons/missile_sdb/CfgMagazines.hpp
  addons/missile_sdb/stringtable.xml
Labels: kind/enhancement

#10751 Missile Guidance - remove needed config entry on mclos weapons
  addons/missileguidance/XEH_preInit.sqf
  addons/missileguidance/dev/mock_weapons.hpp
  addons/missileguidance/functions/fnc_MCLOS_buttonPressed.sqf
Labels: ignore-changelog

#10754 Translations - Korean
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
Labels: kind/translation

#10753 Translations - Improve Japanese
  addons/csw/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/nametags/stringtable.xml
  addons/rearm/stringtable.xml
  addons/switchunits/stringtable.xml
  addons/ui/stringtable.xml
  addons/viewdistance/stringtable.xml
  addons/winddeflection/stringtable.xml
Labels: kind/translation

#10755 Medical Damage - Fix script error on drowning damage
  addons/medical_damage/functions/fnc_parseConfigForInjuries.sqf
  addons/medical_damage/functions/fnc_woundReceived.sqf
Labels: ignore-changelog

#10756 Tools - Add a VS Code task to just build a given addon
  .vscode/tasks.json
  tools/build_current_addon.py
Labels: area/tools, ignore-changelog

#10423 Explosives - Add Tripwire Flare Air Variant
  addons/explosives/ACE_Triggers.hpp
  addons/explosives/CfgAmmo.hpp
  addons/explosives/CfgCloudlets.hpp
  addons/explosives/CfgMagazines.hpp
  addons/explosives/CfgVehicles.hpp
  addons/explosives/CfgWeapons.hpp
  addons/explosives/XEH_PREP.hpp
  addons/explosives/config.cpp
  addons/explosives/functions/fnc_spawnFlare.sqf
  addons/explosives/functions/fnc_tripflare_init.sqf
  addons/explosives/scripts/TripflareEffect.sqf
  addons/explosives/stringtable.xml
Labels: kind/feature

#10758 Translations - Korean
  addons/explosives/stringtable.xml
Labels: kind/translation

#10759 Translations - French
  addons/explosives/stringtable.xml
Labels: kind/translation

#10760 Translations - Improve Japanese
  addons/explosives/stringtable.xml
Labels: kind/translation

#10731 Explosives - Improve Support for custom IED ringtones
  addons/explosives/CfgAmmo.hpp
  addons/explosives/functions/fnc_dialPhone.sqf
  addons/explosives/functions/fnc_dialingPhone.sqf
  docs/wiki/framework/explosives-framework.md
Labels: kind/enhancement

#10762 Missile Guidance Compats - CUP, GM, ARF
  addons/compat_cup_weapons/compat_cup_missileguidance/CfgAmmo.hpp
  addons/compat_cup_weapons/compat_cup_missileguidance/config.cpp
  addons/compat_cup_weapons/compat_cup_missileguidance/script_component.hpp
  addons/compat_gm/compat_gm_missileguidance/CfgAmmo.hpp
  addons/compat_gm/compat_gm_missileguidance/config.cpp
  addons/compat_gm/compat_gm_missileguidance/script_component.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_missileguidance/CfgAmmo.hpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_missileguidance/config.cpp
  addons/compat_rhs_afrf3/compat_rhs_afrf3_missileguidance/script_component.hpp
  addons/missileguidance/dev/checkAmmoConfigs.sqf
  addons/missileguidance/script_missileBases.hpp
Labels: kind/enhancement, area/compatibility
