Repository acemod/ACE3, pull requests merged in 2025-06, with the labels that each got.

#10937 Casings - Fix creating casings for UAV weapons
  addons/casings/functions/fnc_createCasing.sqf
Labels: kind/bug-fix

#10943 missile_sdb - Increase lifetime
  addons/missile_sdb/CfgAmmo.hpp
Labels: kind/change

#10941 Compat SOG - Add calibers to ammunition for use in `ace_rearm`
  addons/compat_sog/CfgAmmo.hpp
  addons/compat_sog/CfgAmmo/bombs.hpp
  addons/compat_sog/CfgAmmo/grenades.hpp
  addons/compat_sog/CfgAmmo/shells.hpp
  addons/rearm/script_component.hpp
Labels: kind/enhancement, area/compatibility

#10926 Cookoff - Add the ability to disable cookoff sounds and projectiles.
  addons/cookoff/functions/fnc_detonateAmmunitionServerLoop.sqf
  addons/cookoff/initSettings.inc.sqf
  addons/cookoff/stringtable.xml
Labels: kind/enhancement

#10949 Field Rations - Support negative thirst and hunger values
  addons/field_rations/functions/fnc_addWaterSourceInteractions.sqf
  addons/field_rations/functions/fnc_canRefillItem.sqf
  addons/field_rations/functions/fnc_consumeItem.sqf
  addons/field_rations/functions/fnc_getConsumableChildren.sqf
  addons/field_rations/functions/fnc_getRefillChildren.sqf
  addons/field_rations/functions/fnc_handleEffects.sqf
  addons/field_rations/functions/fnc_scanFieldRations.sqf
  docs/wiki/framework/field-rations-framework.md
Labels: kind/enhancement

#10951 Name Tags - Add variable to treat AI as players
  addons/nametags/functions/fnc_onDraw3d.sqf
Labels: kind/enhancement

#10964 Marking Laser - Fix parachute rpt spam
  addons/markinglaser/CfgEventHandlers.hpp
Labels: kind/bug-fix, impact/trivial

#10963 Wiki - Add documentation for nametags, fortify frameworks
  docs/wiki/framework/fortify-framework.md
  docs/wiki/framework/nametags-framework.md
Labels: ignore-changelog

#10958 Explosives - Fix "Active Detonator" not being reset after no charges remaining
  addons/explosives/functions/fnc_selectTrigger.sqf
Labels: kind/bug-fix

#10967 Translations - Improve Japanese (3.20.0 part 2)
  addons/cookoff/stringtable.xml
  addons/intelitems/stringtable.xml
Labels: kind/translation

#10938 UI - Add actions to check weapon zeroing when UI elements are disabled
  addons/ui/CfgVehicles.hpp
  addons/ui/XEH_PREP.hpp
  addons/ui/functions/fnc_checkWeaponZeroing.sqf
  addons/ui/stringtable.xml
Labels: kind/feature

#10969 COMPAT SPE - Fix scoped rifles being open bolt
  addons/compat_spe/CfgWeapons/weapons.hpp
Labels: kind/bug-fix, area/compatibility

#10971 Common - Fix load issues with `CfgVoice`
  addons/common/CfgVoice.hpp
Labels: kind/bug-fix

#10957 General - Fix load order issues for arsenal `statBase`
  addons/ballistics/ACE_Arsenal_Stats.hpp
  addons/csw/ACE_Arsenal_Stats.hpp
  addons/explosives/ACE_Arsenal_Stats.hpp
  addons/flashlights/ACE_Arsenal_Stats.hpp
  addons/gforces/ACE_Arsenal_Stats.hpp
  addons/hearing/ACE_Arsenal_Stats.hpp
  addons/logistics_wirecutter/ACE_Arsenal_Stats.hpp
  addons/nightvision/ACE_Arsenal_Stats.hpp
  addons/overheating/ACE_Arsenal_Stats.hpp
  addons/overpressure/ACE_Arsenal_Stats.hpp
  addons/reload/ACE_Arsenal_Stats.hpp
  addons/reloadlaunchers/ACE_Arsenal_Stats.hpp
  addons/scopes/ACE_Arsenal_Stats.hpp
  addons/trenches/ACE_Arsenal_Stats.hpp
Labels: kind/bug-fix

#10955 Aircraft - Remove unused base classes
  addons/aircraft/RscInGameUI.hpp
Labels: kind/cleanup

#10954 General - Fix load order issues for medical injuries
  addons/compat_sog/ACE_Medical_Injuries.hpp
  addons/compat_spe/ACE_Medical_Injuries.hpp
  addons/explosives/ACE_Medical_Injuries.hpp
Labels: kind/bug-fix

#10974 Nightvision - Fix script error when switching to thermals
  addons/nightvision/functions/fnc_onVisionModeChanged.sqf
  addons/nightvision/functions/fnc_pfeh.sqf
  addons/nightvision/functions/fnc_setupDisplayEffects.sqf
Labels: kind/bug-fix

#10962 Medical Treatment - Enhanced Setting: Add option to allow Self-Stitch/PAK/IV only for Doctors
  addons/medical_treatment/functions/fnc_canTreat.sqf
  addons/medical_treatment/initSettings.inc.sqf
Labels: kind/setting

#10977 Github Workflow - Delete pboproject.yml
  .github/workflows/pboproject.yml
Labels: ignore-changelog

#8931 Add - Spike LR ATGM
  addons/spike/$PBOPREFIX$
  addons/spike/ACE_GuidanceConfig.hpp
  addons/spike/CfgAmmo.hpp
  addons/spike/CfgEventHandlers.hpp
  addons/spike/CfgMagazines.hpp
  addons/spike/CfgWeapons.hpp
  addons/spike/README.md
  addons/spike/RscInGameUI.hpp
  addons/spike/RscTitles.hpp
  addons/spike/XEH_PREP.hpp
  addons/spike/XEH_postInit.sqf
  addons/spike/XEH_preInit.sqf
  addons/spike/XEH_preStart.sqf
  addons/spike/config.cpp
  addons/spike/data/reticle_titan.p3d
  addons/spike/functions/fnc_camera_changeZoom.sqf
  addons/spike/functions/fnc_camera_cycleViewMode.sqf
  addons/spike/functions/fnc_camera_destroy.sqf
  addons/spike/functions/fnc_camera_handleKeyPress.sqf
  addons/spike/functions/fnc_camera_init.sqf
  addons/spike/functions/fnc_camera_setViewMode.sqf
  addons/spike/functions/fnc_camera_setZoom.sqf
  addons/spike/functions/fnc_camera_switchAway.sqf
  addons/spike/functions/fnc_camera_switchTo.sqf
  addons/spike/functions/fnc_camera_update.sqf
  addons/spike/functions/fnc_camera_updateTargetingGate.sqf
  addons/spike/functions/fnc_camera_userInCamera.sqf
  addons/spike/functions/fnc_getTargetPosition.sqf
  addons/spike/functions/fnc_keyDown.sqf
  addons/spike/functions/fnc_mapHelperDraw.sqf
  addons/spike/functions/fnc_midCourseTransition.sqf
  addons/spike/functions/fnc_navigation.sqf
  addons/spike/functions/fnc_onFired.sqf
  addons/spike/functions/fnc_seeker.sqf
  addons/spike/initKeybinds.inc.sqf
  addons/spike/script_component.hpp
  addons/spike/stringtable.xml
Labels: kind/feature

#10978 Improvement - Update my name again
  addons/maverick/CfgAmmo.hpp
  addons/maverick/CfgMagazines.hpp
  addons/maverick/CfgWeapons.hpp
  addons/missile_aim120/CfgAmmo.hpp
  addons/missile_aim120/CfgMagazines.hpp
  addons/missile_aim120/CfgWeapons.hpp
  addons/missile_aim120/config.cpp
  addons/missile_aim9/CfgAmmo.hpp
  addons/missile_aim9/CfgMagazines.hpp
  addons/missile_aim9/CfgWeapons.hpp
  addons/missile_aim9/config.cpp
  addons/missile_gbu/CfgMagazines.hpp
  addons/missile_gbu/config.cpp
  addons/missile_manpad/CfgMagazines.hpp
  addons/missile_manpad/CfgWeapons.hpp
  addons/missile_manpad/config.cpp
  addons/missile_sam/CfgAmmo.hpp
  addons/missile_sam/CfgWeapons.hpp
  addons/missile_sam/config.cpp
  addons/missile_sdb/CfgAmmo.hpp
  addons/missile_sdb/CfgMagazines.hpp
  addons/missile_sdb/CfgWeapons.hpp
  addons/missile_vikhr/CfgAmmo.hpp
  addons/missile_vikhr/CfgMagazines.hpp
  addons/missile_vikhr/CfgWeapons.hpp
  addons/missile_vikhr/config.cpp
  addons/spike/CfgMagazines.hpp
  addons/spike/config.cpp
  addons/spike/functions/fnc_camera_changeZoom.sqf
  addons/spike/functions/fnc_camera_cycleViewMode.sqf
  addons/spike/functions/fnc_camera_destroy.sqf
  addons/spike/functions/fnc_camera_handleKeyPress.sqf
  addons/spike/functions/fnc_camera_init.sqf
  addons/spike/functions/fnc_camera_setViewMode.sqf
  addons/spike/functions/fnc_camera_setZoom.sqf
  addons/spike/functions/fnc_camera_switchAway.sqf
  addons/spike/functions/fnc_camera_switchTo.sqf
  addons/spike/functions/fnc_camera_update.sqf
  addons/spike/functions/fnc_camera_updateTargetingGate.sqf
  addons/spike/functions/fnc_camera_userInCamera.sqf
  addons/spike/functions/fnc_getTargetPosition.sqf
  addons/spike/functions/fnc_keyDown.sqf
  addons/spike/functions/fnc_mapHelperDraw.sqf
  addons/spike/functions/fnc_midCourseTransition.sqf
  addons/spike/functions/fnc_navigation.sqf
  addons/spike/functions/fnc_onFired.sqf
  addons/spike/functions/fnc_seeker.sqf
Labels: ignore-changelog

#10939 Missile Guidance - Fix SACLOS on sub-turrets
  addons/missileguidance/functions/fnc_SACLOS_onFired.sqf
  addons/missileguidance/functions/fnc_seekerType_SACLOS.sqf
Labels: kind/bug-fix

#9217 Medical Damage - Add alternate armor penetration
  addons/medical_damage/ACE_Medical_Injuries.hpp
  addons/medical_damage/XEH_PREP.hpp
  addons/medical_damage/XEH_preInit.sqf
  addons/medical_damage/functions/fnc_getAmmoData.sqf
  addons/medical_damage/functions/fnc_woundsHandlerArmorPenetration.sqf
  addons/medical_damage/initSettings.inc.sqf
  addons/medical_damage/stringtable.xml
  addons/medical_engine/functions/fnc_getHitpointArmor.sqf
  addons/medical_engine/functions/fnc_getItemArmor.sqf
  addons/medical_engine/functions/fnc_handleDamage.sqf
  addons/medical_engine/initSettings.inc.sqf
  addons/medical_engine/stringtable.xml
Labels: kind/feature

#10980 bump req to 220, sort st
  addons/main/script_mod.hpp
  addons/medical_damage/stringtable.xml
Labels: ignore-changelog

#10988 Cookoff - Fix setting name
  addons/cookoff/stringtable.xml
Labels: kind/bug-fix

#10984 Translations - Korean
  addons/compat_gm/compat_gm_csw/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/intelitems/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/spike/stringtable.xml
  addons/ui/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10987 Translations - French
  addons/intelitems/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/repair/stringtable.xml
  addons/spike/stringtable.xml
  addons/ui/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10989 Translations - Improve Japanese (3.20.0 RC1)
  addons/compat_gm/compat_gm_csw/stringtable.xml
  addons/cookoff/stringtable.xml
  addons/intelitems/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/repair/stringtable.xml
  addons/spike/stringtable.xml
  addons/ui/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10991 Translations - Korean
  addons/cookoff/stringtable.xml
Labels: kind/translation, status/added-to-RC
