Repository acemod/ACE3, pull requests merged in 2025-03, with the labels that each got.

#10763 Killtracker - Add option to show wound events
  addons/killtracker/XEH_postInit.sqf
  addons/killtracker/initSettings.inc.sqf
  addons/killtracker/stringtable.xml
Labels: kind/enhancement

#10765 Hearing - Earplugs not added on dedicated server
  addons/hearing/XEH_postInit.sqf
Labels: kind/bug-fix

#10767 missile_sdb - Fix IR guidance
  addons/missile_sdb/CfgAmmo.hpp
Labels: kind/bug-fix

#10768 missile_aim120 - Visual feedback for loft mode
  addons/missile_aim120/CfgAmmo.hpp
Labels: kind/enhancement

#10769 missile_aim120 - Visual enhancements
  addons/missile_aim120/CfgAmmo.hpp
  addons/missile_aim120/CfgWeapons.hpp
Labels: kind/enhancement

#8210 Missile Guidance - Add Copperhead M712
  addons/missile_clgp/ACE_GuidanceConfig.hpp
  addons/missile_clgp/CfgAmmo.hpp
  addons/missile_clgp/CfgMagazineWells.hpp
  addons/missile_clgp/CfgMagazines.hpp
  addons/missile_clgp/CfgWeapons.hpp
  addons/missile_clgp/GUI.hpp
  addons/missile_clgp/XEH_PREP.hpp
  addons/missile_clgp/XEH_postInit.sqf
  addons/missile_clgp/data/ace_copperhead_interactive.p3d
  addons/missile_clgp/data/copperhead_dial_co.paa
  addons/missile_clgp/data/copperhead_mat.rvmat
  addons/missile_clgp/data/copperhead_shell_co.paa
  addons/missile_clgp/data/model.cfg
  addons/missile_clgp/dev/quickTesting.sqf
  addons/missile_clgp/functions/fnc_copperhead_attackprofile.sqf
  addons/missile_clgp/functions/fnc_copperhead_deployCondition.sqf
  addons/missile_clgp/functions/fnc_copperhead_onfired.sqf
  addons/missile_clgp/functions/fnc_copperhead_uiCanOpen.sqf
  addons/missile_clgp/functions/fnc_copperhead_uiCreate.sqf
  addons/missile_clgp/functions/fnc_submunition_applyDrag.sqf
  addons/missile_clgp/functions/fnc_submunition_submunitionCreated.sqf
  addons/missile_clgp/script_component.hpp
  addons/missile_clgp/stringtable.xml
Labels: kind/feature

#10772 Stringtables - Sort
  addons/csw/stringtable.xml
  addons/explosives/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
Labels: ignore-changelog

#10773 Translations - Korean
  addons/killtracker/stringtable.xml
  addons/missile_clgp/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10774 Translations - French
  addons/killtracker/stringtable.xml
  addons/missile_clgp/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10775 Translations - Improve Japanese
  addons/killtracker/stringtable.xml
  addons/missile_clgp/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10776 Medical Vitals - Improve IV consumption API
  addons/medical_vitals/functions/fnc_consumeIVs.sqf
Labels: kind/bug-fix

#10779 Translations - Russian
  addons/explosives/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10780 Translations - Italian
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/csw/stringtable.xml
  addons/explosives/stringtable.xml
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/markinglaser/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10777 Docs - Add missing features
  addons/intelitems/README.md
  docs/wiki/development/coding-guidelines.md
  docs/wiki/feature/flags.md
  docs/wiki/feature/intelitems.md
  docs/wiki/feature/marker-flags.md
  docs/wiki/framework/explosives-framework.md
Labels: kind/documentation, ignore-changelog

#10787 General - Replace `CBA_fnc_canAddItem` with `canAdd`
  addons/attach/functions/fnc_detach.sqf
  addons/captives/functions/fnc_doBlindfoldCaptive.sqf
  addons/csw/functions/fnc_reload_handleReturnAmmo.sqf
  addons/hearing/functions/fnc_removeEHP.sqf
  addons/hearing/functions/fnc_removeEarplugs.sqf
  addons/interaction/functions/fnc_switchWeaponAttachment.sqf
  addons/magazinerepack/functions/fnc_canRepackMagazine.sqf
  addons/magazinerepack/functions/fnc_getMagazineChildren.sqf
  addons/magazinerepack/functions/fnc_startRepackingMagazine.sqf
Labels: kind/optimization, status/added-to-RC

#10793 Magazine Repack - Minor optimisation
  addons/magazinerepack/functions/fnc_startRepackingMagazine.sqf
Labels: kind/optimization, ignore-changelog

#10790 Medical Damage - Fix wound handler returns
  addons/medical_damage/functions/fnc_woundsHandlerVehiclecrash.sqf
  addons/medical_damage/functions/fnc_woundsHandlerVehiclehit.sqf
Labels: kind/bug-fix, ignore-changelog

#10794 Compat - CUP - Add hunterkiller to most CUP tanks and some IFVs
  addons/compat_cup_vehicles/CfgVehicles.hpp
Labels: kind/enhancement, area/compatibility

#10800 Fortify/Trenches - Fix blowing-up uniqueItems cache
  addons/fortify/functions/fnc_canFortify.sqf
  addons/trenches/functions/fnc_hasEntrenchingTool.sqf
Labels: kind/bug-fix

#10795 Common - Unquote math
  addons/advanced_ballistics/RscTitles.hpp
  addons/arsenal/Cfg3DEN.hpp
  addons/artillerytables/RscRangeTable.hpp
  addons/atragmx/RscTitles.hpp
  addons/attach/CfgVehicles.hpp
  addons/common/define.hpp
  addons/compat_spe/CfgAmmo/bullets.hpp
  addons/compat_spe/CfgAmmo/shells.hpp
  addons/dragon/CfgAmmo.hpp
  addons/dragon/CfgVehicles.hpp
  addons/field_rations/CfgMoves.hpp
  addons/frag/CfgAmmo.hpp
  addons/goggles/CfgGlasses.hpp
  addons/grenades/CfgAmmo.hpp
  addons/grenades/CfgMagazines.hpp
  addons/hot/CfgAmmo.hpp
  addons/kestrel4500/RscTitles.hpp
  addons/laserpointer/script_macros_config.hpp
  addons/map/MapTweaks.hpp
  addons/missile_clgp/CfgAmmo.hpp
  addons/mx2a/CfgWeapons.hpp
  addons/rangecard/RscTitles.hpp
  addons/spottingscope/CfgVehicles.hpp
  addons/spottingscope/CfgWeapons.hpp
  addons/vector/CfgWeapons.hpp
  addons/vehicles/CfgVehicles.hpp
  addons/weather/RscTitles.hpp
  addons/xm157/RscInGameUI.hpp
  addons/yardage450/CfgWeapons.hpp
  optionals/realisticdispersion/CfgWeapons.hpp
Labels: kind/optimization

#10792 Translations - German
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_spe/compat_spe_csw/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/csw/stringtable.xml
  addons/explosives/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10785 Mine Detector - Added public framework
  addons/minedetector/ACE_detector.hpp
  addons/minedetector/CfgAmmo.hpp
  addons/minedetector/CfgEventHandlers.hpp
  addons/minedetector/CfgSounds.hpp
  addons/minedetector/CfgVehicles.hpp
  addons/minedetector/CfgWeapons.hpp
  addons/minedetector/XEH_PREP.hpp
  addons/minedetector/XEH_postInit.sqf
  addons/minedetector/XEH_preStart.sqf
  addons/minedetector/config.cpp
  addons/minedetector/functions/fnc_activateDetector.sqf
  addons/minedetector/functions/fnc_canActivateDetector.sqf
  addons/minedetector/functions/fnc_canConnectHeadphones.sqf
  addons/minedetector/functions/fnc_canDeactivateDetector.sqf
  addons/minedetector/functions/fnc_canDisconnectHeadphones.sqf
  addons/minedetector/functions/fnc_connectHeadphones.sqf
  addons/minedetector/functions/fnc_deactivateDetector.sqf
  addons/minedetector/functions/fnc_detectorLoop.sqf
  addons/minedetector/functions/fnc_disableDetector.sqf
  addons/minedetector/functions/fnc_enableDetector.sqf
  addons/minedetector/functions/fnc_getDetectedObject.sqf
  addons/minedetector/functions/fnc_getDetectorConfig.sqf
  addons/minedetector/functions/fnc_hasDetector.sqf
  addons/minedetector/functions/fnc_isDetectorEnabled.sqf
  addons/minedetector/functions/fnc_playDetectorSound.sqf
  addons/minedetector/script_component.hpp
  docs/wiki/framework/events-framework.md
  docs/wiki/framework/minedetector-framework.md
Labels: kind/feature

#10791 Disarming - Code cleanup
  addons/disarming/CfgEventHandlers.hpp
  addons/disarming/XEH_PREP.hpp
  addons/disarming/functions/fnc_canBeDisarmed.sqf
  addons/disarming/functions/fnc_canPlayerDisarmUnit.sqf
  addons/disarming/functions/fnc_disarmDropItems.sqf
  addons/disarming/functions/fnc_eventCallerFinish.sqf
  addons/disarming/functions/fnc_eventTargetFinish.sqf
  addons/disarming/functions/fnc_eventTargetStart.sqf
  addons/disarming/functions/fnc_getAllGearContainer.sqf
  addons/disarming/functions/fnc_getAllGearUnit.sqf
  addons/disarming/functions/fnc_openDisarmDialog.sqf
  addons/disarming/functions/fnc_showItemsInListbox.sqf
  addons/disarming/functions/fnc_verifyMagazinesMoved.sqf
  addons/disarming/gui_disarm.hpp
Labels: kind/optimization

#10786 Interaction - Code cleanup
  addons/interaction/CfgEventHandlers.hpp
  addons/interaction/CfgVehicles.hpp
  addons/interaction/dev/initReplaceTerrainCursorObject.sqf
  addons/interaction/functions/fnc_addPassengerActions.sqf
  addons/interaction/functions/fnc_addPassengersActions.sqf
  addons/interaction/functions/fnc_canBecomeLeader.sqf
  addons/interaction/functions/fnc_canFlip.sqf
  addons/interaction/functions/fnc_canInteractWithCivilian.sqf
  addons/interaction/functions/fnc_canJoinGroup.sqf
  addons/interaction/functions/fnc_canJoinTeam.sqf
  addons/interaction/functions/fnc_canPardon.sqf
  addons/interaction/functions/fnc_canPassMagazine.sqf
  addons/interaction/functions/fnc_canPassThrowable.sqf
  addons/interaction/functions/fnc_canPullOutBody.sqf
  addons/interaction/functions/fnc_canPush.sqf
  addons/interaction/functions/fnc_canRenameGroup.sqf
  addons/interaction/functions/fnc_canTapShoulder.sqf
  addons/interaction/functions/fnc_doBecomeLeader.sqf
  addons/interaction/functions/fnc_getDoor.sqf
  addons/interaction/functions/fnc_getDown.sqf
  addons/interaction/functions/fnc_getInteractionDistance.sqf
  addons/interaction/functions/fnc_getVehiclePos.sqf
  addons/interaction/functions/fnc_getVehiclePosComplex.sqf
  addons/interaction/functions/fnc_handleScrollWheel.sqf
  addons/interaction/functions/fnc_joinTeam.sqf
  addons/interaction/functions/fnc_modifyJoinGroupAction.sqf
  addons/interaction/functions/fnc_modifyTeamManagementAction.sqf
  addons/interaction/functions/fnc_moduleInteraction.sqf
  addons/interaction/functions/fnc_openDoor.sqf
  addons/interaction/functions/fnc_pardon.sqf
  addons/interaction/functions/fnc_passMagazine.sqf
  addons/interaction/functions/fnc_passThrowable.sqf
  addons/interaction/functions/fnc_pullOutBody.sqf
  addons/interaction/functions/fnc_push.sqf
  addons/interaction/functions/fnc_renameGroup.sqf
  addons/interaction/functions/fnc_renameGroupUI.sqf
  addons/interaction/functions/fnc_sendAway.sqf
  addons/interaction/functions/fnc_switchWeaponAttachment.sqf
Labels: kind/optimization

#10796 General - Fix modifying read-only configs
  addons/advanced_throwing/CfgAmmo.hpp
  addons/explosives/CfgAmmo.hpp
  addons/frag/CfgAmmoFragParameters.hpp
  addons/minedetector/CfgAmmo.hpp
  addons/rearm/CfgAmmo.hpp
Labels: kind/bug-fix, ignore-changelog

#10802 Hearing - Make ear ringing unable to be overwritten
  addons/hearing/initSettings.inc.sqf
Labels: kind/setting

#10804 Translations - Improve Japanese (3.19.1 RC2)
  addons/csw/stringtable.xml
  addons/explosives/stringtable.xml
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/laser/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/nametags/stringtable.xml
Labels: kind/translation

#10806 Cargo - Make `FUNC(getCargoSpaceLeft)` public
  addons/cargo/functions/fnc_getCargoSpaceLeft.sqf
Labels: kind/change

#10807 Medical Damage - Use `select -1`
  addons/medical_damage/functions/fnc_interpolatePoints.sqf
Labels: ignore-changelog

#10811 Update publish.py
  tools/publish.py
Labels: area/tools, ignore-changelog

#10582 Main - Update CBA macros to 3.18.2
  addons/main/script_mod.hpp
  include/x/cba/addons/main/script_macros_common.hpp
  include/x/cba/addons/xeh/script_xeh.hpp
Labels: ignore-changelog

#10812 Medical Vitals - Fix heart rate not updating
  addons/medical_vitals/functions/fnc_consumeMedications.sqf
Labels: kind/bug-fix

#10809 Arsenal - Fix stats for disposable launchers and hide overpressure stats for CSW items
  addons/arsenal/functions/fnc_onSelChangedLeft.sqf
  addons/overpressure/ACE_Arsenal_Stats.hpp
Labels: kind/bug-fix

#10813 missileguidance - fix MCLOS direction error
  addons/missileguidance/XEH_postInit.sqf
Labels: kind/bug-fix

#10778 Common - Add Regex patterns in PBO check whitelist
  addons/common/functions/fnc_checkPBOs.sqf
  addons/common/functions/fnc_checkVersionNumber.sqf
  docs/wiki/framework/checkPBOs-framework.md
Labels: kind/enhancement

#10817 Laser - Fix getting laser position from aircraft `pilotCamera`
  addons/laser/functions/fnc_addLaserTarget.sqf
Labels: kind/bug-fix

#10818 compat_cup - Fix T72 and M60 inheritance
  addons/compat_cup_vehicles/CfgVehicles.hpp
Labels: kind/bug-fix

#10824 Refuel - Add Nozzle Object to Events
  addons/refuel/functions/fnc_refuel.sqf
  addons/refuel/functions/fnc_turnOff.sqf
  addons/refuel/functions/fnc_turnOn.sqf
  docs/wiki/framework/events-framework.md
Labels: kind/change

#10820 Translations - Spanish
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/csw/stringtable.xml
  addons/explosives/stringtable.xml
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
  addons/killtracker/stringtable.xml
  addons/markinglaser/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/missile_sdb/stringtable.xml
  addons/missileguidance/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation

#10823 Common - Remove ACEX addons from PBO version check
  addons/common/functions/fnc_checkVersionNumber.sqf
Labels: kind/optimization

#10822 Repair - Change max time limits
  addons/repair/initSettings.inc.sqf
Labels: kind/change

#10827 Common - Add localized texts in check PBOs
  addons/common/functions/fnc_checkPBOs.sqf
  addons/common/functions/fnc_checkVersionNumber.sqf
  addons/common/stringtable.xml
Labels: kind/translation

#10828 Safemode - Add new unlock only keybind
  AUTHORS.txt
  addons/safemode/XEH_postInit.sqf
  addons/safemode/functions/fnc_lockSafety.sqf
  addons/safemode/stringtable.xml
Labels: kind/enhancement
