Repository acemod/ACE3, pull requests merged in 2025-01, with the labels that each got.

#10611 Translations - Italian
  addons/cargo/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_spe/compat_spe_csw/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/field_rations/stringtable.xml
  addons/fieldmanual/stringtable.xml
  addons/goggles/stringtable.xml
  addons/hearing/stringtable.xml
  addons/hitreactions/stringtable.xml
  addons/interaction/stringtable.xml
  addons/medical_damage/stringtable.xml
  addons/medical_treatment/stringtable.xml
  addons/missile_aim120/stringtable.xml
  addons/missile_aim9/stringtable.xml
  addons/missile_manpad/stringtable.xml
  addons/missile_sam/stringtable.xml
Labels: kind/translation

#10627 CSW - Use LINKFUNC in initVehicle waitUntilAndExecute
  addons/csw/functions/fnc_initVehicle.sqf
Labels: kind/cleanup, ignore-changelog

#10633 Translations - Improve Japanese (Arsenal)
  addons/arsenal/stringtable.xml
Labels: kind/translation

#10654 Main - Update ENABLE_PERFORMANCE_COUNTERS macro: the sequel
  addons/main/script_debug.hpp
Labels: ignore-changelog

#10657 Translations - Improve Simplified Chinese in 3.19.0 RC1
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/explosives/stringtable.xml
  addons/markinglaser/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10662 Translations - French
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/compat_rf/compat_rf_realisticnames/stringtable.xml
  addons/compat_spe/compat_spe_csw/stringtable.xml
  addons/compat_ws/compat_ws_realisticnames/stringtable.xml
  addons/explosives/stringtable.xml
  addons/markinglaser/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10671 Translations - Improve Russian (3.19.0)
  addons/arsenal/stringtable.xml
  addons/common/stringtable.xml
  addons/explosives/stringtable.xml
  addons/markinglaser/stringtable.xml
  addons/medical_gui/stringtable.xml
  addons/missile_clgp/stringtable.xml
  addons/realisticnames/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10670 Compat GM - Fix headgear/hearing UBC
  addons/compat_gm/compat_gm_hearing/CfgWeapons.hpp
Labels: kind/bug-fix, ignore-changelog

#10668 General - Use 2.18 syntax of `deleteVehicle`
  addons/advanced_throwing/functions/fnc_renderPickUpInteraction.sqf
  addons/cookoff/XEH_postInit.sqf
  addons/explosives/functions/fnc_interactEH.sqf
  addons/fastroping/functions/fnc_cutRopes.sqf
  addons/frag/functions/fnc_dev_clearTraces.sqf
  addons/grenades/functions/fnc_incendiary.sqf
  addons/interact_menu/functions/fnc_userActions_addHouseActions.sqf
  addons/logistics_wirecutter/functions/fnc_interactEH.sqf
  addons/spectator/functions/fnc_cam.sqf
  addons/spectator/functions/fnc_ui_handleKeyDown.sqf
  addons/tagging/functions/fnc_createTag.sqf
Labels: kind/optimization, status/added-to-RC

#10664 IR Light - DBAL Casing
  addons/irlight/stringtable.xml
Labels: kind/translation, status/added-to-RC

#10666 Explosives - Optimise mine interaction code
  addons/explosives/functions/fnc_interactEH.sqf
Labels: kind/optimization, status/added-to-RC

#10672 Marking Laser - Change warning to info
  addons/markinglaser/functions/fnc_onAircraftInit.sqf
Labels: ignore-changelog, impact/trivial, status/added-to-RC

#10677 Field Rations - Log ration magazines without item property to RPT
  addons/field_rations/functions/fnc_scanFieldRations.sqf
Labels: kind/change, status/added-to-RC

#10674 General - Use `common`'s cancel stringtable entry
  addons/attach/functions/fnc_attach.sqf
  addons/attach/stringtable.xml
  addons/explosives/functions/fnc_setupExplosive.sqf
  addons/explosives/stringtable.xml
  addons/interaction/groupRename_GUI.hpp
  addons/interaction/stringtable.xml
  addons/marker_flags/functions/fnc_placeFlag.sqf
  addons/marker_flags/stringtable.xml
  addons/refuel/stringtable.xml
Labels: kind/cleanup, status/added-to-RC

#10678 Compat SOG - Add field rations to 'Survival' tab in arsenal
  addons/compat_sog/CfgMagazines/food.hpp
Labels: kind/enhancement, status/added-to-RC

#10684 Explosives - Fix string
  addons/explosives/TimerDialog.hpp
Labels: ignore-changelog

#10680 Nametags - Fix overlapping draw order
  addons/nametags/functions/fnc_onDraw3d.sqf
Labels: kind/enhancement

#10686 Hearing - Tweak EHP effects, add 🦆ing setting
  addons/hearing/functions/fnc_earRinging.sqf
  addons/hearing/functions/fnc_removeEHP.sqf
  addons/hearing/initSettings.inc.sqf
  addons/hearing/script_component.hpp
  addons/hearing/stringtable.xml
Labels: ignore-changelog

#10683 Wiki - Add entries for 3.19 (pike, toepopper, ir laser)
  docs/wiki/feature/explosives.md
  docs/wiki/feature/marking-laser.md
  docs/wiki/feature/missile-clgp.md
  docs/wiki/framework/missile-clgp-framework.md
Labels: kind/documentation, ignore-changelog

#10688 Translations - Korean
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
  addons/medical_gui/stringtable.xml
Labels: kind/translation

#10690 Translations - Japanese
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
Labels: kind/translation

#10691 Translations - French
  addons/flags/stringtable.xml
  addons/hearing/stringtable.xml
Labels: kind/translation
