Repository acemod/ACE3, pull requests merged in 2025-08, with the labels that each got.

#11027 Cargo - Add unloading of cargo to killed vehicles
  addons/cargo/XEH_postInit.sqf
  addons/cargo/functions/fnc_handleDestroyed.sqf
  addons/cargo/functions/fnc_unloadItem.sqf
  addons/cargo/initSettings.inc.sqf
  addons/cargo/script_component.hpp
  addons/cargo/stringtable.xml
Labels: kind/feature

#11029 Sort Stringtable and Minor Cleanup
  addons/aircraft/CfgVehicles.hpp
  addons/repair/stringtable.xml
Labels: ignore-changelog

#11010 Laser - Fix TGP Drift while Designating in AREA Track
  addons/laser/functions/fnc_laserPointTrack.sqf
Labels: kind/bug-fix

#11037 Interaction - Add _unit to tap shoulder event
  addons/interaction/functions/fnc_tapShoulder.sqf
Labels: kind/enhancement
