Repository acemod/ACE3, pull requests merged in 2025-10, with the labels that each got.

#11025 AdvThrowing - Fix throwing not removing grenade on desynced inventory
  addons/advanced_throwing/functions/fnc_prime.sqf
Labels: kind/bug-fix

#11076 Repair - Fix Error in docs
  docs/wiki/framework/repair-framework.md
Labels: kind/documentation, ignore-changelog

#10976 XM157 - Improve usage with grenade launchers
  addons/xm157/CfgAmmo.hpp
  addons/xm157/CfgMagazines.hpp
  addons/xm157/CfgWeapons.hpp
  addons/xm157/XEH_PREP.hpp
  addons/xm157/XEH_postInit.sqf
  addons/xm157/config.cpp
  addons/xm157/data/mrad_10_ca.paa
  addons/xm157/data/mrad_20_ca.paa
  addons/xm157/data/mrad_40_ca.paa
  addons/xm157/dev/generate_reticle.py
  addons/xm157/functions/fnc_airburst_ammoFired.sqf
  addons/xm157/functions/fnc_ballistics_calculator.sqf
  addons/xm157/functions/fnc_ballistics_getData.sqf
  addons/xm157/functions/fnc_weaponInfo_draw.sqf
  addons/xm157/script_component.hpp
  docs/wiki/framework/xm157-framework.md
Labels: kind/enhancement

#11050 IntelItem - Fix: Intel Items lose Data when updating containers in arsenal
  addons/intelitems/XEH_preInit.sqf
Labels: kind/bug-fix

#10893 Missile Guidance - MCLOS Mouse Input
  addons/missileguidance/GPSDialog.hpp
  addons/missileguidance/MCLOSDialog.hpp
  addons/missileguidance/XEH_PREP.hpp
  addons/missileguidance/XEH_postInit.sqf
  addons/missileguidance/config.cpp
  addons/missileguidance/dev/mock_ammo.hpp
  addons/missileguidance/functions/fnc_MCLOS_mouseInput.sqf
Labels: kind/enhancement
